<%# locals: (tappa:) -%>

<%= turbo_frame_tag tappa, :edit do %>
  <% if tappa.tappable.present? %>
    <h1 class="card__title overflow-line-clamp">
      <%= link_to polymorphic_path(tappa.tappable), class: "card__title-link", data: { turbo_frame: "_top" } do %>
        <%= tappa.tappable.denominazione %>
      <% end %>
    </h1>
    <% if tappa.tappable.respond_to?(:comune) && tappa.tappable.comune.present? %>
      <span class="card__subtitle"><%= tappa.tappable.comune.upcase %></span>
    <% end %>
  <% end %>

  <% if tappa.titolo.present? %>
    <div class="card__description"><%= tappa.titolo %></div>
  <% end %>
<% end %>
