<%# locals: (documento:) -%>

<div class="card__meta" id="<%= dom_id(documento, :meta) %>">
  <div class="card__meta-avatars card__meta-avatars--author">
    
  </div>

  <span class="card__meta-text card__meta-text--added">
    <span class="txt-x-small txt-uppercase">DATA</span>
    <strong><%= documento.data_documento&.strftime("%d/%m/%Y") %></strong>
  </span>

  <span class="card__meta-text card__meta-text--author">
    <% if documento.consegnato_il.present? %>
      <%= icon_tag "truck" %>
      <%= documento.consegnato_il.strftime("%d/%m") %>
    <% end %>
    &middot;
    <% if documento.pagato_il.present? %>
      <%= icon_tag "cash" %>
      <strong><%= documento.pagato_il.strftime("%d/%m") %></strong>
      <% if documento.tipo_pagamento.present? %>
        <%= documento.tipo_pagamento.humanize %>
      <% end %>
    <% else %>
      DA PAGARE
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--updated overflow-ellipsis">
    COPIE <strong><%= documento.totale_copie %></strong>
  </span>

  <span class="card__meta-text card__meta-text--assignees overflow-ellipsis">
    IMPORTO
    <strong><%= number_to_currency documento.totale_importo, locale: :it %></strong>
  </span>

  <div class="card__meta-avatars card__meta-avatars--assignees">
  </div>
</div>
