<%# locals: (documento:) -%>

<div class="card__meta" id="<%= dom_id(documento, :meta) %>">
  
  
  <div class="card__meta-avatars card__meta-avatars--author">
    <%#= avatar_tag card.creator, tabindex: (local_assigns.key?(:preview) && local_assigns[:preview]) ? -1 : 0 %>
  </div>

  <span class="card__meta-text card__meta-text--added">
    <span>
      Data
      <strong><%= documento.data_documento&.strftime("%d/%m/%Y") %></strong>
    </span>
  </span>

  <span class="card__meta-text card__meta-text--author">
    <span>
      <% if documento.consegnato_il.present? %>
        <%= icon_tag "truck" %>
        <%= documento.consegnato_il.strftime("%d/%m") %>
      <% end %>
      <% if documento.pagato_il.present? %>
        <%= icon_tag "cash" %>
        <strong><%= documento.pagato_il.strftime("%d/%m") %></strong>
        <% if documento.tipo_pagamento.present? %>
          <%= documento.tipo_pagamento.humanize %>
        <% end %>
      <% else %>
        Da pagare
      <% end %>
    </span>
  </span>

  <span class="card__meta-text card__meta-text--updated overflow-ellipsis">
    <% if documento.spese_cents.to_i > 0 %>
      Spese <strong><%= number_to_currency documento.spese_cents / 100.0, locale: :it %></strong>
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--assignees overflow-ellipsis">
    &nbsp;
  </span>

  <span class="card__meta-text card__meta-text--copie txt-align-end">
      Copie <strong data-documento-editor-target="totaleCopie"><%= documento.totale_copie %></strong>
  </span>

  <span class="card__meta-text card__meta-text--importo txt-align-end">
      Importo <strong data-documento-editor-target="totaleImporto"><%= number_to_currency documento.totale_importo, locale: :it %></strong>
  </span>
</div>
