<%# locals: (documento:) -%>

<div id="<%= dom_id(documento, :meta) %>" class="flex justify-space-between gap full-width txt-x-small txt-uppercase" style="color: var(--card-text-color); margin-block-start: 1ch;">
  <%# Colonna sinistra %>
  <div class="flex flex-column gap-quarter" style="border-inline-end: var(--card-border); padding-inline-end: 1ch;">
    <span style="border-block-end: var(--card-border); padding-block-end: 0.5ch;">
      Data
      <strong><%= documento.data_documento&.strftime("%d/%m/%Y") %></strong>
    </span>
    <span style="padding-block-start: 0.5ch;">
      <% if documento.consegnato_il.present? %>
        <%= icon_tag "truck" %>
        <%= documento.consegnato_il.strftime("%d/%m") %>
      <% end %>
      <% if documento.pagato_il.present? %>
        <%= icon_tag "cash" %>
        <strong><%= documento.pagato_il.strftime("%d/%m") %></strong>
        <% if documento.tipo_pagamento.present? %>
          <%= documento.tipo_pagamento.humanize %>
        <% end %>
      <% else %>
        Da pagare
      <% end %>
    </span>
  </div>

  <%# Colonna destra %>
  <div class="flex flex-column gap-quarter" style="padding-inline-start: 1ch; text-align: right;">
    <span style="border-block-end: var(--card-border); padding-block-end: 0.5ch;">
      Copie <strong><%= documento.totale_copie %></strong>
    </span>
    <span style="padding-block-start: 0.5ch;">
      Importo <strong><%= number_to_currency documento.totale_importo, locale: :it %></strong>
    </span>
  </div>
</div>
