<%# locals: (documento:) -%>

<div class="card__meta" id="<%= dom_id(documento, :meta) %>">
  
  
  <div class="card__meta-avatars card__meta-avatars--author">
    <%#= avatar_tag card.creator, tabindex: (local_assigns.key?(:preview) && local_assigns[:preview]) ? -1 : 0 %>
  </div>

  <span class="card__meta-text card__meta-text--added">
    <span>
      Data
      <strong><%= documento.data_documento&.strftime("%d/%m/%Y") %></strong>
    </span>
  </span>

  <span class="card__meta-text card__meta-text--author">
    <span>
      <% if documento.consegna_applicabile? %>
        <% if documento.consegnato? %>
          <%= icon_tag "truck" %>
          <%= documento.consegnato_il.strftime("%d/%m") %>
        <% elsif documento.parzialmente_consegnato? %>
          <%= icon_tag "truck" %>
          <%= documento.copie_consegnate %>/<%= documento.totale_copie %> cp
        <% end %>
      <% end %>
      <% if documento.pagamento_applicabile? %>
        <% if documento.pagato? %>
          <%= icon_tag "cash" %>
          <strong><%= documento.pagato_il.strftime("%d/%m") %></strong>
          <% if documento.tipo_pagamento.present? %>
            <%= documento.tipo_pagamento.humanize %>
          <% end %>
        <% elsif documento.parzialmente_pagato? %>
          <%= icon_tag "cash" %>
          <%= number_to_currency documento.pagato_cents / 100.0, locale: :it %>
          / <%= number_to_currency documento.totale_importo, locale: :it %>
        <% else %>
          Da pagare
        <% end %>
      <% end %>
    </span>
  </span>

  <span class="card__meta-text card__meta-text--updated overflow-ellipsis">
    <% if documento.spese_cents.to_i > 0 %>
      Spese <strong><%= number_to_currency documento.spese_cents / 100.0, locale: :it %></strong>
    <% else %>
      &nbsp;
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--assignees overflow-ellipsis">
    &nbsp;
  </span>

  <span class="card__meta-text card__meta-text--copie txt-align-end">
      Copie <strong data-documento-editor-target="totaleCopie"><%= documento.totale_copie %></strong>
  </span>

  <% if documento.mostra_importo? %>
    <span class="card__meta-text card__meta-text--importo txt-align-end">
        Importo <strong data-documento-editor-target="totaleImporto"><%= number_to_currency documento.totale_importo, locale: :it %></strong>
    </span>
  <% end %>
</div>
