<%= turbo_frame_tag :user_scuole do %>
  <div class="p-4">
    <h1 class="text-xl font-bold mb-4">Le mie scuole</h1>
    
    <div id="user-scuole" data-controller="tax-sortable" data-tax-sortable-group-value="user-scuole">
      <% @user_scuole.each do |user_scuola| %>
        <div class="bg-white shadow rounded-lg mb-2 p-4 flex items-center" 
             data-tax-sortable-update-url="<%= sort_user_scuola_path(user_scuola) %>">
          
          <div class="handle cursor-move text-gray-400 mr-3 text-xl">
            ⋮⋮
          </div>
          
          <div class="flex-grow">
            <%= user_scuola.import_scuola.DENOMINAZIONESCUOLA %>
            <div class="text-sm text-gray-500">
              <%= user_scuola.import_scuola.DESCRIZIONECOMUNE %> 
              (<%= user_scuola.import_scuola.PROVINCIA %>)
            </div>
            <div class="text-xs text-blue-600">
              Dir: <%= user_scuola.import_scuola.direzione %>
            </div>
          </div>

          <div class="text-gray-400 ml-4">
            Pos: <%= user_scuola.position %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
