<%# Tabella per provincia (solo account con 2+ province): riepilogo dei conteggi e
    navigatore. Ogni provincia linka la lista in drill (?provincia=). Ancora
    #ca-province per la card "province". %>
<% totali = dashboard.totali %>
<section id="ca-province" class="margin-block-end">
  <div class="analytics-group__header">
    <h2 class="txt-medium">Per provincia <span class="txt-subtle">(<%= dashboard.righe.size %>)</span></h2>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Provincia</th>
        <th class="txt-align-end">Scuole</th>
        <th class="txt-align-end">Promosse</th>
        <th class="txt-align-end">Da promuovere</th>
        <th class="txt-align-end">Codici nuovi</th>
        <th class="txt-align-end">Mancanti MIUR</th>
        <th class="txt-align-end">Anomalie</th>
      </tr>
    </thead>
    <tbody>
      <% dashboard.righe.each do |r| %>
        <tr>
          <td class="txt-start">
            <%= link_to r.provincia.to_s.titleize,
                  controllo_adozioni_index_path(provincia: r.provincia, account_id: account_id) %>
          </td>
          <td class="txt-align-end"><%= r.scuole %></td>
          <td class="txt-align-end"><%= r.promosse.positive? ? r.promosse : "–" %></td>
          <td class="txt-align-end"><%= r.da_promuovere.positive? ? r.da_promuovere : "–" %></td>
          <td class="txt-align-end"><%= r.codici_nuovi.positive? ? r.codici_nuovi : "–" %></td>
          <td class="txt-align-end"><%= r.mancanti_miur.positive? ? r.mancanti_miur : "–" %></td>
          <td class="txt-align-end"><%= r.anomalie.positive? ? r.anomalie : "–" %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr class="txt-medium">
        <td class="txt-start">Totale</td>
        <td class="txt-align-end"><%= totali[:scuole] %></td>
        <td class="txt-align-end"><%= totali[:promosse] %></td>
        <td class="txt-align-end"><%= totali[:da_promuovere] %></td>
        <td class="txt-align-end"><%= totali[:codici_nuovi] %></td>
        <td class="txt-align-end"><%= totali[:mancanti_miur] %></td>
        <td class="txt-align-end"><%= totali[:anomalie] %></td>
      </tr>
    </tfoot>
  </table>

  <% if dashboard.agenti.any? %>
    <p class="txt-subtle txt-small margin-block-start-half">
      <% dashboard.agenti.each_with_index do |a, i| %><%= ", " if i.positive? %><%= a.membership.user.name %>: <%= a.scuole_count %><% end %>
      · <%= dashboard.non_assegnate_count %> non assegnate
    </p>
  <% end %>
</section>
