<%# locals: (documenti:, documenti_per_cliente:) -%>

<header class="flex justify-space-between align-center margin-block-end">
  <h4 class="txt-large txt-subtle">Gestione Documenti</h4>
  <button type="button" tabindex="-1" class="btn btn--circle txt-xx-small borderless txt-subtle" data-action="dialog#close">
    <%= icon_tag "remove" %>
    <span class="for-screen-reader">Chiudi [esc]</span>
  </button>
</header>

<div class="flex flex-column gap">
  <% documenti_per_cliente.each do |clientable, docs| %>
    <%= render "documenti/bulk_gestione/cliente", clientable: clientable, docs: docs %>
  <% end %>
</div>

<% totale_generale = documenti.sum { |d| d.causale&.entrata? ? -(d.totale_cents || 0) : (d.totale_cents || 0) } / 100.0 %>
<footer class="margin-block-start pad-block-start border-block-start flex justify-space-between align-center">
  <span class="txt-subtle">
    <%= pluralize(documenti.size, "documento", "documenti") %> selezionati
  </span>
  <span class="txt-large font-weight-bold <%= 'txt-negative' if totale_generale < 0 %>">
    Totale: <%= number_to_currency(totale_generale, unit: "€", format: "%n %u") %>
  </span>
</footer>

<%= render "documenti/bulk_gestione/consegna", documenti: documenti %>
<%= render "documenti/bulk_gestione/pagamento", documenti: documenti %>
<%= render "documenti/bulk_gestione/derivazione", documenti: documenti %>
