<% content_for :head do %>
  <%= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js" %>  
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css" rel="stylesheet">
<% end %>



	<%= render Heading::WithActionsComponent.new(level: 'h2') do |heading| %>
				
		<% heading.with_description do %>
			<p>Trascina il puntatore sulla mappa per indicare la posizione esatta.</p>


		<% end %>

		<% heading.with_action do %>
			<%= component 'tax_button', 
					caption: "Vai...",
					svg_file: "icon-map-pin.svg",
					color: "pink",
					url:  go_to_tappable_path(@tappable, current_user.navigator),
					target: "_blank"
			%>
		<% end %>

		<% heading.with_action do %>
			<%= tag.div class: "flex flex-row gap-1" do %>
				<%= component 'tax_button',
					caption: "prec",
					svg_file: "icon-arrow-left.svg",
					color: "white",
					url: "/mappe/#{@tappable.class.name.underscore}-#{@tappable&.previous&.id}"  %>

				<%= component 'tax_button',
					caption: "succ",
					svg_file: "icon-arrow-right.svg",
					color: "white",
					url: "/mappe/#{@tappable.class.name.underscore}-#{@tappable&.next&.id}"  %>
			<% end %>
		<% end %>

		<% heading.with_action do %>	
			<%= component 'tax_button',
				caption: "Indietro",
				svg_file: "icon-arrow-long-left.svg",
				color: "white",
				url: 'javascript:history.back()' %>
		<% end %>

		<%= link_to @tappable.denominazione, @tappable %>
	
	<% end %>


<div class="p-1" 
	data-controller="mappa-posizione"
    data-mappa-posizione-mapbox-access-token="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
    data-mappa-posizione-latitude="<%= @tappable.latitude %>"
    data-mappa-posizione-longitude="<%= @tappable.longitude %>"
    data-mappa-posizione-id="<%= @tappable.class.name.underscore %>-<%= @tappable.id %>">

	<div class="relative flex w-44">
		<select data-action="change->mappa-posizione#changeStyle" class="peer block w-full border-0 bg-transparent py-1.5 text-gray-900 focus:ring-0 sm:text-sm sm:leading-6" >
			<option value="satellite-streets-v12">Satellite e strade</option>
			
			<option value="streets-v12">Strade</option>
			<option value="satellite-v9">Satellite</option>
			<option value="outdoors-v12">Outdoors</option>
			<option value="light-v10">Light</option>
			<option value="dark-v10">Dark</option>
		</select>
		<%= tag.div class: "absolute inset-x-0 bottom-0 border-t border-gray-300 peer-focus:border-t-2 peer-focus:border-gray-900", aria: { hidden: "true" } %>
	</div>

  	<div id="map" data-mappa-posizione-target="map" style="height: 500px;" class="mt-4"></div>
  
	<pre id="coordinates" 
		class="bg-black bg-opacity-50 text-white p-1.5 m-0 text-xs leading-4 rounded-sm" 
		data-mappa-posizione-target="coordinates">
	</pre>
</div>




