<% @page_title = @tappable.denominazione %>

<% content_for :head do %>
  <%= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js" %>
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css" rel="stylesheet">
<% end %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to "javascript:history.back()", class: "btn" do %>
      <%= icon_tag "arrow-left", size: "small" %>
      <span class="for-screen-reader">Indietro</span>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis"><%= link_to @tappable.denominazione, @tappable %></span>
  </h1>

  <div class="header__actions header__actions--end">
    <% if @tappable.respond_to?(:previous) && @tappable.respond_to?(:next) %>
      <%= tag.div class: "flex flex-row gap-1" do %>
        <% if @tappable.previous %>
          <%= link_to mappe_path("#{@tappable.class.name.underscore}-#{@tappable.previous.id}"), class: "btn" do %>
            <%= icon_tag "arrow-left", size: "small" %>
            <span class="for-screen-reader">Precedente</span>
          <% end %>
        <% end %>
        <% if @tappable.next %>
          <%= link_to mappe_path("#{@tappable.class.name.underscore}-#{@tappable.next.id}"), class: "btn" do %>
            <span class="for-screen-reader">Successivo</span>
            <%= icon_tag "arrow-right", size: "small" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to go_to_tappable_path(@tappable, current_user.effective_navigator),
        class: "btn",
        style: "background: var(--color-notice-lighter); color: var(--color-notice-dark);",
        target: "_blank" do %>
      <%= icon_tag "marker", size: "small" %>
      <span class="for-screen-reader">Vai</span>
    <% end %>
  </div>
<% end %>

<p class="text-sm text-gray-500 mb-4">Trascina il puntatore sulla mappa per indicare la posizione esatta.</p>


<div class="p-1" 
	data-controller="mappa-posizione"
    data-mappa-posizione-mapbox-access-token="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
    data-mappa-posizione-latitude="<%= @tappable.latitude %>"
    data-mappa-posizione-longitude="<%= @tappable.longitude %>"
    data-mappa-posizione-id="<%= @tappable.class.name.underscore %>-<%= @tappable.id %>"
    data-mappa-posizione-update-url-value="<%= mappe_path("#{@tappable.class.name.underscore}-#{@tappable.id}") %>"
    data-mappa-posizione-denominazione-value="<%= @tappable.denominazione %>"
    data-mappa-posizione-indirizzo-value="<%= @tappable.try(:indirizzo_completo) || @tappable.try(:indirizzo_navigator) || '' %>">

	<div class="relative flex w-44">
		<select data-action="change->mappa-posizione#changeStyle" class="peer block w-full border-0 bg-transparent py-1.5 text-gray-900 focus:ring-0 sm:text-sm sm:leading-6" >
			<option value="satellite-streets-v12">Satellite e strade</option>
			
			<option value="streets-v12">Strade</option>
			<option value="satellite-v9">Satellite</option>
			<option value="outdoors-v12">Outdoors</option>
			<option value="light-v10">Light</option>
			<option value="dark-v10">Dark</option>
		</select>
		<%= tag.div class: "absolute inset-x-0 bottom-0 border-t border-gray-300 peer-focus:border-t-2 peer-focus:border-gray-900", aria: { hidden: "true" } %>
	</div>

  	<div id="map" data-mappa-posizione-target="map" style="height: calc(100vh - 10rem); min-height: 400px;" class="mt-4"></div>
  
	<pre id="coordinates" 
		class="bg-black bg-opacity-50 text-white p-1.5 m-0 text-xs leading-4 rounded-sm" 
		data-mappa-posizione-target="coordinates">
	</pre>
</div>




