<% content_for :head do %>
  <%= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js" %>  
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css" rel="stylesheet">
<% end %>



	<%= render Heading::WithActionsComponent.new(level: 'h2') do |heading| %>
				
		<% heading.with_description do %>
			Trascina il puntatore sulla mappa per indicare la posizione esatta.
		<% end %>

		<% heading.with_action do %>
			<%= component 'tax_button', 
					caption: "Vai...",
					svg_file: "icon-map-pin.svg",
					color: "pink",
					url:  go_to_tappable_path(@tappable, current_user.navigator),
					target: "_blank"
			%>
		<% end %>

		<% heading.with_action do %>
			<%= tag.div class: "flex flex-row gap-1" do %>
				<%= component 'tax_button',
					caption: "prec",
					svg_file: "icon-arrow-left.svg",
					color: "white",
					url: "/mappe/#{@tappable.class.name.underscore}-#{@tappable&.previous&.id}"  %>

				<%= component 'tax_button',
					caption: "succ",
					svg_file: "icon-arrow-right.svg",
					color: "white",
					url: "/mappe/#{@tappable.class.name.underscore}-#{@tappable&.next&.id}"  %>
			<% end %>
		<% end %>

		<% heading.with_action do %>	
			<%= component 'tax_button',
				caption: "Indietro",
				svg_file: "icon-arrow-long-left.svg",
				color: "white",
				url: 'javascript:history.back()' %>
		<% end %>

		<%= @tappable.denominazione %>
	
	<% end %>


<div data-controller="map"
     data-map-mapbox-access-token="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
     data-map-latitude="<%= @tappable.latitude %>"
     data-map-longitude="<%= @tappable.longitude %>"
     data-map-id="<%= @tappable.class.name.underscore %>-<%= @tappable.id %>">

  <div id="map" data-map-target="map" style="height: 500px;"></div>
  <pre id="coordinates" 
      class="bg-black bg-opacity-50 text-white p-1.5 m-0 text-xs leading-4 rounded-sm" 
      data-map-target="coordinates">
  </pre>

  <select data-action="change->map#changeStyle">
    <option value="satellite-streets-v12">Satellite e strade</option>
    
    <option value="streets-v12">Strade</option>
    <option value="satellite-v9">Satellite</option>
    <option value="outdoors-v12">Outdoors</option>
    <option value="light-v10">Light</option>
    <option value="dark-v10">Dark</option>
  </select>
</div>




