<%# locals: (scuola:) -%>
<div id="<%= dom_id(scuola, :genera_row) %>" class="wizard__school-row flex align-center <%= 'txt-subtle' if scuola.scartata? %>">
  <label class="flex align-center gap-half flex-item-grow" style="<%= 'opacity: 0.5; text-decoration: line-through;' if scuola.scartata? %>">
    <input type="checkbox" name="school_ids[]" value="<%= scuola.id %>"
           data-action="change->genera-tappe-ui#notifyChange"
           <%= 'disabled' if scuola.scartata? %>>
    <span class="wizard__school-text">
      <span class="wizard__school-name"><%= scuola.denominazione %></span>
      <span class="wizard__school-comune"><%= scuola.comune %></span>
    </span>
  </label>
  <% if scuola.scartata? %>
    <%= link_to scuola_scartata_path(scuola),
        class: "btn btn--plain txt-xx-small txt-positive",
        style: "white-space: nowrap;",
        data: { turbo_method: :delete, turbo_stream: true } do %>
      Ripristina
    <% end %>
  <% else %>
    <%= link_to scuola_scartata_path(scuola),
        class: "btn btn--plain txt-xx-small txt-subtle",
        style: "white-space: nowrap;",
        data: { turbo_method: :post, turbo_stream: true } do %>
      Scarta
    <% end %>
  <% end %>
</div>
