<%= turbo_frame_tag :modal do %>
  <div data-controller="dialog"
       data-dialog-modal-value="true"
       data-dialog-auto-open-value="true">
    <dialog class="dialog panel shadow" style="--panel-size: 36rem;"
            data-dialog-target="dialog"
            data-action="turbo:submit-end->dialog#close keydown.esc->dialog#close:stop">
      <h3 class="txt-medium txt-bold margin-block-end-half">Genera tappe</h3>
      <p class="txt-small txt-subtle margin-block-end">
        Seleziona le scuole da aggiungere al giro.
      </p>

      <%= form_with url: giro_genera_tappe_path(@giro), method: :post,
          class: "flex flex-column gap",
          data: { controller: "genera-tappe-ui" } do |f| %>

        <div class="wizard__school-list" style="max-block-size: 55vh;">
          <% @gerarchia.sort.each do |provincia, aree| %>
            <details open class="wizard__provincia">
              <summary class="wizard__group-bar">
                <button type="button" class="btn btn--plain txt-xx-small"
                        data-action="genera-tappe-ui#selectGroup">tutte</button>
                <span class="txt-bold txt-small"><%= provincia %></span>
                <button type="button" class="btn btn--plain txt-xx-small"
                        data-action="genera-tappe-ui#deselectGroup">nessuna</button>
              </summary>

              <div class="wizard__provincia-content">
                <% aree.sort.each do |area, direzioni| %>
                  <details open class="wizard__provincia">
                    <summary class="wizard__group-bar wizard__group-bar--area">
                      <button type="button" class="btn btn--plain txt-xx-small"
                              data-action="genera-tappe-ui#selectGroup">tutte</button>
                      <span class="txt-x-small txt-bold"><%= area %></span>
                      <button type="button" class="btn btn--plain txt-xx-small"
                              data-action="genera-tappe-ui#deselectGroup">nessuna</button>
                    </summary>

                    <div class="wizard__provincia-content">
                      <% direzioni.sort.each do |dir_label, scuole| %>
                        <div class="wizard__direzione-spacer"></div>
                        <% scuole.sort_by(&:denominazione).each do |scuola| %>
                          <label class="wizard__school-row">
                            <input type="checkbox" name="school_ids[]" value="<%= scuola.id %>"
                                   data-action="change->genera-tappe-ui#notifyChange">
                            <input type="hidden" name="all_school_ids[]" value="<%= scuola.id %>">
                            <span class="wizard__school-text">
                              <span class="wizard__school-name"><%= scuola.denominazione %></span>
                              <span class="wizard__school-comune"><%= scuola.comune %></span>
                            </span>
                          </label>
                        <% end %>
                      <% end %>
                    </div>
                  </details>
                <% end %>
              </div>
            </details>
          <% end %>
        </div>

        <div class="flex gap-half justify-center margin-block-start">
          <button type="button" class="btn" data-action="dialog#close">Annulla</button>
          <%= f.submit "Genera 0 tappe", class: "btn btn--link", disabled: true,
              data: { genera_tappe_ui_target: "submit" } %>
        </div>
      <% end %>
    </dialog>
  </div>
<% end %>
