<% content_for :bulk_action_buttons do %>

    <%= button_tag "Tappa", 
            class: "px-4 py-2 text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 rounded-md",
            data: { action: "bulk-actions#toggleTappa" } %>
    <%= button_tag "Elimina", 
            class: "px-4 py-2 text-sm font-medium text-white bg-red-600 hover:bg-red-700 rounded-md",
            data: { action: "bulk-actions#toggleElimina" } %>

<% end %>

<% content_for :bulk_action_forms do %>

    <div class="hidden flex-col space-y-2 transition-all duration-300 ease-out origin-top  mt-4"
            data-bulk-actions-target="tappaForm"
            data-transition-enter="transform transition ease-out duration-300"
            data-transition-enter-start="transform -translate-y-4 opacity-0"
            data-transition-enter-end="transform translate-y-0 opacity-100"
            data-transition-leave="transform transition ease-in duration-200"
            data-transition-leave-start="transform translate-y-0 opacity-100"
            data-transition-leave-end="transform -translate-y-4 opacity-0">

        <%= form_with url: update_all_tappe_bulk_actions_path, 
                method: :patch,
                data: { bulk_actions_target: "form" } do |form| %>
            <div class="flex justify-between gap-2">
                <%= form.date_field :data_tappa, class: "rounded-md border-0 py-1.5 px-3 text-gray-900" %>
                <%= form.submit "Tappa", class: "px-4 py-2 text-sm font-medium text-white bg-pink-600 hover:bg-pink-700 rounded-md" %>
            </div>
        <% end %>
    </div>

    <div class="hidden flex-col space-y-2 transition-all duration-300 ease-out origin-top  mt-4"
            data-bulk-actions-target="eliminaForm"
            data-transition-enter="transform transition ease-out duration-300"
            data-transition-enter-start="transform -translate-y-4 opacity-0"
            data-transition-enter-end="transform translate-y-0 opacity-100"
            data-transition-leave="transform transition ease-in duration-200"
            data-transition-leave-start="transform translate-y-0 opacity-100"
            data-transition-leave-end="transform -translate-y-4 opacity-0">

        <%= form_with url: destroy_all_tappe_bulk_actions_path, 
                method: :delete,
                data: { bulk_actions_target: "form" } do |form| %>
            <div class="flex justify-between gap-2">
                <%= form.submit "Conferma eliminazione", class: "px-4 py-2 text-sm font-medium text-white bg-red-600 hover:bg-red-700 rounded-md" %>
            </div>
        <% end %>
    </div>

<% end %>

<%= render partial: "shared/bulk_actions_container" %>