<%# Rimuove le tappe eliminate dalla lista %>    
<% @ids.each do |id| %>
  <%= turbo_stream_action_tag_with_block "remove", 
        target:  "tappa_#{id}", 
        data: {
            transition_leave: "transition ease-out duration-1000", 
            transition_leave_start: "opacity-100", 
            transition_leave_end: "opacity-0"
        } %>
<% end %>

<%= turbo_stream.update "flash" do %>
  <%= render "layouts/flash", message: "Tappe eliminate con successo", type: "success" %>
<% end %>

<%= turbo_stream.update "tappe_counter" do %>
  <%= current_user.tappe.count %>
<% end %>

<%# Aggiorniamo il contatore nella pagina %>
<%= turbo_stream.update "collection_counter" do %>
  <div class="inline-flex items-center px-3 py-1 rounded-full text-sm bg-blue-100 text-blue-800">
    <% total_count = current_user.tappe.count %>
    <%= "#{total_count} #{Tappa.model_name.human(count: total_count)}" %>
  </div>
<% end %> 