<%= turbo_frame_tag :import_form do %>
  <article class="panel panel--wide shadow center txt-align-start">
    <div class="flex flex-column gap">
      <div class="flex align-center gap">
        <%= icon_tag "book", class: "txt-link", size: "large" %>
        <h2 class="txt-large margin-none font-weight-black">Libri Avanzato</h2>
      </div>

      <p class="txt-subtle margin-none">
        Funzionalità avanzate per l'importazione dei libri.
      </p>
    </div>
  </article>

  <%# Import da A.I.E. %>
  <article class="panel panel--wide shadow center txt-align-start margin-block-start">
    <%= form_with url: import_ministeriali_libri_importer_index_path, method: :post, html: { class: "flex flex-column gap" }, data: { controller: "form", turbo: false } do |f| %>
      <div class="flex align-center gap">
        <%= icon_tag "folder-arrow-down", class: "txt-positive", size: "large" %>
        <div>
          <h3 class="txt-medium margin-none font-weight-black">Importa da A.I.E.</h3>
          <p class="txt-small txt-subtle margin-none">Database ministeriale Associazione Italiana Editori</p>
        </div>
      </div>

      <div class="flex flex-column gap-half pad fill-shade border-radius">
        <strong class="txt-small txt-positive">Cosa verrà importato:</strong>
        <ul class="txt-small margin-none" style="padding-inline-start: 1.5em;">
          <li>Catalogo completo dei libri</li>
          <li>ISBN e codici ministeriali</li>
          <li>Prezzi aggiornati</li>
          <li>Informazioni editoriali</li>
        </ul>
      </div>

      <%= f.button type: :submit, class: "btn btn--link center txt-medium" do %>
        <%= icon_tag "folder-arrow-down" %>
        <span>Avvia importazione A.I.E.</span>
      <% end %>
    <% end %>
  </article>

  <%# Import Confezioni %>
  <article class="panel panel--wide shadow center txt-align-start margin-block-start">
    <%= form_with model: ImportRecord.new, url: import_confezioni_libri_importer_index_path, method: :post, html: { class: "flex flex-column gap", multipart: true }, data: { controller: "form", turbo: false } do |f| %>
      <div class="flex align-center gap">
        <%= icon_tag "cube", class: "txt-feature", size: "large" %>
        <div>
          <h3 class="txt-medium margin-none font-weight-black">Importa Confezioni</h3>
          <p class="txt-small txt-subtle margin-none">Relazioni confezione-fascicolo da file Excel</p>
        </div>
      </div>

      <div class="flex flex-column gap-half">
        <strong><%= f.label :file, "Seleziona file Excel" %></strong>
        <%= f.file_field :file,
            accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel',
            class: "input",
            required: true %>
      </div>

      <%= f.button type: :submit, class: "btn btn--link center txt-medium" do %>
        <%= icon_tag "arrow-down-tray" %>
        <span>Importa Confezioni</span>
      <% end %>
    <% end %>
  </article>

  <%# Export Confezioni %>
  <article class="panel panel--wide shadow center txt-align-start margin-block-start">
    <div class="flex flex-column gap">
      <div class="flex align-center gap">
        <%= icon_tag "arrow-up-tray", class: "txt-alert", size: "large" %>
        <div>
          <h3 class="txt-medium margin-none font-weight-black">Esporta Confezioni</h3>
          <p class="txt-small txt-subtle margin-none">Scarica le relazioni confezione-fascicolo</p>
        </div>
      </div>

      <div class="flex flex-column gap-half pad fill-shade border-radius">
        <strong class="txt-small txt-alert">Il file conterrà:</strong>
        <ul class="txt-small margin-none" style="padding-inline-start: 1.5em;">
          <li>Codici ISBN confezione/fascicolo</li>
          <li>Ordine dei fascicoli</li>
          <li>Titoli per riferimento</li>
        </ul>
      </div>

      <%= link_to export_confezioni_libri_importer_index_path(format: :xlsx), class: "btn btn--link center txt-medium" do %>
        <%= icon_tag "arrow-up-tray" %>
        <span>Scarica File Excel</span>
      <% end %>
    </div>
  </article>

  <article class="panel panel--wide center txt-align-start margin-block-start">
    <div class="flex flex-column gap-half txt-small txt-subtle">
      <strong class="txt-ink">Note</strong>
      <p class="margin-none">
        L'importazione A.I.E. può richiedere alcuni minuti. I dati saranno integrati con quelli esistenti.
      </p>
      <p class="margin-none">
        Per le confezioni: prima esporta da un utente, poi importa su un altro.
      </p>
    </div>
  </article>
<% end %>
