<% @body_class = "contained-scrolling" %>
<% turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_stream_from current_user, "entries" %>

<%= render "filters/settings",
    filter_url: dashboard_path,
    user_filtering: @user_filtering,
    no_filtering_url: dashboard_path,
    filter_type: "entry_filter" %>

<%= turbo_frame_tag :search_results do %>
  <div id="cards_container">
    <%= render "shared/board_tools" %>
    <%= render "shared/kanban_board",
      columns: @columns,
      column_counts: @column_counts,
      postponed_count: @postponed_count,
      closed_count: @closed_count %>
  </div>
<% end %>
