<% @page_title = "Categorie" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start"></div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Categorie</span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= link_to new_categoria_path,
        class: "btn btn--primary" do %>
      <%= icon_tag "add", size: "small" %>
      <span class="for-screen-reader">Nuova Categoria</span>
    <% end %>
  </div>
<% end %>

<section class="panel panel--wide shadow center">
  <% if @categorie.any? %>
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>Nome Categoria</th>
            <th>Descrizione</th>
            <th class="txt-align-end">Libri</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categorie.each do |categoria| %>
            <tr id="<%= dom_id(categoria) %>">
              <td class="font-weight-bold">
                <%= link_to categoria.nome_categoria, categoria_path(categoria), class: "txt-link" %>
              </td>
              <td class="txt-subtle"><%= categoria.descrizione %></td>
              <td class="txt-align-end"><%= categoria.libri.count %></td>
              <td>
                <div class="table__actions">
                  <%= link_to edit_categoria_path(categoria),
                      class: "btn btn--circle btn--small borderless" do %>
                    <%= icon_tag "pencil", size: "small" %>
                    <span class="for-screen-reader">Modifica</span>
                  <% end %>
                  <%= button_to categoria_path(categoria),
                      method: :delete,
                      class: "btn btn--circle btn--small borderless txt-negative",
                      data: { turbo_confirm: "Sei sicuro di voler eliminare questa categoria?" } do %>
                    <%= icon_tag "trash", size: "small" %>
                    <span class="for-screen-reader">Elimina</span>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="flex flex-column align-center gap pad">
      <p class="txt-subtle txt-small">Nessuna categoria trovata.</p>
      <%= link_to "Crea la prima categoria", new_categoria_path,
          class: "btn btn--primary" %>
    </div>
  <% end %>
</section>
