<%# locals: (riga:, documento: nil, editing: false) -%>

<%
  documento_riga = documento && riga.documento_righe.find_by(documento: documento)
%>

<tr id="<%= dom_id(documento_riga) if documento_riga %>"
    class="documento-table__row"
    <% if editing && documento_riga %>
      data-righe-table-target="item"
      data-edit-path="<%= edit_documento_riga_path(documento_riga) %>"
      data-action="click->righe-table#select dblclick->righe-table#openEdit"
      tabindex="-1"
    <% end %>>
  <td class="documento-table__cell documento-table__cell--title">
    <span class="documento-table__title">
      <%= link_to riga.libro&.titolo, libro_path(riga.libro), data: { turbo_frame: :_top } if riga.libro %>
    </span>
    <%# Mobile: valori sotto il titolo %>
    <div class="documento-table__values">
      <span class="documento-table__value-isbn"><%= riga.libro&.codice_isbn %></span>
      <span class="documento-table__value"><strong><%= riga.quantita %></strong> cp</span>
      <span class="documento-table__value"><%= number_to_currency riga.prezzo_cents/100.0, locale: :it %></span>
      <% if riga.sconto.present? && riga.sconto > 0 %>
        <span class="documento-table__value">-<%= riga.sconto.to_i %>%</span>
      <% end %>
      <span class="documento-table__value"><strong><%= number_to_currency riga.importo, locale: :it %></strong></span>
    </div>
  </td>
  <td class="documento-table__cell documento-table__cell--right documento-table__cell--hidden-mobile">
    <span class="documento-table__subtitle"><%= riga.libro&.codice_isbn %></span>
  </td>
  <td class="documento-table__cell documento-table__cell--right documento-table__cell--hidden-mobile">
    <strong><%= riga.quantita %></strong>
  </td>
  <td class="documento-table__cell documento-table__cell--right documento-table__cell--hidden-mobile">
    <span class="documento-table__subtitle"><%= number_to_currency riga.prezzo_cents/100.0, locale: :it %></span>
  </td>
  <td class="documento-table__cell documento-table__cell--right documento-table__cell--hidden-mobile">
    <span class="documento-table__subtitle"><%= riga.sconto.present? && riga.sconto > 0 ? "#{riga.sconto}%" : '' %></span>
  </td>
  <td class="documento-table__cell documento-table__cell--right documento-table__cell--hidden-mobile">
    <span class="documento-table__subtitle"><%= number_to_currency riga.importo, locale: :it %></span>
  </td>
  <% if editing && documento_riga %>
    <td class="documento-table__cell documento-table__cell--right documento-table__actions">
      <div class="flex gap-quarter">
        <%= link_to edit_documento_riga_path(documento_riga),
                    data: { turbo_stream: true },
                    class: "btn btn--circle btn--small borderless" do %>
          <%= icon_tag "pencil", class: "icon--small" %>
        <% end %>
        <%= button_to documento_riga_path(documento_riga),
                      method: :delete,
                      form: { data: { turbo_confirm: "Eliminare questa riga?" } },
                      data: { righe_table_delete: true },
                      class: "btn btn--circle btn--small borderless txt-negative" do %>
          <%= icon_tag "trash", class: "icon--small" %>
        <% end %>
      </div>
    </td>
  <% end %>
</tr>
