<%# locals: (riga:) -%>

<tr class="documento-table__row">
  <td class="documento-table__cell documento-table__cell--title">
    <span class="documento-table__title">
      <%= link_to riga.libro&.titolo, libro_path(riga.libro) if riga.libro %>
    </span>
    <%# Mobile: valori sotto il titolo %>
    <div class="documento-table__values">
      <span class="documento-table__value-isbn"><%= riga.libro&.codice_isbn %></span>
      <span class="documento-table__value"><strong><%= riga.quantita %></strong> cp</span>
      <span class="documento-table__value"><%= number_to_currency riga.prezzo_cents/100.0, locale: :it %></span>
      <% if riga.sconto.present? && riga.sconto > 0 %>
        <span class="documento-table__value">-<%= riga.sconto %>%</span>
      <% end %>
      <span class="documento-table__value"><strong><%= number_to_currency riga.importo, locale: :it %></strong></span>
    </div>
  </td>
  <td class="documento-table__cell documento-table__cell--right documento-table__cell--hidden-mobile">
    <span class="documento-table__subtitle"><%= riga.libro&.codice_isbn %></span>
  </td>
  <td class="documento-table__cell documento-table__cell--right documento-table__cell--hidden-mobile">
    <%= number_to_currency riga.prezzo_cents/100.0, locale: :it %>
  </td>
  <td class="documento-table__cell documento-table__cell--right documento-table__cell--hidden-mobile">
    <%= riga.quantita %>
  </td>
  <td class="documento-table__cell documento-table__cell--right documento-table__cell--hidden-mobile">
    <%= riga.sconto.nil? ? '' : "#{riga.sconto}%" %>
  </td>
  <td class="documento-table__cell documento-table__cell--right documento-table__cell--hidden-mobile">
    <%= number_to_currency riga.importo, locale: :it %>
  </td>
</tr>
