<%# locals: (documento:, editing: false) -%>

<div class="documento-table">
  <% if documento.documento_righe.size > 15 %>
    <div id="top" class="documento-table__scroll-nav">
      <%= link_to "#bottom", class: "btn btn--ghost", data: { controller: "scroll-to", scroll_to_offset_value: "300", scroll_to_behavior_value: "smooth" } do %>
        <%= icon_tag "chevron-double-down" %>
      <% end %>
    </div>
  <% end %>

  <table class="documento-table__table">
    <thead>
      <tr class="documento-table__header">
        <th class="documento-table__th">Titolo</th>
        <th class="documento-table__th documento-table__th--right">ISBN</th>
        <th class="documento-table__th documento-table__th--right">Prezzo</th>
        <th class="documento-table__th documento-table__th--right">Qt</th>
        <th class="documento-table__th documento-table__th--right">Sc%</th>
        <th class="documento-table__th documento-table__th--right">Importo</th>
        <% if editing %>
          <th class="documento-table__th documento-table__th--right"></th>
        <% end %>
      </tr>
    </thead>
    <tbody id="righe_list"
           data-clientable-id="<%= documento.clientable_id %>"
           data-clientable-type="<%= documento.clientable_type %>"
           data-documento-id="<%= documento.id %>">
      <%
        # Helper per raccogliere tutte le righe dei documenti derivati
        def collect_all_descendant_righe_recursive(doc, collected = {})
          doc.documenti_derivati.each do |figlio|
            figlio.righe.each { |riga| collected[riga.id] = riga }
            collect_all_descendant_righe_recursive(figlio, collected)
          end
          collected
        end

        tutte_righe_derivati = collect_all_descendant_righe_recursive(documento)
        righe_solo_documento = documento.righe.reject { |riga| tutte_righe_derivati.key?(riga.id) }
      %>

      <%# Righe esclusive del documento %>
      <% righe_solo_documento.each do |riga| %>
        <%= render "documenti/container/riga_row", riga: riga, documento: documento, editing: editing %>
      <% end %>

      <%# Righe raggruppate per documento derivato %>
      <% documento.documenti_derivati.order(:data_documento).each do |doc_derivato| %>
        <%
          righe_derivato_ids = doc_derivato.righe.pluck(:id)
          righe_per_derivato = documento.righe.select { |riga| righe_derivato_ids.include?(riga.id) }
        %>

        <% if doc_derivato.documenti_derivati.any? %>
          <%# Header documento derivato di livello 1 %>
          <tr class="documento-table__section documento-table__section--derivato">
            <td colspan="6">
              <%= icon_tag "arrow-right" %>
              <%= doc_derivato.causale&.causale %> #<%= doc_derivato.numero_documento %> del <%= doc_derivato.data_documento&.strftime("%d-%m-%Y") %>
              <span class="documento-table__section-badge"><%= doc_derivato.documenti_derivati.count %> sotto-doc</span>
              <%= link_to "Vedi", documento_path(doc_derivato), class: "documento-table__section-link", data: { turbo_frame: :_top } %>
            </td>
          </tr>

          <%# Documenti nipoti %>
          <% doc_derivato.documenti_derivati.order(:data_documento).each do |doc_nipote| %>
            <%
              righe_nipote_ids = doc_nipote.righe.pluck(:id)
              righe_per_nipote = documento.righe.select { |riga| righe_nipote_ids.include?(riga.id) }
            %>

            <% if righe_per_nipote.any? %>
              <tr class="documento-table__section documento-table__section--nipote">
                <td colspan="6">
                  <%= icon_tag "arrow-right" %>
                  <%= doc_nipote.causale&.causale %> #<%= doc_nipote.numero_documento %> del <%= doc_nipote.data_documento&.strftime("%d-%m-%Y") %>
                  <% if doc_nipote.status.present? %>
                    <span class="documento-table__section-badge"><%= doc_nipote.status.titleize %></span>
                  <% end %>
                  <%= link_to "Vedi", documento_path(doc_nipote), class: "documento-table__section-link", data: { turbo_frame: :_top } %>
                </td>
              </tr>

              <% righe_per_nipote.each do |riga| %>
                <%= render "documenti/container/riga_row", riga: riga, documento: documento, editing: editing %>
              <% end %>
            <% end %>
          <% end %>

        <% else %>
          <% if righe_per_derivato.any? %>
            <tr class="documento-table__section documento-table__section--derivato">
              <td colspan="6">
                <%= icon_tag "arrow-right" %>
                <%= doc_derivato.causale&.causale %> #<%= doc_derivato.numero_documento %> del <%= doc_derivato.data_documento&.strftime("%d-%m-%Y") %>
                <% if doc_derivato.status.present? %>
                  <span class="documento-table__section-badge"><%= doc_derivato.status.titleize %></span>
                <% end %>
                <%= link_to "Vedi", documento_path(doc_derivato), class: "documento-table__section-link", data: { turbo_frame: :_top } %>
              </td>
            </tr>

            <% righe_per_derivato.each do |riga| %>
              <%= render "documenti/container/riga_row", riga: riga, documento: documento, editing: editing %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if documento.righe.empty? && !editing %>
        <tr>
          <td colspan="6" class="documento-table__empty">Nessuna riga</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if editing %>
    <%= render "documento_righe/add_riga_form", documento: documento, riga: Riga.new %>
  <% end %>

  <% if documento.documento_righe.size > 20 %>
    <div id="bottom" class="documento-table__scroll-nav">
      <%= link_to "#top", class: "btn btn--ghost", data: { controller: "scroll-to", scroll_to_offset_value: "300", scroll_to_behavior_value: "smooth" } do %>
        <%= icon_tag "chevron-double-up" %>
      <% end %>
    </div>
  <% end %>
</div>
