<%# locals: (documento:) -%>

<div class="card__stages flex gap-half align-center" data-controller="dialog">
  <%# Indicatori stato corrente %>
  <% if documento.consegnato? %>
    <span class="badge badge--small" style="--badge-color: var(--color-positive);">
      <%= icon_tag "truck" %>
      <%= documento.consegnato_il&.strftime("%d/%m") %>
    </span>
  <% end %>

  <% if documento.pagato? %>
    <span class="badge badge--small" style="--badge-color: var(--color-positive);">
      <%= icon_tag "cash" %>
      <%= documento.pagato_il&.strftime("%d/%m") %>
      <% if documento.tipo_pagamento.present? %>
        (<%= documento.tipo_pagamento %>)
      <% end %>
    </span>
  <% end %>

  <%# Pulsante apertura dialog %>
  <button type="button" class="btn btn--small" data-action="dialog#open">
    <%= icon_tag "settings" %>
    <span>Gestisci</span>
  </button>

  <%# Dialog %>
  <%= render "documenti/container/gestione_dialog", documento: documento %>
</div>
