<%# locals: (documento:) -%>
<%# Mostra solo i badge di stato - il pulsante Gestisci è nel footer %>

<div class="flex flex-column gap-quarter">
  <% if documento.consegnato? %>
    <span class="badge badge--small" style="--badge-color: var(--color-positive);">
      <%= icon_tag "truck" %>
      <%= documento.consegnato_il&.strftime("%d/%m") %>
    </span>
  <% end %>

  <% if documento.pagato? %>
    <span class="badge badge--small" style="--badge-color: var(--color-positive);">
      <%= icon_tag "cash" %>
      <%= documento.pagato_il&.strftime("%d/%m") %>
      <% if documento.tipo_pagamento.present? %>
        <%= documento.tipo_pagamento %>
      <% end %>
    </span>
  <% end %>
</div>
