<%# Container bulk-actions: i form vivono dentro `_bulk_bar` e ricevono via #syncSelection %>
<%# gli ID dei checkbox selezionati come hidden inputs `bolla_visione_riga_ids[]`. %>
<%= tag.div data: { controller: "bulk-actions" } do %>

  <% righe_per_bolla.each do |bolla, righe| %>
    <div class="ritiro__bolla margin-block-start">
      <h3 class="divider divider--fade txt-medium font-weight-black">
        BV-<%= bolla.numero %> &mdash; <%= bolla.collana.nome %>
        <span class="txt-x-small txt-subtle">
          <%= l(bolla.data_bolla, format: :short) %>
        </span>
      </h3>

      <% gruppi = righe.group_by { |r| gruppo_per_libro_e_collana[[bolla.collana_id, r.libro_id]].presence || "Altro" } %>
      <% gruppi.each do |gruppo, righe_g| %>
        <div class="ritiro__gruppo">
          <h4 class="divider txt-small txt-uppercase txt-subtle"><%= gruppo %></h4>
          <ul class="cards cards--list unpad margin-none">
            <% righe_g.each do |riga| %>
              <%= render "ritiri/riga", riga: riga, scuola: @scuola %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= render "ritiri/bulk_bar", scuola: @scuola %>
<% end %>
