<div class="px-6 py-12 lg:px-8 sm:mx-auto sm:w-full sm:max-w-sm">

    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Accedi al tuo account</h2>

    <div class="mt-10">

        <% if alert.present? %>
						<p class="block text-center py-2 px-3 bg-red-50 mb-5 text-red-500 text-sm font-medium rounded-lg border border-red-400" id="notice"><%= alert %></p>
				<% end %>
 
        <%= form_with(url: session_path, class:"space-y-6") do |f| %>
            <div>
                <%= f.label :email_or_username, "Email o nome utente", class: "label" %>
                <div class= "mt-2">
                    <%= f.text_field :email_or_username, autofocus: true, required: true, class: "field" %>
                </div> 
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="label">Password</label>
                    <div class="text-sm">
                        <a href="#" class="font-semibold text-gray-800 hover:text-gray-500", tabindex="-1" >
                            Password dimenticata?
                        </a>
                    </div>
                  </div>
              <div class="mt-2">
                  <input id="password" name="password" type="password" autocomplete="current-password" required class="field">
              </div>
            </div>

            <div>

                <%= f.submit "Accedi", class: "flex w-full justify-center rounded-md bg-gray-900 px-3.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900" %>
                <%# "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
            </div>
        <% end %>

        <p class="mt-10 text-center text-sm text-gray-500">
            Not sei ancora registrato?
            <%= link_to "Registrati qui!", signup_path, class: "font-semibold leading-6 text-gray-800 hover:text-gray-500" %>
        </p>
    </div>
</div>



