<li class="flex justify-between gap-x-6 py-5">
  
  <div class="flex min-w-0 gap-x-4">
    <div class="min-w-0 flex-auto">
      <p class="text-sm font-semibold leading-6 text-gray-900">
        <%= riga.descrizione %>
      </p>
      <p class="mt-1 truncate text-xs leading-5 text-gray-500">
        <%= riga.codice_articolo %> 
      </p>
    </div>
  </div>

  <div class="text-sm text-right font-semibold leading-6 text-indigo-500">
    <%= number_to_currency riga.prezzo_unitario, locale: :it %> 
  </div>
  
  <div class="text-sm text-right leading-6 text-gray-900">
      <%= riga.quantita %>
  </div>  

  <div class="text-sm text-right leading-6 text-gray-900">
      <%= riga.sconto %>
  </div>  

  <div class="shrink-0 text-right sm:flex sm:flex-col sm:items-end">
    <div>
        <%= number_to_currency riga.importo_netto, locale: :it %>
    </div>
  </div>      
</li>