<%= tag.div id: dom_id(riga), class: "px-4 py-2 w-full bg-white border rounded-md shadow-md grid grid-cols-8" do %>

    <%= tag.div class: "col-span-3 flex flex-col" do %>
        <div class="font-medium text-gray-900 hover:font-bold">
            <%= link_to riga.documenti.first.clientable.denominazione, polymorphic_path(riga.documenti.first.clientable) %>
        </div>

        <div class="mt-1 truncate text-gray-500 text-sm">
            <%= "Ordine #{riga.documenti.first.numero_documento} #{riga.documenti.first.data_documento}"  %>
        </div>
    <% end %>

    <%= tag.div class: "col-span-1 hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell" do %>
        <%= number_to_currency riga.prezzo_cents/100.0, locale: :it %>
  	<% end %>
  	<%= tag.div class: "col-span-1 px-3 py-5 text-right text-sm text-gray-500" do %>
    	<%= riga.quantita %>
  	<% end %>
	<%= tag.div class: "col-span-1 hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell" do %>
		<%= (riga.sconto.nil? || riga.sconto == 0.0) ? "" : riga.sconto.to_s + ' %' %>
	<% end %>
	<%= tag.div class: "col-span-2 py-5 pl-3 pr-4 text-right text-sm font-medium text-gray-900 sm:pr-0" do %>
		<%= number_to_currency riga.importo, locale: :it %>
	<% end %>

<% end %>