<tr class="documento-detail__riga">
  <td class="documento-detail__cell documento-detail__cell--title">
    <div class="documento-detail__cell-main">
      <%= link_to riga.libro&.titolo, libro_path(riga.libro) %>
    </div>
    <div class="documento-detail__cell-sub">
      <%= riga.libro&.codice_isbn %>
    </div>
  </td>
  <td class="documento-detail__cell documento-detail__cell--numeric documento-detail__cell--hidden-mobile">
    <%= number_to_currency riga.prezzo_cents/100.0, locale: :it %>
  </td>
  <td class="documento-detail__cell documento-detail__cell--numeric">
    <%= riga.quantita %>
  </td>
  <td class="documento-detail__cell documento-detail__cell--numeric documento-detail__cell--hidden-mobile">
    <%= riga.sconto.nil? ? '' : "#{riga.sconto} %" %>
  </td>
  <td class="documento-detail__cell documento-detail__cell--amount">
    <%= number_to_currency riga.importo, locale: :it %>
  </td>
</tr>
