<div class="flex flex-column gap">
  <!-- Dati Fiscali -->
  <section class="panel pad border-radius shadow">
    <h2 class="txt-medium font-weight-black margin-block-end-half">Dati Fiscali</h2>

    <dl class="dl-grid">
      <div>
        <dt class="txt-small txt-subtle">Ragione Sociale</dt>
        <dd class="txt-small"><%= azienda.ragione_sociale %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Regime Fiscale</dt>
        <dd class="txt-small"><%= Azienda.regime_fiscales[azienda.regime_fiscale] %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Partita IVA</dt>
        <dd class="txt-small mono"><%= azienda.partita_iva %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Codice Fiscale</dt>
        <dd class="txt-small mono"><%= azienda.codice_fiscale %></dd>
      </div>
    </dl>
  </section>

  <!-- Sede Legale -->
  <section class="panel pad border-radius shadow">
    <h2 class="txt-medium font-weight-black margin-block-end-half">Sede Legale</h2>

    <dl>
      <div>
        <dt class="txt-small txt-subtle">Indirizzo</dt>
        <dd class="txt-small">
          <%= azienda.indirizzo %><br>
          <%= azienda.cap %> <%= azienda.comune %> (<%= azienda.provincia %>)<br>
          <%= azienda.nazione %>
        </dd>
      </div>
    </dl>
  </section>

  <!-- Contatti -->
  <section class="panel pad border-radius shadow">
    <h2 class="txt-medium font-weight-black margin-block-end-half">Contatti</h2>

    <dl class="dl-grid">
      <div>
        <dt class="txt-small txt-subtle">Email</dt>
        <dd class="txt-small">
          <%= link_to azienda.email, "mailto:#{azienda.email}", class: "txt-link" %>
        </dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Telefono</dt>
        <dd class="txt-small">
          <%= link_to azienda.telefono, "tel:#{azienda.telefono}", class: "txt-link" %>
        </dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Codice SDI</dt>
        <dd class="txt-small mono"><%= azienda.indirizzo_telematico %></dd>
      </div>
    </dl>
  </section>

  <!-- Dati Bancari -->
  <section class="panel pad border-radius shadow">
    <h2 class="txt-medium font-weight-black margin-block-end-half">Dati Bancari</h2>

    <dl class="dl-grid">
      <div class="full-width">
        <dt class="txt-small txt-subtle">IBAN</dt>
        <dd class="txt-small mono"><%= azienda.iban %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Banca</dt>
        <dd class="txt-small"><%= azienda.banca %></dd>
      </div>
    </dl>
  </section>
</div>
