<%= turbo_frame_tag "closed_entries", style: "display: block; min-height: 1px;" do %>
  <% if @closed_entries.any? %>
    <% months = I18n.t("date.month_names").compact %>
    <% @closed_entries.group_by { |e| [e.updated_at.year, e.updated_at.month] }
                      .sort_by { |key, _| [-key[0], -key[1]] }
                      .each do |key, group_entries| %>
      <h4 class="divider divider--fade txt-small txt-subtle txt-uppercase">
        <%= months[key[1] - 1] %> <%= key[0] %> <span class="txt-xx-small">(<%= group_entries.size %>)</span>
      </h4>
      <div class="cards cards--grid">
        <div class="cards__list">
          <% group_entries.each do |entry| %>
            <%= render "entries/entry", entry: entry, draggable: false %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
