<% @page_title = "Accedi" %>

<div class="panel panel--centered flex flex-column gap-half">
  <h1 class="txt-x-large font-weight-black margin-block-end">Accedi a Scagnozz</h1>

  <%= form_with url: magic_links_path, method: :post, class: "flex flex-column gap-half txt-medium" do |form| %>
    <div class="flex align-center gap">
      <label class="flex align-center gap input input--actor full-width">
        <%= form.email_field :email, required: true, class: "input txt-large full-width", autofocus: true, autocomplete: "email", placeholder: "Inserisci la tua email..." %>
      </label>
    </div>

    <p>Inserisci la tua email e ti invieremo un link per accedere.</p>

    <button type="submit" class="btn btn--link center txt-medium">
      <span>Invia link</span>
      <%= icon_tag "arrow-right" rescue nil %>
    </button>

    <% if ENV["TURNSTILE_SITE_KEY"].present? %>
      <div data-controller="turnstile" data-turnstile-site-key-value="<%= ENV["TURNSTILE_SITE_KEY"] %>"></div>
    <% end %>
  <% end %>
</div>

<% content_for :footer do %>
  <div class="pad-inline txt-align-center center margin-block-double txt-subtle txt-small">
    Hai bisogno di aiuto? <%= mail_to "support@scagnozz.com", "Contattaci", class: "txt-link" %>
  </div>
<% end %>
