<% @page_title = "Seleziona account" %>

<div class="panel panel--centered flex flex-column gap-half">
  <header>
    <h1 class="txt-x-large font-weight-black margin-none">Seleziona un account</h1>
    <p class="margin-none-block-start txt-medium">
      Ciao <%= @user.name %>, hai accesso a più account.
    </p>
  </header>

  <div class="flex flex-column gap-half margin-block-start">
    <% @accounts.each do |account| %>
      <%= form_with url: select_account_magic_links_path, method: :post do |form| %>
        <%= form.hidden_field :code, value: params[:code] %>
        <%= form.hidden_field :account_id, value: account.id %>

        <button type="submit" class="btn btn--secondary full-width txt-medium flex align-center justify-space-between gap">
          <div class="flex align-center gap">
            <span class="circled-text circled-text--small"><%= account.name.first.upcase %></span>
            <div class="flex flex-column">
              <span class="font-weight-black"><%= account.name %></span>
              <% membership = @user.memberships.find_by(account: account) %>
              <span class="txt-small txt-subtle"><%= membership&.role&.humanize || "Membro" %></span>
            </div>
          </div>
          <%= icon_tag "arrow-right" rescue nil %>
        </button>
      <% end %>
    <% end %>
  </div>

  <p class="txt-small txt-subtle margin-block-start">
    Link valido ancora per pochi minuti.
  </p>
</div>

<% content_for :footer do %>
  <div class="pad-inline txt-align-center center margin-block-double txt-subtle txt-small">
    Hai bisogno di aiuto? <%= mail_to "support@scagnozz.com", "Contattaci", class: "txt-link" %>
  </div>
<% end %>
