<% @page_title = "Dati Aziendali (account)" %>

<% content_for :header do %>
  <h1 class="header__title"><%= @page_title %></h1>
    <% unless Current.user.admin? %>
      <div class="txt-normal font-weight-normal">Solo gli admin possono modificare.</div>
    <% end %>
<% end %>

<div class="settings margin-block-start-half">
  <section class="settings__panel panel shadow">
    <section class="settings__section">
      <%= form_with url: accounts_azienda_path, method: :patch, data: { controller: "form" }, class: "flex gap-half" do |form| %>
        <strong class="full-width"><%= form.text_field :name, value: Current.account.name, required: true, class: "input input--transparent full-width txt-medium", placeholder: "Nome account…", data: { action: "input->form#disableSubmitWhenInvalid" }, readonly: !Current.user.admin? %></strong>

        <% if Current.user.admin? %>
          <%= form.button class: "btn btn--circle btn--link txt-medium", data: { form_target: "submit" } do %>
            <%= icon_tag "arrow-right" %>
            <span class="for-screen-reader">Salva</span>
          <% end %>
        <% end %>
      <% end %>
    </section>
  </section>

  <section class="settings__panel panel shadow">    
    <header>
      <h2 class="divider">Ragione sociale</h2>

      <div class="header__actions header__actions--end">
        <% if Current.admin? %>
          <%= link_to edit_accounts_azienda_path, class: "btn", data: { controller: "tooltip", turbo_frame: "_top" } do %>
            <%= icon_tag "pencil" %>
            <span class="for-screen-reader">Modifica azienda</span>
          <% end %>
        <% end %>
      </div>
    </header>

    <dl class="dl-grid">
      <div>
        <dt class="txt-small txt-subtle">Ragione Sociale</dt>
        <dd class="txt-small"><%= @azienda.ragione_sociale %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Regime Fiscale</dt>
        <dd class="txt-small"><%= Azienda.regime_fiscales[@azienda.regime_fiscale] %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Partita IVA</dt>
        <dd class="txt-small mono"><%= @azienda.partita_iva %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Codice Fiscale</dt>
        <dd class="txt-small mono"><%= @azienda.codice_fiscale %></dd>
      </div>
    </dl>

    <strong class="divider txt-large">Sede legale</strong>
    <dl class="dl-grid">
      <div>
        <dt class="txt-small txt-subtle">Indirizzo</dt>
        <dd class="txt-small"><%= @azienda.indirizzo %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Città</dt>
        <dd class="txt-small"><%= @azienda.cap %> <%= @azienda.comune %> (<%= @azienda.provincia %>)</dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Nazione</dt>
        <dd class="txt-small"><%= @azienda.nazione %></dd>
      </div>
    </dl>

    <strong class="divider txt-large">Contatti</strong>
    <dl class="dl-grid">
      <div>
        <dt class="txt-small txt-subtle">Email</dt>
        <dd class="txt-small"><%= link_to @azienda.email, "mailto:#{@azienda.email}", class: "txt-link" %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Telefono</dt>
        <dd class="txt-small"><%= link_to @azienda.telefono, "tel:#{@azienda.telefono}", class: "txt-link" %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Codice SDI</dt>
        <dd class="txt-small mono"><%= @azienda.indirizzo_telematico %></dd>
      </div>
    </dl>

    <strong class="divider txt-large">Dati bancari</strong>
    <dl class="dl-grid">
      <div>
        <dt class="txt-small txt-subtle">IBAN</dt>
        <dd class="txt-small mono"><%= @azienda.iban %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Banca</dt>
        <dd class="txt-small"><%= @azienda.banca %></dd>
      </div>
    </dl>
  </section>
</div>
