<%= form_with(model: libro, class: "contents") do |form| %>
  <% if libro.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(libro.errors.count, "error") %> prohibited this libro from being saved:</h2>

      <ul>
        <% libro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="flex justify-between">
    
    <div class="my-5 flex flex-col">
      <%= form.label :categoria %>
      <%= form.combobox :categoria, current_user.libri.categorie, name_when_new: "libro[categoria]" %>
    </div>

    <div class="my-5">
      <%= form.label :editore_id %>
      <%= form.collection_select :editore_id, current_user.editori.order(:editore), :id, :editore, { prompt: true },  class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :titolo %>
    <%= form.text_field :titolo, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="hidden my-5">
    <%= form.label :codice_isbn %>
    <%= form.text_field :codice_isbn, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :prezzo %>
    <%= form.number_field :prezzo, step: 0.01, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="hidden my-5">
    <%= form.label :classe %>
    <%= form.number_field :classe, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="hidden my-5">
    <%= form.label :disciplina %>
    <%= form.text_field :disciplina, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="hidden my-5">
    <%= form.label :note %>
    <%= form.text_area :note, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
