<%= form_with(model: libro, builder: RailsDesigner::FormBuilder) do |form| %>
  
	<% if libro.errors.any? %>
		<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
			<h2>Non posso salvare il Libro. <%= t 'misc.errori', count: libro.errors.count %></h2>
		</div>
	<% end %>
  
	<div class="flex flex-col sm:flex-row justify-start sm:space-x-4">


		<%= tag.fieldset class: "my-5 cb-tax-fancy flex flex-col" do %>
			<%= label_for form: form, field: 'categoria', label: 'Categoria' %>
			<%= form.combobox :categoria, current_user.libri.categorie, name_when_new: "libro[categoria]",
							placeholder: "categoria ...", mobile_at: "0px" %>
		<% end %>

		<%= tag.fieldset class: "my-5" do %>
			<%= label_for form: form, field: 'editore', label: 'Editore' %>
			<%= form.collection_select :editore_id, 
						current_user.editori.order(:editore), :id, :editore, { prompt: true } %>
		<% end %>

	</div>

	<%= tag.fieldset class: "my-5" do %>
		<%= label_for form: form, field: 'titolo', label: 'Titolo' %>
		<%= form.text_field :titolo %>
	<% end %>


	<div class="my-5 flex flex-col sm:flex-row justify-start space-y-5 sm:space-y-0 sm:space-x-4">

		<%= tag.fieldset class: "flex flex-col justify-between items-start" do %>
			<%= label_for form: form, field: 'prezzo', label: 'Prezzo' %>
			<%= form.number_field :prezzo, step: 0.01 %>
		<% end %>

		<%= tag.fieldset class: "w-full flex flex-col justify-between items-start" do %>
			<%= label_for form: form, field: 'codice_isbn', label: 'ISBN' %>
			<%= form.text_field :codice_isbn %>
		<% end %>
	</div>

	<div class="my-5 flex flex-col sm:flex-row justify-start space-y-5 sm:space-y-0 sm:space-x-4">
		<%= tag.fieldset class: "flex flex-col justify-between items-start" do %>
			<%= label_for form: form, field: 'classe', label: 'Classe' %>
			<%= form.select :classe, 
						options_for_select([nil, 1, 2, 3, 4, 5], form.object.classe) %>
		<% end %>

		<%= tag.fieldset class: "w-full flex flex-col justify-between items-start" do %>
			<%= label_for form: form, field: 'disciplina', label: 'Disciplina' %>
			<%= form.text_field :disciplina %>
		<% end %>
	</div>

    <%= tag.fieldset class: "my-5" do %>
		<%= label_for form: form, field: 'note', label: 'Note' %>
		<%= form.text_area :note, rows: 4 %>
	<% end %>

	<div class="mb-4">
		<%= label_for form: form, field: 'copertina', label: 'Copertina' %>
		<%= form.file_field :copertina %>
	</div>

	<div class="inline">
		<%= form.submit class: "hotwire-native:hidden rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
	</div>

    <div class="hidden">
        <%= form.submit data: {
                controller: "bridge--button",
                bridge_title: "Salva"
        } %>
    </div>
<% end %>
