<div id="<%= dom_id libro %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= libro.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Editore:</strong>
    <%= libro.editore_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Titolo:</strong>
    <%= libro.titolo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Codice isbn:</strong>
    <%= libro.codice_isbn %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Prezzo in cents:</strong>
    <%= libro.prezzo_in_cents %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Classe:</strong>
    <%= libro.classe %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Disciplina:</strong>
    <%= libro.disciplina %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note:</strong>
    <%= libro.note %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Categoria:</strong>
    <%= libro.categoria %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this libro", libro, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this libro", edit_libro_path(libro), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
