<% content_for :title, "Libri" %>

<% content_for :header do %>
    <%= component "heading/with_actions" do |heading| %>
        
        <% heading.with_action do %>
            <%= component 'tax_button',
                caption: "Importa",
                svg_file: "icon-folder-arrow-down.svg",
                color: "blue",
                url: import_libri_importer_index_path %>
        <% end %>
            
        <% heading.with_action do %>    
            <%= component 'tax_button',
                caption: "Excel",
                svg_file: "icon-excel-bis.svg",
                color: "green",
                url: url_for( controller: "libri", action: "index", format: :xlsx, params: request.query_parameters ),
                data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>
        <% end %>

        <% heading.with_action do %>
            <%= component 'tax_button',  
                    caption: "Nuovo",
                    svg_file: "icon-plus.svg",
                    color: "blue",
                    url: url_for( controller: "libri", action: "new", model: @adozione ),
                    data_attr: { turbo_frame: :modal, action: "click->dialog#open" }
             %>
        <% end %>

        <% heading.with_action do %>
            <%= tag.div class: "block lg:hidden" do %>
                <%= component 'tax_button',
                    caption: "Filtra",
                    svg_file: "icon-funnel.svg",
                    color: "white",
                    url: filtra_libri_path( params: request.query_parameters ),
                    data_attr: { turbo_frame: "slide-over", controller: "link-modifier", link_modifier_target: "link" } %>
            <% end %>
        <% end %>

        <%= h1 {"Libri"} %>

    <% end %>
<% end %>

<% if hotwire_native_app? %>
	<%= link_to "Nuovo Libro", new_libro_path, data: { controller: "bridge--button", bridge_title: "Nuovo" }, class: "hidden" %>
    <%= render "shared/native_search_filter",
        url: libri_path,
        filter_url: filtra_libri_path(params: request.query_parameters),
        placeholder: "Cerca..." %>
<% end %>


<%= turbo_frame_tag :search_results do %>

    <%= tag.div class: "flex flex-col lg:pr-[15rem]", data: { controller: "bulk-actions" } do %>

        <%= render "shared/active_filters", collection: @libri %>
        <%= render "libri/bulk_actions/form" %>

        <%= tag.div id: "libri-lista", class: "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" do %>
            <p class="only:block hidden py-32 px-4 text-center col-span-full">Whoops! Non ci sono libri </p>
            
            <%= render @page.records %>

            <% unless @page.last? %>
                <%= turbo_frame_tag "load_more",
                            src: libri_path(request.query_parameters.merge(page: @page.next_param, format: :turbo_stream)),
                            loading: :lazy do %>
                    <%= render 'shared/lazy_loading' %>
                <% end %>
            <% end %>
        <% end %>

    <% end %>

    <aside class="fixed inset-y-0 right-0 hidden w-72 overflow-y-auto pt-[184px] lg:px-8 lg:block">
        <!-- Secondary column (hidden on smaller screens) -->
        <%= render partial: "filter_form", locals: { reload: true } %>
    </aside>

<% end %>

<%= render "libri/bulk_actions/form" %>








