<%= render Heading::WithActionsComponent.new do |heading| %>
    


    <% heading.with_action do %>
        <%= form_for @import, url: libri_importer_index_path, method: :post, multipart: :true do |f| %>
            <%= tag.div class: "hidden md:flex md:flex-row p-4 bg-gray-200 rounded-md" do %>
                <%= f.file_field :file, accept: 'text/csv' %>
                <%= component('button') do  %>
                    File
                    <%= inline_svg_tag "icon-paper-clip.svg" %>
                    
                <% end %>
            <% end %>
        <% end %>
    <% end %>

    <% heading.with_action do %>
        <%= form_with url: import_ministeriali_libri_importer_index_path, method: :post do |f| %>
            <%= component('button') do  %>
                <%= inline_svg_tag "icon-folder-arrow-down.svg" %>
                A.I.E.
            <% end %>
        <% end %>
    <% end %>

    <% heading.with_action do %>
        <%= render TaxButtonComponent.new(
                caption: "Nuovo",
                svg_file: "icon-plus.svg",
                color: "blue",
                url: url_for( controller: "libri", action: "new", model: @adozione ),
                data_attr: { turbo_frame: :modal, action: "click->dialog#open" }
        ) %>
    <% end %>
    
    <%= h1 {"Libri"} %>

<% end %>



<%= turbo_frame_tag "search_results" do %>
    <div class="w-full">
        <div id="libri-list" class="min-w-full">
            <%= render @libri %>
        </div>
    </div>
<% end %>
