<%= render Heading::WithActionsComponent.new do |heading| %>
    
    <% heading.with_action do %>
        <%= form_with url: import_ministeriali_libri_path, method: :post do |f| %>
            <%= f.submit "Importa Ministeriali" %>
        <% end %>
    <% end %>

    <% heading.with_action do %>
        <%= render TaxButton.new(
                caption: "Nuovo",
                svg_file: "icon-plus.svg",
                color: "blue",
                url: url_for( controller: "adozioni", action: "new", model: @adozione ),
                data_attr: { turbo_frame: :modal, action: "click->dialog#open" }
        ) %>
    <% end %>
    
    <%= h1 {"Libri"} %>

<% end %>

<%= turbo_frame_tag "search_results" do %>
    <div class="w-full">
        <div id="libri-list" class="min-w-full">
            <%= render @libri %>
        </div>
    </div>
<% end %>
