<%= render Heading::WithActionsComponent.new do |heading| %>
    
    <% heading.with_action do %>
        <%= form_for @import, url: libri_importer_index_path, method: :post, multipart: :true do |f| %>
            <%= tag.div class: "hidden md:flex md:flex-row p-4 bg-gray-200 rounded-md" do %>
                <%= f.file_field :file, accept: 'text/csv' %>
                <%= component('button', busy_content_css: 'flex [[disabled]_&]:opacity-0') do |button| %>
                    <% button.with_busy_content(css: "absolute inset-0 w-full justify-center items-center") do %>
                        <svg stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="size-4"><style>.spinner{transform-origin:center; animation:spinner_outside 2s linear infinite}.spinner circle{stroke-linecap:round;animation:spinner_inside 1.5s ease-in-out infinite}@keyframes spinner_outside{100%{transform:rotate(360deg)}}@keyframes spinner_inside{0%{stroke-dasharray:0 150;stroke-dashoffset:0}47.5%{stroke-dasharray:42 150;stroke-dashoffset:-16}95%,100%{stroke-dasharray:42 150;stroke-dashoffset:-59}}</style><g class="spinner"><circle cx="12" cy="12" r="9.5" fill="none" stroke-width="2"></circle></g></svg>
                    <% end %>
                    File
                    <%= inline_svg_tag "icon-paper-clip.svg" %>                   
                <% end %>
            <% end %>
        <% end %>
    <% end %>

    <% heading.with_action do %>
        <%= form_with url: import_ministeriali_libri_importer_index_path, method: :post do |f| %>
            <%= component('button', busy_content_css: 'flex [[disabled]_&]:opacity-0') do |button| %>
                <% button.with_busy_content(css: "absolute inset-0 w-full justify-center items-center") do %>
                    <svg stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="size-4"><style>.spinner{transform-origin:center; animation:spinner_outside 2s linear infinite}.spinner circle{stroke-linecap:round;animation:spinner_inside 1.5s ease-in-out infinite}@keyframes spinner_outside{100%{transform:rotate(360deg)}}@keyframes spinner_inside{0%{stroke-dasharray:0 150;stroke-dashoffset:0}47.5%{stroke-dasharray:42 150;stroke-dashoffset:-16}95%,100%{stroke-dasharray:42 150;stroke-dashoffset:-59}}</style><g class="spinner"><circle cx="12" cy="12" r="9.5" fill="none" stroke-width="2"></circle></g></svg>
                <% end %>
                <%= inline_svg_tag "icon-folder-arrow-down.svg" %>
                A.I.E.
            <% end %>
        <% end %>
    <% end %>

    <% heading.with_action do %>
        <%= render TaxButtonComponent.new(
                caption: "Nuovo",
                svg_file: "icon-plus.svg",
                color: "blue",
                url: url_for( controller: "libri", action: "new", model: @adozione ),
                data_attr: { turbo_frame: :modal, action: "click->dialog#open" }
        ) %>
    <% end %>
    
    <%= h1 {"Libri"} %>

<% end %>



<%= component 'tax_filter_form', base_url: libri_path, 
        
        fields: [ 
            {
                field: :titolo,
                label: "Titolo",
                collection: nil,
                type: :text,
                placeholder: "titolo..."
            }, {
                field: :editore,
                label: "Editore",
                collection: current_user.miei_editori,
                type: :select,
                placeholder: "scegli editore..."
            }, {
                field: :categoria,
                label: "Categoria",
                collection: nil,
                type: :text,
                placeholder: "categoria..."
            }, {
                field: :disciplina,
                label: "Disciplina",
                collection: nil,
                type: :text,
                placeholder: "disciplina..."
            }, {
                field: :classe,
                label: "Classe",
                collection: [ "1", "2", "3", "4", "5" ],
                type: :select,
                placeholder: "scegli la classe..."
            }
        
        ] %>


<%= turbo_frame_tag :search_results, data: {controller: 'tax-checkbox-select-all'} do %>


    <%= turbo_frame_tag "libri_page_#{@pagy.page}" do %> 
		
		<div id="libri" role="list" class="grid grid-cols-1 ">
			<p class="only:block hidden py-8 px-4 text-center">
				Whoops! Non ci sono libri. 
		    </p>

			<%= render @libri %>
		</div>
		
		<% if @pagy.next %>
			<%= turbo_frame_tag "libri_page_#{@pagy.next}",
						src: libri_path(
                                search: params[:search],
                                editore: params[:editore],
                                titolo: params[:titolo],
                                disciplina: params[:disciplina],
                                categoria: params[:categoria],
                                classe: params[:classe],
                                page: @pagy.next),
						loading: :lazy do %>
				
				<%= render 'shared/lazy_loading' %>
			<% end %>
		<% end %>
	<% end %>

    <%# geared_pagination tolto perchè non funziona il redirect da destroy %>

    <%#= tag.div id: "libri-lista", class: "sm:px-2" do %>
        <%# <p class="only:block hidden py-32 px-4 text-center xl:col-span-2">Whoops! Non ci sono libri </p> %>
        
        <%#= render @page.records %>

        <%# unless @page.last? %>
            <%#= turbo_frame_tag "load_more", src: libri_path(                              
                page: @page.next_param, 
                                    format: :turbo_stream,
                                    search: params[:search],
                                    editore: params[:editore],
                                    titolo: params[:titolo],
                                    disciplina: params[:disciplina],
                                    categoria: params[:categoria],
                                    classe: params[:classe]
                              ), loading: :lazy do %>
                <%#= render 'shared/lazy_loading' %>
            <%# end %>
        <%# end %>
    <%# end %>

<% end %>




