<%= render Heading::WithActionsComponent.new do |heading| %>
    


    <% heading.with_action do %>
        <%= form_for @import, url: libri_importer_index_path, method: :post, multipart: :true do |f| %>
            <%= tag.div class: "hidden md:flex md:flex-row p-4 bg-gray-200 rounded-md" do %>
                <%= f.file_field :file, accept: 'text/csv' %>
                <%= component('button') do  %>
                    File
                    <%= inline_svg_tag "icon-paper-clip.svg" %>
                    
                <% end %>
            <% end %>
        <% end %>
    <% end %>

    <% heading.with_action do %>
        <%= form_with url: import_ministeriali_libri_importer_index_path, method: :post do |f| %>
            <%= component('button') do  %>
                <%= inline_svg_tag "icon-folder-arrow-down.svg" %>
                A.I.E.
            <% end %>
        <% end %>
    <% end %>

    <% heading.with_action do %>
        <%= render TaxButtonComponent.new(
                caption: "Nuovo",
                svg_file: "icon-plus.svg",
                color: "blue",
                url: url_for( controller: "libri", action: "new", model: @adozione ),
                data_attr: { turbo_frame: :modal, action: "click->dialog#open" }
        ) %>
    <% end %>
    
    <%= h1 {"Libri"} %>

<% end %>


<%= turbo_frame_tag :search_results, data: {controller: 'tax-checkbox-select-all'} do %>

    <%#= tag.div class:"bg-slate-100 py-2 px-2 border rounded-lg shadow-lg mb-4 bg-gradient-to-r from-purple-100 from-25%" do%>    
        <%#= render 'form_filters' %>
        <%#= render 'stats' %>
        <%#= render 'form_multi' %>
    <%# end %>

    <%= tag.div id: "libri-lista", class: "sm:px-2" do %>
        <p class="only:block hidden py-32 px-4 text-center xl:col-span-2">Whoops! Non ci sono libri </p>
        
        <%= render @page.records %>

        <% unless @page.last? %>
            <%= turbo_frame_tag "load_more", src: libri_path(                              
                page: @page.next_param, 
                                    format: :turbo_stream,
                                    search: params[:search]
                              ), loading: :lazy do %>
                <%= render 'shared/lazy_loading' %>
            <% end %>
        <% end %>
    <% end %>

<% end %>




