<%= heading do %>	
	<%= h1 {"Libri"} %>
        
        <%= render TaxButton.new(
                caption: "Nuovo",
                svg_file: "icon-plus.svg",
                color: "blue",
                url: url_for( controller: "libri", action: "new", model: @libro ),
                data_attr: { turbo_frame: :modal, action: "click->dialog#open" }
        ) %>
	
<% end %>


<%= turbo_frame_tag "search_results" do %>
    <div class="w-full">
        <div id="libri-list" class="min-w-full">
            <%= render @libri %>
        </div>
    </div>
<% end %>
