<%= heading do %>	
	<%= h1 {"Libri"} %>
	<%= link_to new_libro_path(@libro), 
				data: { turbo_frame: :modal, action: "click->dialog#open"}, class: "w-16 btn btn-indigo" do %>
		<%= inline_svg_tag "icon-bookopen.svg" %>
		<span>Nuovo</span>
	<% end %>
<% end %>


<%= turbo_frame_tag "search_results" do %>
    <div class="w-full">
        <div id="libri-list" class="min-w-full">
            <%= render @libri %>
        </div>
    </div>
<% end %>
