<%= render Heading::WithActionsComponent.new(wrapper_css: 'flex items-center justify-between px-3 py-1 border border-gray-200 rounded-md', level: 'h3') do |heading| %>
	<% heading.with_leader do %>
		<%#= render AvatarComponent.new(user: OpenStruct.new(name: "Cam"), size: "xl") %>
	<% end %>
	<% heading.with_description { @libro.codice_isbn } %>

	<% heading.with_action do %>
		<%= component 'tax_button',
			caption: "Elimina",
			svg_file: "icon-trash-real.svg",
			color: "red",
			url: url_for( controller: "libri", action: "destroy", model: @libro ),
			data_attr: { turbo_method: :delete, turbo_confirm: "Sei sicuro?", turbo_stream: false }  %>
	<% end %>
	
	<% heading.with_action do %>
		<%= component 'tax_button',
			caption: "Modifica",
			svg_file: "icon-pencil.svg",
			color: "yellow",
			url: url_for( controller: "libri", action: "edit", model: @libro ),
			data_attr: { turbo_frame: :modal, action: "click->dialog#open" } %>
	<% end %>

	<% heading.with_action do %>
	    <%= button_to libro_path(@libro), method: :delete, data: { confirm: "Sei sicuro?" },
            class: "btn btn-red" do %>

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
            </svg>
            <span class="">Elimina</span>        
        <% end %> 

	
		<%= component 'tax_button',
			caption: "libri",
			svg_file: "icon-arrow-long-left.svg",
			color: "white",
			url: url_for( controller: "libri", action: "index", model: nil ) %>
	<% end %>


	<%= @libro.titolo %>
  
<% end %>

<ul>
  <% @libro.documento_righe.each do |documento_riga| %>
		<%= render ListItemComponent.new() do |list_item| %>
			<% list_item.with_leader do %>

				<%= tag.span documento_riga.riga.quantita, class: "text-base font-semibold text-gray-800 w-16" %>

			<% end %>
			<% list_item.with_action do %>
				<%= link_to "Revoke session", "#", class: "text-sm font-medium text-red-600 hover:text-red-800" %>
			<% end %>
			<div>
				<%= tag.p documento_riga.documento.clientable.denominazione, class: "text-sm font-normal textgray-500" %>
				<%= tag.p documento_riga.documento.causale, class: "text-sm font-normal textgray-500" %>
			</div>
		<% end %>
  <% end %>
</ul>





  <%= render @libro.adozioni%>
