<%= turbo_stream.replace [@libro, :edit] do %>
  <%= turbo_frame_tag @libro, :edit do %>
    <%= render "libri/container/content_display", libro: @libro %>
  <% end %>
<% end %>

<%= turbo_stream.replace [@libro, :footer] do %>
  <%= turbo_frame_tag @libro, :footer do %>
    <%= render "libri/container/footer_display", libro: @libro %>
  <% end %>
<% end %>

<%= turbo_stream.update "libro-header-actions" do %>
  <%= link_to new_libro_path, class: "btn btn--link", data: { controller: "tooltip" } do %>
    <%= icon_tag "add" %>
    <span class="for-screen-reader">Nuovo libro</span>
  <% end %>
<% end %>
