<%# locals: (appunto:, draggable: false) -%>

<% draggable = draggable && appunto.published? %>

<% card_data = {
  id: appunto.number,
  drag_and_drop_target: "item",
  navigable_list_target: "item",
  css_variable_counter_target: "item"
} %>

<% if appunto.open? %>
  <% card_data[:card_not_now_url] = appunto_not_now_path(appunto) %>
  <% card_data[:card_closure_url] = appunto_closure_path(appunto) %>
  <% card_data[:action] = "mouseenter->navigable-list#hoverSelect" %>
<% end %>

<%= appunto_article_tag appunto, class: "card", draggable: draggable, data: card_data, tabindex: 0 do %>
  <div class="flex flex-column flex-item-grow max-inline-size">
    <%= link_to appunto_path(appunto), draggable: false, class: "card__link", data: { action: "dialog#close", turbo_frame: "_top" } do %>
      <span class="for-screen-reader"><%= appunto.nome %></span>
    <% end %>

    <header class="card__header">
      <%= render "appunti/display/preview/board", appunto: appunto %>

      <% if appunto.triaged? %>
        <span class="btn justify-start card__column-name card__column-name--current txt-uppercase min-width max-width">
          <span class="overflow-ellipsis"><%= appunto.column.name %></span>
        </span>
      <% end %>
    </header>

    <div class="card__body justify-space-between">
      <div class="card__content">
        <h3 class="card__title overflow-line-clamp">
          <%= appunto.nome %>
        </h3>
        <% if appunto.appuntabile.present? %>
          <span class="card__subtitle overflow-ellipsis">
            <%= appunto.appuntabile.denominazione %>
          </span>
        <% end %>
      </div>

      <%= render "appunti/display/preview/columns", appunto: appunto %>
    </div>
  </div>

  <footer class="card__footer flex gap-half">
    <%= render "appunti/display/preview/meta", appunto: appunto %>
  </footer>
<% end %>
