<div id="<%= dom_id adozione %>">
  
  <p class="">
      Le maestre
      <strong class="inline-block font-medium"><%= adozione.team.titleize %></strong>              
  </p>
  
  della classe 
  
  <%= tag.span adozione.import_adozione&.classe_e_sezione, class: "font-semibold"  %> 
  dell' istituto 
  <%= tag.span adozione.import_adozione&.scuola, class: "font-semibold" %>

  <p class="">
    <strong class="inline-block font-medium"><%= adozione.stato_adozione %></strong>
     il libro
    <strong class="inline-block font-medium"><%= adozione.libro.titolo %></strong> 
    in
    <%= adozione.numero_sezioni %>
    sezioni
  </p>

  <p class="">
    Note:
    <%= adozione.note %>
  </p>






  <% if action_name != "show" %>
    <%= link_to "Show this adozione", adozione, 
          class: "rounded-lg py-3 px-5 bg-gray-100 inline-inline-block font-medium" %>
    <%= link_to "Edit this adozione", edit_adozione_path(adozione), 
          data: { turbo_frame: :modal, action: "click->dialog#open"},
          class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
