<div id="<%= dom_id adozione %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= adozione.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Import adozione:</strong>
    <%= adozione.import_adozione_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Libro:</strong>
    <%= adozione.libro_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Team:</strong>
    <%= adozione.team %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note:</strong>
    <%= adozione.note %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero sezioni:</strong>
    <%= adozione.numero_sezioni %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this adozione", adozione, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this adozione", edit_adozione_path(adozione), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
