<%= turbo_frame_tag dom_id(adozione), class: "" do %>
	<%= tag.div class: "p-2 border flex items-center align-center justify-between" do %>
		<%= tag.div  do %>

			<%= tag.div class: "flex flex-wrap gap-2" do %>

				<%# team e classe %>
				<fieldset class="flex flex-wrap items-center align-center gap-2 group-[.show-classe]:hidden">
					
					<%= render "shared/inline_edit", model: adozione, method: :team do %>					
						<%#= tag.div "#{maestra_o_maestre(adozione.team)}:", class: "hidden md:inline-block" %>
						<% adozione.maestre.each do |maestra| %>
							<%= tag.div maestra, class: "inline-block px-2 py-1.5 bg-purple-500 text-white border rounded-md" %>
						<% end %>         					
					<% end %>
					
					<%= tag.div "Classe:", class: "hidden md:inline-block" %>
					
					<%= render "shared/inline_edit", model: adozione, method: :classe_id do %>
						<%= tag.span adozione.classe_e_sezione, class: "font-bold"  %> 
					<% end %>
				</fieldset>

				<%# scuola %>
				<fieldset class="py-2 flex flex-row items-center gap-2 group-[.show-scuola]:hidden" >
					<%= tag.div "Scuola:", class: "hidden md:inline-block" %>
					<%= link_to adozione.nome_scuola, adozione.scuola, data: { turbo_frame: "_top" } %>
					<%= tag.div "di", class: "hidden md:inline-block" %>
					<%= tag.div adozione.citta %>
				</fieldset>
			<% end %>

			<%# numero e copie %>
			<fieldset class="flex items-center justify-between">
				
				<%= tag.div class: "flex flex-wrap items-center gap-2" do%>
					<%= tag.div pluralize_stato_adozione(adozione), class: [
								"font-bold inline-block px-2 py-1.5 text-white border rounded-md": true,
								"bg-cyan-500": adozione.stato_adozione.downcase[0..2] == "com",
								"bg-pink-500": adozione.stato_adozione.downcase[0..2] != "com",
							] %>

					<%= render "shared/inline_edit", model: adozione, method: :titolo_copie_e_prezzo do %>
						<%= tag.div "il libro:", class: "hidden md:inline-block" %>
						<%= tag.div adozione.titolo_libro.upcase, class: "font-bold" %>

						<% if adozione.stato_adozione&.downcase[0..2] == "com" %>
							<%= tag.div class: "flex sm:flex-nowrap gap-2" do %>
								<%= tag.div "copie:", class: "hidden md:inline-block" %>
								<%= tag.div adozione.numero_copie, class: "font-semibold" %>
								<%= tag.div "prezzo: #{number_to_currency adozione.prezzo}" %>
							<% end %>
						<% end %>

					<% end %>
				<% end %>


			</fieldset>
			
			<%# importo e stato e pagamento %>
			<% if adozione.stato_adozione&.downcase[0..2] == "com" %>
				<%= tag.div class: "py-2 flex flex-row gap-2 sm:gap-4" do %>
					<%= render "shared/inline_edit", model: adozione, method: :stato_e_pagamento do %>
						<%= tag.div "importo:", class: "hidden md:inline-block" %>
						<%= tag.div number_to_currency(adozione.importo), class: "font-semibold" %>
						<%= tag.div adozione.status.titleize, class: "font-semibold" %>
						<%= tag.div adozione.tipo_pagamento, class: "font-semibold" %>
						<%= tag.div l(adozione.pagato_il, format: "%d-%m-%y"), class: "font-semibold" if adozione.pagato_il %>					
					<% end %>
				<% end %>
			<% end %>
			
			<%# note %>
			<div class="flex items-center mt-1 space-x-2 group-[.show-classe]:hidden">
				<%= render "shared/inline_edit", model: adozione, method: :note do %>
					Note:
					<%= adozione.note %>
				<% end %>
			</div>

			<%# timestamps %>
			<%= tag.div class: "flex align-center items-end justify-between group-[.show-classe]:hidden" do %>
				<% if adozione.created_at != adozione.updated_at %>
					<p class="mt-1 text-right text-xs text-gray-600">
						ultima modifica il <%= l(adozione.updated_at, format: "%d-%m-%y") %>
					</p>
				<% end %>
				<p class="mt-1 text-right text-xs text-gray-600">
					creato il <%= l(adozione.created_at, format: "%d-%m-%y") %>
				</p>
			<% end %>
		<% end %>

		<%# action buttons %>
		<%= tag.div class: "px-4 flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4 pr-4 sm:pr-0 justify-around " do %>
			

			<%= check_box_tag "adozione_ids[]", adozione.id, nil, {
				multiple: true,
				form: :bulk_update_adozioni_form,
				checked: false,
				class: "rounded rounded-full border-2 border-gray-300 h-5 w-5 m-auto col-span-1",
				data: { tax_checkbox_select_all_target: 'checkbox' }
				} %>
			

			<%= tag.div class: "py-2 content-center min-w-8 group" do %>		
				<%= tag.div id: "tappe-list--#{dom_id adozione.scuola}" do %>
					<%= render partial: "tappe/tappa_new", locals: { scuola: adozione.scuola, giro_id: nil } %>
					<% adozione.scuola.tappe.select { |t| t.giro.nil? && t.persisted? }.each do |tappa| %>
						<%= render partial: "tappe/tappa_menu", locals: { tappa: tappa, orientation: "right" } %>
					<% end %>
				<% end %>
			<% end %>
			
			
			<%= link_to "pdf", adozione_path(adozione, format: "pdf"), class: "text-xs text-center", 
				target: "_blank" %>
			
			<%= link_to edit_adozione_path(adozione),
					class: "h-7 w-7 flex justify-center items-center text-center rounded-full shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600" do %>
				<%= inline_svg_tag "icon-pencil.svg" %>
			<% end %>

			<%= button_to adozione_path(adozione), data: { confirm: "Sei sicuro?", turbo_confirm: "Sei sicuro?" }, method: :delete, 
					class: "h-7 w-7 flex text-red-200 justify-center items-center text-center rounded-full bg-red-600 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"  do %>
				<%= inline_svg_tag "icon-trash.svg" %>
			<% end %>
		<% end %>
	<% end %>

<% end %>
