<%= turbo_frame_tag dom_id(adozione) do %>
	<%= tag.div class: "p-2 border flex items-center align-center justify-between" do %>
		<%= tag.div  do %>

			<div class="flex">
				<%= render "shared/inline_edit", model: adozione, method: :team do %>					
					<%= maestra_o_maestre(adozione.team) %>
					<strong class="ml-2 font-bold"><%= adozione.team %></strong>              					
				<% end %>
			</div>



			<div class="flex items-center space-x-2">
				<%= tag.div "della classe:" %>
				<%= tag.div class: "w-1" %>
				<%= render "shared/inline_edit", model: adozione, method: :classe_id do %>
					<%= tag.span adozione.classe_e_sezione, class: "font-bold"  %> 
				<% end %>
			</div>
			
			della scuola
			
			<%= link_to adozione.nome_scuola, adozione.scuola, data: { turbo_frame: "_top" }, class: "font-bold" %>
			
			di
			
			<%= tag.span adozione.citta, class: "font-bold" %>
		
			<div class="flex items-center space-x-2">
				<%= tag.div pluralize_stato_adozione(adozione), class: "font-bold" %>
			</div>
							
			<div class="flex items-center space-x-2">
				<%= render "shared/inline_edit", model: adozione, method: :titolo_copie_e_prezzo do %>
					<%= tag.div "il libro:" %>
					<%= tag.div class: "w-1" %>
					<%= tag.div adozione.titolo_libro.upcase, class: "font-bold" %>
					<%= tag.div "copie: #{adozione.numero_copie}" %>
					<%= tag.div class: "w-2" %>
					<%= tag.div "prezzo: #{number_to_currency adozione.prezzo}" %>
				<% end %>
				<%= tag.div "importo: " %>
				<%= tag.div number_to_currency(adozione.importo), class: "font-semibold" %>
			</div>
			
			<div class="flex items-center space-x-2">
				<%= render "shared/inline_edit", model: adozione, method: :note do %>
					Note:
					<%= adozione.note %>
				<% end %>
			</div>

			<%= tag.div class: "flex align-center items-end justify-between" do %>
				<% if adozione.created_at != adozione.updated_at %>
					<p class="mt-1 text-right text-xs text-gray-600">
						ultima modifica il <%= l(adozione.updated_at, format: "%d-%m-%y") %>
					</p>
				<% end %>
				<p class="mt-1 text-right text-xs text-gray-600">
					creato il <%= l(adozione.created_at, format: "%d-%m-%y") %>
				</p>
			<% end %>
		<% end %>

		<%= tag.div class: "px-4 flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4 pr-4 sm:pr-0 justify-around " do %>
			
			<%= link_to "pdf", adozione_path(adozione, format: "pdf"), class: "text-xs text-center", 
				target: "_blank" %>
			
			<%= link_to edit_adozione_path(adozione),
					class: "h-7 w-7 flex justify-center items-center text-center rounded-full shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600" do %>
				<%= inline_svg_tag "icon-pencil.svg" %>
			<% end %>

			<%= button_to adozione_path(adozione), data: { confirm: "Sei sicuro?", turbo_confirm: "Sei sicuro?" }, method: :delete, 
					class: "h-7 w-7 flex text-red-200 justify-center items-center text-center rounded-full bg-red-600 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"  do %>
				<%= inline_svg_tag "icon-trash.svg" %>
			<% end %>
		<% end %>
	<% end %>

<% end %>
