<div id="<%= dom_id adozione %>" class="p-2 border flex items-center align-center justify-between">
  
	<%= tag.div do %>
		<p class="">
			<%= maestra_o_maestre(adozione.team) %>
			<strong class="inline-block font-bold"><%= adozione.team %></strong>              
		</p>
	
		della classe 
	
		<%= tag.span adozione.classe_e_sezione, class: "font-bold"  %> 
		
		della scuola
		
		<%= tag.span adozione.nome_scuola, class: "font-bold" %>
		
		di
		
		<%= tag.span adozione.citta, class: "font-bold" %>
	
		<p class="">
			<%= tag.span pluralize_stato_adozione(adozione), class: "font-bold" %>
			il libro
			<%= tag.span adozione.titolo_libro.upcase, class: "font-bold" %>
			in
			<%= pluralize adozione.numero_sezioni, "sezione", "sezioni" %>
		</p>

		<% unless adozione.note.blank?%>
			<p class="">
				Note:
				<%= adozione.note %>
			</p>
		<% end %>
			
		<p class="mt-1 text-right text-xs text-gray-600">
			adozione presunta il <%= l(adozione.created_at, format: "%d-%m-%y") %>
		</p>

	<% end %>

	<div class="px-4 flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4 pr-4 sm:pr-0 justify-around ">
    	<%#= link_to "apri", adozione, class: "text-xs text-center", 
            data: { turbo_frame: "_top" } %>
		<%= link_to edit_adozione_path(adozione), class: "text-gray-400 hover:text-gray-500", 
						data: { turbo_frame: :modal, action: "click->dialog#open"},
				class: "h-7 w-7 flex justify-center items-center text-center rounded-full shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600" do %>
			<%= inline_svg_tag "icon-pencil.svg" %>
		<% end %>

		<%= button_to adozione_path(adozione), data: { confirm: "Sei sicuro?", turbo_confirm: "Sei sicuro?" }, method: :delete, 
				class: "h-7 w-7 flex text-red-200 justify-center items-center text-center rounded-full bg-red-600 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"  do %>
			<%= inline_svg_tag "icon-trash.svg" %>
		<% end %>
    </div>

</div>
