<%= turbo_frame_tag dom_id(adozione), class: "" do %>
	<%= tag.div class: "p-2 border flex items-center align-center justify-between" do %>
		<%= tag.div  do %>

			<div class="flex flex-wrap items-center gap-2">
				<%= render "shared/inline_edit", model: adozione, method: :team do %>					
					<%#= tag.div "#{maestra_o_maestre(adozione.team)}:", class: "hidden md:inline-block" %>
					<%= tag.div  adozione.team, class: "mmmmd:ml-2" %>           					
				<% end %>
				<%= tag.div "della classe:", class: "hidden md:inline-block" %>
				<%= render "shared/inline_edit", model: adozione, method: :classe_id do %>
					<%= tag.span adozione.classe_e_sezione, class: "font-bold"  %> 
				<% end %>

				<fieldset class="flex flex-row items-center gap-2 group-[.show-scuola]:hidden" >
					<%= tag.div "della scuola:", class: "hidden md:inline-block" %>
					<%= link_to adozione.nome_scuola, adozione.scuola, data: { turbo_frame: "_top" } %>
					<%= tag.div "di", class: "hidden md:inline-block" %>
					<%= tag.div adozione.citta %>
				</fieldset>
			</div>
										
			<fieldset class="flex flex-wrap items-center gap-2">
				<%= tag.div pluralize_stato_adozione(adozione), class: "font-bold" %>

				<%= render "shared/inline_edit", model: adozione, method: :titolo_copie_e_prezzo do %>
					<%= tag.div "il libro:", class: "hidden md:inline-block" %>
					<%= tag.div adozione.titolo_libro.upcase, class: "font-bold" %>

					<% if adozione.stato_adozione&.downcase[0..2] == "com" %>
						<%= tag.div class: "flex sm:flex-nowrap gap-2" do %>
							<%= tag.div "copie:", class: "hidden md:inline-block" %>
							<%= tag.div adozione.numero_copie, class: "font-semibold" %>
							<%= tag.div "prezzo: #{number_to_currency adozione.prezzo}" %>
							<%= tag.div "importo:", class: "hidden md:inline-block" %>
							<%= tag.div number_to_currency(adozione.importo), class: "font-semibold" %>
						<% end %>
					<% end %>
				<% end %>
			</fieldset>
			
			<div class="flex items-center mt-1 space-x-2">
				<%= render "shared/inline_edit", model: adozione, method: :note do %>
					Note:
					<%= adozione.note %>
				<% end %>
			</div>

			<%= tag.div class: "flex align-center items-end justify-between" do %>
				<% if adozione.created_at != adozione.updated_at %>
					<p class="mt-1 text-right text-xs text-gray-600">
						ultima modifica il <%= l(adozione.updated_at, format: "%d-%m-%y") %>
					</p>
				<% end %>
				<p class="mt-1 text-right text-xs text-gray-600">
					creato il <%= l(adozione.created_at, format: "%d-%m-%y") %>
				</p>
			<% end %>
		<% end %>

		<%= tag.div class: "px-4 flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4 pr-4 sm:pr-0 justify-around " do %>
			
			<%= link_to "pdf", adozione_path(adozione, format: "pdf"), class: "text-xs text-center", 
				target: "_blank" %>
			
			<%= link_to edit_adozione_path(adozione),
					class: "h-7 w-7 flex justify-center items-center text-center rounded-full shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600" do %>
				<%= inline_svg_tag "icon-pencil.svg" %>
			<% end %>

			<%= button_to adozione_path(adozione), data: { confirm: "Sei sicuro?", turbo_confirm: "Sei sicuro?" }, method: :delete, 
					class: "h-7 w-7 flex text-red-200 justify-center items-center text-center rounded-full bg-red-600 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"  do %>
				<%= inline_svg_tag "icon-trash.svg" %>
			<% end %>
		<% end %>
	<% end %>

<% end %>
