    <%= tag.div class:"sticky z-20 top-16 bg-slate-100 bbborder-2 rounded-t-lg bg-gradient-to-r from-purple-100 from-25%" do%>
        
        <%# header per le tappe %>
        <%= tag.div class: "rounded-b-lg w-full space-x-8 shadow-lg px-4 py-3 text-xs font-semibold flex flex-row items-center justify-end" do %>
            
        
            <%= form_with url: bulk_update_adozioni_path, method: :put, format: "pdf", id: :bulk_update_adozioni_form, target: "_blank",
                    data: { turbo: false, tax_checkbox_select_all_target: "formMulti" },
                    class: "pr-2" do |f| %>

                <%= tag.div class: "flex space-x-2 items-center" do %>
                    <%= f.button type: :submit, value: 'stampa', class: " text-center font-semibold text-red-500 align-middle cursor-pointer border hover:bg-gray-200 w-6 h-6 rounded-full shadow-lg" do %>
                        pdf
                    <% end %>
                <% end %>
            <% end %>  

            <label for="select_all" id="select_all">
                <%= check_box_tag "select_all", nil, false, data: { tax_checkbox_select_all_target: "checkboxAll" } %>
                <span data-tax-checkbox-select-all-target="label" class="pl-2"><%= "seleziona" %></span>
            </label>
        <% end %>    
    <% end %>