<%= form_with(model: adozione) do |form| %>
	
	<% if adozione.errors.any? %>
		<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
			<h2><%= pluralize(adozione.errors.count, "error") %> prohibited this adozione from being saved:</h2>
			<ul>
				<% adozione.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="my-5">
		<%= form.label :team, "Le maestre" %>
		<%= form.text_field :team, 
			class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full sm:w-[42rem]" %>
	</div>

	<% if adozione.classe.nil? %>
		
		<div class="my-5 youtubes w-full" data-controller="tax-combobox-select">
			<%= form.combobox :import_scuola_id, current_user.import_scuole.order(:DENOMINAZIONESCUOLA).all, 
					placeholder: "seleziona scuola...",
					label: "della scuola:",
					data: { action: "hw-combobox:selection->tax-combobox-select#change",
							tax_combobox_select_target: "combobox" } %>
		</div>
	<% else %>
		della scuola:
		<br/>
		<%= tag.span adozione&.scuola, class: "font-semibold" %>
	<% end %>

	<%# compatibilita vecchio import_adozioni_id da eliminare da adozioni %>
	<% unless adozione.import_adozione.nil? %>	
		della classe 
		<%= tag.span adozione.import_adozione&.classe_e_sezione, class: "font-semibold"  %> 
		dell' istituto 
		<%= tag.span adozione.import_adozione&.scuola, class: "font-semibold" %>
	<% end %>

	<div class="my-5 youtubes">
		<%= form.combobox :stato_adozione, 
				current_user.adozioni.stato_adozione, 
				name_when_new: "adozione[stato_adozione]", 
				label: "che fanno?",
				placeholder: "adottano o comprano?" %>
	</div>

	<%= turbo_frame_tag :combo_classi do %>
		<% if adozione.classe.nil? %>
			<%= tag.div class: "min-h-12" %>
		<% else %>
			<div class="my-5  youtubes">
				<%= render partial: "classi/combobox_classi", 
					locals: { scuola: adozione.scuola, classe_ids: [adozione.classe_id] } %>
			</div>
		<% end %>
	<% end %>

	<%#= form.collection_radio_buttons :stato_adozione, current_user.adozioni.stato_adozione, :to_s, :to_s %>

	<div class="my-5 youtubes">
		<% if action_name == "new" %>
			<%= form.combobox :libro_ids, current_user.libri.order(:titolo),
					value: [adozione.libro_id],
					label: "i seguenti testi:",
					placeholder: "seleziona titoli...",
					multiselect_chip_src: new_libro_chip_path %>
		<% else %>
			<%= form.combobox :libro_id, current_user.libri.order(:titolo),
					label: "il testo:",
					placeholder: "seleziona il titolo o inseriscine uno nuovo...",
					name_when_new: "adozione[new_libro]" %>
		<% end %>
	</div>

	<div class="my-5">
		<%= form.label :note %>
		<%= form.text_area :note, rows: 3, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full sm:w-[42rem]" %>
	</div>

	<div class="div flex flex-row justify-start gap-4">
		<div class="my-5">
		<%#= form.label :numero_sezioni %>
		<%#= form.number_field :numero_sezioni, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
		</div>
		
		<%= render "shared/inline_fields", form: form, method: :numero_copie do %>


			<div class="my-5">

				<%= form.label :numero_copie %>
				<%= form.number_field :numero_copie, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
			</div>
		<% end %>
		
		<div class="my-5">
			<%= form.label :prezzo %>
			<%= form.number_field :prezzo, step: 0.01, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
		</div>
	</div>
	


	<div class="inline">
		<%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
	</div>
<% end %>
