<%= heading do %>	
	
    <%= h1 {"Si sboccia!!!"} %>

    <%= tag.div class: "pl-4 flex flex-col-reverse justify-center gap-2 sm:flex-row sm:justify-between sm:align-center sm:gap-4" do %>


        <%= render TaxButton.new(
                caption: "Excel",
                svg_file: "icon-excel-bis.svg",
                color: "green",
                url: url_for( controller: "adozioni", action: "index", format: :xlsx, params: request.query_parameters )
        ) %>

        <%= render TaxButton.new(
                caption: "Totali",
                svg_file: "icon-calculator.svg",
                color: "yellow",
                url: url_for( controller: "adozioni", action: "riepilogo", params: [] )
        ) %>
        
        <%= render TaxButton.new(
                caption: "Sbocci?",
                svg_file: "icon-plus.svg",
                color: "blue",
                url: url_for( controller: "adozioni", action: "new", model: @adozione ),
                data_attr: { turbo_frame: :modal, action: "click->dialog#open" }
        ) %>

    <% end %>

<% end %>

<div id="adozioni-lista" class="min-w-full">
    <%= render @adozioni %>
</div>

