<%= render Heading::WithActionsComponent.new(wrapper_css: "py-4 px-2 my-2 sm:px-0 flex flex-col space-y-4 justify-between sm:flex-row sm:items-center sm:space-y-0") do |heading| %>
    
    <% heading.with_action do %>
        <%= render TaxButton.new(
                caption: "Excel",
                svg_file: "icon-excel-bis.svg",
                color: "green",
                url: url_for( controller: "adozioni", action: "index", format: :xlsx, params: request.query_parameters ) 
        ) %>
    <% end %>
    <% heading.with_action do %>
        <%= render TaxButton.new(
                caption: "Stats",
                svg_file: "icon-chart-bar.svg",
                color: "white",
                url: url_for( controller: "adozioni", action: "riepilogo", params: [] )
        ) %>
    <% end %>
    <% heading.with_action do %>
        <%= render TaxButton.new(
                caption: "Sbocci?",
                svg_file: "icon-plus.svg",
                color: "blue",
                url: url_for( controller: "adozioni", action: "new", model: @adozione ),
                data_attr: { turbo_frame: :modal, action: "click->dialog#open" }
        ) %>
    <% end %>
    
    <%= h1 {"Si sboccia!!!"} %>

<% end %>

<%= render TabsComponent.new(
				id: "search_results",	
				container_css: "sticky z-20 top-16 max-w-sm bg-slate-100 bg-gradient-to-r from-purple-100 from-25%", 
				items_decorations: "border-gray-200 max-w-sm", 
				item_css: "border-b-2 block py-2 -mb-1 text-gray-500 hover:border-indigo-500 hover:text-indigo-600 flex whitespace-nowrap py-4 px-1 text-sm font-medium", 
				active_item_css: "border-indigo-500 text-indigo-600") do |tabs| %>

	<% tabs.with_item(href: adozioni_path(tipo: "adozione")) do %>
		<p class="">
			Adozioni
			<span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
				<%= current_user.adozioni.adozione.load.size %>
			</span>
		</p>
	<% end %>
	<% tabs.with_item(href: adozioni_path(tipo: "vendita")) do %>
		<p class="">
			Vendite
			<span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
				<%= current_user.adozioni.vendita.load.size %>
			</span>
		</p>
	<% end %>
	<% tabs.with_item(href: adozioni_path(tipo: "vendita", status: "ordine")) do %>
		<p class="">
			Ordini
			<span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
				<%= current_user.adozioni.vendita.ordine.load.size %>
			</span>
		</p>
	<% end %>


  	<% tabs.with_item(href: adozioni_path(giorno: "oggi")) { "Oggi" } %>
  	<% tabs.with_item(href: adozioni_path(giorno: "domani")) { "Domani" } %>
    
    <% tabs.with_hidden_item(href: adozioni_path(tipo: "vendita", status: "in_consegna")) do %>
		<p class="">
			In consegna
            <span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
				<%= current_user.adozioni.vendita.in_consegna.load.size %>
			</span>
		</p>
	<% end %>

    <% tabs.with_hidden_item(href: adozioni_path(tipo: "vendita", status: "da_pagare")) do %>
		<p class="">
			Da pagare
            <span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
				<%= current_user.adozioni.vendita.da_pagare.load.size %>
			</span>
		</p>
	<% end %>

<% end %>

<%= turbo_frame_tag :search_results, data: { controller: 'tax-checkbox-select-all' } do %>

    <%= tag.div class:"bg-slate-100 py-2 px-2 border rounded-lg shadow-lg mb-4 bg-gradient-to-r from-purple-100 from-25%" do%>    
        <%= render 'form_filters' %>
        <%= render 'stats' %>
        <%= render 'form_multi' %>
    <% end %>

    <%= tag.div id: "adozioni-lista", class: "sm:px-2" do %>
        <p class="only:block hidden py-32 px-4 text-center xl:col-span-2">Whoops! Non ci sono righe </p>
        
        <%= render @page.records %>

        <% unless @page.last? %>
            <%= turbo_frame_tag "load_more", src: adozioni_path(                              
                                    page: @page.next_param, 
                                    format: :turbo_stream,

                                    search: params[:search], 
                                    status: params[:status],
                                    tipo: params[:tipo],
                                    libro_id: params[:libro_id],
                                    import_scuola_id: params[:import_scuola_id],
                                    classe: params[:classe],
                                    ids: params[:ids]

                              ), loading: :lazy do %>
                <%= render 'shared/lazy_loading' %>
            <% end %>
        <% end %>
    <% end %>
<% end %>



