<%# locals: (entries:, frame_id: nil) -%>

<% content = capture do %>
  <% if entries.any? %>
    <h3 class="divider divider--fade txt-medium font-weight-black">Aperti (<%= entries.count %>)</h3>
    <div class="cards cards--grid cards--in-context">
      <div class="cards__list">
        <% entries.each do |entry| %>
          <%= render "entries/entry", entry: entry, draggable: false %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% if frame_id %>
  <%= turbo_frame_tag frame_id do %><%= content %><% end %>
<% else %>
  <%= content %>
<% end %>
