<li class="border-t border-gray-100">
  <%= content_wrapper do %>
    <div class="w-full flex items-center gap-2.5">
      <%= leader %>

      <%= content %>
    </div>

    <%= tag.ul safe_join(actions), class: "flex items-center gap-3" if actions? %>

    <%= trailer %>
  <% end %>
</li>
