<%= tag.nav data: {controller: "data-attribute", data_attribute_key_value: "show-menu"}, class: container_css do %>
  <button method="get" data-action="data-attribute#toggle" class="block my-4 md:hidden">
    <%# Heroicons > outline > bars-3 %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="size-4 group-data-[show-menu]/navigation:hidden">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
    </svg>

    <%# Heroicons > outline > x-mark %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="hidden size-4 group-data-[show-menu]/navigation:block">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
    </svg>
  </button>

  <%= tag.div class: menu_items_css do %>
    <div class="flex flex-col w-full gap-2 grow md:flex-row md:items-center">
      <%= tag.div logo, class: "shrink-0 gap-2 flex max-md:mx-2 md:my-2 md:items-center" if logo? %>

      <%= tag.ul class: links_css do %>
        <% links.each do |link| %>
          <%= link %>
        <% end %>
      <% end if links? %>
    </div>

    <%= tag.ul class: "flex flex-col gap-3 shrink-0 max-md:mx-2 md:flex-row md:items-center" do %>
      <%= tag.li primary_action, class: "[&>a]:block [&>a]:px-3 [&>a]:py-1 [&>a]:text-xs [&>a]:font-semibold [&>a]:text-white [&>a]:bg-sky-500 [&>a]:rounded [&>a]:hover:bg-sky-600" if primary_action? %>

      <% secondary_links.each do |link| %>
        <%= link %>
      <% end %>
    <% end if primary_action? || secondary_links? %>
  <% end %>
<% end %>
