<%# locals: (unit:) -%>

<article class="card"
         style="--card-color: <%= scuola_color(unit[:scuola]) %>"
         draggable="true"
         data-drag-and-drop-target="item"
         data-id="<%= unit[:id] %>">
  <div class="flex flex-column flex-item-grow max-inline-size">
    <header class="card__header">
      <div class="card__board">
        <span class="card__id"><%= unit[:scuola].tipo_scuola&.upcase.presence || "SCUOLA" %></span>
        <span class="card__board-name"><%= [unit[:scuola].comune, unit[:scuola].provincia].compact_blank.join(", ") %></span>
      </div>
    </header>

    <div class="card__body">
      <div class="card__content">
        <h3 class="card__title overflow-line-clamp" style="--lines: 2;">
          <%= unit[:scuola].denominazione %>
        </h3>
      </div>
    </div>

    <% if unit[:plessi].any? %>
      <footer class="card__footer full-width">
        <span class="txt-small txt-subtle"><%= unit[:plessi].size %> plessi</span>
      </footer>
    <% end %>
  </div>
</article>
