<%= fields_for "documento[documento_righe_attributes][#{turbo_id_for(documento_riga)}]", documento_riga do |ff| %>

    <%= tag.div class: "documento-form__riga",

        id: turbo_id_for(documento_riga),
        data: { controller: "tax-combobox-libro",
                sortable_update_url: documento_riga.persisted? ? update_posizione_documento_riga_path(documento_riga) : nil } do %>



        <%# <%= tag.div documento_riga.posizione, class: "col-span-1" %>
        <%= ff.hidden_field :id %>

        <%= ff.fields_for :riga do |form_riga| %>

            <fieldset class="documento-form__riga-libro">
                <div class="documento-form__riga-handle handle">⋮⋮</div>
                <div class="cb-tax-fancy" style="width: 100%;">
                    <% if form_riga.object.new_record? %>
                        <%= label_for form: form_riga, field: 'libro', label: 'Libro' %>
                        <%= form_riga.combobox :libro_id, libri_path,
                                placeholder: "seleziona libro...",
                                data: { action: "hw-combobox:selection->tax-combobox-libro#change",
                                        tax_combobox_libro_target: "combobox", controller: "focus", focus_focus_value: "now", focus_target: "combobox" } %>
                    <% else %>
                        <%= label_for form: form_riga, field: 'libro', label: 'Libro' %>
                        <%= form_riga.combobox :libro_id, libri_path,
                                placeholder: "seleziona libro...",
                                data: { action: "hw-combobox:selection->tax-combobox-libro#change",
                                        tax_combobox_libro_target: "combobox" } %>
                    <% end %>
                </div>
            </fieldset>

            <fieldset class="documento-form__riga-field">
                <%= label_for form: form_riga, field: 'quantita', label: 'Quantità' %>
                <%= form_riga.number_field :quantita,
                        data: { tax_combobox_libro_target: "quantita" },
                        class: [
                            "text-right [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none": true,
                            "w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600": true
                            ] %>
            </fieldset>

            <fieldset class="documento-form__riga-field documento-form__riga-field--prezzo">
                <%= label_for form: form_riga, field: 'prezzo', label: 'Prezzo' %>
                <%= form_riga.number_field :prezzo,
                        data: { tax_combobox_libro_target: "prezzo" },
                        step: 0.01,
                        class: [
                            "text-right [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none": true,
                            "w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600": true
                        ] %>
            </fieldset>

            <fieldset class="documento-form__riga-field">
                <%= label_for form: form_riga, field: 'sconto', label: 'Sconto' %>
                <%= form_riga.number_field :sconto,
                        data: { tax_combobox_libro_target: "sconto" },
                        step: 0.01,
                        class: [
                            "text-right [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none": true,
                            "w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600": true
                        ] %>
            </fieldset>
            <%= form_riga.hidden_field :id %>


        <% end %>

        <%= tag.div class: "documento-form__riga-delete" do %>
            <%= button_tag  formaction: documento_riga_path(turbo_id_for(documento_riga)), formmethod: :delete,
                    #data: { confirm: "Sei sicuro?", turbo_confirm: "Sei sicuro?" },
                    #disabled: false,
                    tabindex: -1,
                    class: "documento-form__delete-button" do %>
                <%= inline_svg_tag "icon-trash.svg" %>
            <% end %>

        <% end %>
    <% end %>
<% end %>
