<div id="zone-panel">
    <% zone_per_regione = account_zone.group_by(&:regione) %>
    <% gradi_colonne = [["E", "Primaria"], ["M", "I Grado"], ["N", "II Grado"]] %>
    <% account_id = account_zone.first&.account_id %>
    <% importate_per_zona = account_id ? Scuola.where(account_id: account_id).group(:provincia, :grado).count : {} %>

    <% zone_per_regione.each do |regione, zone_regione| %>
        <div class="zone-regione">
            <% if zone_per_regione.size > 1 || regione.present? %>
                <strong class="divider divider--fade txt-small"><%= regione %></strong>
            <% end %>

            <% province = zone_regione.map(&:provincia).uniq.sort %>
            <% zone_lookup = zone_regione.index_by { |z| [z.provincia, z.grado] } %>

            <div style="overflow-x: auto;">
                <table class="zone-grid">
                    <thead>
                        <tr>
                            <th>Provincia</th>
                            <% gradi_colonne.each do |_code, label| %>
                                <th><%= label %></th>
                            <% end %>
                            <th>Totale</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% province.each do |prov| %>
                            <tr>
                                <td class="flex flex-align-center gap-small"><%= prov %><%= link_to accounts_aree_path(account_id: account_id, provincia: prov), class: "btn btn--small" do %><%= icon_tag "grid-3x3", class: "icon--small" %><% end %></td>
                                <% row_total = 0 %>
                                <% gradi_colonne.each do |code, _label| %>
                                    <td>
                                        <% zona = zone_lookup[[prov, code]] %>
                                        <% if zona %>
                                            <% row_total += zona.scuole_count if zona.stato.in?(%w[attiva pronta da_rimuovere]) %>
                                            <% importate = importate_per_zona[[zona.provincia, zona.grado]] || 0 %>
                                            <%= render partial: "accounts/zone/zona_cell", locals: { zona: zona, scuole_importate: importate } %>
                                        <% end %>
                                    </td>
                                <% end %>
                                <td class="txt-center txt-small txt-subtle"><%= row_total if row_total > 0 %></td>
                            </tr>
                        <% end %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="txt-bold">Totale</td>
                            <% grand_total = 0 %>
                            <% gradi_colonne.each do |code, _label| %>
                                <% col_total = province.sum { |prov| zone_lookup[[prov, code]]&.then { |z| z.stato.in?(%w[attiva pronta da_rimuovere]) ? z.scuole_count : 0 } || 0 } %>
                                <% grand_total += col_total %>
                                <td class="txt-center txt-small txt-bold"><%= col_total if col_total > 0 %></td>
                            <% end %>
                            <td class="txt-center txt-small txt-bold"><%= grand_total if grand_total > 0 %></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    <% end %>

</div>
