<div id="zone-panel">
    <% zone_per_regione = account_zone.group_by(&:regione) %>
    <% gradi_colonne = [["E", "Primaria"], ["M", "I Grado"], ["N", "II Grado"]] %>
    <% account_id = account_zone.first&.account_id %>
    <% altro_per_provincia = account_id ? Scuola.where(account_id: account_id, grado: "altro").group(:provincia).count : {} %>
    <% importate_per_zona = account_id ? Scuola.where(account_id: account_id).group(:provincia, :grado).count : {} %>

    <% zone_per_regione.each do |regione, zone_regione| %>
        <% province = zone_regione.map(&:provincia).uniq.sort %>
        <% zone_lookup = zone_regione.index_by { |z| [z.provincia, z.grado] } %>
        <% show_regione_header = zone_per_regione.size > 1 || regione.present? %>

        <% regione_totali = Hash.new(0) %>
        <% province.each do |prov| %>
            <% gradi_colonne.each do |code, _label| %>
                <% z = zone_lookup[[prov, code]] %>
                <% regione_totali[code] += z.scuole_count if z && z.stato.in?(%w[attiva pronta da_rimuovere]) %>
            <% end %>
            <% regione_totali["altro"] += altro_per_provincia[prov] || 0 %>
        <% end %>
        <% regione_grand = regione_totali.values.sum %>

        <% regione_body = capture do %>
            <div style="overflow-x: auto;">
                <table class="zone-grid">
                    <colgroup>
                        <col class="zone-grid__col-provincia">
                        <col class="zone-grid__col-grado">
                        <col class="zone-grid__col-grado">
                        <col class="zone-grid__col-grado">
                        <col class="zone-grid__col-altro">
                        <col class="zone-grid__col-tot">
                    </colgroup>
                    <tbody>
                        <% province.each do |prov| %>
                            <tr>
                                <td>
                                    <div class="zone-grid__provincia">
                                        <%= prov %>
                                        <%= link_to "/#{account_id}/aree/#{prov}",
                                            class: "btn btn--circle btn--link zone-grid__area-link", style: "--btn-size: 1.6em;",
                                            title: "Gestisci aree" do %>
                                          <%= icon_tag "wrench", class: "icon--small" %>
                                        <% end %>
                                    </div>
                                </td>
                                <% row_total = 0 %>
                                <% gradi_colonne.each do |code, _label| %>
                                    <td>
                                        <% zona = zone_lookup[[prov, code]] %>
                                        <% if zona %>
                                            <% row_total += zona.scuole_count if zona.stato.in?(%w[attiva pronta da_rimuovere]) %>
                                            <% importate = importate_per_zona[[zona.provincia, zona.grado]] || 0 %>
                                            <%= render partial: "accounts/zone/zona_cell", locals: { zona: zona, scuole_importate: importate } %>
                                        <% end %>
                                    </td>
                                <% end %>
                                <% altro_count = altro_per_provincia[prov] || 0 %>
                                <td class="txt-center txt-small txt-subtle"><%= altro_count if altro_count > 0 %></td>
                                <td class="txt-center txt-small txt-subtle"><%= row_total + altro_count if row_total + altro_count > 0 %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>

        <% if show_regione_header %>
            <details class="zone-regione"
                     data-controller="details-persist"
                     data-details-persist-key-value="configurazione:zone-region:<%= regione %>">
                <summary class="zone-regione__summary zone-regione__summary--zone">
                    <span class="zone-regione__label">
                        <%= icon_tag "caret-down", class: "icon--small zone-regione__caret" %>
                        <%= regione %>
                    </span>
                    <% gradi_colonne.each do |code, label| %>
                        <span class="zone-regione__count" title="<%= label %>">
                            <span class="zone-regione__count-label"><%= label %></span>
                            <span class="zone-regione__count-value"><%= regione_totali[code] if regione_totali[code] > 0 %></span>
                        </span>
                    <% end %>
                    <span class="zone-regione__count zone-regione__count--altro" title="Altro">
                        <span class="zone-regione__count-label">Altro</span>
                        <span class="zone-regione__count-value"><%= regione_totali["altro"] if regione_totali["altro"] > 0 %></span>
                    </span>
                    <span class="zone-regione__count zone-regione__count--total" title="Totale">
                        <span class="zone-regione__count-label">Tot</span>
                        <span class="zone-regione__count-value"><%= regione_grand if regione_grand > 0 %></span>
                    </span>
                </summary>
                <%= regione_body %>
            </details>
        <% else %>
            <div class="zone-regione"><%= regione_body %></div>
        <% end %>
    <% end %>

</div>
