<%# locals: (scuola:) -%>

<h1 class="card__title"><%= scuola.denominazione %></h1>

<div class="flex gap flex-wrap">
  <!-- Indirizzo -->
  <div class="flex flex-column gap-quarter" style="flex: 1; min-width: 200px;">
    <span class="txt-x-small txt-subtle txt-uppercase">Indirizzo</span>
    <div class="txt-small">
      <% if scuola.indirizzo.present? %>
        <div><%= scuola.indirizzo %></div>
      <% end %>
      <div><%= [scuola.cap, scuola.comune, scuola.sigla_provincia.presence || scuola.provincia].compact_blank.join(" ") %></div>
    </div>
  </div>

  <!-- Contatti -->
  <div class="flex flex-column gap-quarter" style="flex: 1; min-width: 200px;">
    <span class="txt-x-small txt-subtle txt-uppercase">Contatti</span>
    <div class="txt-small flex flex-column gap-quarter">
      <% if scuola.telefono.present? %>
        <span><%= icon_tag "phone", class: "icon--small txt-subtle" %>
        <%= link_to scuola.telefono, "tel:#{scuola.telefono}", class: "txt-link" %></span>
      <% end %>
      <% if scuola.email.present? %>
        <span><%= icon_tag "envelope", class: "icon--small txt-subtle" %>
        <%= mail_to scuola.email, scuola.email.downcase, class: "txt-link" %></span>
      <% end %>
      <% if scuola.pec.present? %>
        <span><%= icon_tag "shield-check", class: "icon--small txt-subtle" %>
        <%= mail_to scuola.pec, scuola.pec.downcase, class: "txt-link" %></span>
      <% end %>
      <% if scuola.email_pattern.present? && scuola.email_dominio.present? %>
        <span class="txt-xx-small txt-subtle"><%= scuola.email_pattern %>@<%= scuola.email_dominio %></span>
      <% end %>
    </div>
  </div>
</div>

<% if scuola.direzione? %>
  <div class="margin-block-start margin-block-end">
    <span class="txt-x-small txt-subtle txt-uppercase">Plessi</span>
    <table class="table table--compact table--borderless txt-small" style="width: 100%;">
      <tbody>
        <% scuola.plessi.each do |plesso| %>
          <tr>
            <td class="overflow-ellipsis" style="max-width: 200px;">
              <%= link_to plesso.denominazione, scuola_path(plesso),
                class: "card__board txt-xx-small", style: "--card-color: #{tipo_scuola_color(plesso.tipo_scuola)}",
                data: { turbo_frame: "_top" } %>
            </td>
            <td class="txt-align-end" style="white-space: nowrap; width: 40px;">
              <% if plesso.classi_count > 0 %>
                <span class="txt-xx-small" style="color: <%= tipo_scuola_color(plesso.tipo_scuola) %>"><%= plesso.classi_count %>cl</span>
              <% end %>
            </td>
            <%= render "scuole/mie_adozioni_count", scuola: plesso %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if scuola.note.present? %>
  <div class="card__description margin-block-start">
    <p class="txt-small margin-none"><%= simple_format(scuola.note) %></p>
  </div>
<% end %>
