<%= form_with(model: [ @scontabile, @sconto ].compact) do |form| %>
  <div class="flex flex-column gap">
    <% if @sconto.errors.any? %>
      <div class="form-errors txt-small">
        <% @sconto.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class="flex gap flex-wrap">
      <div class="form-field" style="flex: 2; min-width: 200px;">
        <%= form.label :categoria_id, "Categoria", class: "form-label" %>
        <%= form.collection_select :categoria_id,
            Current.user.categorie.order(:nome_categoria), :id, :nome_categoria,
            { include_blank: "Tutte le categorie" },
            class: "input input--select full-width" %>
      </div>

      <div class="form-field" style="flex: 0 0 130px;">
        <%= form.label :percentuale_sconto, "Sconto %", class: "form-label" %>
        <%= form.number_field :percentuale_sconto, step: 0.01, min: 0, max: 100, class: "input full-width" %>
      </div>
    </div>

    <div class="flex gap flex-wrap">
      <div class="form-field" style="flex: 1; min-width: 150px;">
        <%= form.label :data_inizio, "Data inizio", class: "form-label" %>
        <%= date_input(form, :data_inizio) %>
      </div>

      <div class="form-field" style="flex: 1; min-width: 150px;">
        <%= form.label :data_fine, "Data fine", class: "form-label" %>
        <%= date_input(form, :data_fine) %>
        <p class="txt-xx-small txt-subtle margin-block-start-quarter">Lascia vuoto per sconto senza scadenza</p>
      </div>
    </div>

    <% unless @scontabile %>
      <div class="flex flex-column gap" data-controller="scontabile-selector">
      <div class="form-field">
        <%= form.label :scontabile_type, "Applica sconto a", class: "form-label" %>
        <%= form.select :scontabile_type,
            [
              [ "Nessuno (sconto globale)", "" ],
              [ "Tutti i clienti", "Cliente" ],
              [ "Tutti gli editori", "Editore" ],
              [ "Tutte le scuole", "Scuola" ]
            ],
            {},
            { class: "input input--select full-width",
              data: { action: "change->scontabile-selector#toggleScontabile" } } %>
        <p class="txt-xx-small txt-subtle margin-block-start-quarter">Seleziona una tipologia per applicare lo sconto a tutti, o scegli un'entità specifica sotto</p>
      </div>

      <div data-scontabile-selector-target="container" hidden>
        <div class="form-field" data-scontabile-selector-target="clienteSelect" hidden>
          <%= form.label :scontabile_id, "Oppure un cliente specifico (opzionale)", class: "form-label" %>
          <%= form.collection_select :scontabile_id,
              Current.user.clienti.order(:denominazione), :id, :denominazione,
              { include_blank: "Tutti i clienti" },
              class: "input input--select full-width" %>
        </div>

        <div class="form-field" data-scontabile-selector-target="editoreSelect" hidden>
          <%= form.label :scontabile_id, "Oppure un editore specifico (opzionale)", class: "form-label" %>
          <%= form.collection_select :scontabile_id,
              Current.user.editori.order(:editore), :id, :editore,
              { include_blank: "Tutti gli editori" },
              class: "input input--select full-width" %>
        </div>

        <div class="form-field" data-scontabile-selector-target="scuolaSelect" hidden>
          <%= form.label :scontabile_id, "Oppure una scuola specifica (opzionale)", class: "form-label" %>
          <%= form.collection_select :scontabile_id,
              Current.account.scuole.order(:denominazione), :id, :denominazione,
              { include_blank: "Tutte le scuole" },
              class: "input input--select full-width" %>
        </div>
      </div>

      <div class="form-field" style="max-width: 250px;">
        <%= form.label :tipo_sconto, "Tipo sconto", class: "form-label" %>
        <%= form.select :tipo_sconto,
            Sconto.tipo_sconti.map { |k, _| [ k.humanize, k ] },
            {},
            class: "input input--select full-width" %>
      </div>
      </div>
    <% end %>

    <div class="flex gap-half justify-center margin-block-start-half">
      <%= form.submit "Salva sconto", class: "btn btn--primary" %>
      <%= link_to "Annulla",
          @scontabile ? polymorphic_path([ @scontabile, :sconti ]) : sconti_path,
          class: "btn btn--ghost" %>
    </div>
  </div>
<% end %>
