<%# locals: (appunto:, entry: nil, draggable: false) -%>

<% if local_assigns[:appunto].present? && appunto.persisted? %>
  <% entry ||= appunto.entry %>
  <% draggable = local_assigns.fetch(:draggable, false) %>

  <% card_data = {
    navigable_list_target: "item",
    action: "mouseenter->navigable-list#hoverSelect"
  } %>

  <% if entry && draggable %>
    <% card_data[:id] = entry.id %>
    <% card_data[:drag_and_drop_target] = "item" %>
  <% end %>

  <%= tag.article id: (entry ? dom_id(entry) : dom_id(appunto)),
      class: class_names("card", appunto_stato_modifier(appunto)),
      tabindex: 0,
      draggable: (draggable && entry.present?),
      data: card_data do %>
    <div class="flex flex-column flex-item-grow max-inline-size">
      <%= link_to appunto_path(appunto), draggable: false, class: "card__link", data: { turbo_frame: "_top" } do %>
        <span class="for-screen-reader"><%= appunto.nome %></span>
      <% end %>

      <header class="card__header">
        <div class="card__board">
          <span class="card__id">
            <span class="for-screen-reader">Tipo</span>
            <%= appunto.nome&.upcase || "APPUNTO" %>
          </span>
          <span class="card__board-name">
            <span class="overflow-ellipsis"><%= appunto.stato&.upcase || "DA FARE" %></span>
          </span>
        </div>
      </header>

      <div class="card__body justify-space-between">
        <div class="card__content">
          <% if appunto.import_scuola.present? %>
            <h3 class="card__title overflow-line-clamp"><%= appunto.import_scuola.denominazione %></h3>
            <span class="card__subtitle"><%= appunto.import_scuola.comune&.upcase %></span>
          <% elsif appunto.appuntabile.present? %>
            <h3 class="card__title overflow-line-clamp"><%= appunto.appuntabile.try(:denominazione) || appunto.appuntabile.to_s %></h3>
          <% end %>

          <% if appunto.content.present? || appunto.body.present? %>
            <div class="card__stages">
              <% if appunto.content.present? %>
                <%= tag.span truncate(appunto.content.to_plain_text, length: 100), class: "overflow-line-clamp" %>
              <% elsif appunto.body.present? %>
                <%= tag.span truncate(appunto.body, length: 100), class: "overflow-line-clamp" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <footer class="card__footer flex gap-half">
      <%= render "appunti/meta", appunto: appunto %>
    </footer>

  <% end %>
<% end %>
