<div id="<%= dom_id appunto %>" 
	class="py-4 relative flex flex-col bg-white rounded-2xl shadow-xl align-end border-b-2 border-slate-200">

	<p class="px-4 font-semibold text-gray-900">
		<%= appunto.nome %>      
	</p>	

	<% if appunto.import_scuola %>
		<div class="px-4">
			<%= render partial: "appunto_scuola", locals: {appunto: appunto} %>
		</div>
	<% end %>
	
	<div class="px-4">
		<%= emphasis do %>
			<%= appunto.body %>
		<% end %>
	</div>

	<% if appunto.content%>
		<div class="px-4">
			<div data-controller="tax-trix-clipboard" data-tax-trix-clipboard-success-content-value="fatto!">
				<div data-tax-trix-clipboard-target="source" class="overflow-hidden"> 
							<%= emphasis do %>
			<%= appunto.content %>
		<% end %>
				</div>
				<button type="button" data-action="tax-trix-clipboard#copy" data-tax-trix-clipboard-target="button"
					class="text-xs font-semibold text-yellow-800  bg-yellow-300 rounded-full px-1 py-0.5 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2"
				>copia</button>
			</div>
		</div>
	<% end %>

	
	<%= render partial: "appunti/attachments", locals: { appunto: appunto } %>

	<%= tag.div class: "mt-auto pt-2 text-xs text-right italic  pr-2 -mb-2" do %>
		creato da
		<%= time_ago_in_words appunto.created_at%>
	<% end %>

	<%= link_to edit_appunto_path(appunto),
		data: { turbo_frame: :modal, action: "click->dialog#open"},
		class: "absolute right-2 top-2 -m-2 p-2.5 text-gray-400 hover:text-gray-500" do %>
		<%= inline_svg_tag "icon-appunto.svg" %>
	<% end %>
	
</div>

