<div id="<%= dom_id appunto %>" class="pl-3 pr-2 flex flex-row justify-between items-center bg-white align-end border-b border-slate-200">

  <div class="pl-4 py-4">

    <p class="font-semibold text-gray-900">
      <%= appunto.nome %>      
    </p>


    <div class="flex items-center gap-3 mt-2">
      <%= tag.div class: [
          "inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset": true,
          "bg-gray-50   text-gray-600   ring-gray-500/10":   appunto.import_adozione&.anno == "8",
          "bg-yellow-50 text-yellow-800 ring-yellow-600/20": appunto.import_adozione&.anno == "2",
          "bg-green-50  text-green-700  ring-green-600/20":  appunto.import_adozione&.anno == "6",
          "bg-blue-50   text-blue-700   ring-blue-700/10":   appunto.import_adozione&.anno == "1",
          "bg-red-50    text-red-700    ring-red-600/10":    appunto.import_adozione&.anno == "3",
          "bg-indigo-50 text-indigo-700 ring-indigo-700/10": appunto.import_adozione&.anno == "4",
          "bg-purple-50 text-purple-700 ring-purple-700/10": appunto.import_adozione&.anno == "7",
          "bg-pink-50   text-pink-700   ring-pink-700/10":   appunto.import_adozione&.anno == "5"

        ] do %>
        <%= appunto.import_adozione&.classe_e_sezione %>
      <% end %>
      
      <p class="font-medium text-sm italic text-gray-600">  
          <%= appunto.import_scuola.DENOMINAZIONESCUOLA.titleize %>
      </p>
    </div>

    <p class="font-medium text-sm italic mt-2 text-gray-400">
      <%= appunto.body %>
    </p>

  </div>

  <% if action_name != "show" %>
    <%= link_to ">", edit_appunto_path(appunto), data: { turbo_frame: :modal }, class: "rounded-lg py-3 px-5 inline-block font-2xl " %>
  <% end %>
</div>
