<div id="<%= dom_id appunto %>" class="flex flex-row justify-between items-center bg-white align-end border-b border-slate-200">

  <div class="pl-4 py-4">
    <p class="font-medium text-gray-900">
      <%= appunto.import_scuola.DENOMINAZIONESCUOLA %>
    </p>

    <p class="font-normal text-gray-700">
      <%= appunto.nome %>
    </p>

    <p class="font-normal text-gray-500">
      <%= appunto.body %>
    </p>

  </div>

  <% if action_name != "show" %>
    <%= link_to ">", edit_appunto_path(appunto), data: { turbo_frame: :modal }, class: "rounded-lg py-3 px-5 inline-block font-2xl " %>
  <% end %>
</div>
