 <%# locals: ( appunto:, mostra_scuola: true ) -%>
 
<%= tag.div id: dom_id(appunto), class: [
		"group pt-4 relative flex flex-col rounded-2xl shadow-xl align-end border-b-2": true,
		"bg-red-200  text-gray-600 border-red-300":  appunto.stato == "archiviato",
		"bg-white border-slate-200": !(appunto.stato == "archiviato"),
    ] do %>

	<% if appunto.is_ssk? %>
		<%= render partial: "appunti/appunto_ssk", locals: { appunto: appunto, mostra_scuola: mostra_scuola } %>
	<% else %>
		<%# appunto vecchio da sistemare  %>
		<%= link_to edit_appunto_path(appunto),
			data: { turbo_frame: :modal, action: "click->dialog#open"},
			class: "absolute right-2 top-2 -m-2 p-2.5 text-gray-400 hover:text-gray-500" do %>
			<%= inline_svg_tag "icon-appunto.svg" %>
		<% end %>
		
		<p class="px-4 font-semibold text-gray-900">
			<%= appunto.nome %>      
		</p>	

		<% if appunto.classe %>
			<div class="px-4">
				<%= render partial: "classi/classe", locals: {classe: appunto.classe} %>
			</div>
		<% end %>

		<% if mostra_scuola && appunto.import_scuola %>
			<div class="px-4">
				<%= render partial: "appunti/appunto_scuola", locals: {appunto: appunto} %>
			</div>
		<% end %>
		
		<% if appunto.body && !appunto.body.blank?%>
			<div class="px-4 group">
				<div data-controller="tax-trix-clipboard" data-tax-trix-clipboard-success-content-value="fatto!">
					<div data-tax-trix-clipboard-target="source" class="overflow-hidden"> 
						<%= emphasis do %>
							<%= appunto.body %>
						<% end %>
					</div>
									<div class="h-4">
					<button type="button" data-action="tax-trix-clipboard#copy" data-tax-trix-clipboard-target="button"
						class="invisible group-hover:visible text-xs font-semibold text-yellow-800  bg-yellow-300 rounded-full px-1 py-0.5 "
						>copia
					</button>
					</div>
				</div>
			</div>
		<% end %>

		<% if appunto.content && !appunto.content.blank?%>
			<div class="px-4 group">
				<div data-controller="tax-trix-clipboard" data-tax-trix-clipboard-success-content-value="fatto!">
					<div data-tax-trix-clipboard-target="source" class="overflow-hidden"> 
						<%= emphasis do %>
							<%= appunto.content %>
						<% end %>
					</div>
					<div class="h-4">
						<button type="button" data-action="tax-trix-clipboard#copy" data-tax-trix-clipboard-target="button"
							class="invisible group-hover:visible text-xs font-semibold text-yellow-800  bg-yellow-300 rounded-full px-1 py-0.5"
							>copia
						</button>
					</div>
				</div>
			</div>
		<% end %>
		
		<%= render partial: "appunti/attachments", locals: { appunto: appunto } %>

		<div class="flex mt-auto justify-between items-center">
		
			<%= tag.div class: "pt-2 text-xs italic  pl-2" do %>
				creato da
				<%= time_ago_in_words appunto.created_at%>
			<% end %>
			<div><%= appunto.stato %></div>
			
			<%= render partial: "appunti/appunto_stato", locals: { appunto: appunto }%>	

		</div>	
	<% end %>

<% end %>
