 <%# locals: ( appunto:, with_navigation: true ) -%>

<div class="flex items-center gap-3">

    <% if appunto.import_adozione %>
        <%= tag.div class: [
                "inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset": true,
                "bg-gray-50   text-gray-600   ring-gray-500/10":   appunto.import_adozione&.anno == "8",
                "bg-yellow-50 text-yellow-800 ring-yellow-600/20": appunto.import_adozione&.anno == "2",
                "bg-green-50  text-green-700  ring-green-600/20":  appunto.import_adozione&.anno == "6",
                "bg-blue-50   text-blue-700   ring-blue-700/10":   appunto.import_adozione&.anno == "1",
                "bg-red-50    text-red-700    ring-red-600/10":    appunto.import_adozione&.anno == "3",
                "bg-indigo-50 text-indigo-700 ring-indigo-700/10": appunto.import_adozione&.anno == "4",
                "bg-purple-50 text-purple-700 ring-purple-700/10": appunto.import_adozione&.anno == "7",
                "bg-pink-50   text-pink-700   ring-pink-700/10":   appunto.import_adozione&.anno == "5"

            ] do %>
            <%= appunto.import_adozione&.classe_e_sezione %>
        <% end %>
    <% end %>



    <div class="flex w-full items-center">
        
        <div class="flex-shrink-0 w-10 h-10">
            <label class="cursor-pointer relative">
                <%# <input type="checkbox" class="hidden peer"> %>
                <%= check_box_tag "appunto_ids[]", appunto.id, nil, form: "bulk-actions", 
                        class: "hidden peer", 
                        data: {action: "input->bulk-actions#count", bulk_actions_target: "checkbox"} %>
                
                <div class="<%= string_to_tailwind_color(appunto&.import_scuola&.citta_scuola) %>
                    hover:border-blue-500 hover:border-[5px]
                    hover:bg-black hover:text-black 
                    h-10 w-10
                    rounded-full absolute block 
                    font-bold
                    items-center justify-center content-center text-center overflow-hidden
                    peer-active:ring-2 peer-active:ring-blue-200">
                    <%= scuola_avatar_abbreviation(appunto.import_scuola) if appunto.import_scuola %>
                </div>  
                <div class="hidden peer-checked:block border-4 
                  border-blue-500 bg-blue-500 rounded-full 
                  absolute items-center content-center justify-center
                  peer-active:ring-2 peer-active:ring-blue-200">
                    <svg class="w-8 h-8 text-white" 
                          xmlns="http://www.w3.org/2000/svg" 
                          viewBox="0 0 24 24" 
                          fill="none" 
                          stroke="currentColor" 
                          stroke-width="3" 
                          stroke-linecap="round" 
                          stroke-linejoin="round">
                        <polyline points="20 6 9 17 4 12"></polyline>
                    </svg>
                </div>

            </label>
        </div>
        
        <div class="ml-4 flex-grow">
            <h3 class="text-gray-900 font-medium"><%= appunto.nome_e_classe%></h3>
            <h3 class="text-gray-500 font-medium"><%= appunto.import_scuola.to_combobox_display.titleize if appunto.import_scuola %></h3>
        </div>

    </div>

     
</div>
