 <%# locals: ( appunto:, mostra_scuola: true ) -%>
 
<%= tag.div id: dom_id(appunto, "vocale"), class: 
		"group pt-2 w-full flex rounded-2xl shadow-xl align-end bg-white border-slate-200 border-b-2" do %>

	<div class="w-full px-4 flex flex-col justify-between items-start space-y-2">
		<div class="flex flex-col">
			
			<%= tag.div class: "flex flex-wrap items-center gap-2" do %>
				<%= render "shared/inline_edit", model: appunto, method: :nome do %>
					<%= appunto.nome %>      
				<% end %>
			<% end %>


			<% if appunto.classe %>

				<%= render partial: "classi/classe", locals: {classe: appunto.classe} %>

			<% end %>

			<% if mostra_scuola && appunto.import_scuola %>

				<%= render partial: "appunti/appunto_scuola", locals: {appunto: appunto} %>

			<% end %>
			
			<%= tag.div class: "flex flex-wrap items-center gap-2" do%>
				<%= render "shared/inline_edit", model: appunto, method: :body_or_content do %>
					<% if appunto.body && !appunto.body.blank? %>
						<div class="group">
							<%= emphasis do %>
								<%= simple_format(appunto.body) %>
							<% end %>
						</div>		
					<% end %>
					<% if appunto.content && !appunto.content.blank? %>
						<div class="group">
							<%= emphasis do %>
								<%= appunto.content %>
							<% end %>
						</div>
					<% end %>
				<% end %>
			<% end %>

			<div class="w-full text-right text-indigo-500">
				<%= phone_to appunto.telefono %>
			</div>

			<% if appunto.completed_at %>
				<div class="w-full text-right text-indigo-500">
					<%= link_to giorno_path(giorno: appunto.completed_at.to_date.to_s), data: { turbo_frame: :_top } do %>
						<%= l(appunto.completed_at.to_date, format: "%A %d/%m/%Y", locale: :it) %>
					<% end %>
				</div>
			<% end %>
			
			<%= render partial: "appunti/attachments", locals: { appunto: appunto } %>
		</div>
		<div class="pb-2 w-full mt-auto flex justify-between items-center">
		
			<%= tag.div class: "text-xs italic" do %>
				creato da
				<%= time_ago_in_words appunto.created_at %>
			<% end %>
			
			<div><%= appunto.stato %></div>
			
			
		</div>	

	</div>

	<%# Actions %>

	<div class="flex flex-col items-center justify-between">

		<%= button_to appunto_path(appunto), method: :delete,
				class: "w-full text-left px-3 py-3 block text-red-500 hover:text-red-600 focus-visible:outline-none focus-visible:bg-gray-50",
				data: { turbo_method: :delete } do %>
			Elimina
		<% end %>


		<%= render partial: "appunti/appunto_stato", locals: { appunto: appunto }%>

	</div>




<% end %>
