<div id="<%= dom_id appunto %>" class="relative pl-3 pr-2 flex flex-col bg-white align-end border-b border-slate-200">

	<div class="pl-4 py-4">

		<p class="font-semibold text-gray-900">
			<%= appunto.nome %>      
		</p>

		<%= render partial: "appunto_scuola", locals: {appunto: appunto} %>

		<p class="font-medium text-sm italic mt-2 text-gray-400">
			<%= appunto.body %>
		</p>

		<%=  appunto.content %>
		
		<% if appunto.image.attached? %>
			<div class="flex -ml-5">
				<% if appunto.image.representable? %>
					<%= image_tag appunto.image.representation(resize_to_limit: [300, 300]), class: "mx-auto" %>
				<% else %>
					<%= link_to rails_blob_path(appunto.image, disposition: "attachment") do %>
						<%= image_tag "icons8-document-64.png", alt: "Download file", class: "mx-auto" %>
						<%= appunto.image.filename %>
					<% end %>
				<% end %>
			</div>
			<%= link_to "Remove", remove_image_appunto_path(appunto.id), data: { turbo_method: :delete } %>
		<% end %>
		


		<% if appunto.attachments.attached? %>

			<% appunto.attachments.each_with_index do |attachment, index| %>
				<hr/>
				<% if attachment.image? %>
					<%= image_tag(attachment.representation(resize_to_limit: [300, 300]), class: "mx-auto") %>
				<% elsif attachment.video? %>
					<%= video_tag(url_for(attachment), style:'height:auto; width:100%', controls:'') %>
				<% elsif attachment.audio? %>
					<%= audio_tag(url_for(attachment), controls: '') %>
				<% else %>
					<% if attachment.representable? %>
						<%= image_tag attachment.representation(resize_to_limit: [300, 300]), class: "mx-auto" %>
					<% else %>
						<%= link_to rails_blob_path(attachment, disposition: "attachment") do %>
							<%= image_tag "icons8-document-64.png", alt: "Download file", class: "mx-auto" %>
						<% end%>
					<% end %>
				<% end %>
				<div class="flex items-center justify-between">
					<%= attachment.filename %>
					<%= link_to "elimina", remove_attachment_appunto_path(attachment),
						data: { turbo_method: :delete }, class: "text-red-500 text-sm font-semibold" %>
				</div>
			<% end %>
		<% end %>		
	</div>

	<% if action_name != "show" %>
			<%= link_to edit_appunto_path(appunto),
				data: { turbo_frame: :modal, action: "click->dialog#open"},
				class: "absolute right-2 top-2 -m-2 p-2.5 text-gray-400 hover:text-gray-500" do %>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
				</svg>
			<% end %>
			
			<%= link_to go_to_scuola_path(appunto.import_scuola, current_user.navigator),
						data: { turbo_frame: :modal, action: "click->dialog#open"},
						class: "absolute right-2 top-11 -m-2 p-2.5 text-gray-400 hover:text-gray-500" do %>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
					<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
					</svg>
			<% end %>
	<% end %>
</div>

