<%# locals: (appunto:, entry: nil, draggable: false) -%>

<% if local_assigns[:appunto].present? && appunto.persisted? %>
  <% entry ||= appunto.entry %>
  <% draggable = local_assigns.fetch(:draggable, false) %>

  <% card_data = {
    navigable_list_target: "item",
    action: "mouseenter->navigable-list#hoverSelect contextmenu->navigable-list#toggleSelection"
  } %>

  <% if entry && draggable %>
    <% card_data[:id] = entry.id %>
    <% card_data[:drag_and_drop_target] = "item" %>
    <% card_data[:css_variable_counter_target] = "item" %>
  <% end %>

  <%= tag.article id: dom_id(appunto),
      class: class_names("card", appunto_stato_modifier(appunto), appunto_golden_class(appunto)),
      style: "--card-color: #{appunto_color(appunto)}",
      tabindex: 0,
      draggable: (draggable && entry.present?),
      data: card_data do %>
    <label class="card__checkbox">
      <%= check_box_tag "ids[]", appunto.id, false, data: { action: "change->bulk-actions#count" } %>
    </label>
    <div class="flex flex-column flex-item-grow max-inline-size">
      <%= link_to appunto_path(appunto), draggable: false, class: "card__link", data: { turbo_frame: "_top" } do %>
        <span class="for-screen-reader"><%= appunto.nome %></span>
      <% end %>

      <header class="card__header">
        <div class="card__board">
          <span class="card__id">
            <span class="for-screen-reader">Tipo</span>
            <%= appunto.nome&.upcase || "APPUNTO" %>
          </span>
          <span class="card__board-name">
            <span class="overflow-ellipsis"><%= appunto.classe&.classe_e_sezione || "" %></span>
          </span>
        </div>
      </header>

      <div class="card__body justify-space-between">
        <div class="card__content">
          <% if appunto.appuntabile.present? %>
            <h3 class="card__title overflow-line-clamp"><%= appunto.appuntabile.try(:denominazione) || appunto.appuntabile.to_s %></h3>
            <% if appunto.appuntabile.respond_to?(:comune) %>
              <span class="card__subtitle"><%= appunto.appuntabile.comune&.upcase %></span>
            <% end %>
          <% end %>

          <% if appunto.content.present? %>
            <div class="txt-x-small margin-inline-start-half overflow-line-clamp" style="margin-top: 0.5ch; --lines: 2; color: var(--card-content-color)"">
              <%= tag.span appunto.content, class: "" %>
            </div>
          <% end %>
                    
          <% if appunto.body.present? %>
            <div class="txt-small margin-block-start-half overflow-line-clamp" style="--lines: 2; color: var(--card-content-color)"">
              <%= tag.span appunto.body, class: "overflow-line-clamp" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>

    <footer class="card__footer flex gap-half">
      <%= render "appunti/display/meta", appunto: appunto, compact: true %>
    </footer>

  <% end %>
<% end %>
