<%= tag.div class: "full-width flex flex-column" do %>

  <%= tag.div class: "pad-half flex align-baseline gap-quarter txt-small" do %>
    <%= tag.div appunto.nome.capitalize, class: "txt-medium font-weight-bold" %>

    <p>del testo</p>
    <%= tag.div appunto.import_adozione.titolo, class: "txt-medium", style: "color: var(--color-link);" %>
  <% end %>

  <%= tag.div class: "pad-half flex align-baseline gap-quarter txt-small" do %>
    <p>per la classe</p>
    <%= tag.div appunto.import_adozione.classe_e_sezione, class: "txt-medium font-weight-bold" %>

  <% end %>

  <% if mostra_scuola %>
    <%= tag.div class: "pad-half flex align-baseline gap-quarter txt-small" do %>
      <p>della scuola</p>
      <%= tag.div appunto.import_adozione.import_scuola.scuola, class: "txt-medium", style: "color: var(--color-link);" %>
    <% end %>
  <% end %>

  <% if appunto.body && !appunto.body.blank?%>
    <div class="pad-half group">
      <div data-controller="tax-trix-clipboard" data-tax-trix-clipboard-success-content-value="fatto!">
        <div data-tax-trix-clipboard-target="source" class="overflow-hidden">
          <%= emphasis do %>
            <%= appunto.body %>
          <% end %>
        </div>
        <div style="height: 1rem;">
          <button type="button" data-action="tax-trix-clipboard#copy" data-tax-trix-clipboard-target="button"
            class="invisible group-hover:visible txt-xx-small font-weight-bold" style="background: var(--color-warning-lighter); color: var(--color-warning-dark); border-radius: 9999px; padding: 0.125rem 0.25rem;">copia
          </button>
        </div>
      </div>
    </div>
  <% end %>

  <% if appunto.content && !appunto.content.blank?%>
    <div class="pad-half group">
      <div data-controller="tax-trix-clipboard" data-tax-trix-clipboard-success-content-value="fatto!">
        <div data-tax-trix-clipboard-target="source" class="overflow-hidden">
          <%= emphasis do %>
            <%= appunto.content %>
          <% end %>
        </div>
        <div style="height: 1rem;">
          <button type="button" data-action="tax-trix-clipboard#copy" data-tax-trix-clipboard-target="button"
            class="invisible group-hover:visible txt-xx-small font-weight-bold" style="background: var(--color-warning-lighter); color: var(--color-warning-dark); border-radius: 9999px; padding: 0.125rem 0.25rem;">copia
          </button>
        </div>
      </div>
    </div>
  <% end %>

  <div class="flex justify-space-between align-center gap-half pad-half">

    <%= link_to appunto_path(appunto),
          data: { turbo_method: :delete },
          class: "btn", style: "background: var(--color-negative); color: white;" do %>
      <%= inline_svg_tag "icon-trash.svg" %>
    <% end %>

    <%= tag.div appunto.created_at.strftime('%d-%m-%y'), class: "txt-xx-small" %>

    <div class="txt-xx-small"><%= appunto.stato %></div>
    <%= render partial: "appunti/appunto_stato", locals: { appunto: appunto }%>
  </div>

<% end %>
