<%# locals: (appunto:) -%>

<section id="<%= dom_id(appunto, :container) %>" class="card-perma" style="--card-color: <%= appunto_color(appunto) %>;">
  <div class="card-perma__actions card-perma__actions--left">
    <%= render "appunti/container/gild", appunto: appunto if appunto.published? && !appunto.closed? %>
    <%= render "tappe/pianifica", source: appunto %>
  </div>

  <div class="card-perma__bg">
    <article class="card <%= appunto_golden_class(appunto) %>">
      <header class="card__header">
        <%= render "appunti/display/perma/board", appunto: appunto %>
        <%= render "appunti/display/perma/tags", appunto: appunto %>
      </header>

      <div class="card__body justify-space-between">
        <div class="card__content">
          <%= render "appunti/container/content", appunto: appunto %>
        </div>
        <%= render "appunti/container/stages", appunto: appunto unless appunto.drafted? %>
      </div>

      <footer class="card__footer full-width">
        <%= render "appunti/display/perma/meta", appunto: appunto %>
      </footer>
    </article>
  </div>

  <div class="card-perma__actions card-perma__actions--right">
    <%= render "appunti/container/actions", appunto: appunto if appunto.published? %>
  </div>

  <div class="card-perma__notch card-perma__notch--bottom">
    <%= turbo_frame_tag appunto, :footer do %>
      <%= render "appunti/container/footer", appunto: appunto %>
    <% end %>
  </div>
</section>
