<%= form_with(model: appunto, class: "contents") do |form| %>
  <% if appunto.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(appunto.errors.count, "error") %> prohibited this appunto from being saved:</h2>

      <ul>
        <% appunto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :import_scuola_id, value: @scuola.id %>
  
  <div class="mt-8 text-2xl font-semibold " >
     
     <%= @scuola.DENOMINAZIONESCUOLA %>
  </div>

  <div class="my-5">
    <%= form.label :nome, class: "label" %>
    <%= form.text_field :nome, class: "field" %>
  </div>

  <div class="my-5">
    <%= form.label "Appunto:" %>
    <%= form.text_area :body, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>

  </div>

  <div class="inline">
    <%= form.submit "Salva", class: "mt-8 w-full rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<div class="flex flex-col">
  
  <%= link_to "<- appunti", appunti_path, data: { action: "dialog#close" }, class: "w-full rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium text-center mt-8" %>

  <% if action_name != "new" %>
      <%= button_to "Elimina appunto", appunto_path(appunto), method: :delete, class: "w-full rounded-lg py-3 px-5 bg-red-600 text-white inline-block font-medium cursor-pointer" %>
  <% end %>
</div>
      
