<% @page_title = "Appunti" %>
<% @body_class = "contained-scrolling" %>

<% content_for :head do %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= combobox_style_tag "data-turbo-track": "reload" %>
<% end %>
  
<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <div class="flex">

      <%= component 'tax_button',
            caption: "Excel",
            svg_file: "icon-excel-bis.svg",
            color: "green",
            url: url_for( controller: "appunti", action: "index", format: :xlsx, params: request.query_parameters ),
            data_attr: { controller: "link-modifier", link_modifier_target: "link" }  %>


          <%= component 'tax_button',
            caption: "Filtra",
            svg_file: "icon-funnel.svg",
            color: "white",
            url: filtra_appunti_path(params: request.query_parameters),
            data_attr: { controller: "link-modifier", link_modifier_target: "link", turbo_frame: "slide-over" } %>

    </div>
    <%#= link_to_webhooks(@board) if Current.user.admin? %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Appunti</span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= component 'tax_button',
          caption: "Nuovo",
          svg_file: "icon-plus.svg",
          color: "blue",
          url: url_for( controller: "appunti", action: "new", model: @appunto ),
          data_attr: { turbo_frame: :modal, action: "click->dialog#open" } %>
  </div>
<% end %>

<%= turbo_stream_from current_user, "appunti" %>

<% if hotwire_native_app? %>
  <%= link_to "Nuovo Appunto", new_appunto_path,
      data: { controller: "bridge--button", bridge_title: "Nuovo" },
      class: "hidden" %>

  <%= render "shared/native_search_filter",
      url: appunti_path,
      filter_url: filtra_appunti_path(params: request.query_parameters),
      placeholder: "Cerca appunti..." %>
<% end %>

<%= turbo_frame_tag "search_results" do %>

  <%= tag.div class: "flex flex-column", style: "padding-right: 18rem;", data: { controller: "bulk-actions" }  do %>

    <%= render "shared/active_filters", collection: @appunti %>
    <%= render "appunti/bulk_actions/form" %>

    <%= turbo_frame_tag :appunti,
        data: { controller: "list-observer",
            list_observer_counter_id_value: "collection_counter",
            list_observer_item_selector_value: ".item",
            list_observer_target: "list"
          },
        class: "card-grid" do %>

      <p class="hidden only:block pad txt-center" style="grid-column: 1 / -1;">
        Whoops! Non ci sono appunti.

        <% if current_user.user_scuole.blank? %>
          <%= link_to " Devi impostare la Zona nel tuo profilo", user_path(current_user), data: { turbo_frame: "_top"}, class: "txt-link font-weight-bold" %>
        <% end %>
      </p>
      <%= render @appunti %>
    <% end %>

    <% if @pagy.next %>
      <%= turbo_frame_tag :pagination,
          src: appunti_path(request.query_parameters.merge(format: :turbo_stream, page: @pagy.next)),
          loading: :lazy do %>
        <div role="status" class="flex justify-center" style="grid-column: 1 / -1;">
          <%= icon "bouncing-dots", library: :animated, class: "txt-subtle", style: "width: 2rem; height: 2rem;" %>
          <span class="sr-only">Loading...</span>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <aside class="sidebar-right hide-on-mobile">
    <%= render partial: "filter_form", locals: { reload: true } %>
  </aside>

<% end %>


