<% @page_title = "Appunti" %>
<% @body_class = "contained-scrolling" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to appunti_path(format: :xlsx, params: request.query_parameters), class: "btn",
        data: { controller: "link-modifier", link_modifier_target: "link" } do %>
      <%= icon_tag "document" %>
      <span class="for-screen-reader">Esporta in excel</span>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Appunti</span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= button_to appunti_path, method: :post, class: "btn", form: { data: { turbo: false } } do %>
      <%= icon_tag "add" %>
      <span class="for-screen-reader">Nuovo appunto</span>
    <% end %>
  </div>
<% end %>

<%= turbo_stream_from current_user, "appunti" %>

<% if hotwire_native_app? %>
  <%= button_to "Nuovo Appunto", appunti_path, method: :post,
      form: { data: { turbo: false } },
      data: { controller: "bridge--button", bridge_title: "Nuovo" },
      class: "hidden" %>

  <%= render "shared/native_search_filter",
      url: appunti_path,
      filter_url: filtra_appunti_path(params: request.query_parameters),
      placeholder: "Cerca appunti..." %>
<% end %>

<%= render "filters/settings",
      filter_url: appunti_path,
      user_filtering: @user_filtering,
      no_filtering_url: appunti_path,
      filter_type: "appunto_filter" %>


<%= turbo_frame_tag "search_results" do %>
  <% if @page.used? %>
    <p class="txt-small txt-subtle margin-block-end-half">
      <%= @total_count %> <%= @total_count == 1 ? "appunto trovato" : "appunti trovati" %>
    </p>

    <%= tag.div class: "flex flex-column", data: { controller: "bulk-actions" } do %>
      <%= render "appunti/bulk_bar/bar" %>

      <div class="cards cards--grid">
        <%= with_automatic_pagination :appunti, @page,
            class: "cards__list",
            data: { controller: "navigable-list list-observer",
                navigable_list_auto_select_value: false,
                navigable_list_actionable_items_value: true,
                navigable_list_prevent_handled_keys_value: true,
                action: "keydown->navigable-list#navigate",
                list_observer_counter_id_value: "collection_counter",
                list_observer_item_selector_value: ".item",
                list_observer_target: "list"
              } do %>
          <%= render @page.records %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="blank-slate blank-slate--empty">
      <h3 class="txt-large font-weight-bold">Nessun appunto trovato</h3>
      <p class="txt-small txt-subtle margin-block-end">
        <% if @user_filtering.filters_active? %>
          Prova a modificare i filtri di ricerca.
        <% else %>
          Inizia aggiungendo il primo appunto.
        <% end %>
      </p>
      <% unless @user_filtering.filters_active? %>
        <%= button_to appunti_path, method: :post, class: "btn btn--primary", form: { data: { turbo: false } } do %>
          <%= icon_tag "plus", size: "small" %>
          Aggiungi Appunto
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
