<%# locals: (appunto:) -%>

<div class="card__meta" id="<%= dom_id(appunto, :meta) %>">
  <div class="card__meta-avatars card__meta-avatars--author">
  </div>

  <span class="card__meta-text card__meta-text--added">
    <span>
      Creato
      <strong><%= appunto.created_at&.strftime("%d/%m/%Y") %></strong>
    </span>
  </span>

  <span class="card__meta-text card__meta-text--author">
    <span>
      <% if appunto.telefono.present? %>
        <%= icon_tag "phone" %>
        <%= appunto.telefono %>
      <% end %>
      <% if appunto.email.present? %>
        <%= icon_tag "mail" %>
        <%= appunto.email %>
      <% end %>
    </span>
  </span>

  <span class="card__meta-text card__meta-text--updated overflow-ellipsis">
    <% if appunto.entry&.closed? %>
      <%= icon_tag "check" %>
      Chiuso
      <strong><%= appunto.entry.closed_at&.strftime("%d/%m/%Y") %></strong>
    <% elsif appunto.entry&.postponed? %>
      <%= icon_tag "clock" %>
      Rimandato
      <strong><%= appunto.entry.postponed_at&.strftime("%d/%m/%Y") %></strong>
    <% else %>
      <%= icon_tag "refresh--meta" %>
      Modificato
      <strong><%= appunto.updated_at&.strftime("%d/%m/%Y") %></strong>
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--assignees overflow-ellipsis">
    &nbsp;
  </span>
</div>
