<%# locals: (appunto:) -%>

<div class="card__meta" id="<%= dom_id(appunto, :meta) %>">
  <div class="card__meta-avatars card__meta-avatars--author">
    <span class="txt-x-small txt-uppercase">CREATO</span>
  </div>

  <span class="card__meta-text card__meta-text--added">
    <strong><%= appunto.created_at.strftime("%d/%m/%Y") %></strong>
  </span>

  <span class="card__meta-text card__meta-text--author">
    <% if appunto.telefono.present? %>
      <%= icon_tag "phone" %>
      <%= appunto.telefono %>
    <% elsif appunto.email.present? %>
      <%= icon_tag "mail" %>
      <%= truncate(appunto.email, length: 25) %>
    <% else %>
      &nbsp;
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--updated overflow-ellipsis">
    <% if appunto.completed_at.present? %>
      <%= icon_tag "check-circle" %>
      <strong><%= appunto.completed_at.strftime("%d/%m/%Y") %></strong>
    <% else %>
      DA COMPLETARE
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--assignees overflow-ellipsis">
    <% if appunto.totale_copie.to_i > 0 %>
      COPIE <strong><%= appunto.totale_copie %></strong>
    <% end %>
    <% if appunto.totale_cents.to_i > 0 %>
      &middot; <strong><%= number_to_currency appunto.totale, locale: :it %></strong>
    <% end %>
  </span>

  <div class="card__meta-avatars card__meta-avatars--assignees">
  </div>
</div>
