<%# Fallback view - normally redirects to scuola/classe %>
<div class="panel shadow pad">
  <div class="flex align-center justify-between margin-block-end-half">
    <h1 class="txt-large font-weight-black">
      Classe <%= @classe.nome_breve %>
    </h1>
    <%= new_appunto_link(@classe) %>
  </div>

  <dl class="dl-grid txt-small">
    <% if @classe.scuola.present? %>
      <dt class="txt-subtle">Scuola</dt>
      <dd><%= link_to @classe.scuola.denominazione, scuola_path(@classe.scuola) %></dd>
    <% end %>

    <% if @classe.combinazione.present? %>
      <dt class="txt-subtle">Combinazione</dt>
      <dd><%= @classe.combinazione %></dd>
    <% end %>

    <% if @classe.tipo_scuola.present? %>
      <dt class="txt-subtle">Tipo Scuola</dt>
      <dd><%= @classe.tipo_scuola %></dd>
    <% end %>
  </dl>

  <div class="margin-block-start">
    <%= link_to "← Torna alle classi", classi_path, class: "btn" %>
  </div>
</div>
