<%# locals: (appunto:) -%>

<div class="card__meta" id="<%= dom_id(appunto, :meta) %>">
  <div class="card__meta-avatars card__meta-avatars--author">
  </div>

  <span class="card__meta-text card__meta-text--added">
    <span class="txt-x-small txt-uppercase">Creato</span>
    <strong><%= appunto.created_at&.strftime("%d/%m/%y") %></strong>
  </span>

  <span class="card__meta-text card__meta-text--author">
    <% if appunto.telefono.present? %>
      <%= icon_tag "phone" %>
      <%= appunto.telefono %>
    <% elsif appunto.email.present? %>
      <%= icon_tag "mail" %>
      <%= truncate(appunto.email, length: 20) %>
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--updated overflow-ellipsis">
    &nbsp;
  </span>

  <span class="card__meta-text card__meta-text--assignees overflow-ellipsis">
    &nbsp;
  </span>

  <span class="card__meta-text card__meta-text--copie">
    <% if appunto.totale_copie.to_i > 0 %>
      Copie <strong><%= appunto.totale_copie %></strong>
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--importo">
    <% if appunto.totale_cents.to_i > 0 %>
      <strong><%= number_to_currency(appunto.totale, locale: :it) %></strong>
    <% end %>
  </span>
</div>
