<%# locals: (appunto:) -%>

<div class="card__meta" id="<%= dom_id(appunto, :meta) %>">
  <div class="card__meta-avatars card__meta-avatars--author">
    <%= avatar_tag(appunto.user) %>
  </div>

  <span class="card__meta-text card__meta-text--added">
    <span class="txt-x-small">Creato</span> 
    <%= local_datetime_tag(appunto.created_at, style: :daysago) %>
  </span>

  <span class="card__meta-text card__meta-text--author">
    <% if appunto.entry&.closed? %>
      <%= icon_tag "check" %>
      Chiuso
      <strong><%= appunto.entry.closed_at&.strftime("%d/%m/%y") %></strong>
    <% elsif appunto.entry&.postponed? %>
      <%= icon_tag "clock" %>
      Rimandato
      <strong><%= appunto.entry.postponed_at&.strftime("%d/%m/%y") %></strong>
    <% else %>
      <%= icon_tag "refresh--meta" %>
      Modificato
      <strong><%= appunto.updated_at&.strftime("%d/%m/%y") %></strong>
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--updated overflow-ellipsis">
    <% if appunto.telefono.present? %>
      <%= icon_tag "phone" %>
      <%= appunto.telefono %>
    <% else %>
      &nbsp;
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--assignees overflow-ellipsis">
    <% if appunto.email.present? %>
      <%= icon_tag "mail" %>
      <%= truncate(appunto.email, length: 20) %>
    <% end %>
  </span>
</div>
