<tr id="<%= dom_id(causale) %>">
  <td class="font-weight-bold">
    <%= link_to causale.causale, causale_path(causale), class: "txt-link" %>
  </td>
  <td><%= causale.magazzino %></td>
  <td>
    <span class="badge <%= causale.ordine? ? 'txt-negative' : causale.vendita? ? 'txt-positive' : 'txt-accent' %>">
      <%= causale.tipo_movimento %>
    </span>
  </td>
  <td>
    <span class="<%= causale.uscita? ? 'txt-negative' : 'txt-positive' %>">
      <%= causale.movimento %>
    </span>
  </td>
  <td class="txt-end"><%= causale.priorita %></td>
  <td class="txt-subtle">
    <%= causale.causali_successive_records.map(&:causale).first(3).join(", ") %>
    <% if causale.causali_successive_records.count > 3 %>
      <span class="txt-xx-small">+<%= causale.causali_successive_records.count - 3 %></span>
    <% end %>
  </td>
  <td class="txt-end">
    <%= link_to edit_causale_path(causale), class: "txt-link txt-small" do %>
      <%= icon_tag "pencil", size: "small" %>
    <% end %>
  </td>
</tr>
