<div id="<%= dom_id causale %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Causale:</strong>
    <%= causale.causale %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Magazzino:</strong>
    <%= causale.magazzino %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tipo causale:</strong>
    <%= causale.tipo_movimento %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Movimento:</strong>
    <%= causale.movimento %>
  </p>

</div>
