<%= form_with(model: causale, builder: RailsDesigner::FormBuilder) do |form| %>
  
  <% if causale.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(causale.errors.count, "error") %> prohibited this causale from being saved:</h2>

      <ul>
        <% causale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :causale %>
    <%= form.text_field :causale %>
  </div>

  <div class="my-5">
    <%= form.label :magazzino %>
    <%= form.text_field :magazzino %>
  </div>

  <div class="my-5">
    <%= form.label :tipo_movimento %>
    <%= form.select :tipo_movimento, 
                options_for_select(Causale.tipo_movimentos.map {|key, value| [key.titleize, Causale.tipo_movimentos.key(value)]}, causale.tipo_movimento) %>
  </div>

  <div class="my-5">
    <%= form.label :movimento %>
    <%= form.select :movimento, 
                options_for_select(Causale.movimentos.map {|key, value| [key.titleize, Causale.movimentos.key(value)]}, causale.movimento) %>
  </div>

  <div class="my-5">
    <%= form.label :clientable_type %>
    <%= form.select :clientable_type, 
                options_for_select(["import_scuola", "cliente"]) %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
