<% content_for :title, "Modifica Causale" %>

<% content_for :header do %>
  <%= render Heading::WithActionsComponent.new do |heading| %>
    <% heading.with_action do %>
      <%= component 'tax_button',
            caption: "Visualizza",
            svg_file: "icon-eye.svg",
            color: "gray",
            url: causale_path(@causale) %>
    <% end %>

    <% heading.with_action do %>
      <%= component 'tax_button',
            caption: "Torna alla lista",
            svg_file: "icon-arrow-left.svg",
            color: "white",
            url: causali_path %>
    <% end %>

    <%= h1 { "Modifica: #{@causale.causale}" } %>
  <% end %>
<% end %>

<div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
  <%= render "form", causale: @causale %>
</div>
