<% @page_title = @causale.causale %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "Causali", causali_path %>
  </div>

  <h1 class="header__title"><%= @page_title %></h1>

  <div class="header__actions header__actions--end">
    <%= link_to edit_causale_path(@causale), class: "btn" do %>
      <%= icon_tag "pencil", size: "small" %>
      <span>Modifica</span>
    <% end %>
    <%= link_to causale_path(@causale),
        class: "btn btn--negative",
        data: { turbo_method: :delete, turbo_confirm: "Sei sicuro?" } do %>
      <%= icon_tag "trash", size: "small" %>
    <% end %>
  </div>
<% end %>

<section class="panel panel--wide shadow center">
  <h3 class="divider divider--fade txt-medium font-weight-black">Informazioni</h3>

  <div class="flex flex-wrap gap full-width">
    <div class="flex-item-grow" style="flex-basis: 200px;">
      <span class="txt-x-small txt-subtle txt-uppercase">Codice</span>
      <div class="txt-large font-weight-black"><%= @causale.causale %></div>
    </div>
    <div class="flex-item-grow" style="flex-basis: 200px;">
      <span class="txt-x-small txt-subtle txt-uppercase">Magazzino</span>
      <div class="font-weight-bold"><%= @causale.magazzino %></div>
    </div>
    <div class="flex-item-grow" style="flex-basis: 150px;">
      <span class="txt-x-small txt-subtle txt-uppercase">Tipo Movimento</span>
      <div class="font-weight-bold"><%= @causale.tipo_movimento %></div>
    </div>
    <div class="flex-item-grow" style="flex-basis: 150px;">
      <span class="txt-x-small txt-subtle txt-uppercase">Direzione</span>
      <div class="font-weight-bold <%= @causale.uscita? ? 'txt-negative' : 'txt-positive' %>">
        <%= @causale.movimento %>
      </div>
    </div>
    <div class="flex-item-grow" style="flex-basis: 150px;">
      <span class="txt-x-small txt-subtle txt-uppercase">Destinatari</span>
      <div class="font-weight-bold"><%= @causale.clientable_types.presence&.join(", ") || "Tutti" %></div>
    </div>
    <div class="flex-item-grow" style="flex-basis: 100px;">
      <span class="txt-x-small txt-subtle txt-uppercase">Priorità</span>
      <div class="font-weight-bold"><%= @causale.priorita %></div>
    </div>
  </div>

  <% if @causale.causali_successive_records.any? %>
    <h3 class="divider divider--fade txt-medium font-weight-black margin-block-start">Workflow</h3>

    <div>
      <span class="txt-x-small txt-subtle txt-uppercase">Può generare</span>
      <div class="flex flex-wrap gap-half margin-block-start-quarter">
        <% @causale.causali_successive_records.each do |c| %>
          <%= link_to causale_path(c), class: "badge txt-link" do %>
            <%= c.causale %> (<%= c.tipo_movimento %>)
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
