<% content_for :bulk_action_buttons_documenti do %>

    <!-- Stampa -->
    <%= button_tag class: "mx-auto flex flex-col items-center gap-y-1 px-3 py-2 text-sm font-medium text-white bg-black hover:bg-gray-600 rounded-md",
            data: {
              action: "bulk-actions#toggleFormContainer",
              form_id: "stampa",
              bulk_actions_target: "menuButton"
            } do %>
        <%= icon "printer" %>
        Stampa
    <% end %>

    <!-- Duplica -->
    <%= button_tag class: "mx-auto flex flex-col items-center gap-y-1 px-3 py-2 text-sm font-medium text-white bg-black hover:bg-gray-600 rounded-md",
            data: {
              action: "bulk-actions#toggleFormContainer",
              form_id: "genera",
              bulk_actions_target: "menuButton"
            } do %>
        <%= icon "plus" %>
        Duplica
    <% end %>

    <!-- Genera -->
    <%= button_tag class: "mx-auto flex flex-col items-center gap-y-1 px-3 py-2 text-sm font-medium text-white bg-black hover:bg-gray-600 rounded-md",
            data: {
              action: "bulk-actions#toggleFormContainer",
              form_id: "unisci",
              bulk_actions_target: "menuButton"
            } do %>
        <%= icon "document-duplicate" %>
        Genera
    <% end %>

    <!-- Modifica Stato -->
    <%= button_tag class: "mx-auto flex flex-col items-center gap-y-1 px-3 py-2 text-sm font-medium text-white bg-black hover:bg-gray-600 rounded-md",
            data: {
              action: "bulk-actions#toggleFormContainer",
              form_id: "modifica_stato",
              bulk_actions_target: "menuButton"
            } do %>
        <%= icon "pencil-square" %>
        Stato
    <% end %>

    <!-- Elimina -->
    <%= button_tag class: "mx-auto flex flex-col items-center gap-y-1 px-3 py-2 text-sm font-medium text-white bg-red-600 hover:bg-red-700 rounded-md",
            data: {
              action: "bulk-actions#toggleFormContainer",
              form_id: "elimina",
              bulk_actions_target: "menuButton"
            } do %>
        <%= icon "trash" %>
        Elimina
    <% end %>
<% end %>

<% content_for :bulk_action_forms_documenti do %>

    <!-- Stampa -->
    <div class="hidden flex-col space-y-2 transition-all duration-300 ease-out origin-top mt-4"
        data-bulk-actions-target="formContainer"
        data-form-id="stampa"
        data-transition-enter="transform transition ease-out duration-300"
        data-transition-enter-start="transform -translate-y-4 opacity-0"
        data-transition-enter-end="transform translate-y-0 opacity-100"
        data-transition-leave="transform transition ease-in duration-200"
        data-transition-leave-start="transform translate-y-0 opacity-100"
        data-transition-leave-end="transform -translate-y-4 opacity-0">
        <%= form_with url: print_all_documenti_bulk_actions_path(format: :pdf),
                method: :patch,
                data: {
                    bulk_actions_target: "form",
                    action: "turbo:submit-end->bulk-actions#hideAfterSubmit"
                } do |form| %>
            <div class="flex pt-2 w-full justify-center">
                <%= form.submit "Conferma stampa", class: "px-4 py-2 text-sm font-medium text-white bg-black hover:bg-gray-600 rounded-md" %>
            </div>
        <% end %>
    </div>

    <!-- Duplica -->
    <div class="hidden flex-col space-y-2 transition-all duration-300 ease-out origin-top mt-4"
        data-bulk-actions-target="formContainer"
        data-form-id="genera"
        data-transition-enter="transform transition ease-out duration-300"
        data-transition-enter-start="transform -translate-y-4 opacity-0"
        data-transition-enter-end="transform translate-y-0 opacity-100"
        data-transition-leave="transform transition ease-in duration-200"
        data-transition-leave-start="transform translate-y-0 opacity-100"
        data-transition-leave-end="transform -translate-y-4 opacity-0">
        <%= form_with url: duplica_documenti_bulk_actions_path,
                method: :post,
                data: {
                    bulk_actions_target: "form",
                    action: "turbo:submit-end->bulk-actions#hideAfterSubmit"
                } do |form| %>
            <div class="flex pt-2 w-full justify-center">
                <%= form.submit "Conferma duplicazione", class: "px-4 py-2 text-sm font-medium text-white bg-black hover:bg-gray-600 rounded-md" %>
            </div>
        <% end %>
    </div>

    <!-- Genera -->
    <div class="hidden flex-col space-y-2 transition-all duration-300 ease-out origin-top mt-4"
        data-bulk-actions-target="formContainer"
        data-form-id="unisci"
        data-transition-enter="transform transition ease-out duration-300"
        data-transition-enter-start="transform -translate-y-4 opacity-0"
        data-transition-enter-end="transform translate-y-0 opacity-100"
        data-transition-leave="transform transition ease-in duration-200"
        data-transition-leave-start="transform translate-y-0 opacity-100"
        data-transition-leave-end="transform -translate-y-4 opacity-0">
        <%= form_with url: unisci_documenti_bulk_actions_path,
                method: :post,
                data: {
                    bulk_actions_target: "form",
                    action: "turbo:submit-end->bulk-actions#hideAfterSubmit"
                } do |form| %>
            <div class="flex flex-col gap-4 mb-4">
                <div class="flex justify-between items-center gap-2">
                    <%= form.label :causale_id, "Causale", class: "text-sm font-medium text-white" %>
                    <%= form.select :causale_id, Causale.all.map { |c| [c.causale, c.id] },
                        { include_blank: true },
                        class: "rounded-md border-0 py-1.5 px-3 text-gray-900 bg-white" %>
                </div>

                <div class="flex justify-between items-center gap-2">
                    <%= form.label :status, "Stato", class: "text-sm font-medium text-white" %>
                    <%= form.select :status, Documento.statuses.keys.map { |s| [s.titleize, s] },
                        { include_blank: true },
                        class: "rounded-md border-0 py-1.5 px-3 text-gray-900 bg-white" %>
                </div>

                <div class="flex justify-between items-center gap-2">
                    <%= form.label :consegnato_il, "Data Consegna", class: "text-sm font-medium text-white" %>
                    <%= form.date_field :consegnato_il,
                        class: "rounded-md border-0 py-1.5 px-3 text-gray-900 bg-white" %>
                </div>

                <div class="flex justify-between items-center gap-2">
                    <%= form.label :tipo_pagamento, "Tipo Pagamento", class: "block text-sm font-medium text-white mb-1" %>
                    <%= form.select :tipo_pagamento, Documento.tipo_pagamentos.keys.map { |tp| [tp.titleize, tp] },
                        { include_blank: true },
                        class: "rounded-md border-0 py-1.5 px-3 text-gray-900 bg-white" %>
                </div>

                <div class="flex justify-between items-center gap-2">
                    <%= form.label :pagato_il, "Data Pagamento", class: "text-sm font-medium text-white" %>
                    <%= form.date_field :pagato_il,
                        class: "rounded-md border-0 py-1.5 px-3 text-gray-900 bg-white" %>
                </div>
            </div>

            <div class="flex pt-2 w-full justify-center">
                <%= render ButtonComponent.new(busy_content_css: 'flex [[disabled]_&]:opacity-0') do |button| %>
                    <% button.with_busy_content(css: "absolute inset-0 w-full justify-center items-center") do %>
                        <svg stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="size-4"><style>.spinner{transform-origin:center; animation:spinner_outside 2s linear infinite}.spinner circle{stroke-linecap:round;animation:spinner_inside 1.5s ease-in-out infinite}@keyframes spinner_outside{100%{transform:rotate(360deg)}}@keyframes spinner_inside{0%{stroke-dasharray:0 150;stroke-dashoffset:0}47.5%{stroke-dasharray:42 150;stroke-dashoffset:-16}95%,100%{stroke-dasharray:42 150;stroke-dashoffset:-59}}</style><g class="spinner"><circle cx="12" cy="12" r="9.5" fill="none" stroke-width="2"></circle></g></svg>
                    <% end %>
                    Genera Documenti
                <% end %>
                <%#= form.submit "Genera Documenti", class: "mx-auto w-full mt-2 px-4 py-2 text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 rounded-md" %>
            </div>
        <% end %>
    </div>

    <!-- Modifica Stato -->
    <div class="hidden flex-col space-y-2 transition-all duration-300 ease-out origin-top mt-4"
        data-bulk-actions-target="formContainer"
        data-form-id="modifica_stato"
        data-transition-enter="transform transition ease-out duration-300"
        data-transition-enter-start="transform -translate-y-4 opacity-0"
        data-transition-enter-end="transform translate-y-0 opacity-100"
        data-transition-leave="transform transition ease-in duration-200"
        data-transition-leave-start="transform translate-y-0 opacity-100"
        data-transition-leave-end="transform -translate-y-4 opacity-0">
        <%= form_with url: update_stato_documenti_bulk_actions_path,
                method: :patch,
                data: {
                    bulk_actions_target: "form",
                    action: "turbo:submit-end->bulk-actions#hideAfterSubmit"
                } do |form| %>
            <div class="flex flex-col gap-4 mb-4">
                <div class="flex justify-between items-center gap-2">
                    <%= form.label :status, "Stato", class: "block text-sm font-medium text-white mb-1" %>
                    <%= form.select :status, Documento.statuses.keys.map { |s| [s.titleize, s] },
                        { include_blank: true },
                        class: "rounded-md border-0 py-1.5 px-3 text-gray-900 bg-white" %>
                </div>

                <div class="w-full flex gap-2 items-center justify-between">
                    <%= form.label :consegnato_il, "Data Consegna", class: "text-sm font-medium text-white" %>
                    <%= form.date_field :consegnato_il,
                        class: "rounded-md border-0 py-1.5 px-3 text-gray-900 bg-white" %>
                </div>

                <div class="flex justify-between items-center gap-2">
                    <%= form.label :tipo_pagamento, "Tipo Pagamento", class: "block text-sm font-medium text-white mb-1" %>
                    <%= form.select :tipo_pagamento, Documento.tipo_pagamentos.keys.map { |tp| [tp.titleize, tp] },
                        { include_blank: true },
                        class: "rounded-md border-0 py-1.5 px-3 text-gray-900 bg-white" %>
                </div>

                <div class="flex justify-between items-center gap-2">
                    <%= form.label :pagato_il, "Data Pagamento", class: "w-full text-sm font-medium text-white mb-1" %>
                    <%= form.date_field :pagato_il,
                        class: "rounded-md border-0 py-1.5 px-3 text-gray-900 bg-white" %>
                </div>
            </div>

            <div class="flex pt-2 w-full justify-center">
                <%= form.submit "Aggiorna Stato", class: "mx-auto w-full mt-2 px-4 py-2 text-sm font-medium text-white bg-black hover:bg-gray-600 rounded-md" %>
            </div>
        <% end %>
    </div>

    <!-- Elimina -->
    <div class="hidden flex-col space-y-2 transition-all duration-300 ease-out origin-top mt-4"
        data-bulk-actions-target="formContainer"
        data-form-id="elimina"
        data-transition-enter="transform transition ease-out duration-300"
        data-transition-enter-start="transform -translate-y-4 opacity-0"
        data-transition-enter-end="transform translate-y-0 opacity-100"
        data-transition-leave="transform transition ease-in duration-200"
        data-transition-leave-start="transform translate-y-0 opacity-100"
        data-transition-leave-end="transform -translate-y-4 opacity-0">
        <%= form_with url: destroy_all_documenti_bulk_actions_path,
                method: :delete,
                data: {
                    bulk_actions_target: "form",
                    confirm: "Sei sicuro di voler eliminare i documenti selezionati?",
                    action: "turbo:submit-end->bulk-actions#hideAfterSubmit"
                } do |form| %>
            <div class="flex pt-2 w-full justify-center">
                <%= form.submit "Conferma eliminazione", class: "px-4 py-2 text-sm font-medium text-white bg-red-600 hover:bg-red-700 rounded-md" %>
            </div>
        <% end %>
    </div>
<% end %>

<%= render partial: "shared/bulk_actions_container", locals: { form: "documenti" } %>