<%= turbo_stream.append "documenti-lista" do %>
  <%= render partial: "documenti/documento", collection: @documenti_creati %>
<% end %>

<%= turbo_stream.update "flash" do %>
  <%= render "layouts/flash", message: "Documenti uniti con successo", type: "success" %>
<% end %>

<%= turbo_stream.update "flash" do %>
  <div class="alert alert-success">Test turbo stream</div>
<% end %>


<%= turbo_stream.update "documenti_counter" do %>
  <%= current_user.documenti.count %>
<% end %> 