<%= turbo_frame_tag :zone_form do %>
    <div class="flex flex-column gap-half margin-block-start">

        <%= render partial: "zone/zone_select", locals: { regioni: @regioni, province: @province, gradi: @gradi } %>

        <%= form_with url: assegna_scuole_zone_path, class: "flex justify-end margin-block-start-half" do |f| %>

            <%= hidden_field_tag "hregione" %>
            <%= hidden_field_tag "hprovincia" %>
            <%= hidden_field_tag "hgrado" %>

            <%= f.button type: "submit", class: "btn btn--circle btn--link", aria: { label: "Aggiungi zona" } do %>
                <%= icon_tag "plus" %>
            <% end %>
        <% end %>
    </div>
<% end %>
