<%= turbo_frame_tag "form" do %> 
    <%= form_with url: zone_path, method: :get, data: { controller: "tax-dropdown", 
                                                            action: "change->tax-dropdown#submit" 
                                                        
                                                        } do |f| %>

        <div class="flex flex-col sm:flex-row sm:justify-between" >
            <div class="mt-2">
                <%= f.label :regione, class: "label" %>
                <div>    
                    <%= f.select :regione, options_from_collection_for_select(regioni, "regione", "regione", @regione&.regione), 
                                        { prompt: "scegli la regione" }, 
                                        { class: "field", data: { tax_dropdown_target: "regione" } } %>
                </div>
            </div>
            <div class="mt-2">
                <%= f.label :provincia, class: "label" %>
                <div>    
                    <%= f.select :provincia, options_from_collection_for_select(province, "provincia", "provincia", @provincia&.provincia), 
                                    { prompt: "tutte" }, 
                                    { class: "field", data: { tax_dropdown_target: "provincia" } } %>
                </div>
            </div>
        </div> 
        <div class="flex flex-col sm:flex-row sm:items-end sm:justify-between">
            <div class="mt-2"> 
                <%= f.label :grado, class: "label" %>    
                <div>
                    <%= f.select :grado, options_from_collection_for_select(gradi, "grado", "grado", @grado&.grado), 
                                    { prompt: "tutti" }, 
                                    { class: "field", data: { tax_dropdown_target: "grado" } } %>

                </div>
            </div>
            <div class= "mt-2">
                <%= f.label :tipo, class: "label" %> 
                <div>  
                    <%= f.select :tipo, options_from_collection_for_select(tipi, "tipo", "tipo", @tipo&.tipo), 
                                    { prompt: "tutti" }, 
                                    { class: "field", data: { tax_dropdown_target: "tipo" } } %>
                </div>
            </div>
        </div>

    <% end %>
<% end %>
