<div id="user-scuole" class="">
    
    <% current_user.zone.each do |zona, count|%>

        <% zona_id = (zona[1] + "-" + zona[2]).gsub(" ", "-").downcase %>

        <div id="<%= zona_id %>" class="bg-white px-2 py-4 flex justify-between items-center align-center border-b border-gray-300">
            
            <div class="flex flex-row items-center justify-between w-full pr-4">
                <div class="">
                    <span><%= zona.join " -> " %></span>
                </div>
                <div id="<%= zona_id %>-count" class="text-right text-sm">
                    <span><%= count %></span>
                </div>
            </div>
            
            <div class="">
                <%= button_to rimuovi_scuole_zone_path(provincia: zona[1], grado: zona[2]), method: :delete, 
                        class: "mx-2 h-7 w-7 flex text-red-200 justify-center items-center text-center rounded-full bg-red-600 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"  do %>
                    <%= inline_svg_tag "icon-trash.svg" %>
                <% end %>   
            </div>
        </div>							
    <% end %>

</div>