<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
	
	<%= form_with model: user, class: "space-y-6" do |f| %>
		
		<%= render "shared/errors", object: user %>

		<div class="mt-2">
			<%= f.label :name, "Nome", class: "block text-sm font-medium leading-6 text-gray-900" %>
			<%= f.text_field :name, autofocus: true,
				class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"	
			%>
		</div>
		
		<div class="mt-2">
			<%= f.label :email, class: "block text-sm font-medium leading-6 text-gray-900" %>
			<div class="mt-2">
				<%= f.email_field :email, 
					class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6",
					placeholder: "you@example.com" 
				%>
			</div>
		</div>

		<div class="mt-2">
			<%= f.label :partita_iva, class: "block text-sm font-medium leading-6 text-gray-900" %>
			<%= f.text_field :partita_iva,
				class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"
			%>
		</div>
		<div class="mt-2">
			<%= f.label :password, class: "block text-sm font-medium leading-6 text-gray-900" %>
			<%= f.password_field :password,				
				class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"
			%>
		</div>
		<div class="mt-2">
			<%= f.label :password_confirmation, "Conferma Password", class: "block text-sm font-medium leading-6 text-gray-900" %>
			<%= f.password_field :password_confirmation, 				
				class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"
			%>
		</div>

		
		<% if user.new_record? %>
			<%= f.submit "Crea Utente", class: "flex w-full justify-center rounded-md bg-gray-900 px-3.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900" %>
		<% else %>
			<%= f.submit "Modifica Utente", class: "flex w-full justify-center rounded-md bg-gray-900 px-3.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900" %>
		<% end %>


	<% end %>
</div>
