<%= turbo_stream.update "#{dom_id(current_user)}-nr-scuole-assegnate" do %>
	<%= current_user.import_scuole.count %>
<% end %>

<%= turbo_stream.prepend "user-scuole" do %>
	
	<div id="<%= @provincia_tipo %>" class="bg-white px-2 py-4 grid grid-cols-6 justify-between align-center border-b border-gray-300">
		<div class="text-sm col-span-4">
			<span><%= @regione + " -> "+ @provincia + " -> " + @tipo %></span>
		</div>
		<div class="text-right">
			<span><%= @scuole_da_assegnare.count %></span>
		</div>
		<div class="flex justify-end">
			<%= button_to "-", rimuovi_scuole_user_path(provincia: @provincia, tipo: @tipo), method: :delete, 
					class: "mr-2 h-7 w-7 rounded-full bg-red-600 p-1 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" 
			%>
		</div>
	</div>
<% end %>

<%= turbo_stream.update "user_scuole" do %>
	<%= turbo_frame_tag :user_scuole, src: user_scuole_path(current_user), loading: :lazy do %>
		<div class="flex flex-col space-y-6 mt-10">
			<% 10.times do %>
				<div class="animate-pulse flex space-x-4">
					<%# <!-- Avatar -->
					<div class="rounded-full bg-gray-300 h-12 w-12"></div> %>

					<!-- Details -->
					<div class="flex-1 space-y-4 py-1">
						<div class="h-4 bg-gray-300 rounded w-3/4"></div>
						<div class="space-y-2">
							<div class="h-4 bg-gray-300 rounded"></div>
							<div class="h-4 bg-gray-300 rounded w-5/6"></div>
						</div>
					</div>
				</div>
			<% end %>
		</div>   
	<% end%>
<% end %>


