<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-2xl">

    <section class="mt-8">
        <h1><%= @user.name %></h1>
        <h2><%= mail_to(@user.email) %></h2>
        <h2><%= @user.partita_iva %></h2>
        <h2>Scuole assegnate; <%= @user.import_scuole.count %></h2>
        <span>Member Since</span><%= @user.created_at.strftime("%B %Y") %>

    </section>


    
    <section>
        <%= form_with url: assegna_scuole_user_path(@user), class: "mt-8 flex flex-row space-x-3 items-baseline" do |f| %>
            <div>
                <%= f.label :provincia, class: "label" %>
                <div>    
                    <%= f.select :provincia, @provincia_items.map{|t| t.label}, {include_blank: true}, class: "field" %>
                </div>
            </div>
            <div> 
                <%= f.label :grado, class: "label" %>    
                <div>
                    <%= f.select :grado, @grado_items.map{|t| t.label}, {include_blank: true}, class: "field" %>
                </div>
            </div>
            <div>
                <%= f.label :tipo, class: "label" %> 
                <div>  
                    <%= f.select :tipo, @tipo_items.map{|t| t.label}, {include_blank: true}, class: "field" %>
                </div>
            </div>

            <%= f.submit "aggiungi scuole", class: "mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" %>
        <% end %>   
    </section>   

</div>

<div>
    <%= form_with url: assegna_scuole_user_path(@user) do |f| %>
        <div class="flex space-x-4 mt-10 max-w-4xl mx-auto">
            <%= render(FancySelect.new( form_name: :provincia, items: @provincia_items, label: "Scegli la provincia" ))  %>
            <%= render(FancySelect.new( form_name: :grado, items: @grado_items, label: "Scegli il grado scolastico" ))  %>     
            <%= render(FancySelect.new( form_name: :tipo, items: @tipo_items, label: "Scegli il tipo scuola" ))  %>     
            <%= f.submit "aggiungi scuole", class: "mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" %>
        </div>
    <% end %>
</div>  


<div class="mt-12 sm:mt-4 sm:flex sm:flex-row-reverse">
    <%= link_to 'Elimina Utente', @user, class: "inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto",
                data: { turbo_method: :delete, turbo_confirm: "Vuoi eliminare questo Utente definitivamente!?" } %>

    <%= link_to "Modifica Utente", edit_user_path(@user), class: "mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" %>
</div>

