<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-2xl">

    <section class="px-4 mt-8">

        <div class="flex justify-between items-center">  
            <%= h1 do %>
                <%= @user.name %>
                <span class="pl-2 text-sm text-gray-400 font-bold">[<%= @user.role %>] </span>
            <% end %>

            <!--Avatar Upload Form-->

            <div class="">
                <% if current_user.avatar.attached? %>
                    <%= image_tag current_user.avatar_thumbnail %>
                <% else %>
                    <%= image_tag "default_avatar.jpg", class: "h-12 w-12 rounded-full aspect-[1/1] object-center bg-gray-300" %>
                <% end %>
            </div>
        </div>

        <h2 class="mt-2 text-indigo-900 hover:text-indigo-600"><%= mail_to(@user.email) %></h2>
        <p class="mt-2 text-sm mb-2"><%= @user.azienda_partita_iva %></p>
        
        <div class="my-8 sm:my-12 flex items-center justify-between">
            <%= tag.div do %>
                <p class="label pr-4">Informazioni principali:</p>
                <i class="text-xs leading-3">(nome utente, password, ecc.)</i>
            <% end %>
            <%= link_to "Modifica", edit_user_registration_path(@user), class: "btn btn-white" %>
        </div>
        
        <%= form_with url: modifica_navigatore_user_path(current_user), 
                data: { controller: "tax-select", 
                action: "change->tax-select#submit" }  do|f| %>
            <hr/> 
            <div class="flex items-center justify-between gap-x-4 py-2">
                <%= f.label :navigator, "Navigatore preferito", class: "label" %>
                <div>
                    <%= f.select :navigator, 
                            options_for_select(["apple", "google", "waze"], @user.navigator), 
                            { prompt: "scegli il navigatore" }, 
                            { class: "field", data: { tax_dropdown_target: "navigator" } } %>
                </div>
                <%= f.submit "Modifica", class:"hidden" %>
            </div>
            <hr/> 
        <% end %>   

        <span class="block mt-5 text-xs text-right">Member Since <%= @user.created_at.strftime("%B %Y") %></span>
    
    </section>


    <!-- sezione i miei EDITORI -->
    <section class="mt-10">
        
        <%= turbo_frame_tag :mandati_list, src: mandati_path, loading: :lazy do %>
            <%= render 'shared/lazy_loading' %>
        <% end%>

        <%= render partial: "mandati/form", locals: { gruppi: @gruppi, editori: [] } %>

    </section>  


    <!-- sezione La mia Zona -->
    <section class="mt-10">

        <%= turbo_frame_tag :zone_list, src: zone_path, loading: :lazy do %>
            <%= render 'shared/lazy_loading' %>
        <% end%>
                       
        <%= render partial: "zone/form", locals: { regioni: @regioni, province: [], gradi: @gradi, tipi: @tipi } %>
    
    </section>   


    <!-- sezione Le mie scuole -->
    <section class="mt-10">
        <%= turbo_frame_tag :user_scuole, src: user_scuole_path(current_user), loading: :lazy do %>
            <%= render 'shared/lazy_loading' %>
        <% end%>
    </section>

</div>

