<% content_for :bulk_action_buttons_appunti do %>
    
    <%= button_tag class: "mx-auto flex flex-col items-center gap-y-1 px-3 py-2 text-sm font-medium text-white bg-gray hover:bg-gray-600 rounded-md",
            data: { 
              action: "bulk-actions#toggleFormContainer", 
              form_id: "stampa",
              bulk_actions_target: "menuButton"
            } do %>
        <%= icon "printer" %>
        Stampa
    <% end %>

    <%= button_tag class: "mx-auto flex flex-col items-center gap-y-1 px-3 py-2 text-sm font-medium text-white bg-gray hover:bg-gray-600 rounded-md",
            data: { 
              action: "bulk-actions#toggleFormContainer", 
              form_id: "tappa",
              bulk_actions_target: "menuButton"
            } do %>
        <%= icon "map-pin" %>
        Tappa
    <% end %>

    <%= button_tag class: "mx-auto flex flex-col items-center gap-y-1 px-3 py-2 text-sm font-medium text-white bg-gray hover:bg-gray-600 rounded-md",
            data: { 
              action: "bulk-actions#toggleFormContainer", 
              form_id: "stato",
              bulk_actions_target: "menuButton"
            } do %>
        <%= icon "check-circle" %>
        Stato
    <% end %>

    <%= button_tag class: "mx-auto flex flex-col items-center gap-y-1 px-3 py-2 text-sm font-medium text-white bg-red-600 hover:bg-red-700 rounded-md",
            data: { 
              action: "bulk-actions#toggleFormContainer", 
              form_id: "elimina",
              bulk_actions_target: "menuButton"
            } do %>
        <%= icon "trash" %>
        Elimina
    <% end %>
<% end %>

<% content_for :bulk_action_forms_appunti do %>
    
    <%= form_with url: "/appunti/bulk_actions/print_all.pdf", 
            method: :patch, 
            class: "hidden transition-all duration-300 ease-out origin-top mt-4",
            data: { 
                bulk_actions_target: "form formContainer",
                form_id: "stampa",
                transition_enter: "transform transition ease-out duration-300",
                transition_enter_start: "transform -translate-y-4 opacity-0",
                transition_enter_end: "transform translate-y-0 opacity-100",
                transition_leave: "transform transition ease-in duration-200",
                transition_leave_start: "transform translate-y-0 opacity-100",
                transition_leave_end: "transform -translate-y-4 opacity-0"
            } do |form| %>
        <%= tag.div class: "flex pt-2 w-full justify-center" do %>
            <%= form.submit "Conferma Stampa", class: "px-4 py-2 text-sm font-medium text-white bg-gray-900 hover:bg-gray-600 rounded-md" %>
        <% end %>
    <% end %>

    <div class="hidden flex-col space-y-2 transition-all duration-300 ease-out origin-top mt-4"
            data-bulk-actions-target="formContainer"
            data-form-id="tappa"
            data-transition-enter="transform transition ease-out duration-300"
            data-transition-enter-start="transform -translate-y-4 opacity-0"
            data-transition-enter-end="transform translate-y-0 opacity-100"
            data-transition-leave="transform transition ease-in duration-200"
            data-transition-leave-start="transform translate-y-0 opacity-100"
            data-transition-leave-end="transform -translate-y-4 opacity-0">
        <%= form_with url: add_tappa_giorno_appunti_bulk_actions_path, 
                method: :patch,
                data: { 
                    bulk_actions_target: "form",
                    action: "turbo:submit-end->bulk-actions#hideAfterSubmit" 
                } do |form| %>
            <%= form.hidden_field :data_tappa, value: Date.today %>
            <%= tag.div class: "flex pt-2 w-full justify-center" do %>
                <%= form.submit "Oggi", class: "w-full px-4 py-2 text-sm font-medium text-white bg-green-600 hover:bg-green-700 rounded-md" %>
            <% end %>
        <% end %>

        <%= form_with url: add_tappa_giorno_appunti_bulk_actions_path, 
                method: :patch,
                data: { 
                    bulk_actions_target: "form",
                    action: "turbo:submit-end->bulk-actions#hideAfterSubmit" 
                } do |form| %>
            <%= form.hidden_field :data_tappa, value: Date.tomorrow %>
            <%= tag.div class: "flex pt-2 w-full justify-center" do %>
                <%= form.submit "Domani", class: "w-full px-4 py-2 text-sm font-medium text-white bg-yellow-400 hover:bg-yellow-500 rounded-md" %>
            <% end %>
        <% end %>

        <%= form_with url: add_tappa_giorno_appunti_bulk_actions_path, 
                method: :patch,
                data: { 
                    bulk_actions_target: "form",
                    action: "turbo:submit-end->bulk-actions#hideAfterSubmit" 
                } do |form| %>
            <div class="flex justify-between gap-2">
                <%= form.date_field :data_tappa, class: "rounded-md border-0 py-1.5 px-3 text-gray-900" %>
                <%= form.submit "Tappa", class: "px-4 py-2 text-sm font-medium text-white bg-pink-600 hover:bg-pink-700 rounded-md" %>
            </div>
        <% end %>
    </div>

    <%= form_with url: segna_come_appunti_bulk_actions_path, 
            method: :patch, 
            class: "hidden transition-all duration-300 ease-out origin-top mt-4",
            data: { 
                bulk_actions_target: "form formContainer",
                form_id: "stato",
                action: "turbo:submit-end->bulk-actions#hideAfterSubmit",
                transition_enter: "transform transition ease-out duration-300",
                transition_enter_start: "transform -translate-y-4 opacity-0",
                transition_enter_end: "transform translate-y-0 opacity-100",
                transition_leave: "transform transition ease-in duration-200",
                transition_leave_start: "transform translate-y-0 opacity-100",
                transition_leave_end: "transform -translate-y-4 opacity-0"
            } do |form| %>
        <div class="flex gap-2">
            <%= form.select :stato, 
                    Appunto::STATO_APPUNTI, 
                    {}, 
                    class: "rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900" %>
            <%= form.submit "Conferma", class: "px-4 py-2 text-sm font-medium text-white bg-gray hover:bg-gray-600 rounded-md" %>
        </div>
    <% end %>
    
    <div class="hidden flex-col space-y-2 transition-all duration-300 ease-out origin-top  mt-4"
        data-bulk-actions-target="formContainer"
        data-form-id="elimina"
        data-transition-enter="transform transition ease-out duration-300"
        data-transition-enter-start="transform -translate-y-4 opacity-0"
        data-transition-enter-end="transform translate-y-0 opacity-100"
        data-transition-leave="transform transition ease-in duration-200"
        data-transition-leave-start="transform translate-y-0 opacity-100"
        data-transition-leave-end="transform -translate-y-4 opacity-0">
        <%= form_with url: destroy_all_appunti_bulk_actions_path, 
                method: :delete,
                data: { 
                    bulk_actions_target: "form",
                    action: "turbo:submit-end->bulk-actions#hideAfterSubmit" 
                } do |form| %>
            <div class="flex justify-between gap-2">
                <%= form.submit "Conferma eliminazione", class: "px-4 py-2 text-sm font-medium text-white bg-red-600 hover:bg-red-700 rounded-md" %>
            </div>
        <% end %>
    </div>
<% end %>

<%= render partial: "shared/bulk_actions_container", locals: { form: "appunti" } %>