<%# locals: (columns:, column_counts:, postponed_count:, closed_count:) -%>

<%= tag.div class: "card-columns hide-scrollbar", data: {
      controller: "collapsible-columns drag-and-drop",
      collapsible_columns_board_value: "dashboard",
      collapsible_columns_collapsed_class: "is-collapsed",
      collapsible_columns_expanded_class: "is-expanded",
      collapsible_columns_no_transitions_class: "no-transitions",
      collapsible_columns_title_not_visible_class: "is-off-screen",
      drag_and_drop_dragged_item_class: "drag-and-drop__dragged-item",
      drag_and_drop_hover_container_class: "drag-and-drop__hover-container",
      action: "dragstart->drag-and-drop#dragStart dragover->drag-and-drop#dragOver drop->drag-and-drop#drop dragend->drag-and-drop#dragEnd"
    } do %>
  <div class="card-columns__left">
    <section id="postponed" class="cards is-collapsed"
             style="--card-color: oklch(var(--lch-yellow-medium))"
             tabindex="0"
             data-controller="css-variable-counter"
             data-collapsible-columns-target="column"
             data-drag-and-drop-target="container"
             data-column-name="Rimandati"
             data-drag-and-drop-url="<%= entry_not_now_path('__id__') %>"
             data-drag-and-drop-css-variable-name="--card-color"
             data-drag-and-drop-css-variable-value="oklch(var(--lch-yellow-medium))">
      <div class="cards__transition-container">
        <header class="cards__header">
          <button type="button" class="cards__expander"
                  style="--card-count: <%= postponed_count %>"
                  data-collapsible-columns-target="button"
                  data-css-variable-counter-target="counter"
                  data-action="click->collapsible-columns#toggle"
                  aria-expanded="false">
            <span class="cards__expander-count" data-drag-and-drop-counter><%= postponed_count %></span>
            <h3 class="cards__expander-title" data-collapsible-columns-target="title">
              Rimandati
              <%= icon_tag "collapse" %>
            </h3>
          </button>
        </header>
        <%= turbo_frame_tag :postponed_column, src: dashboard_columns_postponed_path,  data: { drag_and_drop_refresh: true } %>
      </div>
    </section>
  </div>

  <section id="triage" class="cards cards--maybe is-expanded"
           tabindex="0"
           data-controller="css-variable-counter"
           data-collapsible-columns-target="column maybeColumn"
           data-drag-and-drop-target="container"
           data-column-name="Da gestire"
           data-drag-and-drop-url="<%= entry_triage_path('__id__') %>"
           data-drag-and-drop-css-variable-name="--card-color"
           data-drag-and-drop-css-variable-value="oklch(var(--lch-blue-medium))">
    <div class="cards__transition-container"
         data-controller="navigable-list"
         data-navigable-list-auto-select-value="false"
         data-navigable-list-actionable-items-value="true"
         data-navigable-list-prevent-handled-keys-value="true"
         data-action="keydown->navigable-list#navigate">
      <header class="cards__header">
        <button type="button" class="cards__expander"
                style="--card-count: <%= @page.records.size %>"
                data-collapsible-columns-target="button"
                data-css-variable-counter-target="counter"
                data-action="click->collapsible-columns#toggle"
                aria-expanded="true">
          <span class="cards__expander-count" data-drag-and-drop-counter><%= @total_count %></span>
          <h3 class="cards__expander-title" data-collapsible-columns-target="title">Da gestire <span class="txt-light">(<%= @total_count %>)</span></h3>
        </button>
      </header>

      <%= render "shared/board_tools" %>

      <%= with_automatic_pagination :entries, @page,
          id: "awaiting_triage_entries",
          class: "cards__list",
          data: { drag_drop_item_container: true } do %>
        <%= render partial: "entries/entry", collection: @page.records, as: :entry %>
      <% end %>
    </div>
  </section>

  <div class="card-columns__right">
    <% columns.each do |column| %>
      <%= render "columns/dashboard_column", column: column, count: column_counts[column.id] || 0 %>
    <% end %>

    <section id="closed" class="cards cards--closed is-collapsed"
             style="--card-color: oklch(var(--lch-green-medium))"
             tabindex="0"
             data-controller="css-variable-counter"
             data-collapsible-columns-target="column"
             data-drag-and-drop-target="container"
             data-column-name="Chiusi"
             data-drag-and-drop-url="<%= entry_closure_path('__id__') %>"
             data-drag-and-drop-css-variable-name="--card-color"
             data-drag-and-drop-css-variable-value="oklch(var(--lch-green-medium))">
      <div class="cards__transition-container">
        <header class="cards__header">
          <button type="button" class="cards__expander"
                  style="--card-count: <%= closed_count %>"
                  data-collapsible-columns-target="button"
                  data-css-variable-counter-target="counter"
                  data-action="click->collapsible-columns#toggle"
                  aria-expanded="false">
            <span class="cards__expander-count" data-drag-and-drop-counter><%= closed_count %></span>
            <h3 class="cards__expander-title" data-collapsible-columns-target="title">
              Chiusi
              <%= icon_tag "collapse" %>
            </h3>
          </button>
        </header>
        <%= turbo_frame_tag :closed_column, src: dashboard_columns_closed_path,  data: { drag_and_drop_refresh: true } %>
      </div>
    </section>

    <%= render "columns/new_column_button" %>
  </div>
<% end %>
