<% @page_title = "Gestione Colonne" %>

<%= render HeadingComponent.new(title: "Gestione Colonne") do |c| %>
  <% c.with_actions do %>
    <%= link_to new_column_path, class: "btn", data: { turbo_frame: "modal" } do %>
      <%= icon_tag "add" %>
      <span>Nuova colonna</span>
    <% end %>
  <% end %>
<% end %>

<section class="panel margin-block">
  <div id="columns_list" class="flex flex-column gap">
    <% @columns.each do |column| %>
      <%= render "columns/column", column: column %>
    <% end %>
  </div>

  <% if @columns.empty? %>
    <div class="blank-slate padding">
      <p class="txt-subtle">Nessuna colonna configurata.</p>
      <%= link_to new_column_path, class: "btn btn--primary", data: { turbo_frame: "modal" } do %>
        <%= icon_tag "add" %>
        <span>Crea la prima colonna</span>
      <% end %>
    </div>
  <% end %>
</section>

<section class="panel margin-block">
  <header class="panel__header">
    <h3>Aggiungi nuova colonna</h3>
  </header>
  <div id="new_column_form" class="padding">
    <%= render "columns/form", column: current_account.columns.build, submit_label: "Aggiungi colonna" %>
  </div>
</section>
