<% @page_title = @column.name %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to dashboard_path, class: "btn btn--circle" do %>
      <%= icon_tag "back" %>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis" style="color: <%= @column.color %>"><%= @column.name %></span>
    <span class="badge"><%= @summary.entries_count %></span>
  </h1>

  <div class="header__actions header__actions--end"></div>
<% end %>

<%# === SEZIONE 1: Entries per scuola === %>
<div class="column-summary__panels">
  <% @summary.grouped_by_scuola.each do |destinatario, entries| %>
    <section class="column-summary__panel cards cards--grid">
      <header class="panel__header">
        <h3><%= destinatario&.denominazione || "Senza destinatario" %></h3>
        <% if destinatario.respond_to?(:comune) && destinatario.comune.present? %>
          <span class="txt-subtle txt-small"><%= destinatario.comune %></span>
        <% end %>
        <span class="badge"><%= entries.size %></span>
      </header>
      <div class="cards__list" data-controller="navigable-list">
        <% entries.each do |entry| %>
          <%= render "entries/entry", entry: entry, draggable: false %>
        <% end %>
      </div>
    </section>
  <% end %>
</div>

<%# === SEZIONE 2: Volumi da consegnare === %>
<% if @summary.volumi.any? %>
  <% causali = @summary.volumi_causali %>
  <section class="panel margin-block">
    <header class="panel__header">
      <h3>Volumi da consegnare</h3>
    </header>
    <table class="table">
      <thead>
        <tr>
          <th>Titolo</th>
          <th class="txt-right">Totale</th>
          <% causali.each do |causale| %>
            <th class="txt-right txt-small" style="color: <%= causale_color(causale) %>"><%= causale %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @summary.volumi.each do |libro, per_causale| %>
          <tr>
            <td><%= libro&.titolo %></td>
            <td class="txt-right"><strong><%= per_causale.values.sum %></strong></td>
            <% causali.each do |causale| %>
              <% q = per_causale[causale] %>
              <td class="txt-right"><%= q != 0 ? q : "" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td><strong>Totale</strong></td>
          <td class="txt-right"><strong><%= @summary.volumi.sum { |_, pc| pc.values.sum } %></strong></td>
          <% causali.each do |causale| %>
            <% tot = @summary.volumi.sum { |_, pc| pc[causale] } %>
            <td class="txt-right"><strong><%= tot != 0 ? tot : "" %></strong></td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </section>
<% end %>

<%# === SEZIONE 3: Adozioni === %>
<% if @summary.adozioni_per_scuola.any? %>
  <section class="panel margin-block">
    <header class="panel__header">
      <h3>Adozioni</h3>
    </header>

    <% @summary.adozioni_per_scuola.each do |scuola, adozioni| %>
      <div class="padding-block-small padding-inline">
        <h4 class="txt-subtle"><%= scuola.denominazione %> - <%= scuola.comune %></h4>

        <table class="table txt-small">
          <thead>
            <tr>
              <th>Classe</th>
              <th>Disciplina</th>
              <th>Titolo</th>
              <th>Editore</th>
              <th class="txt-right">Copie</th>
            </tr>
          </thead>
          <tbody>
            <%# Raggruppa per anno_corso + disciplina + codice_isbn, aggrega sezioni %>
            <% adozioni.group_by { |a| [a.classe.anno_corso, a.disciplina, a.codice_isbn] }.each do |(anno, disciplina, _isbn), gruppo| %>
              <% sezioni = gruppo.map { |a| a.classe.sezione }.compact.sort.join("") %>
              <% copie = gruppo.sum(&:numero_copie) %>
              <tr>
                <td><%= anno %> <%= sezioni %></td>
                <td><%= disciplina %></td>
                <td><%= gruppo.first.titolo %></td>
                <td><%= gruppo.first.editore %></td>
                <td class="txt-right"><%= copie %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </section>
<% end %>
