<%# locals: (libro:, giacenza: nil) -%>

<section id="<%= dom_id(libro, :container) %>" class="card-perma" style="--card-color: <%= libro_sconto_color(libro) %>;">
  <div class="card-perma__bg">
    <article class="card">
      <header class="card__header">
        <%= render "libri/display/perma/board", libro: libro %>
      </header>

      <div class="card__body justify-space-between">
        <div class="card__content">
          <%= turbo_frame_tag libro, :edit do %>
            <%= render "libri/container/content_display", libro: libro %>
          <% end %>
        </div>
      </div>

      <footer class="card__footer full-width">
        <%= render "libri/display/perma/meta", libro: libro %>
      </footer>
    </article>
  </div>

  <div class="card-perma__notch card-perma__notch--bottom">
    <%= turbo_frame_tag libro, :footer do %>
      <%= render "libri/container/footer_display", libro: libro %>
    <% end %>
  </div>
</section>
