<%# locals: (scuola:) -%>

<div class="card__meta" id="<%= dom_id(scuola, :meta) %>">
  <div class="card__meta-avatars card__meta-avatars--author">
    <% scuola_assigned_users(scuola).each do |user| %>
      <%= avatar_tag(user, hidden_for_screen_reader: true) %>
    <% end %>
  </div>

  <% if scuola.direzione.present? %>
    <span class="card__meta-text card__meta-text--added">
      <span>dipende da:</span>
    </span>

    <span class="card__meta-text card__meta-text--author">
      <span><%= scuola.direzione.denominazione.titleize %></span>
    </span>
  <% end %>

  <span class="card__meta-text card__meta-text--updated">
    &nbsp;
  </span>

  <span class="card__meta-text card__meta-text--assignees">
    &nbsp;
  </span>

  <span class="card__meta-text card__meta-text--copie txt-align-end">
    <% if scuola.classi_count > 0 %>
      <strong><%= scuola.classi_count %></strong> classi
    <% else %>
      &nbsp;
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--importo txt-align-end">
    <% if scuola.mie_adozioni_count > 0 %>
      <strong class="txt-positive"><%= pluralize(scuola.mie_adozioni_count, "mia adozione", "mie adozioni") %></strong>
    <% else %>
      &nbsp;
    <% end %>
  </span>
</div>
