<%# locals: (scuola:) -%>

<div class="card__meta" id="<%= dom_id(scuola, :meta) %>">
  <div class="card__meta-avatars card__meta-avatars--author">
    <% scuola_assigned_users(scuola).each do |user| %>
      <%= avatar_tag(user, hidden_for_screen_reader: true) %>
    <% end %>
  </div>

  <% if scuola.direzione.present? %>
    <span class="card__meta-text card__meta-text--added">
      <span>dipende da:</span>
    </span>

    <span class="card__meta-text card__meta-text--author">
      <%= link_to scuola.direzione.denominazione.titleize, scuola_path(scuola.direzione), data: { turbo_frame: "_top" } %>
    </span>
  <% end %>

  <span class="card__meta-text card__meta-text--updated">
    &nbsp;
  </span>

  <span class="card__meta-text card__meta-text--assignees">
    &nbsp;
  </span>

  <% if scuola.direzione? %>
    <%# sum in Ruby sui plessi precaricati (evita N+1 nelle liste) %>
    <% total_classi = scuola.classi_count + scuola.plessi.to_a.sum { |p| p.classi_count.to_i } %>
    <% total_adozioni = scuola.mie_adozioni_count + scuola.plessi.to_a.sum { |p| p.mie_adozioni_count.to_i } %>
  <% else %>
    <% total_classi = scuola.classi_count %>
    <% total_adozioni = scuola.mie_adozioni_count %>
  <% end %>

  <span class="card__meta-text card__meta-text--copie txt-align-end">
    <% if total_classi > 0 %>
      <strong><%= total_classi %></strong> classi
    <% else %>
      &nbsp;
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--importo txt-align-end">
    <% if total_adozioni > 0 %>
      <strong class="txt-positive"><%= pluralize(total_adozioni, "mia adozione", "mie adozioni") %></strong>
    <% else %>
      &nbsp;
    <% end %>
  </span>
</div>
