<%= tag.div class: "relative flex items-center justify-center",
            data: { controller: "dropdown", action: "click->dropdown#toggle click@window->dropdown#hide" } do %>
     

    <%= tag.div class: "-mr-2 hover:text-sky-500",
                type: "button",
                id: "titolo-menu-button_#{dom_id import_adozione}",
                aria: { expanded: false, haspopup: true},
                data: { dropdown_target: "button" } do %>
        <span class="sr-only">Apri menu titolo</span>
        <%= inline_svg_tag  "icon-ellipsis-vertical.svg", class: "p-0.5" %>
    <% end %>


    <%= tag.div class: "hidden absolute right-0 top-5 mt-2.5 w-32 z-10 rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none",
        data: { dropdown_target: "menu",
                transition_enter: "transition ease-out duration-200",
                transition_enter_from: "opacity-0",
                transition_enter_to: "opacity-95",
                transition_leave: "transition ease-in duration-150",
                transition_leave_from: "opacity-95",
                transition_leave_to: "opacity-0"
              } do %>


        <!-- Active: "bg-gray-50", Not Active: "" -->
        <%= link_to new_adozione_path( import_adozione_id: import_adozione.id),
                        data: { turbo_frame: :modal, action: "click->dialog#open" },
                        class: "block px-3 py-1 text-sm leading-6 text-gray-900",
                        role: "menuitem", tabindex: "-1", id: "titolo-menu-item-2" do %>

            ADOTTA!!!
        <% end %>

        <!-- Active: "bg-gray-50", Not Active: "" -->
        <%= link_to new_appunto_path( import_scuola_id: import_adozione.import_scuola.id,
                                      import_adozione_id: import_adozione.id),
                        data: { turbo_frame: :modal, action: "click->dialog#open" },
                        class: "block px-3 py-1 text-sm leading-6 text-gray-900",
                        role: "menuitem", tabindex: "-1", id: "titolo-menu-item-2" do %>

            nuovo appunto
        <% end %>

        <% if import_adozione.mia_adozione? %>

            <% ["saggio", "seguito", "kit"].each do |m| %>

                <!-- scarico saggio -->
                <%= form_with model: current_user.appunti.build,
                            class: "block px-3 py-1 text-sm leading-6 text-gray-900",
                            role: "menuitem", tabindex: "-1", id: "titolo-menu-item-2" do |f| %>
                    <%= f.hidden_field :import_scuola_id, value: import_adozione.import_scuola.id %>
                    <%= f.hidden_field :import_adozione_id, value: import_adozione.id %>
                    <%= f.hidden_field :nome, value: m %>
                    <%= f.submit  m, class: "text-left w-full cursor-pointer" %>
                <% end %>
            <% end %>
        <% end %>

                        
    <% end %>

    
<% end %>