<div id="<%= dom_id import_adozione %>" 
	class=" flex justify-between">

	<div class="flex items-center justify-start">		
		<div class="mt-2 text-gray-900">
				<%= card_sezione import_adozione %>
		</div>
		<%= render partial: "import_adozioni/card_titolo", locals: { import_adozione: import_adozione} %>
    </div>
	<div class="my-3 px-3 font-semibold">
		
		<div class="text-sm text-gray-900 hover:text-indigo-500" >
			<%= link_to( 
					highlight(import_adozione.import_scuola.scuola, params_split(params[:search])),
					import_scuola_path(import_adozione.import_scuola),
					data: { turbo_frame: "_top"}
				)
			%>
		</div>	

		<div class="">
			<%= highlight import_adozione.citta, params_split(params[:search]) %>
		</div>

		
	</div>
	


</div>
