<li id="<%= dom_id import_adozione %>" class="bg-white grid grid-cols-2 overflow-hidden rounded-xl border border-gray-200">

    <div class="my-3 px-3">
      	<p class="text-xs">
			<%= import_adozione.CODICESCUOLA %>
		</p>
		<p>
			<%= import_adozione.ANNOCORSO[0] %>
			<%= import_adozione.SEZIONEANNO %>
			<span class="text-xs">
				<%= import_adozione.COMBINAZIONE.downcase %>
			</span>
		</p>
		    	<%= import_adozione.DISCIPLINA.titleize %>
		<p>
    		<strong class="block font-medium mb-1">N.A.C.:</strong>
			<%= import_adozione.NUOVAADOZ %>
			<%= import_adozione.DAACQUIST %>
			<%= import_adozione.CONSIGLIATO %>
		</p>
  	</div>

	<div class="my-3 px-3">
		<div class=text-xs >
			<%= import_adozione.AUTORI.titleize %>
		</div>
		
		<div class="font-semibold" >
			<%= import_adozione.TITOLO %>
		</div>
		
		<div>
	    	<span class="text-xs">
				vol. <%= import_adozione.VOLUME %>
				<%= import_adozione.SOTTOTITOLO.downcase %>
			</span>
		</div>
		
		<div>
			<%= import_adozione.EDITORE %>
		</div>
		
		<div class="flex justify-between">
			<div class="flex-1 text-xs sm:text-base"> 
				<%= import_adozione.CODICEISBN %>	
			</div>
			<div class="flex-1 sm:flex-none text-right">	
				€ <%= import_adozione.PREZZO %>
			</div>
		</div>
  	
	</div>




 	 <% if action_name != "show" %>

  	<% end %>
</li>
