
<div id="<%= dom_id import_adozione %>" class="grid grid-cols-2 overflow-hidden rounded-xl border border-gray-200 text-gray-400 text-xs">

    <div class="my-3 px-3 font-semibold">
		
		<div class="text-sm text-gray-900 hover:text-indigo-500" >
			<%= import_adozione.scuola %>
		</div>	
		<p class="">
			<%= import_adozione.citta %>
		</p>
		<p class="mt-2 text-gray-900">
			<%= import_adozione.ANNOCORSO[0] %>
			<%= import_adozione.SEZIONEANNO %>
			<span class="text-xs font-normal text-gray-400">
				<%= import_adozione.COMBINAZIONE.downcase %>
			</span>
		</p>
		
		<span class="mt-2 text-gray-400"> 
		 	<%= import_adozione.DISCIPLINA.titleize %> 
		</span>
	</div>
	<%= tag.div class: [
			"p-3": true
		] do %>
		
		<div class="text-sm font-semibold text-gray-900" >
			<%= import_adozione.titolo %>
		</div>		
		<div>
			<%= import_adozione.editore %>
		</div>  	
	<% end %>

</div>


