<div id="<%= dom_id import_adozione %>" class="flex width-1/2">
  
  <div class="flex">
    <p class="my-5">
      <strong class="block font-medium mb-1">CodiceScuola:</strong>
      <%= import_adozione.CODICESCUOLA %>
    </p>
  </div>

  <div class="flex">
  <p class="my-5">
    <strong class="block font-medium mb-1">Classe:</strong>
    <%= import_adozione.ANNOCORSO %>
    <%= import_adozione.SEZIONEANNO %>
    <%= import_adozione.COMBINAZIONE %>
  </p>
  </div>




  <p class="my-5">
    <strong class="block font-medium mb-1">Codiceisbn:</strong>
    <%= import_adozione.CODICEISBN %>
    <%= import_adozione.AUTORI.capitalize %>
  </p>

  <p class="my-5">
    <%= import_adozione.TITOLO %>
    -
    <%= import_adozione.SOTTOTITOLO %>
    -
    vol.<%= import_adozione.VOLUME %>
    -
    <%= import_adozione.EDITORE %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Prezzo:</strong>
    <%= import_adozione.PREZZO %>
    <%= import_adozione.DISCIPLINA %>
  </p>


  <p class="my-5">
    <strong class="block font-medium mb-1">N.A.C.:</strong>
    <%= import_adozione.NUOVAADOZ %>
    <%= import_adozione.DAACQUIST %>
        <%= import_adozione.CONSIGLIATO %>
  </p>


  <% if action_name != "show" %>

  <% end %>
</div>
