<div id="<%= dom_id import_adozione %>" 
	class=" flex justify-between">

    <div class="my-3 px-3 font-semibold">
		
		<div class="text-sm text-gray-900 hover:text-indigo-500" >
			<%= link_to( 
					highlight(import_adozione.import_scuola.scuola, params_split(params[:search])),
					import_scuola_path(import_adozione.import_scuola),
					data: { turbo_frame: "_top"}
				)
			%>
		</div>	

		<div class="">
			<%= highlight import_adozione.citta, params_split(params[:search]) %>
		</div>
		<div class="mt-2 text-gray-900">
			<%= import_adozione.classe[0] %>
			<%= import_adozione.sezione %>
		</div>
		
	</div>
	<%= tag.div class: [
			"p-3": true
		] do
	%>	
		<div class="text-sm font-semibold text-gray-900" >
			<%= highlight import_adozione.disciplina, params_split(params[:search]) %>
		</div>
		<div class="text-sm font-semibold text-gray-900" >
			<%= highlight import_adozione.titolo, params_split(params[:search]) %>
		</div>
		
		<div>
			<%= import_adozione.editore %>
		</div>  	
	<% end %>

</div>

