<div id="<%= dom_id import_adozione %>" class="flex width-1/2">
  

    <div class="my-5">
      	<p>
			<%= import_adozione.CODICESCUOLA %>
		</p>
		<p>
			<%= import_adozione.ANNOCORSO %>
			<%= import_adozione.SEZIONEANNO %>
			<span class="text-xs">
				<%= import_adozione.COMBINAZIONE %>
			</span>
		</p>
	</div>


	<div class="my-5">
		<p>
			<%= import_adozione.AUTORI.titleize %>
		</p>
		<p class="font-semibold" >
			<%= import_adozione.TITOLO %>
		</p>
		<p>
	    	<span class="text-xs">
				vol. <%= import_adozione.VOLUME %>
				<%= import_adozione.SOTTOTITOLO.downcase %>
			</span>

		</p>
		<p>
			<%= import_adozione.EDITORE %>
			isbn <%= import_adozione.CODICEISBN %>		
			€ <%= import_adozione.PREZZO %>
		</p>
	</div>

  <p class="my-5">
    <strong class="block font-medium mb-1">Prezzo:</strong>

    <%= import_adozione.DISCIPLINA %>
  </p>




  <p class="my-5">
    <strong class="block font-medium mb-1">N.A.C.:</strong>
    <%= import_adozione.NUOVAADOZ %>
    <%= import_adozione.DAACQUIST %>
        <%= import_adozione.CONSIGLIATO %>
  </p>


  <% if action_name != "show" %>

  <% end %>
</div>
