<div id="<%= dom_id import_adozione %>" class="relative bg-white grid grid-cols-2 overflow-hidden rounded-xl border border-gray-200 text-gray-400 text-xs">

	<%= link_to new_appunto_path(import_scuola_id: import_adozione.import_scuola.id,
								 import_adozione_id: import_adozione.id),
				data: { turbo_frame: :modal, action: "click->dialog#open"},
				class: "absolute right-2 top-2 -m-2 p-2.5 text-gray-400 hover:text-gray-500" do %>
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
		</svg>
	<% end %>

    <div class="my-3 px-3 font-semibold">
		
		<div class="text-sm text-gray-900 hover:text-indigo-500" >
			<%= link_to( 
					highlight(import_adozione.import_scuola.DENOMINAZIONESCUOLA, params_split(params[:search])),
					import_scuola_path(import_adozione.import_scuola),
					data: { turbo_frame: "_top"}
				)
			%>
		</div>	

		<p class="">
			<%= highlight import_adozione.citta, params_split(params[:search]) %>
		</p>
		<p class="mt-2 text-gray-900">
			<%= import_adozione.ANNOCORSO[0] %>
			<%= import_adozione.SEZIONEANNO %>
			<span class="text-xs font-normal text-gray-400">
				<%= import_adozione.COMBINAZIONE.downcase %>
			</span>
		</p>
		
		<span class="mt-2 text-gray-400"> 
		 	<%= import_adozione.DISCIPLINA.titleize %> 
		</span>
	</div>
	<%= tag.div class: [
			"p-3": true,
			"bg-gray-200":   !import_adozione.mia_adozione?(@miei_editori),
			"bg-yellow-200": import_adozione.mia_adozione?(@miei_editori)
		] do
	%>
		<div class="truncate">
			<%= highlight import_adozione.AUTORI.titleize, params_split(params[:search]) %>
		</div>
		
		<div class="text-sm font-semibold text-gray-900" >
			<%= highlight import_adozione.TITOLO, params_split(params[:search]) %>
		</div>
		
		<div>
	    	<span>
				vol. <%= import_adozione.VOLUME %>
				<%= import_adozione.SOTTOTITOLO.downcase.delete_prefix("nd") %>
			</span>
		</div>
		
		<div>
			<%= import_adozione.EDITORE %>
		</div>  	
	<% end %>



	<div class="px-3 py-2 text-xs">
		<div class="flex justify-between text-center" >
			<div class="">
				new
			</div>
			<div class="">
				da acq.
			</div>
			<div class="">
				cons.
			</div>
		</div>

		<div class="flex justify-between text-center" >
			<div>
				<%= import_adozione.NUOVAADOZ %>
			</div>
			<div>
				<%= import_adozione.DAACQUIST %>
			</div>
			<div>
				<%= import_adozione.CONSIGLIATO %>
			</div>
		</div>
	</div>
	<%= tag.div class: [
			"pt-5 px-3 flex justify-between": true,
			"bg-gray-200": !import_adozione.mia_adozione?(@miei_editori),
			"bg-yellow-200": import_adozione.mia_adozione?(@miei_editori)
		] do
	%>

		<div class=""> 
			<%= import_adozione.CODICEISBN %>	
		</div>
		<div class="text-right">	
			€ <%= import_adozione.PREZZO %>
		</div>

	<% end %>

</div>

