<%= heading do %>	

	<%= h1 {"Adozioni"} %>

	<div class="pl-4 flex flex-col justify-left space-y-2 sm:flex-row sm:justify-between sm:align-center sm:space-y-0 sm:space-x-4">
		<div class="">
			<%= toggle_button_tag( false, "mie adozioni", "adozioni" )%>
		</div>
		<div class="">
			<%= toggle_button_tag( false, "da acquistare", "acquistare" )%>
		</div>
		<div class="">
			<%= toggle_button_tag( false, "cerca ogni parola", "parole" ) %>
		</div>
	</div>

<% end %>


<%= turbo_frame_tag "search_results" do %>

	<%= render partial: "stats" %>

	

		<div id="import_adozioni" class="py-5 grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 2xl:grid-cols-3 xl:gap-x-8">
			<p class="only:block hidden py-8 text-center lg:col-span-2 2xl:col-span-3">
				Whoops! Non ci sono adozioni. 
				<%= link_to "Devi impostare la Zona nel tuo profilo", user_path(current_user), data: { turbo_frame: "_top"}, class: "underline font-semibold" unless params[:search] || !current_user.import_scuole.empty? %>
			</p>
			<%= render @page.records %>
		</div>

		<% unless @page.last? %>
			<%= turbo_frame_tag "load_more",
						src: import_adozioni_path(
								search: params[:search], 
								page: @page.next_param, 
								da_acquistare: params[:da_acquistare], 
								search_query: params[:search_query], 
								mie_adozioni: params[:mie_adozioni],
								format: :turbo_stream
						),
						loading: :lazy do %>
				<%= render 'shared/lazy_loading' %>
			<% end %>
		<% end %>

<% end %>





  


