<div class="w-full p-3">
  
  	<% if notice.present? %>
    	<p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  	<% end %>

  	<div class="flex grid-cols-2 justify-items-center mb-3">
    	<div class="flex-1">
			<h2 class="font-bold text-2xl">Adozioni</h1>
		</div>
		
		<div class="flex grid-cols-2">
			<div class="flex-1">
				<%= toggle_button_tag( false, "da acquistare", "acquistare" )%>
			</div>
			<div class="ml-10">
				<%= toggle_button_tag( false, "cerca ogni parola", "parole" ) %>
			</div>
		</div>
    </div>

  	<%= turbo_frame_tag "search_results" do %>

		<%= render partial: "stats" %>

		<%= turbo_frame_tag "adozioni_page#{@pagy.page}" do %>
			<ul id="import_adozioni" role="list" class="py-5 grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 2xl:grid-cols-3 xl:gap-x-8">
				<%= render @import_adozioni %>
			</ul>
			<% if @pagy.next %>
      			<%= turbo_frame_tag "adozioni_page#{@pagy.next}",
                          src: import_adozioni_path(page: @pagy.next),
                          loading: :lazy do %>
       				<div class="loader">Loading...</div>
     			<% end %>
    		<% end %>
		<% end %>
	<% end %>

</div>

