<%= render Heading::WithActionsComponent.new do |heading| %>

	<%# button print pdf sovrapacchi %>
	<%# <% heading.with_action do %>
		<%# <%= component 'tax_button',
                caption: "Etichette",
                svg_file: "icon-tag.svg",
                color: "pink",
                url: url_for( controller: "import_adozioni", action: "index", format: :pdf, params: request.query_parameters ) %>
	<%# <% end %>
	
	<%# button export excel %>
	<%# <% heading.with_action do %>
		 <%# <%= component 'tax_button',
                caption: "Excel",
                svg_file: "icon-excel-bis.svg",
                color: "green",
                url: url_for( controller: "import_adozioni", action: "index", format: :xlsx, params: request.query_parameters ) %>
	<%# <% end %>
	
	<%# button old filters %>
	<% heading.with_action do %>
		<div class="pl-4 flex items-end justify-left space-y-2 sm:flex-row sm:justify-between sm:align-center sm:space-y-0 sm:space-x-4">
			<div class="">
				<%#= toggle_button_tag( params["mie_adozioni"] == "si", "mie adozioni", "adozioni" )%>
			</div>
			<div class="">
				<%= toggle_button_tag( params["da_acquistare"] == "si", "da acquistare", "acquistare" )%>
			</div>
			<div class="">
				<%= toggle_button_tag( false, "cerca ogni parola", "parole" ) %>
			</div>
		</div>
	<% end %>

	<%= h1 {"Adozioni"} %>

<% end %>

<%= turbo_frame_tag "search_results", data: {controller: 'tax-checkbox-select-all'} do %>
	
	<%= render partial: "import_adozioni/stats" %>

	

	<%= tag.div class: "flex flex-col sm:flex-row sm:gap-4" do %>
		
		<div class="flex flex-col">
			<%= render partial: "form_multi" %>
			<div id="import_adozioni" class="py-5 w-full grid grid-cols-1 gap-x-6 gap-y-8 2xl:grid-cols-2">
				<p class="only:block hidden py-8 px-4 text-center 2xl:col-span-2 ">
					Whoops! Non ci sono adozioni. 
					<%= link_to "Devi impostare la Zona nel tuo profilo", user_path(current_user), data: { turbo_frame: "_top"}, class: "underline font-semibold" unless params[:search] || !current_user.import_scuole.empty? %>
				</p>		
				<%= render partial: "import_adozioni/import_adozione_small", collection: @page.records, as: :import_adozione %>
			</div>
		
			<% unless @page.last? %>
				<%= turbo_frame_tag "load_more",
							src: import_adozioni_path(request.query_parameters.merge(page: @page.next_param, format: :turbo_stream, search: params[:search])),
							loading: :lazy do %>
					<%= render 'shared/lazy_loading' %>
				<% end %>
			<% end %>
		</div>
	<% end %>

<% end %>

<aside class="fixed inset-y-0 right-0 hidden w-72 overflow-y-auto pt-[184px] lg:px-8 lg:block">
<%= component 'tax_filter_form', base_url: documenti_path, 
			fields: [ 
				{
					field: :scuola,
					label: "Scuola",
					collection: nil,
					type: :text,
					placeholder: "scuola..."
				}, {
					field: :titolo,
					label: "Titolo",
					collection: nil,
					type: :text,
					placeholder: "titolo..."
				}, {
					field: :editore,
					label: "Editore",
					collection: nil,
					type: :text,
					placeholder: "editore..."
				}, {
					field: :disciplina,
					label: "Disciplina",
					collection: nil,
					type: :text,
					placeholder: "disciplina..."
				}, {
					field: :classe,
					label: "Classe",
					collection: ["1", "2", "3", "4", "5"],
					type: :select,
					placeholder: "classe..."
				}, {
					field: :nel_baule,
					label: "Nel baule",
					collection: ["oggi", "domani"],
					type: :select,
					placeholder: "nel baule?"
				}, {
					field: :da_acquistare,
					label: "Da acquistare",
					collection: ["si"],
					type: :select,
					placeholder: "da acquistare"
				}, {
					field: :mie_adozioni,
					label: "Mie adozioni",
					collection: ["si", "no"],
					type: :checkbox,
					placeholder: "mie adozioni?"
				}
			] %>

</aside>

		

		





  


