<%# locals: (persona:, scuola:) -%>

<section class="group">
  <h3 class="divider divider--fade divider--card txt-medium font-weight-black margin-block-end">
    Saggi
    <% saggi = persona.saggi.per_scuola(scuola).includes(:libro).order(created_at: :desc) %>
    <% if saggi.any? %>
      <span class="txt-x-small txt-subtle font-weight-normal">(<%= saggi.size %>)</span>
    <% end %>
  </h3>

  <% if saggi.any? %>
    <dl class="dl-grid dl-grid--center txt-small">
      <% saggi.each do |saggio| %>
        <dt class="txt-x-small" style="line-height: 1.1;">
          <span class="font-weight-bold"><%= link_to saggio.libro.titolo, saggio.libro, class: "txt-link" %></span>
          <br><span class="txt-xx-small txt-subtle"><%= saggio.libro.editore&.editore %></span>
        </dt>
        <dd class="flex align-center gap-half">
          <span class="badge <%= saggio.consegnato? ? 'txt-positive' : 'txt-accent' %>">
            <%= saggio.stato %>
          </span>
          <span class="txt-xx-small txt-subtle">x<%= saggio.quantita %></span>
          <% if saggio.prenotato? %>
            <%= button_to scuola_persona_saggio_path(scuola, persona, saggio),
                method: :patch,
                params: { saggio: { stato: :consegnato } },
                class: "btn btn--small txt-positive borderless",
                title: "Segna consegnato" do %>
              <%= icon_tag "check", size: "small" %>
            <% end %>
          <% end %>
          <% unless saggio.scaricato? %>
            <%= button_to scuola_persona_saggio_path(scuola, persona, saggio),
                method: :delete,
                class: "btn btn--small txt-negative borderless",
                title: "Elimina" do %>
              <%= icon_tag "x-mark", size: "small" %>
            <% end %>
          <% end %>
        </dd>
      <% end %>
    </dl>
  <% end %>

  <%# Inline form %>
  <%= form_with model: Saggio.new,
      url: scuola_persona_saggi_path(scuola, persona),
      class: "flex gap-half align-end flex-wrap margin-block-start-half" do |f| %>
    <fieldset class="flex-item-grow" style="flex-basis: 200px;">
      <%= f.combobox :libro_id, libri_path,
          placeholder: "Cerca libro...",
          name_when_new: "libro_search" %>
    </fieldset>
    <fieldset>
      <%= f.select :stato, [["Prenotato", "prenotato"], ["Consegnato", "consegnato"]],
          {}, class: "input" %>
    </fieldset>
    <fieldset style="width: 60px;">
      <%= f.number_field :quantita, value: 1, min: 1, class: "input full-width", placeholder: "Qt\u00E0" %>
    </fieldset>
    <%= f.submit "Aggiungi", class: "btn btn--primary btn--small" %>
  <% end %>
</section>
