<%= form_with(model: giro, builder: RailsDesigner::FormBuilder) do |form| %>

    <% if giro.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2><%= pluralize(giro.errors.count, "error") %> prohibited this giro from being saved:</h2>
            <ul>
                <% giro.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="my-5">
        <%= component "field" do |field| %>
            <% field.with_label { render FormLabelComponent.new(form: form, field: :titolo, label: "Titolo") } %>
            <%= form.text_field :titolo, placeholder: "titolo", autofocus: :true %>
        <% end %>
    </div>

           
    <div class="my-5">
        <%= component "field" do |field| %>
            <%= field.with_label { render FormLabelComponent.new(form: form, field: :descrizione, label: "Descrizione") } %>
            <% field.with_hint { "Qui puoi segnare le note per il giro" } %>
            <%= form.text_area :descrizione, rows: 3, placeholder: "descrizione..." %>
        <% end %>
    </div>  

    <div class="inline hotwire-native:hidden">
        <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>

    <div class="hidden">
        <%= form.submit data: {
                controller: "bridge--button",
                bridge_title: "Salva"
        } %>
    </div>
<% end %>
