<%# locals: (giro:) -%>

<%= form_with(model: giro, class: "flex flex-column gap") do |form| %>

  <% if giro.errors.any? %>
    <div class="txt-negative txt-small">
      <%= t 'misc.errori', count: giro.errors.count %>
    </div>
  <% end %>

  <div>
    <label class="txt-small txt-bold" for="giro_titolo">Titolo</label>
    <%= form.text_field :titolo, placeholder: "titolo", autofocus: true, class: "input" %>
  </div>

  <div>
    <label class="txt-small txt-bold" for="giro_descrizione">Descrizione</label>
    <%= form.text_area :descrizione, rows: 3, placeholder: "note...", class: "input input--textarea" %>
  </div>

  <div class="color-picker__colors">
    <% Color::COLORS.each do |color| %>
      <label class="btn txt-small borderless" style="--btn-background: <%= color %>" title="<%= color.name %>">
        <%= form.radio_button :color, color.value, checked: (giro.color == color.value || (giro.new_record? && color.value == "var(--color-card-default)")) %>
        <%= icon_tag "check", class: "checked" %>
        <span class="for-screen-reader"><%= color.name %></span>
      </label>
    <% end %>
  </div>

  <div class="flex gap-half justify-end margin-block-start">
    <button type="button" class="btn" data-action="dialog#close">Annulla</button>
    <%= form.submit "Salva", class: "btn btn--link" %>
  </div>
<% end %>
