<div id="<%= dom_id giro %>" class="grid grid-cols-6">
  
  <div class="col-span-3 bg-yellow-300">
    
    <div class="text-2xl hover:text-indigo-600">
      <%= link_to tappe_giro_path(giro), data: { turbo_frame: "_top"} do %>
        <%= giro.titolo %>
      <% end %>
    </div>

    <div class="">
      <%= giro.descrizione %>
    </div>
  </div>


  <%= link_to "modifica", edit_giro_path(giro), class: "text-xs my-auto col-span-1", 
                    data: { turbo_frame: :modal, action: "click->dialog#open"} %>

  <%= button_to "elimina", giro_path(giro), method: :delete, confirm: "Sei sicuro?",
                class: "text-xs my-auto col-span-1" %>

  <%= link_to "apri", tappe_giro_path(giro), class: "text-xs my-auto col-span-1", 
          data: { turbo_frame: "_top" } %>
</div>
