<div id="<%= dom_id giro %>" class="grid grid-cols-6">
  
  <div class="col-span-3 bg-yellow-300">
    
    <div class="text-2xl hover:text-indigo-600">
      <%= link_to tappe_giro_path(giro), data: { turbo_frame: "_top"} do %>
        <%= giro.titolo %>
      <% end %>
    </div>

    <div class="">
      <%= giro.descrizione %>
    </div>
  </div>


  <div class="col-span-1">

    <%= link_to "mod", edit_giro_path(giro), class: "text-xs", 
                    data: { turbo_frame: :modal, action: "click->dialog#open"} %>
  </div>

  <div class="col-span-1">
    <%= button_to giro_path(giro), data: { confirm: "Sei sicuro?", turbo_confirm: "Sei sicuro?" }, method: :delete,
                  class: "text-xs text-white text-center h-6 w-6 m-auto rounded-full bg-red-500" do %>
      <%= inline_svg_tag "icon-trash-mini.svg" %>
    <% end %>
  </div>
  <div class="col-span-1">
    <%= link_to "apr", tappe_giro_path(giro), class: "text-xs", 
            data: { turbo_frame: "_top" } %>
  </div>
    
</div>
