<%= heading do %>	
	<%= h1 {"Giri"} %>

	<%= select_tag "giri", options_from_collection_for_select(@giri, "id", "titolo", @default_giro&.id), include_blank: true, class: "sm:hidden" %>

<% end %>

<div id="giri-lista" role="list" class="py-5 grid grid-cols-1 lg:grid-cols-2 gap-x-6 gap-y-8 xl:gap-x-8">
	<p class="only:block hidden py-8  px-4 lg:col-span-2 2xl:col-span-3 text-center mx-auto">Whoops! Non ci sono giri organizzati.</p>									
	<%= render @giri %>
</div>

<%= turbo_frame_tag "search_results" do %>

	<%= tag.div class: "sticky z-20 top-16 grid grid-cols-5 sm:grid-cols-12 rounded-t-lg bg-gradient-to-b from-slate-900 to-slate-500" do %>
		<%= tag.div "Scuola", class: "col-span-3 sm:col-span-5 p-2 text-white text-sm font-bold" %>
		<%#= tag.div "Città", class: "col-span-3 hidden sm:inline-block p-2 text-white text-sm font-bold" %>
		
		<% @giri.each do |giro| %>
			<%= tag.div class: [
				"col-span-1 p-2 text-white text-sm font-bold truncate text-center": true,
				"hidden sm:inline-block": giro != @default_giro
			] do %>
				<%= giro.titolo.titleize %>
			<% end %>
		<% end %>
		
		<%= tag.div "...", class: "col-span-1 p-2 text-white text-sm font-bold text-center" %>
		<%= tag.div "Appunti", class: "hidden sm:inline-block col-span-1 p-2 text-white text-sm font-bold truncate" %>
		<%= tag.div "History", class: "col-span-2 p-2 text-white text-sm font-bold" %>
		
	<% end %>


	<%= turbo_frame_tag "giri_page_#{@pagy.page}" do %> 

		<% @scuole.each do |scuola| %>
			
			<%= tag.div class: "grid grid-cols-5 sm:grid-cols-12 border-b mb-3 rounded-lg bg-white shadow" do %>
				
				<%= tag.div class: "col-span-3 sm:col-span-5 flex flex-col" do %>
					
					<%= tag.div class: "p-2 font-semibold" do %>
						<%= link_to scuola.scuola, scuola, data: { turbo_frame: "_top" } %>
						<%= scuola.citta %>
					<% end %>
					
					<%# classi-che-adottano %>
					<%#= turbo_frame_tag "classi-che-adottano-#{dom_id scuola}",
							src: classi_che_adottano_import_scuola_path(scuola),
							loading: :lazy do %>
					<%# end %>
				<% end %>
			
				<%# loop per celle giri %>
				<% @giri.each do |giro| %>
					<%= tag.div class: [ 
						"col-span-1 py-2 content-center border-l group": true,
						"hidden sm:inline-block": giro != @default_giro
					] do %>
						<%= tag.div id: "tappe-list-#{dom_id giro}-#{dom_id scuola}" do %>							
							<%= render partial: "tappe/tappa_new", locals: { scuola: scuola, giro_id: giro.id } %>
							<% scuola.tappe.select { |t| t.giro == giro && t.persisted? }.each do |tappa| %>
								<%= render partial: "tappe/tappa_menu", locals: { tappa: tappa } %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
				
				<%# celle senza giro %>
				<%= tag.div class: "col-span-1 py-2 content-center border-l group" do %>
					<%= tag.div id: "tappe-list--#{dom_id scuola}" do %>
						<%= render partial: "tappe/tappa_new", locals: { scuola: scuola, giro_id: nil } %>
						<% scuola.tappe.select { |t| t.giro.nil? && t.persisted? }.each do |tappa| %>
							<%= render partial: "tappe/tappa_menu", locals: { tappa: tappa } %>
						<% end %>
					<% end %>
				<% end %>

				<%# cella appunti ping %>
				<%= tag.div class: "hidden sm:inline-block col-span-1 py-2 content-center border-l" do %>
					<% if scuola.appunti.non_archiviati.any? %>
						<%= tag.div class: "w-4 h-4 mx-auto animate-ping rounded-full font-semibold text-center text-xs text-white bg-purple-500 " do %>
							<%= link_to import_scuola_path(scuola, selected_tab: "2"), data: { turbo_frame: "_top"}, class: "" do %>                
								<%= scuola.appunti.non_archiviati.size %>
							<% end %> 
						<% end %>
					<% end %>  
				<% end %>

				<%# cella note %>
				<%= tag.div class: "col-span-5 sm:col-span-2 px-1 pb-1 sm:pt-1 sm:border-l" do %>
					<% scuola.tappe.order(:giro_id).each do |tappa| %>
						<%= render partial: "tappe/tappa_riga", locals: { tappa: tappa } %>
					<% end %>

					<% scuola.appunti.non_archiviati.each do |appunto| %>
						<%= render partial: "appunti/appunto_riga", locals: { appunto: appunto } %>
					<% end %>  
				<% end %>

			<% end %>
		<% end %>

		<% if @pagy.next %>
			<%= turbo_frame_tag "giri_page_#{@pagy.next}",
					src: giri_path(search: params[:search], page: @pagy.next, search_query: params[:search_query]),
					loading: :lazy do %>
				
				<div role="status">
					<div class="flex justify-center">
						<svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
							<path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
						</svg>
						<span class="sr-only">Loading...</span>
					</div>
				</div>
			<% end %>
		<% end %>

	<% end %>
<% end %>











