<% @page_title = "Giri" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start"></div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Giri</span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= link_to wizard_giri_path, class: "btn btn--link", data: { controller: "tooltip" } do %>
      <%= icon_tag "add", size: "small" %>
      <span class="for-screen-reader">Nuovo Giro</span>
    <% end %>
  </div>
<% end %>

<%= turbo_stream_from current_user, "giri" %>

<div id="giri-lista" class="flex flex-column gap center" style="max-inline-size: min(50ch, 100%);">
  <% if @giri.empty? %>
    <p class="txt-subtle txt-center pad-block-double">Nessun giro organizzato</p>
  <% else %>
    <% @giri.group_by { |g| g.iniziato_il&.year || g.created_at.year }.each do |anno, giri_anno| %>
      <div class="group-header">
        <h3 class="group-header__title divider divider--fade txt-medium font-weight-black margin-none"><%= anno %></h3>
      </div>
      <div class="flex flex-column gap-half">
        <%= render giri_anno %>
      </div>
    <% end %>
  <% end %>
</div>
