<% content_for :hide_footer, true %>
<% @page_title = @giro.titolo %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <button type="button" class="btn btn--back"
            data-controller="hotkey toggle-class"
            data-action="click->toggle-class#toggle keydown.p@document->hotkey#click"
            data-toggle-class-selector-value=".agenda-planner"
            data-toggle-class-toggle-class="agenda-planner--collapsed">
      <%= icon_tag "calendar" %>
      <strong class="overflow-ellipsis">Planner</strong>
      <kbd class="kbd txt-x-small hide-on-touch">P</kbd>
    </button>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span style="background: <%= @giro.color %>; border-radius: 50%; display: inline-block; block-size: 0.6em; inline-size: 0.6em;"></span>
    <span class="overflow-ellipsis"><%= @giro.titolo %></span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= link_to edit_giro_path(@giro), class: "btn btn--circle btn--plain",
        data: { turbo_frame: :modal } do %>
      <%= icon_tag "pencil", class: "icon--small" %>
    <% end %>

    <div style="position: relative"
         data-controller="dialog"
         data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
      <button type="button" class="btn btn--circle btn--plain" data-action="dialog#toggle">
        <%= icon_tag "add" %>
      </button>
      <dialog class="popup panel fill-white shadow txt-small" data-dialog-target="dialog">
        <ul class="popup__list">
          <li class="popup__item">
            <%= link_to giro_genera_tappe_path(@giro), class: "popup__btn btn",
                data: { turbo_frame: :modal, action: "click->dialog#close" } do %>
              <%= icon_tag "add" %>
              <span>Genera tappe</span>
            <% end %>
          </li>
          <li class="popup__item">
            <%= link_to copia_giro_path(@giro), class: "popup__btn btn",
                data: { turbo_frame: :modal, action: "click->dialog#close" } do %>
              <%= icon_tag "copy" %>
              <span>Copia da giro</span>
            <% end %>
          </li>
          <% if @giro.tappe.any? %>
            <li class="popup__item">
              <%= button_to giro_svuota_tappe_path(@giro), method: :delete,
                  class: "popup__btn btn txt-negative",
                  data: { turbo_confirm: "Rimuovere tutte le #{@giro.tappe.size} tappe dal giro?" } do %>
                <%= icon_tag "trash" %>
                <span>Svuota tappe</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </dialog>
    </div>

    <% if @giro.can_delete? %>
      <%= button_to giro_path(@giro), method: :delete,
          class: "btn btn--circle btn--plain txt-negative",
          data: { turbo_confirm: "Eliminare questo giro?" } do %>
        <%= icon_tag "trash", class: "icon--small" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render "giri/planner", giro: @giro, tappe_per_area: @tappe_per_area, total_count: @planner_total %>

<% if @settimane.any? %>
  <div class="agenda-calendar">
    <div id="weeks-container">
      <% @settimane.each do |settimana| %>
        <%= render "agenda/week", settimana: settimana, tappe_per_giorno: @tappe_per_giorno %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="blank-slate margin-block">
    Imposta le date del giro (dal/al) per visualizzare il calendario.
  </div>
<% end %>
