<% content_for :hide_footer, true %>
<% @page_title = @giro.titolo %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to giri_path, class: "btn btn--back" do %>
      <%= icon_tag "arrow-left" %>
      <span>Giri</span>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span style="background: <%= @giro.color %>; border-radius: 50%; display: inline-block; block-size: 0.6em; inline-size: 0.6em;"></span>
    <span class="overflow-ellipsis"><%= @giro.titolo %></span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= link_to edit_giro_path(@giro), class: "btn btn--circle borderless",
        data: { turbo_frame: :modal, controller: "tooltip" } do %>
      <%= icon_tag "pencil", class: "icon--small" %>
      <span class="for-screen-reader">Modifica giro</span>
    <% end %>

    <% if @giro.can_delete? %>
      <%= button_to giro_path(@giro), method: :delete,
          class: "btn btn--circle btn--plain txt-negative",
          data: { turbo_confirm: "Eliminare questo giro?" } do %>
        <%= icon_tag "trash", class: "icon--small" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render "giri/planner", giro: @giro, tappe_per_area: @tappe_per_area, total_count: @planner_total %>

<%= render "giri/info_panel", giro: @giro, giorni_timeline: @giorni_timeline, tappe_totali: @tappe_totali, tappe_completate: @tappe_completate %>

<% if @settimane.any? %>
  <div class="agenda-calendar">
    <div id="weeks-container">
      <% @settimane.each do |settimana| %>
        <%= render "agenda/week", settimana: settimana, tappe_per_giorno: @tappe_per_giorno %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="blank-slate margin-block">
    Imposta le date del giro (dal/al) per visualizzare il calendario.
  </div>
<% end %>
