<% if @page.first? %> 
    
    <%= turbo_stream.replace "tappe-list" do %>
        <%= tag.div id: "tappe-list", class: "mt-2 grid grid-cols-1 gap-y-2 xl:grid-cols-2 xl:gap-2" do %>
            <p class="only:block hidden py-8 px-4 text-center xl:col-span-2">Whoops! Non ci sono tappe </p>
            <%= render @page.records %>

            <% unless @page.last? %>
                <%= turbo_frame_tag "load_more", src: tappe_giro_path(@giro, sort: params[:sort], filter: params[:filter], search: params[:search], page: @page.next_param, format: :turbo_stream), loading: :lazy do %>
                    <%= render 'shared/lazy_loading' %>
                <% end %>
                <%#= link_to "Next page", tappe_giro_path(@giro, page: @page.next_param) %>
            <% end %>
        <% end %>
    <% end %>

<% else %>

    <%= turbo_stream.replace "load_more" do %>
        <%= render @page.records %>

        <% if @page.last? %>
            <%= tag.div "Fine delle tappe!", class: "col-span-1 xl:col-span-2 py-8 px-4 text-center" %>
        <% else %>
            <%= turbo_frame_tag "load_more", src: tappe_giro_path(@giro, sort: params[:sort],  filter: params[:filter], search: params[:search], page: @page.next_param, format: :turbo_stream), loading: :lazy do %>
                <%= render 'shared/lazy_loading' %>
            <% end %>
        <% end %>
    <% end %>

<% end %>

<%= turbo_stream.replace "nr-tappe" do %>
    <%= tag.div pluralize(@page.recordset.records_count, "tappa", "tappe"), id: "nr-tappe" %>
<% end %>



