
<div id="<%= dom_id @giro %>" class="mx-auto md:w-4/5 w-full flex flex-col">
  
    <div class="bg-grey-300 rounded-t-xl px-4 py-3">
    
        <div class="text-2xl font-semibold">
            <%= @giro.titolo %>
        </div>

        <div class=" text-gray-500 font-semibold">
            <%= @giro.descrizione %>
        </div>
    </div>

    <div class="px-4 pb-3 flex flex-col">

        <div class="flex items-center justify-between">
            <%= link_to "<- giri", giri_path, class: "btn btn-white" %>
            <%= button_to "Crea Tappe!", crea_tappe_giro_path(@giro, format: :turbo_stream), method: :post, class: "btn btn-white" %>
        </div>

    </div>
    
    <%# link per filtrare il giro %>
    <%= tag.div class:"sticky z-20 top-16 bg-gray-100 bbborder-2 rounded-t-lg" do%>
        <%= render partial: "giri/giro_filter", locals: { giro: @giro } %>
    <% end %>
        
    <%= turbo_frame_tag :search_results, data: { controller: 'tax-checkbox-select-all' } do %>

        <%= render "form_tappe" %>
        
        <%= tag.div class: "sticky z-20 top-32 bg-gray-100 text-gray-600 rounded-b-lg shadow-lg px-4 pt-2 pb-1 text-xs font-semibold flex items-center justify-between" do %>
            
            <label for="select_all" id="select_all">
                <%= check_box_tag "select_all", nil, false, data: { tax_checkbox_select_all_target: "checkboxAll" } %>
                <span data-tax-checkbox-select-all-target="label" class="pl-2"><%= "seleziona" %></span>
            </label>

            <%= tag.div pluralize(@page.recordset.records_count, "tappa", "tappe"), id: "nr-tappe" %>

            
            <%= tag.div class: "flex space-x-1 rounded-lg bg-slate-100 p-0.5", role: "tablist", aria: { orientation: "horizontal" } do %>
                <%= link_to tappe_giro_path(@giro, sort: "per_ordine_e_data"), class: "flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 text-sm font-semibold lg:pr-3 bg-white shadow" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                       <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                    </svg>
                <% end %>
                <%= link_to tappe_giro_path(@giro, sort: "per_data"), class: "flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 text-sm font-semibold lg:pr-3 bg-white shadow" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                       <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
                    </svg>
                <% end %>
                <%= link_to tappe_giro_path(@giro, sort: "per_data_desc"), class: "flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 text-sm font-semibold lg:pr-3 bg-white shadow" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                         <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75 12 3m0 0 3.75 3.75M12 3v18" />
                    </svg>   
                <% end %>
            <% end %>

            
            <%# <select aria-label="select" data-controller="tax-select-sort" class="field w-28" value="scuola">
                <option value="per_ordine_e_data">scuola</option>
                <option value="per_data">-----></option>
                <option value="per_data_desc"><-----</option>             
            </select> %>
        
        <% end %>

        <%= tag.div id: "tappe-list", class: "sm:px-2" do %>
            <p class="only:block hidden py-8 px-4 text-center xl:col-span-2">Whoops! Non ci sono tappe </p>
            
            <%= render partial: "tappe/tappe_grouped" %>

            <% unless @page.last? %>
                <%= turbo_frame_tag "load_more", src: tappe_giro_path(@giro, sort: params[:sort], giorno: params[:giorno], filter: params[:filter], search: params[:search], page: @page.next_param, format: :turbo_stream), loading: :lazy do %>
                    <%= render 'shared/lazy_loading' %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>

</div>
