
<div id="<%= dom_id @giro %>" class="mx-auto md:w-4/5 w-full flex flex-col">
  
    <div class="bg-yellow-300 rounded-t-xl px-4 py-3">
    
        <div class="text-2xl font-semibold hover:text-indigo-600">
            <%= @giro.titolo %>
        </div>

        <div class=" text-gray-500 font-semibold">
            <%= @giro.descrizione %>
        </div>
    </div>


    <div class="p-2 flex flex-col bg-yellow-300">

        <div class="flex items-center justify-between">
            <%= link_to "<- giri", giri_path, class: "btn btn-white" %>
            <%= button_to "Crea Tappe!", crea_tappe_giro_path(@giro), method: :post, class: "btn btn-green" %>
        </div>
        <div class="flex">
            <div class="my-auto">
                start:
                <%= @giro.iniziato_il %>
            </div>

            <div class="my-auto">
                end:
                <%= @giro.finito_il %>
            </div>
        </div>
    </div>
    
    
    <%# link per filtrare il giro %>
    <%= render "giro_filter" %>
    
    
    <%= render "form_tappe" %>

    <%= pluralize @page.recordset.records_count, "tappa", "tappe" %> di <%= params[:filter] %>
    
    <%= render @page.records %>

    <% if @page.last? %>
        No more pages!
    <% else %>
        <%= turbo_frame_tag "load_more", src: tappe_giro_path(@giro, filter: params[:filter], page: @page.next_param, format: :turbo_stream), loading: :lazy do %>
            <%= render 'shared/lazy_loading' %>
        <% end %>
        <%#= link_to "Next page", tappe_giro_path(@giro, page: @page.next_param) %>
    <% end %>

        




</div>
