
<div id="<%= dom_id @giro %>" class="mx-auto md:w-4/5 w-full flex flex-col">
  
    <div class="bg-grey-300 rounded-t-xl px-4 py-3">
    
        <div class="text-2xl font-semibold">
            <%= @giro.titolo %>
        </div>

        <div class=" text-gray-500 font-semibold">
            <%= @giro.descrizione %>
        </div>
    </div>

    <div class="px-4 pb-3 flex flex-col">

        <div class="flex items-center justify-between">
            <%= link_to "<- giri", giri_path, class: "btn btn-white" %>
            <%= button_to "Crea Tappe!", crea_tappe_giro_path(@giro, format: :turbo_stream), method: :post, class: "btn btn-white" %>
        </div>

    </div>
    
    <%# link per filtrare il giro %>
    <%= tag.div class:"sticky z-20 top-16 bg-gray-200 border-2 rounded-t-lg pb-2" do%>
        <%= render partial: "giri/giro_filter", locals: { giro: @giro } %>
    <% end %>
        
    <%= turbo_frame_tag :search_results, data: { controller: 'tax-checkbox-select-all' } do %>

        <%= render "form_tappe" %>
        
        <%= tag.div class: "sticky z-20 top-36 bg-gray-200 text-gray-600 rounded-b-lg shadow-lg px-4 py-2 text-xs font-semibold flex items-center justify-between" do %>
            
            <label for="select_all" id="select_all">
                <%= check_box_tag "select_all", nil, false, data: { tax_checkbox_select_all_target: "checkboxAll" } %>
                <span data-tax-checkbox-select-all-target="label" class="pl-2"><%= "seleziona" %></span>
            </label>

            <%= tag.div pluralize(@page.recordset.records_count, "tappa", "tappe"), id: "nr-tappe" %>

            <select aria-label="select" data-controller="tax-select-sort" class="field w-28" value="scuola">
                <option value="per_ordine_e_data">scuola</option>
                <option value="per_data">-----></option>
                <option value="per_data_desc"><-----</option>
                
            </select>
        <% end %>

        <%= tag.div id: "tappe-list", class: "sm:px-2" do %>
            <p class="only:block hidden py-8 px-4 text-center xl:col-span-2">Whoops! Non ci sono tappe </p>
            
            <%= render partial: "tappe/tappe_grouped" %>

            <% unless @page.last? %>
                <%= turbo_frame_tag "load_more", src: tappe_giro_path(@giro, sort: params[:sort], giorno: params[:giorno], filter: params[:filter], search: params[:search], page: @page.next_param, format: :turbo_stream), loading: :lazy do %>
                    <%= render 'shared/lazy_loading' %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>

</div>
