
<div id="<%= dom_id @giro %>" class="mx-auto md:w-4/5 w-full flex flex-col">
  
    <div class="bg-grey-300 rounded-t-xl px-4 py-3">
    
        <div class="text-2xl font-semibold">
            <%= @giro.titolo %>
        </div>

        <div class=" text-gray-500 font-semibold">
            <%= @giro.descrizione %>
        </div>
    </div>


    <div class="p-2 flex flex-col bg-gray-200">

        <div class="flex items-center justify-between">
            <%= link_to "<- giri", giri_path, class: "btn btn-white" %>
            <%= button_to "Crea Tappe!", crea_tappe_giro_path(@giro, format: :turbo_stream), method: :post, class: "btn btn-green" %>
        </div>

    </div>
    
    <%# link per filtrare il giro %>
    <%= render "giro_filter" %>
        
    <%= render "form_tappe" %>

    <%= turbo_frame_tag :search_results do %>
        <p class="only:block hidden py-8 text-center">Whoops! Non ci sono tappe </p>
        
        <%= tag.div class: "text-right text-xs font-semibold pr-2" do %>
            <%= pluralize @page.recordset.records_count, "tappa", "tappe" %>
        <% end %>

        <%= render @page.records %>

        <% unless @page.last? %>
            <%= turbo_frame_tag "load_more", src: tappe_giro_path(@giro, filter: params[:filter], search: params[:search], page: @page.next_param, format: :turbo_stream), loading: :lazy do %>
                <%= render 'shared/lazy_loading' %>
            <% end %>
            <%#= link_to "Next page", tappe_giro_path(@giro, page: @page.next_param) %>
        <% end %>
    <% end %>

        




</div>
