
<div id="<%= dom_id @giro %>" class="mx-auto md:w-4/5 w-full flex flex-col">
  
    <div class="bg-yellow-300 rounded-t-xl px-4 py-3">
    
        <div class="text-2xl font-semibold hover:text-indigo-600">
            <%= @giro.titolo %>
        </div>

        <div class=" text-gray-500 font-semibold">
            <%= @giro.descrizione %>
        </div>
    </div>


    <div class="p-2 flex flex-col bg-yellow-300">
        <%# menu da spostare %>
        <div class="flex items-center justify-between my-4">

            <%= button_to "elimina giro", giro_path(@giro), 
                method: :delete, confirm: "Sei sicuro?",
                class: "btn btn-red" %>

            <div class="flex flex-row space-x-4">
                <%= link_to "<- giri", giri_path, class: "btn btn-white" %>

                <%= button_to "Crea Tappe!", crea_tappe_giro_path(@giro), method: :post, class: "btn btn-green" %>

                <%= link_to "modifica", edit_giro_path(@giro), class: "btn btn-indigo my-auto", 
                    data: { turbo_frame: :modal, action: "click->dialog#open"} %>
            </div>
        </div>
        <div class="flex">
            <div class="my-auto">
                start:
                <%= @giro.iniziato_il %>
            </div>

            <div class="my-auto">
                end:
                <%= @giro.finito_il %>
            </div>
        </div>
    </div>
    
    
    <%# link per filtrare il giro %>
    <%= render "giro_filter" %>

    
    Showing page <%= @page.number %> of <%= @page.recordset.page_count %> (<%= @page.recordset.records_count %> total messages):

     
    <%= form_with(url: bulk_update_tappe_path, id: :bulk_update_tappe_form, method: :patch, data: {controller: "form-reset"},
                    class: "fixed flex space-x-3 bg-black/70  shadow-lg bottom-20 left-[50%] p-4 border-2 rounded rounded-lg border-indigo-900 z-50") do |f| %>
        <%= f.button type: :submit, value: 'cancella', class: "block text-center text-gray-800 align-middle cursor-pointer bg-gray-200 p-4  rounded-lg shadow-lg" do %>
            Cancella
        <% end %>
        <%= f.button type: :submit, value: 'oggi', class: "block text-center text-gray-800 align-middle cursor-pointer bg-green-500 p-4  rounded-lg shadow-lg" do %>
            Oggi
        <% end %>
        <%= f.button type: :submit, value: 'domani', class: "block text-center text-gray-800 align-middle cursor-pointer bg-yellow-300 p-4  rounded-lg shadow-lg" do %>
            Domani
        <% end %> 
    <% end %>        

    <%= render @page.records %>

    <% if @page.last? %>
        No more pages!
    <% else %>
        <%= turbo_frame_tag "load_more", src: tappe_giro_path(@giro, filter: params[:filter], page: @page.next_param, format: :turbo_stream), loading: :lazy do %>
            <%= render 'shared/lazy_loading' %>
        <% end %>
        <%#= link_to "Next page", tappe_giro_path(@giro, page: @page.next_param) %>
    <% end %>

        




</div>
