<%= tag.li id: dom_id(collana_libro), class: "list-style-none margin-none flex align-center gap full-width" do %>
  <%= form_with model: [collana_libro.collana, collana_libro], data: { controller: "form" }, class: "flex gap-quarter align-center flex-item-no-shrink" do |f| %>
    <%= f.number_field :position, class: "input input--small", style: "width: 4ch;", data: { action: "change->form#submit" } %>
  <% end %>

  <div class="flex flex-column min-width" style="flex: 1; text-align: left;">
    <strong class="overflow-ellipsis txt-small"><%= collana_libro.libro.titolo %></strong>
    <span class="txt-x-small txt-subtle"><%= [collana_libro.libro.codice_isbn, collana_libro.libro.editore&.editore].compact.join(" · ") %></span>
  </div>

  <%= form_with model: [collana_libro.collana, collana_libro], data: { controller: "form" }, class: "flex gap-quarter align-center flex-item-no-shrink" do |f| %>
    <%= f.text_field :gruppo, class: "input input--small", style: "width: 20ch;", list: "gruppo_list_#{collana_libro.collana_id}", placeholder: "Gruppo", data: { action: "change->form#submit" } %>
    <%= f.text_field :classi_target, class: "input input--small", style: "width: 8ch;", list: "classi_target_list_#{collana_libro.collana_id}", placeholder: "Classi", data: { action: "change->form#submit" } %>
  <% end %>

  <%= button_to collana_collana_libro_path(collana_libro.collana, collana_libro), method: :delete, class: "btn btn--circle btn--small txt-negative borderless flex-item-no-shrink" do %>
    <%= icon_tag "minus", size: "small" %>
  <% end %>
<% end %>
