<%= form_with(model: grado_tipo_scuola, class: "contents") do |form| %>
  <% if grado_tipo_scuola.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(grado_tipo_scuola.errors.count, "error") %> prohibited this grado_tipo_scuola from being saved:</h2>

      <ul>
        <% grado_tipo_scuola.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :grado %>
    <%= form.text_field :grado, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
