<% @page_title = "Genera un token di accesso" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to_url "Token", access_tokens_path %>
  </div>
  <h1 class="header__title"><%= @page_title %></h1>
<% end %>

<article class="panel panel--wide shadow center txt-align-start" style="view-transition-name: <%= dom_id(@access_token) %>">
  <%= form_with model: @access_token, url: access_tokens_path, scope: :access_token, html: { class: "flex flex-column gap" } do |form| %>
    <div class="flex flex-column gap-half">
      <strong><%= form.label :description, "Descrizione del token" %></strong>
      <%= form.text_field :description, required: true, autofocus: true, class: "input", placeholder: "es. Estensione WhatsApp" %>
    </div>

    <%= form.button type: :submit, class: "btn btn--link center txt-medium" do %>
      <span>Genera token</span>
    <% end %>
  <% end %>
</article>
