<div id="<%= dom_id import_scuola %>" class="bg-white rounded-xl border border-gray-200 shadow-lg" >

    <div class="flex flex-col my-3 px-3">
      	<div class="text-xs text-gray-400">
			<%= highlight(import_scuola.DESCRIZIONETIPOLOGIAGRADOISTRUZIONESCUOLA.titleize, params_split(params[:search])) %>
			<%= import_scuola.DESCRIZIONECARATTERISTICASCUOLA.downcase.delete_prefix("normale") %>
		</div>

		<div class="hover:text-indigo-500" >
			<%= link_to highlight(import_scuola.DENOMINAZIONESCUOLA, params_split(params[:search])), 
					import_scuola_path(import_scuola),
					data: { turbo_frame: "_top"}
			%>
		</div>	

		<div>
			<div class="text-xs text-gray-400"> 
				<%= import_scuola.INDIRIZZOSCUOLA%>
			</div>
			<div>		
				<span class="text-xs text-gray-400">
					<%= import_scuola.CAPSCUOLA %>
				</span>
				<%= link_to highlight(import_scuola.DESCRIZIONECOMUNE, params_split(params[:search])), 
						import_scuole_path(search: import_scuola.DESCRIZIONECOMUNE),
						data: { turbo_frame: "_top"}, class: "hover:text-indigo-500"
				%>
			</div>
		</div>	
		


		
		<div class="hover:text-indigo-500 text-right">
			<span class="text-xs text-gray-400">
				dipende da:
			</span> 
			<%= link_to highlight(import_scuola.DENOMINAZIONEISTITUTORIFERIMENTO, params_split(params[:search])), 
					import_scuole_path(search: import_scuola.CODICEISTITUTORIFERIMENTO),
					data: { turbo_frame: "_top"}
			%>
		</div>


		<div class="text-xs text-gray-400">
			cod.min <%= highlight import_scuola.CODICESCUOLA, params_split(params[:search]) %>
		</div>		
	
		<div class="text-xs text-gray-400">
			email: <%= import_scuola.INDIRIZZOEMAILSCUOLA.downcase %>
		</div>

		<div class="text-xs text-gray-400">
			pec: <%= import_scuola.INDIRIZZOPECSCUOLA.downcase %>
		</div>



		


  	</div>

</div>
