<li id="<%= dom_id import_scuola %>" class="bg-white grid grid-cols-2 overflow-hidden rounded-xl border border-gray-200">

    <div class="my-3 px-3">
      	<p class="text-xs text-gray-400">
			<%= import_scuola.CODICESCUOLA %>
		</p>
		<p>
			<%= link_to import_scuola.DENOMINAZIONESCUOLA, import_scuola_path(import_scuola),
				data: { turbo_frame: "_top"}, class: "hover:text-indigo-500" %>
		</p>		
		<p class="text-xs text-gray-400"> 
			<%= import_scuola.INDIRIZZOSCUOLA%>
		</p>
		<p>		
			<span class="text-xs text-gray-400">
				<%= import_scuola.CAPSCUOLA %>
			</span>
			<%= link_to import_scuola.DESCRIZIONECOMUNE, import_scuole_path(search: import_scuola.DESCRIZIONECOMUNE),
				data: { turbo_frame: "_top"}, class: "hover:text-indigo-500" %>
	
	

		</p>
		<p>		
			<span class="text-xs text-gray-400">
				<%= import_scuola.INDIRIZZOEMAILSCUOLA %>
				<br/>
				pec. <%= import_scuola.INDIRIZZOPECSCUOLA.downcase %>
			</span>
		</p>
  	</div>

	<div class="my-3 px-3">
      	<p class="text-xs text-gray-400">
			<%= import_scuola.DESCRIZIONETIPOLOGIAGRADOISTRUZIONESCUOLA %>
			<%= import_scuola.DESCRIZIONECARATTERISTICASCUOLA %>
		</p>
		<p>
			<%= link_to import_scuola.DENOMINAZIONEISTITUTORIFERIMENTO, import_scuole_path(search: import_scuola.CODICEISTITUTORIFERIMENTO),
				data: { turbo_frame: "_top"}, class: "hover:text-indigo-500" %>
	
		</p>
		<p>
			<%= import_scuola.classi_count%>
		</p>
		<p>
			<%= import_scuola.adozioni_count %>
		</p>		
  	</div>
</li>
