<div id="<%= dom_id import_scuola %>" class="relative bg-white rounded-xl border border-gray-200 shadow-lg" >
	
	<%= link_to new_appunto_path(import_scuola_id: import_scuola.id),
				data: { turbo_frame: :modal, action: "click->dialog#open"},
				class: "absolute right-2 top-2 -m-2 p-2.5 text-gray-400 hover:text-gray-500" do %>
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
		</svg>
	<% end %>
	
	<%= link_to go_to_scuola_path(import_scuola, "apple"),
				target: "_blank",
				data: { turbo_frame: :modal, action: "click->dialog#open"},
				class: "absolute right-2 top-11 -m-2 p-2.5 text-gray-400 hover:text-gray-500" do %>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
			<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
			</svg>
	<% end %>

    
	<div class="flex flex-col my-3 px-3">

      	<div class="text-xs text-gray-400">
			<%= highlight(import_scuola.DESCRIZIONETIPOLOGIAGRADOISTRUZIONESCUOLA&.titleize, params_split(params[:search])) %>
			<%= import_scuola.DESCRIZIONECARATTERISTICASCUOLA&.downcase&.delete_prefix("normale") %>
		</div>

		<div class="hover:text-indigo-500" >
			<%= link_to highlight(import_scuola.DENOMINAZIONESCUOLA, params_split(params[:search])), 
					import_scuola_path(import_scuola),
					data: { turbo_frame: "_top"}
			%>
		</div>	

		<div>
			<div class="text-xs text-gray-400"> 
				<%= import_scuola.INDIRIZZOSCUOLA%>
			</div>
			<div>		
				<span class="text-xs text-gray-400">
					<%= import_scuola.CAPSCUOLA %>
				</span>
				<%= link_to highlight(import_scuola.DESCRIZIONECOMUNE, params_split(params[:search])), 
						import_scuole_path(search: import_scuola.DESCRIZIONECOMUNE),
						data: { turbo_frame: "_top" }, class: "hover:text-indigo-500"
				%>
			</div>
		</div>	
		


		
		<div class="hover:text-indigo-500 text-right">
			<span class="text-xs text-gray-400">
				dipende da:
			</span> 
			<%= link_to highlight(import_scuola.DENOMINAZIONEISTITUTORIFERIMENTO, params_split(params[:search])), 
					import_scuole_path(search: import_scuola.CODICEISTITUTORIFERIMENTO),
					data: { turbo_frame: "_top"}
			%>
		</div>


		<div class="text-xs text-gray-400">
			cod.min <%= highlight import_scuola.CODICESCUOLA, params_split(params[:search]) %>
		</div>		
	
		<div class="text-xs text-gray-400">
			email: <%= import_scuola.INDIRIZZOEMAILSCUOLA.downcase %>
		</div>

		<div class="text-xs text-gray-400">
			pec: <%= import_scuola.INDIRIZZOPECSCUOLA.downcase %>
		</div>

  	</div>

</div>
