<div id="<%= dom_id import_scuola %>" 
	class="pr-2 pl-4 bg-white py-4 flex justify-between items-center border border-t-0 border-gray-300 last:rounded-b-lg">
	
	<div class="flex flex-col">
		<%= link_to import_scuola, data: { turbo_frame: "_top"} do %>
			<div class="text-xs font-semibold text-gray-600">
				<%= import_scuola.tipo_scuola %>
			</div>
			<div class="text-md font-bold">
				<%= import_scuola.scuola %>
			</div>
			<div class="text-xs font-semibold text-gray-600">
				<%= import_scuola.citta %>
			</div>
			<div class="text-xs font-semibold text-gray-600">
				<%#= import_scuola.mie_adozioni(current_user.editori.collect{|e| e.editore}).count %>
				<%# su  %>
				<%#= import_scuola.import_adozioni.count %>
			</div>
		<% end %>
	</div>
	
	<div class="ml-2 flex flex-row">
		
		<%= link_to import_scuola_path(import_scuola, format: "pdf"), target: "_blank",
					data: { turbo_frame: "_top" },
                    class: "p-2.5 text-gray-600 hover:text-indigo-600" do %>
			<%= inline_svg_tag "icon-document-check.svg" %>
        <% end %>

        <%= link_to new_appunto_path(import_scuola_id: import_scuola.id),
                    data: { turbo_frame: :modal, action: "click->dialog#open"},
                    class: "p-2.5 text-indigo-400 hover:text-indigo-600" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
            </svg>
        <% end %>
        
        <%= link_to go_to_scuola_path(import_scuola, current_user.navigator),
                    target: "_blank",
                    data: { turbo_frame: :modal, action: "click->dialog#open"},
                    class: "p-2.5 text-red-500 hover:text-red-600" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                </svg>
        <% end %>
	</div>

</div>
