<%= tag.div id: dom_id(import_scuola), 
        class: [ "grid items-center": true,
                 "grid-cols-8": (with_navigation || with_logo) && with_info,
                 "grid-cols-5": with_navigation && with_logo,
                 "grid-cols-4": (with_navigation  && !with_logo) || (!with_navigation  && with_logo),
                 "grid-cols-3": !with_navigation && !with_logo
                ] do %>
    
    <% if with_navigation == true %>
        <div class="col-span-1 pl-2">
            <%= link_to go_to_scuola_path(import_scuola, current_user.navigator),
                    data: { turbo_frame: :modal, action: "click->dialog#open"},
                    class: "text-gray-400 hover:text-gray-500" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                </svg>
            <% end %>
        </div>
    <% end %>

    <% if with_logo == true %>
        <%= tag.div class: "m-auto col-span-1 rounded-full px-2 py-1 text-xs font-medium bg-red-50 text-red-600 ring-1 ring-red-500/60" do %>
            <%= import_scuola.scuola.titleize[0..1] %>
        <% end %>
    <% end %>

    <div class="col-span-4">
        <div class="flex flex-col">
            
            <div class="font-semibold text-sm italic text-gray-800 hover:text-indigo-600">  
                <% if with_link == true %>              
                    <%= link_to import_scuola.scuola, 
                                import_scuola_path(import_scuola), 
                                data: { turbo_frame: "_top" } 
                    %>
                <% else %>
                    <%= import_scuola.scuola %>
                <% end %>
            </div>

            <div class="font-medium text-sm italic text-gray-600">  
                <%= import_scuola.citta %>
            </div>	
        </div>
    </div>

    <% if with_info == true %>

        <%= tag.div class: "col-span-3 flex justify-between items-center" do %> 
            <%= tag.div class: [    
                            "text-xs text-gray-600 flex flex-col": true,
                            
                        ] do %>
                <%= tag.div import_scuola.terze_e_quinte.join(" "), class:"font-semibold "%>
                <%=  tag.div import_scuola.combinazioni.join(" - "), class: "italic text-gray-600"  %>
            <% end %> 
                
            <% if import_scuola.appunti.any? %>
                <%= tag.div class: "mr-4 font-semibold rounded-full w-5 h-5 text-center text-xs text-white bg-purple-500 " do %>
                    <%= import_scuola.appunti.size %>
                <% end %> 
            <% end %>  
        <% end %>
    
    <% end %>  

<% end %>   