<% @page_title = "Scuole" %>

<% content_for :head do %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= combobox_style_tag "data-turbo-track": "reload" %>
<% end %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to "javascript:history.back()", class: "btn" do %>
      <%= icon_tag "arrow-left", size: "small" %>
      <span class="for-screen-reader">Indietro</span>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Scuole</span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= tag.div class: "block lg:hidden" do %>
      <%= link_to filtra_import_scuole_path(params: request.query_parameters),
          class: "btn",
          data: { controller: "link-modifier", link_modifier_target: "link", turbo_frame: "slide-over" } do %>
        <%= icon_tag "funnel", size: "small" %>
        <span class="for-screen-reader">Filtra</span>
      <% end %>
    <% end %>
    <%= link_to import_scuole_path(format: :xlsx, params: request.query_parameters),
        class: "btn btn--positive",
        data: { controller: "link-modifier", link_modifier_target: "link" } do %>
      <%= icon_tag "document", size: "small" %>
      <span class="for-screen-reader">Excel</span>
    <% end %>
  </div>
<% end %>


<% if hotwire_native_app? %>
  <%= render "shared/native_search_filter",
      url: import_scuole_path,
      filter_url: filtra_import_scuole_path(params: request.query_parameters),
      placeholder: "Cerca scuole..." %>
<% end %>

<%= turbo_frame_tag "search_results" do %>

	<%= render partial: "stats", locals: { stats: @stats } %>

	<%= tag.div class: "flex flex-col lg:pr-[15rem]", data: { controller: 'bulk-actions' } do %>			

		<%= render "shared/active_filters", collection: @import_scuole %>
		<%= render "import_scuole/bulk_actions/form" %>

		<% if @page.used? %>
			<%= with_automatic_pagination :import_scuole, @page,
					class: "pb-5 grid grid-cols-1 gap-2 2xl:grid-cols-2" do %>
				<%= render "grouped_scuole", import_scuole: @page.records %>
			<% end %>
		<% else %>
			<p class="py-8 px-4 text-center 2xl:col-span-2">
				Whoops! Non ci sono scuole.
				<%= link_to "Devi impostare la Zona nel tuo profilo", user_path(current_user), data: { turbo_frame: "_top"}, class: "underline font-semibold" unless params[:search] %>
			</p>
		<% end %>
		
	<% end %>

	<aside class="fixed inset-y-0 right-0 hidden w-72 overflow-y-auto pt-[296px] lg:px-8 lg:block">
		<%= render partial: "filter_form", locals: { reload: true } %>
	</aside>

<% end %>





