<% content_for :title, "Scuole" %>

<% content_for :header do %>
	<%= render Heading::WithActionsComponent.new do |heading| %>

		<%# button export excel %>
		<% heading.with_action do %>
			<%= component 'tax_button',
					caption: "Excel",
					svg_file: "icon-excel-bis.svg",
					color: "green",
					url: import_scuole_path(format: :xlsx, params: request.query_parameters ),
                    data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>
		<% end %>

		<% heading.with_action do %>	
			<%= component 'tax_button',
				caption: "Indietro",
				svg_file: "icon-arrow-long-left.svg",
				color: "white",
				url: 'javascript:history.back()' %>
		<% end %>

        <% heading.with_action do %>
            <%= tag.div class: "block lg:hidden" do %>
                <%= component 'tax_button',
                    caption: "Filtra",
                    svg_file: "icon-funnel.svg",
                    color: "white",
                    url: filtra_import_scuole_path( params: request.query_parameters ),
                    data_attr: { controller: "link-modifier", link_modifier_target: "link", turbo_frame: "slide-over" } %>
            <% end %>
        <% end %>
		
		<%= h1 {"Scuole"} %>

	<% end %>
<% end %>


<% if hotwire_native_app? %>
  <%= render "shared/native_search_filter",
      url: import_scuole_path,
      filter_url: filtra_import_scuole_path(params: request.query_parameters),
      placeholder: "Cerca scuole..." %>
<% end %>

<%= turbo_frame_tag "search_results" do %>

	<%= render partial: "stats", locals: { stats: @stats } %>

	<%= tag.div class: "flex flex-col lg:pr-[15rem]", data: { controller: 'bulk-actions' } do %>			

		<%= render "shared/active_filters", collection: @import_scuole %>
		<%= render "import_scuole/bulk_actions/form" %>

		<%= turbo_frame_tag :import_scuole,
				class: "pb-5 grid grid-cols-1 gap-2 2xl:grid-cols-2" do %>
			<p class="only:block hidden py-8 px-4 text-center 2xl:col-span-2">
				Whoops! Non ci sono scuole. 
				<%= link_to "Devi impostare la Zona nel tuo profilo", user_path(current_user), data: { turbo_frame: "_top"}, class: "underline font-semibold" unless params[:search] %>
			</p>

			<%= render "grouped_scuole", import_scuole: @import_scuole %>
		<% end %>
			
		<% if @pagy.next %>
			<%= turbo_frame_tag :pagination,
						src: import_scuole_path(request.query_parameters.merge(format: :turbo_stream, page: @pagy.next)),
						loading: :lazy do %>				
				<div role="status">
					<div class="flex justify-center">
						<%= icon "bouncing-dots", library: :animated, class: "mx-auto w-8 h-8 text-gray-500 fill-gray-600" %>
						<span class="sr-only">Loading...</span>
					</div>
				</div>
			<% end %>
		<% end %>
		
	<% end %>

	<aside class="fixed inset-y-0 right-0 hidden w-72 overflow-y-auto pt-[296px] lg:px-8 lg:block">
		<%= render partial: "filter_form", locals: { reload: true } %>
	</aside>

<% end %>





