<div class="sticky top-20 z-10 mb-4">
	<%= render Heading::WithActionsComponent.new(level: 'h2', wrapper_css: "flex flex-col gap-4 sm:flex-row sm:items-start bg-white/90 sm:justify-between px-4 py-3 mb-4 border border-gray-200 rounded-md shadow-md flex-wrap"
	) do |heading| %>
		
		<% heading.with_leader do %>
			<%#= render AvatarComponent.new(user: OpenStruct.new(name: "Cam"), size: "xl") %>
		<% end %>
		
		<% heading.with_description do %>
			<%= tag.div @import_scuola.indirizzo, class: "text-sm font-semibold text-gray-400" %>
			<%= tag.div class: "flex items-center justify-start gap-2" do %>
				<%= tag.div @import_scuola.cap, class: "text-sm font-semibold text-gray-400" %>
				<%= link_to @import_scuola.comune, import_scuole_path(comune: @import_scuola.comune), class: "text-sm font-semibold text-gray-400 hover:text-gray-900"  %>
				<%= tag.div @import_scuola.provincia, class: "text-sm font-semibold text-gray-400" %>
			<% end %>
			<%= tag.div @import_scuola.codice_ministeriale, class: "text-sm font-semibold text-gray-400"  %>
		<% end %>

		<% heading.with_action do %>
			<%= component 'tax_button', 
					caption: "Vai...",
					svg_file: "icon-map-pin.svg",
					color: "pink",
					url:  go_to_tappable_path(@import_scuola, current_user.navigator),
					target: "_blank"
			%>
		<% end %>

		<% heading.with_action do %>
			<%= component 'tax_button', 
					caption: "Mappa",
					svg_file: "icon-mappa.svg",
					color: "pink",
					url:  mappe_path(id: @import_scuola.class.name.underscore + "-" + @import_scuola.id.to_s)
			%>
		<% end %>

		<% heading.with_action do %>
			<%= component 'tax_button', 
					caption: "Stampa",
					svg_file: "icon-print.svg",
					color: "white",
					url: url_for( controller: "import_scuole", action: "show", model: @import_scuola, format: 'pdf' )
			%>
		<% end %>

		<% heading.with_action do %>
			<%= tag.div class: "flex flex-row gap-1" do %>
				<%= component 'tax_button',
					caption: "prec",
					svg_file: "icon-arrow-left.svg",
					color: "white",
					url: "/import_scuole/#{@import_scuola&.previous&.slug}"  %>

				<%= component 'tax_button',
					caption: "succ",
					svg_file: "icon-arrow-right.svg",
					color: "white",
					url: "/import_scuole/#{@import_scuola&.next&.slug}"  %>
			<% end %>
		<% end %>

		<% heading.with_action do %>	
			<%= component 'tax_button',
				caption: "Indietro",
				svg_file: "icon-arrow-long-left.svg",
				color: "white",
				url: 'javascript:history.back()' %>
		<% end %>

		<% heading.with_action do %>
				<%= render DropdownComponent.new() do |dropdown| %>
					<%= dropdown.with_button do %>
						<%= component 'tax_button', 
								caption: "Nuovo",
								svg_file: "icon-plus.svg",
								color: "blue",
								style: :dropdown
						%>
					<% end %>

					<% dropdown.with_item do %>
						<%= link_to "nuovo appunto", new_appunto_path( import_scuola_id: @import_scuola.id ), 
								class: "px-3 py-3 block hover:text-blue-500 focus-visible:outline-none focus-visible:bg-gray-50",
								data: { turbo_frame: :modal, action: "click->dialog#open", turbo_prefetch: false },
								role: "menuitem", tabindex: "-1", id: "titolo-menu-item-2" %>
					<% end %>
					
					<% dropdown.with_item do %>
						<%= link_to "nuovo ordine", 
								new_documento_path( clientable_type: "ImportScuola", clientable_id: @import_scuola.id, causale: "Ordine Scuola" ),
								data: { turbo_prefetch: false }, 
								class: "px-3 py-2 block hover:text-blue-500 focus-visible:outline-none focus-visible:bg-gray-50",
								role: "menuitem", tabindex: "-1", id: "titolo-menu-item-2" %>
					<% end %>

					<% dropdown.with_item do %>
						<%= link_to "nuova tappa", new_tappa_path( tappable_type: "ImportScuola", tappable_id: @import_scuola.id, data_tappa: Date.today ), 
								class: "px-3 py-3 block hover:text-blue-500 focus-visible:outline-none focus-visible:bg-gray-50",
								data: { turbo_frame: :modal, action: "click->dialog#open", turbo_prefetch: false },
								role: "menuitem", tabindex: "-1", id: "titolo-menu-item-2" %>
					<% end %>
				<% end %>
		<% end %>



		<%= @import_scuola.denominazione %>
	
	<% end %>

	<%#= render StatComponent.new(title: "Fatturato", width: "w-full", theme: "dark", current_value: @import_scuola.importo_entrate - @import_scuola.importo_uscite) do |stat| %>
		<%# stat.with_current_value_leader { "€ " } %>
	<%# end %>

</div>

<div id="scuola-tappe-list" class="group show-scuola pl-2 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-1">
	<% @foglio_scuola.mie_tappe.order(data_tappa: :asc).each do |tappa| %>
		<div class="w-full col-span-1">
			<%= render partial: "tappe/tappa", locals: { tappa: tappa, with_checkbox: false, with_handle: false } %>
		</div>
	<% end %>
</div>


<div class="flex group show-scuola">
	<div class="w-full mx-auto">
		<div data-controller="tax-tabs"
			 	data-tax-tabs-index-value="<%= params[:selected_tab] || 0 %>"
				data-tax-tabs-active-tab-class="border-indigo-500 text-indigo-600"
				data-tax-tabs-inactive-tab-class="border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700"
				>
			<!-- select mobile -->
			<div class="sm:hidden mx-2 mt-4">
				<label for="tax-tabs" class="sr-only">Seleziona</label>
				<!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
				<select id="tax-tabs" data-tax-tabs-target="select" data-action="tax-tabs#change" name="tax-tabs" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
					<option>Classi</option>
					<option>Adozioni per titolo</option>
					<option>Appunti</option>
					<option>Archiviati</option>
					<option>Vendite</option>
					<option>Saggi</option>
				</select>
			</div>
			
			<!-- menu -->
			<div class="hidden sm:block">
				<div class="border-b border-gray-200">
					<nav class="-mb-px flex space-x-8" aria-label="Tabs">

						<a data-tax-tabs-target="tab" data-action="click->tax-tabs#change:prevent keydown.left->tax-tabs#previousTab keydown.right->tax-tabs#nextTab keydown.home->tax-tabs#firstTab:prevent keydown.end->tax-tabs#lastTab:prevent"
						   href="#" class="border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700 flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">
							Classi & Adozioni
							<!-- Current: "bg-indigo-100 text-indigo-600", Default: "bg-gray-100 text-gray-900" -->
							<span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
								<%= @foglio_scuola.classi.load.size %>
							</span>
						</a>
						
						<a data-tax-tabs-target="tab" data-action="click->tax-tabs#change:prevent keydown.left->tax-tabs#previousTab keydown.right->tax-tabs#nextTab keydown.home->tax-tabs#firstTab:prevent keydown.end->tax-tabs#lastTab:prevent"
						   href="#" class="border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700 flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">
							Adozioni per titolo
							<span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
								<%= @foglio_scuola.mie_adozioni.load.size %> su <%= @foglio_scuola.import_adozioni.load.size %>
							</span>
						</a>

						<a data-tax-tabs-target="tab" data-action="click->tax-tabs#change:prevent keydown.left->tax-tabs#previousTab keydown.right->tax-tabs#nextTab keydown.home->tax-tabs#firstTab:prevent keydown.end->tax-tabs#lastTab:prevent"
						   href="#" class="border-indigo-500 text-indigo-600 flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium" aria-current="page">
							Appunti
							<span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
								<%= @foglio_scuola.appunti_non_archiviati.load.size %>
							</span>
						</a>

						<a data-tax-tabs-target="tab" data-action="click->tax-tabs#change:prevent keydown.left->tax-tabs#previousTab keydown.right->tax-tabs#nextTab keydown.home->tax-tabs#firstTab:prevent keydown.end->tax-tabs#lastTab:prevent"
						   href="#" class="border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700 flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">
							Archiviati 
							<span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
								<%= @foglio_scuola.appunti_archiviati.load.size %>
							</span>
						</a>

						<a data-tax-tabs-target="tab" data-action="click->tax-tabs#change:prevent keydown.left->tax-tabs#previousTab keydown.right->tax-tabs#nextTab keydown.home->tax-tabs#firstTab:prevent keydown.end->tax-tabs#lastTab:prevent"
						   href="#" class="border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700 flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">
							Vendite 
							<span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
								<%= @foglio_scuola.documenti.load.size %>
							</span>
						</a>
						<a data-tax-tabs-target="tab" data-action="click->tax-tabs#change:prevent keydown.left->tax-tabs#previousTab keydown.right->tax-tabs#nextTab keydown.home->tax-tabs#firstTab:prevent keydown.end->tax-tabs#lastTab:prevent"
						   href="#" class="border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700 flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">
							Saggi 
							<span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
								<%= @foglio_scuola.ssk.load.size %>
							</span>
						</a>

					</nav>
				</div>
			</div>
			
			<!-- classi -->
			<div class="hidden mt-4 group show-classe" data-tax-tabs-target="panel" data-controller='tax-checkbox-select-all' }>
				<%= render "import_adozioni/form_multi" %>				
				<div>
					<p class="only:block hidden py-8 px-4 text-center">Whoops! Le classi ci sono ma per ora non si vedono</p>
					<%#= render partial: "import_adozioni/import_adozioni_grouped", locals: { grouped: :classe } %>
					<!-- da fare @classi -->

					<% @foglio_scuola.classi.order(:classe, :sezione).each do |classe| %>
						<%= render partial: "classi/classe", locals: { classe: classe } %>
						<% classe.maestre.each do |maestra| %>
							<%= tag.div maestra, class: "inline-block p-2 bg-purple-500 text-white border rounded-md m-1" %>
						<% end %>
						<%= render partial: "adozioni/adozione", collection: classe.vendita, as: :adozione %>
						<%= render partial: "adozioni/adozione", collection: classe.adozione, as: :adozione %>
						<%= render partial: "adozioni/adozione", collection: classe.omaggio, as: :adozione %>
						<%= render partial: "import_adozioni/card_titolo", collection: @foglio_scuola.mie_adozioni.select { |a| a.classe == classe } , as: :import_adozione, locals: { is_mia: true, is_header: false }  %>
						<br/>
					<% end %>
				</div>
			</div>

			<!-- adozioni grouped -->
			<div class="hidden mt-4" data-tax-tabs-target="panel">
				<p class="only:block hidden py-8 px-4 text-center">Whoops! Non ci sono adozioni in questa scuola</p>				
				<%= render partial: "import_adozioni/import_adozioni_grouped", locals: { grouped: :titolo } %>
			</div>
						
			<!-- appunti non archiviati-->
			<div class="hidden mt-4" data-tax-tabs-target="panel">
				<div id="appunti-lista" role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 2xl:grid-cols-3 xl:gap-x-8">
					<p class="only:block hidden py-8 px-4 lg:col-span-2 2xl:col-span-3 text-center">Whoops! Non ci sono appunti</p>				
					<%= render partial: "appunti/appunto", collection: @foglio_scuola.appunti_non_archiviati, locals: {mostra_scuola: false} %>
				</div>
			</div>
						
			<!-- appunti archiviati -->
			<div class="hidden mt-4 " data-tax-tabs-target="panel">
				<div id="appunti-archiviati" role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 2xl:grid-cols-3 xl:gap-x-8">
					<p class="only:block hidden py-8 px-4 lg:col-span-2 2xl:col-span-3 text-center">Whoops! Non ci sono appunti archiviati</p>				
					<%= render partial: "appunti/appunto", collection: @foglio_scuola.appunti_archiviati, locals: {mostra_scuola: false} %>
				</div>
			</div>

			<!-- documenti -->
			<div class="hidden mt-4 " data-tax-tabs-target="panel">
				<div id="vendite" role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 2xl:grid-cols-2 2xl:gap-x-8">
					<p class="only:block hidden py-8 px-4 lg:col-span-2 2xl:col-span-3 text-center">Whoops! Non ci sono vemdite</p>				
					<%= render @foglio_scuola.documenti.order(data_documento: :desc) %>
				</div>
			</div>

			<!-- saggi -->
			<div class="hidden mt-4 " data-tax-tabs-target="panel">
				<div id="saggi" role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 2xl:grid-cols-3 xl:gap-x-8">
					<p class="only:block hidden py-8 px-4 lg:col-span-2 2xl:col-span-3 text-center">Whoops! Non ci sono saggi</p>				
					<%= render partial: "appunti/appunto", collection: @foglio_scuola.ssk.order(updated_at: :desc), locals: {mostra_scuola: false} %>
				</div>
			</div>
		</div>
	</div>	
</div>

