<div class="flex">
	
	<div class="mx-auto">
		
		<% if notice.present? %>
			<p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
		<% end %>

		<%= render @import_scuola %>

		<% @import_scuola.adozioni_grouped_classe.each do |classe, adozioni| %>
			
			<p class="my-3 px-3">
				<%= classe.to_s %>
			</p>
			<% adozioni.map do |adozione| %>
				<%= tag.div class: [
							"px-3 py-1": true,
							"bg-yellow-100 font-semibold": @miei_editori.include?(adozione[:editore].join),
							"bg-white": !@miei_editori.include?(adozione[:editore].join)
						] do 
				%>	
					<p class="text-xs text-gray-600">
						<%= adozione[:titolo].join.titleize %>
						- 
						<%= adozione[:editore].join %>
					</p>  
				<% end %>
			<% end %>

		<% end %>
	</div>	
</div>

