<div class="">
  	<div class="relative isolate px-6 pt-6 lg:px-8">
	
	<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
		<div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
	</div>

	
	<div class="mx-auto max-w-2xl py-24 sm:py-24 lg:py-36">


		<% if current_user %>

			<%= turbo_frame_tag "Combobox" do %>
				<div class="youtubes mx-auto">
					<%= form_with url: import_adozioni_path do |form| %>
						<%#= form.combobox :search, import_adozioni_path, placeholder: "in costruzione... sorry!",
							id: "adozioni-search", mobile_at: "0px" %>
					<% end %>
				</div>
			<% end %>

			<%#= tappe_coordinates %>

			<%#= js_map get_scuole_coordinates(current_user.import_scuole.con_appunti(current_user.appunti.non_archiviati).compact) %>

			<%= tag.div class: "max-w-48 mx-auto flex flex-col space-y-4 " do %>
				
				<%= link_to "OGGI", oggi_path, class: "btn btn-outline" %>
				
				<%= link_to "Scuole", import_scuole_path, class: "btn btn-outline" %>
				
				<% unless current_user.tappe.empty? %>
					<%= link_to "Giri", giri_path, class: "btn btn-outline" %>
					<%= link_to "Tappe", tappe_path, class: "btn btn-outline" %>
				<% else %>
					<%= link_to "Giri", giri_path, class: "btn btn-outline" %>
				<% end %>

				<%= link_to "Appunti", appunti_path, class: "btn btn-outline" %>
				<%= link_to "SI SBOCCIA!!!", adozioni_path, class: "btn btn-outline" %>
				<%= link_to "Libri", libri_path, class: "btn btn-outline" %>
				<%= link_to "Stats", stats_path, class: "btn btn-outline" %>
								
				<%= link_to "Esci", destroy_user_session_path, data: { turbo_method: :delete },
					class: "text-center px-3 py-1 text-sm leading-6 text-gray-900", role: "menuitem", tabindex: "-1", id: "user-menu-item-1"
				%>
			<% end %>

		<% else %>	

			<div class="hidden sm:mb-8 sm:flex sm:justify-center">
				<div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
					Sta per uscire ScagnoZZ (<%= @page_hits %>)  
					<a href="#" class="font-semibold text-indigo-600"><span class="absolute inset-0" aria-hidden="true">
						</span>Scopri di più <span aria-hidden="true">&rarr;</span>
					</a>
				</div>
			</div>
			<div class="text-center">
				<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
					Tutto ciò che ti serve per questa Propaganda.
				</h1>
				<p class="mt-6 text-lg leading-8 text-gray-600">
					Anim aute id magna aliqua ad ad non deserunt sunt. 
					Qui irure qui lorem cupidatat commodo. 
					Elit sunt amet fugiat veniam occaecat fugiat aliqua.
					
					Tutte le scuole <%= @totale_scuole %> e
					le <%= @totale_adozioni %> adozioni grazie al <br/><%= link_to("Portale Unico dei Dati della Scuola", "https://dati.istruzione.it/opendata/opendata/", class: "font-semibold") %>.
				</p>
				<div class="mt-10 flex items-center justify-center gap-x-6">
					<a href="<%= new_user_registration_path %>" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
						Registrati
					</a>
					<a href="<%= new_user_session_path %>" class="text-sm font-semibold leading-6 text-gray-900">
						Accedi <span aria-hidden="true">→</span>
					</a>
				</div>
			</div>
		<% end %>
	</div>
	<div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
	  	<div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
	</div>
  </div>
</div>