<%#= tag.div "Oggi devi andare in #{ pluralize @scuole_di_oggi.size, "scuola", "scuole" }", class: "text-2xl font-bold p-4" %>
<div data-controller="tax-reveal"> 
    
    
    <%= component 'tax_button',
					svg_file: "icon-chevron-right.svg",
					color: "transparent",
					data_attr: { action: "click->tax-reveal#toggle", tax_reveal_target: "chevron"} %>


    <div data-tax-reveal-target="item" class="hidden w-full flex">
        <%= js_map get_coordinates(scuole_ids: @scuole.ids.compact, clienti_ids: @clienti.ids.compact), controls: true, tooltips: { hover: false, html: true } %>
	</div>
    
</div>


<%= tag.ul data: {
        controller: "sortable",
        sortable_animation_value: "150",
        sortable_resource_name_value: "tappa",
        sortable_param_name_value: "position"

    } do %>
    <%= render partial: "tappe/tappa", collection: @tappe, as: :tappa, locals: { with_checkbox: false} %>
<% end %>

<%= tag.div "Appunti di OGGI:", class: "text-2xl font-bold p-4" %>
<% @appunti_di_oggi.each do |appunto| %>
    <%= render partial: "appunti/appunto", locals: { appunto: appunto } %>
<% end %>

<%# tag.div data: { controller: 'tax-checkbox-select-all' } do %>
    <%# tag.div "Vendite di OGGI:", class: "text-2xl font-bold p-4" %>
    <%# render "adozioni/form_multi" %>
    <%# tag.div id: "adozioni-lista", class: "sm:px-2" do %>
        <%# render @adozioni %>
    <%# <% end %>
<%# <% end %>


<%#= tag.div do %>
    <%#= tag.div "Adozioni in scorrimento OGGI:", class: "text-2xl font-bold p-4" %>
    <%# <% @adozioni_di_oggi.where(ANNOCORSO: [1,2,4]).where.not(DISCIPLINA: "RELIGIONE").raggruppate.each do |a| %>
        <%# tag.div class: "mx-2 grid grid-cols-8 gap-2" do %>
            <%# tag.div a.disciplina, class: "col-span-3" %>
            <%# tag.div a.classe, class: "col-span-1 text-left" %>
            <%# tag.div a.titolo, class: "col-span-3" %>
            <%# tag.div a.numero_sezioni, class: "col-span-1 text-center" %>
        <%# end %>
    <%# end %>
<%# end %>


