<%#= tag.div "Oggi devi andare in #{ pluralize @scuole_di_oggi.size, "scuola", "scuole" }", class: "text-2xl font-bold p-4" %>
<div data-controller="tax-reveal"> 
    
    




    <div class="w-full flex">
        <%= js_map get_coordinates(scuole_ids: @scuole.ids.compact, clienti_ids: @clienti.ids.compact), controls: true, tooltips: { hover: false, html: true } %>
	</div>
    <%= component 'tax_button',
                    caption: "Controlla il percorso su Google Maps!!!",
					svg_file: "icon-truck.svg",
					color: "transparent",
                    url: create_google_maps_link(@indirizzi),
                    data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>
</div>


<%= tag.ul data: {
        controller: "tax-sortable",
        tax_sortable_param_name_value: "position",
		tax_sortable_data_tappa: "#{Date.today.to_s}",

    } do %>
    <%= render partial: "tappe/tappa", collection: @tappe, as: :tappa, locals: { with_checkbox: false, with_navigator: true } %>
<% end %>

<%= tag.div "Appunti di OGGI:", class: "text-2xl font-bold p-4" %>
<% @appunti_di_oggi.each do |appunto| %>
    <%= render partial: "appunti/appunto", locals: { appunto: appunto } %>
<% end %>

<%# tag.div data: { controller: 'tax-checkbox-select-all' } do %>
    <%# tag.div "Vendite di OGGI:", class: "text-2xl font-bold p-4" %>
    <%# render "adozioni/form_multi" %>
    <%# tag.div id: "adozioni-lista", class: "sm:px-2" do %>
        <%# render @adozioni %>
    <%# <% end %>
<%# <% end %>


<%#= tag.div do %>
    <%#= tag.div "Adozioni in scorrimento OGGI:", class: "text-2xl font-bold p-4" %>
    <%# <% @adozioni_di_oggi.where(ANNOCORSO: [1,2,4]).where.not(DISCIPLINA: "RELIGIONE").raggruppate.each do |a| %>
        <%# tag.div class: "mx-2 grid grid-cols-8 gap-2" do %>
            <%# tag.div a.disciplina, class: "col-span-3" %>
            <%# tag.div a.classe, class: "col-span-1 text-left" %>
            <%# tag.div a.titolo, class: "col-span-3" %>
            <%# tag.div a.numero_sezioni, class: "col-span-1 text-center" %>
        <%# end %>
    <%# end %>
<%# end %>


