<div id="<%= dom_id documento %>" class="w-full" data-controller="tax-reveal">

	<header class="p-4 flex items-center justify-between border bg-gray-200 rounded-tl-lg rounded-tr-lg">
			
		<%= tag.div class: "block sm:flex gap-4 border items-start" do %>
	
			<%#= component("badge", text: documento.ordine_evaso? ? 'evaso' : "aperto", color:  documento.ordine_evaso? ? 'green' : "red") %>
		
			<%= link_to documento_path(documento), class: "hover:font-bold", data: { turbo_frame: :_top } do %>
				<%= tag.div documento&.causale&.causale %> nr. <%= documento.numero_documento %> del <%= documento.data_documento.strftime("%d-%m-%Y") %>
			<% end %>

			<%= tag.div class: ["text-sm text-gray-500 ", "text-white": @documento == documento] do %>
				
				<%= render partial: "clientable/#{documento.clientable.class.name.underscore}_card", locals: { clientable: documento.clientable } %>
								
				<%= tag.p documento.referente %> 
				<%= tag.p documento.note %> 

			<% end %>					
		
		<% end %>
		
		<div class="flex flex-row gap-2 wrap">
			<%= component 'tax_button',
					caption: "",
					svg_file: "icon-pencil.svg",
					color: "yellow",
					url: documento_step_path(documento, Documento.form_steps.keys.first),
					data_attr: { turbo_frame: :_top} %>
			<%= component 'tax_button',
					caption: "",
					svg_file: "icon-print.svg",
					color: "white",
					url: documento_url(documento, format: :pdf),
					target: "_blank" %>
			<%= component 'tax_button',
					svg_file: "icon-chevron-right.svg",
					color: "transparent",
					data_attr: { action: "click->tax-reveal#toggle", tax_reveal_target: "chevron"} %>
		</div>
	</header>
    
	<ul data-tax-reveal-target="item" class="hidden">
		<%#= turbo_frame_tag "load_more", src: documento_path( documento ), loading: :lazy do %>
		<% documento.documento_righe.includes(riga: :libro).each do |riga| %>
			<%= render partial: "righe/riga_item", locals: { riga: riga.riga } %>
		<% end %>
	</ul>


	<footer class="p-4 border border-t-0 border-gray-300 bg-white mb-4 last:rounded-b-lg last:shadow-md grid grid-cols-6 sm:grid-cols-8">
				
		<%= tag.div class: "col-span-4 flex flex-row gap-2 sm:gap-4" do %>
            <%= render "shared/inline_edit", model: documento, method: :stato_e_pagamento do %>
              <%= tag.div documento.status&.titleize, class: "font-semibold" %>
              <%= tag.div documento.tipo_pagamento&.titleize, class: "font-semibold" %>
              <%= tag.div l(documento.pagato_il, format: "%d-%m"), class: "font-semibold" if documento.pagato_il %>					
            <% end %>
        <% end %>
		
		
		<div class="col-start-4 sm:col-start-5 col-span-1 px-3 text-sm font-bold text-right leading-6 text-gray-900">				
			<%= documento.totale_copie %>
		</div>  

		<div class="col-start-5 sm:col-start-7 col-span-2 pl-3 text-sm font-bold text-right leading-6 text-gray-900">
			<%= number_to_currency documento.totale_importo, locale: :it %>
		</div>
		
	</footer>


</div>

