<div id="<%= dom_id documento %>" class="w-full" data-controller="tax-reveal">

	<%= tag.header class: ["px-4 py-2 flex items-center justify-between border rounded-tl-lg rounded-tr-lg": true,
				"bg-gray-200": documento.pagato? == false,
				"bg-green-200": documento.pagato? == true,
				"bg-red-200": documento.incompleto?] do %>
			
		<%= tag.div class: "block sm:flex gap-4 items-start" do %>

			<%= tag.div class: "flex items-center justify-start gap-2" do %>
				<%= check_box_tag "documento_ids[]", 
					documento.id, 
					false, 
					id: "documento_#{documento.id}", 
					class: "flex-shrink-0 w-7 h-7 rounded-full border-2 border-indigo-300 text-indigo-600 outline-none ring-0 focus:ring-2 focus:ring-indigo-600 focus:ring-offset-0",
					data: {action: "input->bulk-actions#count"} %>

			<%#= component("badge", text: documento.ordine_evaso? ? 'evaso' : "aperto", color:  documento.ordine_evaso? ? 'green' : "red") %>
		
				<%= link_to documento_path(documento), class: "text-sm font-semibold hover:font-bold", data: { turbo_frame: :_top } do %>
					<%= tag.div documento&.causale&.causale %>  
					<%= tag.div "#{documento.numero_documento} del #{documento.data_documento.strftime("%d-%m-%Y")}", class: "text-xs font-semibold text-gray-600" %>
				<% end %>

			<% end %>

			<%= tag.div class: ["text-sm text-gray-500 ", "text-white": @documento == documento] do %>
				
				<%= render partial: "clientables/#{documento.clientable.class.name.underscore}_card", locals: { clientable: documento.clientable } %>
								
				<%= tag.p documento.referente, class: "text-xs" %> 
				<%= tag.p documento.note, class: "text-xs" %> 

			<% end %>					
		
		<% end %>
		
		<div class="flex flex-col sm:flex-row gap-2 wrap">
			<% if documento.incompleto? %>
				<%= component 'tax_button',
						caption: "",
						svg_file: "icon-trash-real.svg",
						color: "red",
						url: documento_path(documento),
						data_attr: { turbo_method: :delete } %>
			<% end %>
			
			<% unless hotwire_native_app? %>
				<%= component 'tax_button',
						caption: "",
						svg_file: "icon-pencil.svg",
					color: "yellow",
					url: documento_step_path(documento, Documento.form_steps.keys.first),
					data_attr: { turbo_frame: :_top} %>
				<%= component 'tax_button',
						caption: "",
						svg_file: "icon-print.svg",
						color: "white",
						url: documento_url(documento, format: :pdf),
						target: "_blank" %>
				<%= component 'tax_button',
						svg_file: "icon-chevron-right.svg",
						color: "transparent",
						data_attr: { action: "click->tax-reveal#toggle", tax_reveal_target: "chevron"} %>
			<% else %>
				<%= component 'tax_button',
					svg_file: "icon-chevron-right.svg",
					color: "transparent",
					url: documento_path(documento),
					data_attr: { turbo_frame: :_top } %>
			<% end %>
		</div>
	<% end %>
    
	<% unless hotwire_native_app? %>
		<ul data-tax-reveal-target="item" class="hidden">
			<%#= turbo_frame_tag "load_more", src: documento_path( documento ), loading: :lazy do %>
			<% documento.documento_righe.each do |riga| %>
				<%= render partial: "righe/riga_item", locals: { riga: riga.riga } %>
			<% end %>
		</ul>
	<% end %>

	<%= tag.footer class: ["p-4 border border-t-0 border-gray-300 mb-4 last:rounded-b-lg last:shadow-md grid grid-cols-6 sm:grid-cols-8": true,
				"bg-gray-200": documento.pagato? == false,
				"bg-green-200": documento.pagato? == true,
				"bg-red-200": documento.incompleto?] do %>
				
		<%= tag.div class: "col-span-6 sm:col-span-8 flex gap-2 sm:gap-4 mb-2" do %>
            <%= render "shared/inline_edit", model: documento, method: :stato_e_pagamento do %>
              <%= tag.div documento.status&.titleize, class: "text-sm text-gray-500 font-semibold" %>
              <%= tag.div documento.tipo_pagamento&.titleize, class: "text-sm text-gray-500 font-semibold" %>
			  <br>
              <%= tag.div l(documento.pagato_il, format: "%d-%m"), class: "text-sm text-gray-500 font-semibold" if documento.pagato_il %>					
            <% end %>
        <% end %>
		
		<%= tag.div class: "col-span-3 sm:col-span-2 flex gap-2 sm:gap-4" do %>
			<%= render Avatar::StackedLibriComponent.new(libri: documento.righe.map(&:libro)) %>
		<% end %>
		
		<div class="col-start-4 sm:col-start-5 col-span-1 px-3 text-sm font-bold text-right leading-6 text-gray-900">				
			<%= documento.totale_copie %>
		</div>  

		<div class="col-start-5 sm:col-start-7 col-span-2 pl-3 text-sm font-bold text-right leading-6 text-gray-900">
			<%= number_to_currency documento.totale_importo, locale: :it %>
		</div>
		
	<% end %>


</div>

