<%= tag.div id: dom_id(documento), class: class_names("documento documento--compact", documento_causale_modifier(documento), "documento--selected": @documento == documento) do %>
    <%= link_to documento_path(documento, @filter_params), class: "documento__link" do %>

        <header class="documento__header">
            <div class="documento__board">
                <span class="documento__id">
                    <span class="for-screen-reader">Numero documento</span>
                    <%= documento.numero_documento %>
                </span>
                <span class="documento__board-name">
                    <span class="overflow-ellipsis"><%= documento.causale.upcase %></span>
                </span>
            </div>
        </header>

        <p class="documento__title">
            <%= documento.causale.causale %>
            <br/>
            nr. <%= documento.numero_documento %> del <%= documento.data_documento.strftime("%d-%m-%Y") %>
        </p>

        <%= tag.p class: "documento__cliente" do %>
            <%= documento.clientable&.denominazione %>
            <%= documento.referente %>
        <% end %>

        <%= tag.p class: "documento__meta" do %>
            <%= documento.documento_righe.count %>
            titoli -
            <%= documento.righe.sum(:quantita) %>
            copie
        <% end %>

        <%= tag.p class: "documento__meta" do %>
            <%= number_to_currency(documento.righe.sum(&:importo)) %>
        <% end %>

        <%= tag.p class: "documento__meta" do %>
            <%= documento.status&.humanize %>
            <%= documento.tipo_pagamento&.titleize %>
            <%= documento.pagato_il&.to_date&.strftime("%d-%m") %>
        <% end %>
    <% end %>
<% end %>
