<%= tag.article id: dom_id(documento),
    class: class_names("documento", documento_causale_modifier(documento), "documento--selected": @documento == documento),
    data: { controller: "tax-reveal" } do %>

  <div class="flex flex-column flex-item-grow max-inline-size">
    <header class="documento__header">
      <div class="documento__board">
        <span class="documento__id">
          <span class="for-screen-reader">Numero documento</span>
          <%= documento.numero_documento %>
        </span>
        <span class="documento__board-name">
          <span class="overflow-ellipsis"><%= documento.causale.descrizione_causale.upcase %></span>
        </span>
      </div>
    </header>

    <div class="documento__body">
      <div class="documento__content">
        <%= render partial: "clientables/#{documento.clientable.class.name.underscore}_card", locals: { clientable: documento.clientable } %>
        <% if documento.referente.present? || documento.note.present? %>
          <div class="documento__stages">
            <%= tag.span documento.referente if documento.referente.present? %>
            <%= tag.span simple_format(documento.note) if documento.note.present? %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <footer class="documento__footer flex gap-half">
    <%= render "documenti/status_badges", documento: documento %>
    <div class="documento__meta-avatars">
      <%#= render Avatar::StackedLibriComponent.new(libri: documento.righe.map(&:libro)) %>
    </div>
    <span class="txt-small font-weight-black"><%= documento.totale_copie %></span>
    <span class="txt-small font-weight-black"><%= number_to_currency documento.totale_importo, locale: :it %></span>
  </footer>

<% end %>
