<%# locals: (documento:, entry: nil, draggable: false) -%>

<% entry ||= documento.entry rescue nil %>
<% draggable = local_assigns.fetch(:draggable, false) %>

<% card_data = {
  navigable_list_target: "item",
  action: "click->navigable-list#hoverSelect mouseenter->navigable-list#hoverSelect"
} %>

<% if entry && draggable %>
  <% card_data[:id] = entry.id %>
  <% card_data[:drag_and_drop_target] = "item" %>
  <% card_data[:css_variable_counter_target] = "item" %>
<% end %>

<%= tag.article id: (entry ? dom_id(entry) : dom_id(documento)),
    class: class_names("card", documento_causale_modifier(documento), "card--selected": @documento == documento),
    tabindex: 0,
    draggable: (draggable && entry.present?),
    data: card_data do %>
  <div class="flex flex-column flex-item-grow max-inline-size">
    <%= link_to documento_path(documento), draggable: false, class: "card__link", data: { turbo_frame: "_top" } do %>
      <span class="for-screen-reader"><%= documento.numero_documento %></span>
    <% end %>

    <header class="card__header">
      <div class="card__board">
        <span class="card__id">
          <span class="for-screen-reader">Numero documento</span>
          <%= documento.numero_documento %>
        </span>
        <span class="card__board-name">
          <span class="overflow-ellipsis"><%= documento.causale.descrizione_causale.upcase %></span>
        </span>
      </div>
    </header>

    <div class="card__body justify-space-between">
      <div class="card__content">
        <%= clientable_label_tag documento.clientable %>
        <% if documento.referente.present? || documento.note.present? %>
          <div class="card__stages">
            <%= tag.span documento.referente if documento.referente.present? %>
            <%= tag.span simple_format(documento.note) if documento.note.present? %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <footer class="card__footer flex gap-half">
    <%= render "documenti/meta", documento: documento %>
  </footer>

<% end %>
