<tr>
  <td class="relative py-5 pr-6">
    
    <div class="flex gap-x-6">
      <div class="flex-auto">
        <div class="flex items-start gap-x-3">
          <div class="text-sm font-medium leading-6 text-gray-900">
            <%= documento.tipo_documento %>
          </div>
        </div>
        <div class="mt-1 text-xs leading-5 text-gray-500">
          <%= link_to documento.numero_documento, documento_path(documento) %>
          del <%= documento.data_documento.strftime('%d-%m-%Y') %>
        </div>
      </div>
    </div>
    
    <div class="absolute bottom-0 right-full h-px w-screen bg-indigo-500"></div>
    <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-500"></div>
  
  </td>
  
  <td class="hidden py-5 pr-6 sm:table-cell">
    <div class="text-sm leading-6 text-gray-900">
      <%= documento.fornitore %>
    </div>
    
    <div class="absolute bottom-0 right-full h-px w-screen bg-indigo-500"></div>
    <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-500"></div>
 
  </td>

  <td class="py-5 text-right">
    <div class="flex justify-end">
      
      <%= number_to_currency documento.totale_documento %>
    
    </div>
    <div class="mt-1 text-xs leading-5 text-gray-500">
      copie 
      <span class="text-gray-900">
        <%= documento.quantita_totale %>
      </span>
    </div>
    
    <div class="absolute bottom-0 right-full h-px w-screen bg-indigo-500"></div>
    <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-500"></div>
 
  </td>


</tr>
