<%= form_with(model: documento, class: "contents") do |form| %>
    
    <% if documento.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2>
                Non posso salvare il documento. <%= t 'misc.errori', count: documento.errors.count %>
            </h2>
        </div>
    <% end %>
  
    <%= tag.section class: "grid grid-cols-4 sm:grid-cols-8 m-2 px-4 bg-gray-200 gap-4 border rounded-lg",
             data: { controller:"tax-combobox-causale" } do %>
        
        <%= tag.fieldset class: "col-span-4 my-5 cb-tax cb-small flex flex-col" do %>
            <%= label_for form: form, field: 'causale', label: 'Tipo documento' %>
            <%= form.combobox :causale_id, Causale.all, 
                            placeholder: "seleziona tipo documento...",
                            data: { action: "hw-combobox:selection->tax-combobox-causale#change",
                                    tax_combobox_causale_target: "combobox" } %>
        <% end %>
    
        <%= tag.fieldset class: "col-span-2 my-5 flex flex-col" do %>
            <%= label_for form: form, field: 'numero_documento', label: 'Numero' %>            
            <%= component 'form_number',form: form, field: 'numero_documento', data_attr: { tax_combobox_causale_target: "prezzo" } %>
            <%#= form.number_field :numero_documento, class: "field w-32", 
                                 data: { tax_combobox_causale_target: "prezzo" } %>
        <% end %>
    
        <%= tag.fieldset class: "col-span-2 my-5" do %>
            <%= label_for form: form, field: 'data_documento', label: 'Data' %>
            <%= form.date_field :data_documento, class: "field w-36" %>
        <% end %>

        <%= render "shared/inline_fields", form: form, method: :stato_e_pagamento do %>
            <%= tag.div class: "sm:mr-4 flex space-x-2 items-center text-black" do %>
                <%= form.label :status, "stato:" %> 
                <%= form.select :status, options_for_select(options_for_select(Documento.statuses.map {|key, value| [key.titleize, Documento.statuses.key(value)]}, documento.status)), {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2" %>
                <%= form.label :tipo_pagamento, "pagamento:" %>
                <%= form.select :tipo_pagamento, options_for_select(options_for_select(Documento.tipo_pagamentos.map {|key, value| [key.titleize, Documento.tipo_pagamentos.key(value)]}, documento.tipo_pagamento)), {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2" %>
                <%= form.label :pagato_il, "pagato il:" %>
                <%= form.date_field :pagato_il, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2" %>
            <% end %>
        <% end %>
   
    <% end %>

    <%= tag.section class: "m-2 col-span-4 px-4 bg-gray-200 border rounded-lg flex flex-col" do %>
        <%= render TaxSelectClientableComponent.new( 
                form: form, 
                clientable_type: documento.clientable_type, 
                clientable_id: documento.clientable_id
            ) %>

        <%= tag.fieldset class: "my-2" do %>
            <%= label_for form: form, field: 'referente', label: 'Referente' %>
            <%= form.text_field :referente, class: "field" %>
        <% end %>    

        <%= tag.fieldset class: "my-2" do %>
            <%= label_for form: form, field: 'note', label: 'Note' %>
            <%= form.text_area :note, class: "field" %>
        <% end %>
    <% end %>

    <%= tag.section id: "documento_righe", class: "col-span-4 px-4" do %>
        <%= render @documento.documento_righe %>
    <% end %>

    <div class="px-4 flex items-start mb-8">
        <%= render TaxButtonComponent.new(
                    caption: "",
                    svg_file: "icon-plus.svg",
                    color: "blue",
                    url: url_for( controller: "documento_righe", action: "new", model: @documento ),
                    data_attr: { turbo_stream: true }
        ) %>
    </div>


    <%#= component("button", state: "primary") { "Salva" } %>
    
    <%#= component("button", type: :reset) { "Annulla" } %>

    <div class="inline px-4">
        <%= form.submit "Salva", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>

<% end %>
