<%= form_with(model: documento, class: "contents") do |form| %>
    
    <% if documento.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2>
                <%= pluralize(documento.errors.count, "errore impedisce", "errori impediscono") %> di salvare il documento:
            </h2>
            <ul>
                <% documento.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
  
    <section class="grid grid-cols-4 sm:grid-cols-8 m-2 px-4 bg-gray-200 border rounded-lg" data-controller="tax-combobox-causale">
        
        <fieldset class="col-span-4 my-5 cb-tax cb-small flex flex-col space-y-2">
            <%= form.label :causale_id, "Tipo documento" %>
            <%= form.combobox :causale_id, Causale.all, label: "tipo documento:", 
                            placeholder: "seleziona tipo documento...",
                            data: { action: "hw-combobox:selection->tax-combobox-causale#change",
                                    tax_combobox_causale_target: "combobox" }%>
        </fieldset>
    
        <fieldset class="col-span-2 my-5">
            <%= form.label :numero_documento, "Numero" %>
            <%= form.number_field :numero_documento, class: "field w-32", 
                                 data: { tax_combobox_causale_target: "prezzo" } %>
        </fieldset>
    
        <fieldset class="col-span-2 my-5">
            <%= form.label :data_documento, "Data" %>
            <%= form.date_field :data_documento, class: "field" %>
        </fieldset>
    </section>

    <section class= "m-2 col-span-4 px-4 bg-gray-200 border rounded-lg">
        <%= render TaxSelectClientableComponent.new( 
                form: form, 
                clientable_type: documento.clientable_type, 
                clientable_id: documento.clientable_id
            ) %>
    </section>

    


  <div id="documento_righe" class="col-span-4 px-4">
    <%= render @documento.documento_righe %>
  </div>

  <div class="px-4 flex items-start mb-8">
    <%= render TaxButton.new(
                caption: "riga",
                svg_file: "icon-plus.svg",
                color: "blue",
                url: url_for( controller: "documento_righe", action: "new", model: @documento ),
                data_attr: { turbo_stream: true }
        ) %>
  </div>

  <div class="inline px-4">
    <%= form.submit "Salva", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
