<%= form_with(model: documento, class: "contents") do |form| %>

    <% if documento.errors.any? %>
        <div id="error_explanation" class="documento-form__errors">
            <h2>
                Non posso salvare il documento. <%= t 'misc.errori', count: documento.errors.count %>
            </h2>
        </div>
    <% end %>

    <%= tag.section class: "documento-form__section documento-form__section--header",
             data: { controller: "tax-combobox-causale" } do %>

        <%= tag.fieldset class: "documento-form__fieldset documento-form__fieldset--causale cb-tax" do %>
            <%= label_for form: form, field: 'causale', label: 'Tipo documento' %>
            <%= form.combobox :causale_id, Causale.all,
                            placeholder: "seleziona tipo documento...",
                            data: { action: "hw-combobox:selection->tax-combobox-causale#change",
                                    tax_combobox_causale_target: "combobox" } %>
        <% end %>

        <%= tag.fieldset class: "documento-form__fieldset documento-form__fieldset--numero" do %>
            <%= label_for form: form, field: 'numero_documento', label: 'Numero' %>
            <%= component 'form_number',form: form, field: 'numero_documento', data_attr: { tax_combobox_causale_target: "prezzo" } %>
            <%#= form.number_field :numero_documento, class: "field w-32", data: { tax_combobox_causale_target: "prezzo" } %>
        <% end %>

        <%= tag.fieldset class: "documento-form__fieldset documento-form__fieldset--data" do %>
            <%= label_for form: form, field: 'data_documento', label: 'Data' %>
            <%= form.date_field :data_documento, class: "field w-36" %>
        <% end %>

        <%= render "shared/inline_fields", form: form, method: :stato do %>
            <%= tag.div class: "documento-form__inline-container" do %>
                <%= tag.div class: "documento-form__inline-field" do %>
                    <%= form.label :status, "stato:" %>
                    <%= form.select :status, options_for_select(options_for_select(Documento.statuses.map {|key, value| [key.titleize, Documento.statuses.key(value)]}, documento.status)), {}, class: "documento-form__inline-select" %>
                <% end %>
            <% end %>
        <% end %>

    <% end %>

    <%= tag.section class: "documento-form__section documento-form__section--clientable" do %>
        <%= render TaxSelectClientableComponent.new(
                form: form,
                type: documento.clientable_type,
                id: documento.clientable_id
            ) %>

        <%= tag.fieldset class: "documento-form__fieldset documento-form__fieldset--small" do %>
            <%= label_for form: form, field: 'referente', label: 'Referente' %>
            <%= form.text_field :referente, class: "field" %>
        <% end %>

        <%= tag.fieldset class: "documento-form__fieldset documento-form__fieldset--small" do %>
            <%= label_for form: form, field: 'note', label: 'Note' %>
            <%= form.text_area :note, class: "field" %>
        <% end %>
    <% end %>

    <%= tag.section id: "documento_righe", class: "documento-form__section documento-form__section--righe",
                    data: { controller: "sortable",
                            sortable_animation_value: "150",
                            sortable_resource_name_value: "documento_riga" } do %>
        <%= render @documento.documento_righe %>
    <% end %>

    <div class="documento-form__actions">
        <%= link_to url_for(controller: "documento_righe", action: "new", model: @documento),
                    class: "btn btn--primary",
                    data: { turbo_stream: true } do %>
          <%= icon_tag "add" %>
          <span>Aggiungi riga</span>
        <% end %>
    </div>


    <%#= component("button", state: "primary") { "Salva" } %>

    <%#= component("button", type: :reset) { "Annulla" } %>

    <div class="documento-form__actions">
        <%= form.submit "Salva", class: "documento-form__submit" %>
    </div>

<% end %>
