<div class="card__meta" id="<%= dom_id(documento, :meta) %>">
  <div class="card__meta-avatars card__meta-avatars--author">
    <%#= avatar_tag card.creator, tabindex: (local_assigns.key?(:preview) && local_assigns[:preview]) ? -1 : 0 %>
    <span>DATA <%= documento.data_documento.strftime("%d/%m/%y") %></span>
  </div>

  <span class="card__meta-text card__meta-text--added">
    <% if documento.consegnato_il.present? %>
      <%= icon_tag "truck" %>
      <%= documento.consegnato_il.strftime("%d/%m/%y") %>
    <% else %>
      DA CONSEGNARE
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--author">
    <% if documento.pagato_il.present? %>
      <%= icon_tag "cash" %>
      <%= documento.pagato_il.strftime("%d/%m/%y") %>
      <% if documento.tipo_pagamento.present? %>
        <%= documento.tipo_pagamento.humanize %>
      <% end %>
    <% else %>
      DA PAGARE
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--updated overflow-ellipsis">
    <span class="text-align-right">COPIE <%= documento.totale_copie %></span>

    <%#= local_datetime_tag(card.last_active_at, style: :daysago) %>
  </span>

  <span class="card__meta-text card__meta-text--assignees overflow-ellipsis">
    <span>IMPORTO <%= number_to_currency documento.totale_importo, locale: :it %></span>
    <%#= icon_tag "arrow-right" if card.assignees.any? %>
    <%#= card.assignees.any? ? "Assigned to" : "Not assigned" %>
    <%#= card.assignees.map { |assignee| "<strong>#{h assignee.familiar_name}</strong>" }.to_sentence.html_safe %>
  </span>

  <div class="card__meta-avatars card__meta-avatars--assignees">
    <%#= yield %>
  </div>
</div>