<div class="flex gap-2 items-center flex-wrap">
  <%= link_to edit_status_documento_path(documento, field: :consegnato_il),
      data: { turbo_frame: "documento_status_modal_#{documento.id}" },
      class: "inline-flex items-center px-3 py-1 rounded-full text-xs font-medium hover:ring-2 hover:ring-offset-1 transition-all #{documento.consegnato_il ? 'bg-green-100 text-green-800 hover:ring-green-300' : 'bg-gray-100 text-gray-600 hover:ring-gray-300'}" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-1">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
    </svg>
    <%= documento.consegnato_il ? "Consegnato #{l(documento.consegnato_il, format: '%d/%m')}" : "Da consegnare" %>
  <% end %>

  <%= link_to edit_status_documento_path(documento, field: :pagato_il),
      data: { turbo_frame: "documento_status_modal_#{documento.id}" },
      class: "inline-flex items-center px-3 py-1 rounded-full text-xs font-medium hover:ring-2 hover:ring-offset-1 transition-all #{documento.pagato_il ? 'bg-green-100 text-green-800 hover:ring-green-300' : 'bg-gray-100 text-gray-600 hover:ring-gray-300'}" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-1">
      <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
    </svg>
    <%= documento.pagato_il ? "Pagato #{l(documento.pagato_il, format: '%d/%m')}" : "Da pagare" %>
  <% end %>
</div>

<%= turbo_frame_tag "documento_status_modal_#{documento.id}" %>
