<% content_for :title, "Documenti" %>

<%= render Heading::WithActionsComponent.new do |heading| %>
    
	<% heading.with_action do %>
        <%= form_for @import, url: documenti_importer_index_path, method: :post, multipart: :true do |f| %>
            <%= tag.div class: "hidden md:flex md:flex-row p-4 bg-gray-200 rounded-md" do %>
                <%= f.file_field :file, accept: 'text/xml' %>
                <%= component('button', busy_content_css: 'flex [[disabled]_&]:opacity-0') do |button| %>
                    <% button.with_busy_content(css: "absolute inset-0 w-full justify-center items-center") do %>
                        <svg stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="size-4"><style>.spinner{transform-origin:center; animation:spinner_outside 2s linear infinite}.spinner circle{stroke-linecap:round;animation:spinner_inside 1.5s ease-in-out infinite}@keyframes spinner_outside{100%{transform:rotate(360deg)}}@keyframes spinner_inside{0%{stroke-dasharray:0 150;stroke-dashoffset:0}47.5%{stroke-dasharray:42 150;stroke-dashoffset:-16}95%,100%{stroke-dasharray:42 150;stroke-dashoffset:-59}}</style><g class="spinner"><circle cx="12" cy="12" r="9.5" fill="none" stroke-width="2"></circle></g></svg>
                    <% end %>
                    File xml
                    <%= inline_svg_tag "icon-paper-clip.svg" %>                   
                <% end %>
            <% end %>
        <% end %>
    <% end %>

    <% heading.with_action do %>
        <%= component 'tax_button',
                caption: "Documento",
                svg_file: "icon-plus.svg",
                color: "blue",
                url: url_for( controller: "documenti", action: "new", model: @documento ),
                data_attr: { turbo_frameaaa: :modal, action: "click->dialog#open" } %>
    <% end %>
    
    <%= h1 {"Documenti"} %>

<% end %>


<%= render TaxTabsComponent.new(
				id: "search_results",	
				container_css: "sticky z-20 top-16 bg-slate-100 bg-gradient-to-r from-purple-100 from-25% border-b rounded-t-lg", 
				items_decorations: "", 
				item_css: "block py-2 text-gray-500 hover:border-indigo-500 hover:text-indigo-600 flex whitespace-nowrap py-4 px-2 text-sm font-medium", 
				active_item_css: "border-b-2 border-indigo-500 text-indigo-600",
				options_for_select: Appunto::FILTERS) do |tabs| %>

	<% tabs.with_item(href: documenti_path) do %>
		<p class="">
			Tutti
			<span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
				<%= current_user.documenti.load.size %>
			</span>
		</p>
	<% end %>
	<% tabs.with_item(href: documenti_path(status: "da_pagare")) do %>
		<p class="">
			Da pagare
			<span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
				<%= current_user.documenti.where(status: "da_pagare").count %>
			</span>
		</p>
	<% end %>
	<% tabs.with_item(href: documenti_path(causale: "Ordine Scuola")) do %>
		<p class="">
			Scuole
			<span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
				<%= current_user.documenti.where(clientable_type: "ImportScuola").load.size %>
			</span>
		</p>
	<% end %>
		<% tabs.with_item(href: documenti_path(causale: "Ordine Cliente")) do %>
		<p class="">
			Clienti
			<span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">
				<%= current_user.documenti.where(clientable_type: "Cliente").count %>
			</span>
		</p>
	<% end %>


  	<%# tabs.with_hidden_item(href: appunti_path(filter: "in_settimana")) { "In settimana" } %>
  	<%# tabs.with_hidden_item(href: appunti_path(filter: "non_archiviati")) { "Non archiviati" } %>
	<%# tabs.with_hidden_item(href: appunti_path(filter: "archiviato")) { "Archiviati" } %> 	

<% end %>


<%= component 'tax_filter_form', base_url: documenti_path, 
	fields: [ 
		{
			field: :search,
			label: "Cerca",
			collection: nil,
			type: :text,
			placeholder: "Cerca per cliente, referente, numero documento, note"
		}, {
			field: :causale,
			label: "Causale",
			collection: Causale.all,
			type: :select,
			placeholder: "Seleziona la causale"
		}, {
			field: :da_pagare,
			label: "Da pagare",
			collection: nil,
			type: :checkbox,
			placeholder: "Seleziona per visualizzare solo i documenti da pagare"
		} 
	] %>


<%= turbo_frame_tag "search_results" do %>

	<%= render GridItemComponent.new(
			item_css: 'flex flex-col bg-white border border-gray-100 rounded-md', 
			header_css: 'flex items-center gap-2 pt-4 px-4', 
			actions_css: 'mt-auto grid-cols-3 border-t border-gray-100 divide-x divide-gray-100') do |grid| %>		
		
		<% @documenti.each do |documento| %>
			
			<% grid.with_item(item_id: dom_id(documento)) do |item| %>
				<% item.with_leader { inline_svg_tag "icon-pdf.svg", class: "size-8 object-fit"    } %>
				<% item.with_title(css: "text-sm font-semibold text-gray-800") { "#{documento.clientable&.denominazione} - #{ documento&.referente}" } %>
				<% item.with_body(css: "text-sm text-gray-500 ml-12") do %>


						<%= documento.causale.causale %> 
						<br/>
						nr. <%= documento.numero_documento %> del <%= documento.data_documento.strftime("%d-%m-%Y") %>
						<br/>
						<p  class="text-right text-sm font-semibold text-gray-500 mr-12">
							<%= documento.documento_righe.count %> 
							titoli - 
							<%= documento.righe.sum(:quantita) %> 
							copie
						</p>
						<p  class="text-right text-sm text-gray-500 mr-12">
							<%= documento.note %> 
						</p>
						<p class="text-right text-sm text-gray-500 mr-12">
							<%= number_to_currency(documento.righe.sum(&:importo)) %>
						</p>
						<p class="text-right text-sm text-gray-500 mr-12">
							<%= documento.status&.humanize %>
							<%= documento.tipo_pagamento&.titleize %>
							<%= documento.pagato_il&.to_date&.strftime("%d-%m") %>
						</p>

				<% end %>
				
				<% item.with_action(href: documento_path(documento), data: { turbo_frame: "_top" }, 
						css: "flex items-center justify-center gap-2 px-2 py-2 text-sm font-medium text-gray-600 truncate hover:text-gray-800 hover:bg-gray-50") do %>
					Apri
				<% end %>
				
				<% item.with_action(href: edit_documento_path(documento), data: { turbo_frame: "_top" }, 
						css: "flex items-center justify-center gap-2 px-2 py-2 text-sm font-medium text-gray-600 truncate hover:text-gray-800 hover:bg-gray-50") do %>
					<%= inline_svg_tag "icon-pencil.svg" %>
					Modifica
				<% end %>	

				<% item.with_action(href: documento_path(documento), 
						data: { turbo_method: :delete , turbo_confirm: "Sei sicuro di voler eliminare il documento?" }, 
						css: "flex items-center justify-center gap-2 px-2 py-2 text-sm font-medium text-red-600 truncate hover:text-red-800 hover:bg-gray-50") do %>
					<%= inline_svg_tag "icon-trash.svg" %>
					Elimina
				<% end %>			
			<% end %>
		<% end %>
	<% end %>
  
	<div class="mx-2 mt-8 flow-root sm:mx-0">
		<table class="min-w-full">
			<colgroup>
				<col class="w-full sm:w-1/3">
				<col class="w-full sm:w-1/3">
				<col class="w-full sm:w-1/3">
			</colgroup>
			
			<thead class="border-b border-gray-300 text-gray-900">
				<tr>
					<th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Documento</th>
					<th scope="col" class="hidden sm:table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900 ">Fornitore</th>
					<th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">...</th>
				</tr>
			</thead>
			
			<tbody>
				<% @documenti.each do |documento| %>      
					<%=  render partial: "documenti/documento_table", locals: { documento: documento } %>
				<% end %>  
			</tbody>

			<tfoot>
				<tr>
					<th scope="row" colspan="4" class="hidden pl-4 pr-3 pt-4 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">Totale copie</th>
					<th scope="row" class="pl-4 pr-3 pt-4 text-left text-sm font-normal text-gray-500 sm:hidden">Totale copie</th>
					<td class="pl-3 pr-4 pt-4 text-right text-sm text-gray-500 sm:pr-0">

					</td>
				</tr>
				<tr>
					<th scope="row" colspan="4" class="hidden pl-4 pr-3 pt-4 text-right text-sm font-semibold text-gray-900 sm:table-cell sm:pl-0">Totale</th>
					<th scope="row" class="pl-4 pr-3 pt-4 text-left text-sm font-semibold text-gray-900 sm:hidden">Totale</th>
					<td class="pl-3 pr-4 pt-4 text-right text-sm font-semibold text-gray-900 sm:pr-0">

					</td>
				</tr>
			</tfoot>
		</table>
	</div>

<% end %>