<% @page_title = "Documenti" %>
<% @body_class = "contained-scrolling" %>


<% content_for :header do %>
	<div class="header__actions header__actions--start">
    <%= link_to documenti_path(format: :xlsx, params: request.query_parameters), class: "btn",
        data: { controller: "link-modifier", link_modifier_target: "link" } do %>
      <%= icon_tag "document" %>
      <span class="for-screen-reader">Esporta in excel</span>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Documenti</span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= link_to new_documento_path, class: "btn" do %>
      <%= icon_tag "add" %>
      <span class="for-screen-reader">Nuova documento</span>
    <% end %>
  </div>
<% end %>

<% if hotwire_native_app? %>
	<%= link_to new_documento_path, class: "hidden",
			data: { controller: "bridge--button", bridge_title: "Nuovo" } do %>
			<%= icon_tag "plus", class: "card-icon--medium" %>
	<% end %>
	<%= render "shared/native_search_filter",
		url: documenti_path,
		filter_url: filtra_documenti_path(params: request.query_parameters),
		placeholder: "Cerca documenti..." %>
<% end %>

<%= render "filters/settings",
      filter_url: documenti_path,
      user_filtering: @user_filtering,
      no_filtering_url: documenti_path,
      filter_type: "documento" %>

<%= turbo_frame_tag :search_results do %>
    <%#= render "documenti/bulk_actions/form" %>

    <% if @page.used? %>
      <p class="txt-small txt-subtle margin-block-end-half center">
        <%= @total_count %> <%= @total_count == 1 ? "documento trovato" : "documenti trovati" %>
      </p>

      <div class="cards cards--grid">
        <%= with_automatic_pagination :documenti, @page,
            id: "cards-lista",
            class: "cards__list",
            data: { controller: "navigable-list",
                navigable_list_auto_select_value: false,
                navigable_list_actionable_items_value: true,
                navigable_list_prevent_handled_keys_value: true,
                action: "keydown->navigable-list#navigate"
              } do %>
          <%= render @page.records %>
        <% end %>
      </div>
  <% else %>
    <div class="blank-slate blank-slate--empty">
      <h3 class="txt-large font-weight-bold">Nessun documento trovato</h3>
      <p class="txt-small txt-subtle margin-block-end">
        <% if @user_filtering.filters_active? %>
          Prova a modificare i filtri di ricerca.
        <% else %>
          Inizia aggiungendo il primo documento.
        <% end %>
      </p>
      <% unless @user_filtering.filters_active? %>
        <%= link_to new_appunto_path, class: "btn btn--primary" do %>
          <%= icon_tag "plus", size: "small" %>
          Aggiungi Documento
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>








