<% content_for :title, "Documenti" %>

<div class="sticky top-20 z-10">
	<%= render Heading::WithActionsComponent.new do |heading| %>
		
		<% heading.with_action do %>
			<%= form_for @import, url: documenti_importer_index_path, method: :post, multipart: :true do |f| %>
				<%= tag.div class: "hidden xl:flex xl:flex-row items-center px-4 py-2.5 bg-gray-200 rounded-md" do %>
					<%= f.file_field :file, accept: 'text/xml' %>
					<%= component('button', busy_content_css: 'flex py-1 [[disabled]_&]:opacity-0') do |button| %>
						<% button.with_busy_content(css: "absolute inset-0 w-full justify-center items-center") do %>
							<svg stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="size-4"><style>.spinner{transform-origin:center; animation:spinner_outside 2s linear infinite}.spinner circle{stroke-linecap:round;animation:spinner_inside 1.5s ease-in-out infinite}@keyframes spinner_outside{100%{transform:rotate(360deg)}}@keyframes spinner_inside{0%{stroke-dasharray:0 150;stroke-dashoffset:0}47.5%{stroke-dasharray:42 150;stroke-dashoffset:-16}95%,100%{stroke-dasharray:42 150;stroke-dashoffset:-59}}</style><g class="spinner"><circle cx="12" cy="12" r="9.5" fill="none" stroke-width="2"></circle></g></svg>
						<% end %>
						Importa xml                 
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		
		<% heading.with_action do %>
			<%= component 'tax_button',
					caption: "Excel",
					svg_file: "icon-excel-bis.svg",
					color: "green",
					url: url_for( controller: "documenti", action: "index", format: :xlsx, params: request.query_parameters ),
					data_attr: { controller: "link-modifier", link_modifier_target: "link" } %> 
		<% end %>

		<% heading.with_action do %>
			<%= component 'tax_button',
					caption: "Documento",
					svg_file: "icon-plus.svg",
					color: "blue",
					url: url_for( controller: "documenti", action: "new", model: @documento ),
					data_attr: { turbo_frameaaa: :modal, action: "click->dialog#open" } %>
		<% end %>
		
		<%= h1 {"Documenti"} %>

	<% end %>
</div>



<%= turbo_frame_tag "search_results" do %>

	<%= tag.div class: "flex flex-col lg:pr-[15rem]" do %>
		
		<%#= render partial: "documenti_grid_component" %>
		<%#= render partial: "documenti_table" %>
		<%= render @documenti %>
	<% end %>

	<aside class="fixed inset-y-0 right-0 hidden w-72 overflow-y-auto pt-[184px] lg:px-8 lg:block">
		<%= component 'tax_filter_form', base_url: documenti_path, 
				fields: [ 
					{
						field: :search,
						label: "Cliente",
						collection: nil,
						type: :text,
						placeholder: "cliente..."
					}, {
						field: :search_libro,
						label: "Libro",
						collection: nil,
						type: :text,
						placeholder: "libro..."
					},{
						field: :causale,
						label: "Causale",
						collection: Causale.all,
						type: :select,
						placeholder: "causale..."
					}, {
						field: :status,
						label: "Stato",
						collection: Documento.statuses.map {|key, value| [key.titleize, Documento.statuses.key(value)]},
						type: :select,
						placeholder: "stato..."
					}, {
						field: :tipo_pagamento,
						label: "Pagamento",
						collection: Documento.tipo_pagamentos.map {|key, value| [key.titleize, Documento.tipo_pagamentos.key(value)]},
						type: :select,
						placeholder: "pagamento..."
					},{
						field: :ordina_per,
						label: "Ordina",
						collection: ["data documento", "fresh", "creato il"],
						type: :select,
						placeholder: "ordina per"
					}
				] %>
	</aside>
<% end %>



	


		