<%= heading do %>	

	<%= h1 {"Documenti"} %>

	<div class="py-2">
		<%= link_to("< indietro", :back, class:"btn") %>
	</div>

<% end %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Documenti" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Documenti</h1>
    <%= link_to "New documento", new_documento_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="documenti" class="min-w-full">
    <% @documenti.each do |documento| %>
      <%= render documento %>
      <p>
        <%= link_to "Show this documento", documento, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
<%= turbo_frame_tag "search_results" do %>
	<div class="mx-2 mt-8 flow-root sm:mx-0">
		<table class="min-w-full">
			<colgroup>
				<col class="w-full sm:w-1/3">
				<col class="w-full sm:w-1/3">
				<col class="w-full sm:w-1/3">
			</colgroup>
			
			<thead class="border-b border-gray-300 text-gray-900">
				<tr>
					<th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Documento</th>
					<th scope="col" class="hidden sm:table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900 ">Fornitore</th>
					<th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">...</th>
				</tr>
			</thead>
			
			<tbody>
				<% @documenti.each do |documento| %>      
					<%=  render partial: "documenti/documento_table", locals: { documento: documento } %>
				<% end %>  
			</tbody>

			<tfoot>
				<tr>
					<th scope="row" colspan="4" class="hidden pl-4 pr-3 pt-4 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">Totale copie</th>
					<th scope="row" class="pl-4 pr-3 pt-4 text-left text-sm font-normal text-gray-500 sm:hidden">Totale copie</th>
					<td class="pl-3 pr-4 pt-4 text-right text-sm text-gray-500 sm:pr-0">

					</td>
				</tr>
				<tr>
					<th scope="row" colspan="4" class="hidden pl-4 pr-3 pt-4 text-right text-sm font-semibold text-gray-900 sm:table-cell sm:pl-0">Totale</th>
					<th scope="row" class="pl-4 pr-3 pt-4 text-left text-sm font-semibold text-gray-900 sm:hidden">Totale</th>
					<td class="pl-3 pr-4 pt-4 text-right text-sm font-semibold text-gray-900 sm:pr-0">

					</td>
				</tr>
			</tfoot>
		</table>
	</div>
<% end %>