<div class="mx-auto md:w-10/12 w-full flex gap-8">

  <%#= tag.div class: "hidden xl:block min-w-64 max-h-screen	overflow-y-scroll pr-2" do %>
    <%#= component 'tax_filter_form', base_url: documenti_path, 
        fields: [ 
          {
            field: :search,
            label: "Cerca",
            collection: nil,
            type: :text,
            placeholder: "cliente..."
          }, {
            field: :search_libro,
            label: "Cerca libro",
            collection: nil,
            type: :text,
            placeholder: "libro..."
          },{
            field: :causale,
            label: "Causale",
            collection: Causale.all,
            type: :select,
            placeholder: "causale..."
          }, {
            field: :status,
            label: "Status",
            collection: Documento.statuses.map {|key, value| [key.titleize, Adozione.statuses.key(value)]},
            type: :select,
            placeholder: "stato..."
          }, {
            field: :ordina_per,
            label: "Ordina per",
            collection: ["data documento", "fresh"],
            type: :select,
            placeholder: "ordina per"
          }
        ] %>
    <%#= render partial: "documento_card", collection: @documenti, as: :documento %>
  <%# end %>
 
  <%= tag.div class: "flex flex-col w-full" do%>
    <%= render Heading::WithActionsComponent.new(level: 'h2') do |heading| %>

        <%# <% heading.with_leader do %>
            <%# <%= render AvatarComponent.new(user: OpenStruct.new(name: "Ordine Cliente"), size: "xl") %>
        <%# <% end %>
        
        <% heading.with_description(css: "bg-red-500") {"nr #{@documento.numero_documento} del #{@documento.data_documento&.strftime('%d-%m-%y')}" } %>

        <% heading.with_action do %>
            <%= component 'tax_button',
                    style: :button,
                    caption: "Elimina",
                    svg_file: "icon-trash-real.svg",
                    color: "red",
                    url: url_for( controller: "documenti", action: "destroy", model: @documento, method: :delete ),
                    data_attr: {
                      turbo_method: "delete",
                      turbo_confirm: "Vuoi veramente eliminare questo documento?",
                      turbo_confirm_theme: "",
                      turbo_confirm_confirm_label: "Si, distruggilo!",
                      turbo_confirm_cancel_label: "Oops, no annulla…",
                    } %>                  
        <% end %>

        <% heading.with_action do %>
            <%= component 'tax_button', 
                    caption: "Stampa",
                    svg_file: "icon-print.svg",
                    color: "white",
                    url: documento_path(@documento, format: :pdf),
                    target: "_blank" %>
        <% end %>  

        <% heading.with_action do %>
            <%= component 'tax_button',
                    caption: "Modifica",
                    svg_file: "icon-pencil.svg",
                    color: "yellow",
                    url:  documento_step_path(@documento, Documento.form_steps.keys.first) %>
                   
                    
        <% end %>

        <% heading.with_action do %>
            <%= component 'tax_button',
                    caption: "Indietro",
                    svg_file: "icon-arrow-long-left.svg",
                    color: "white",
                    url: 'javascript:history.back()' %>
        <% end %>

        <% heading.with_action do %>
            <%= component 'tax_button',
                    caption: "Nuovo",
                    svg_file: "icon-plus.svg",
                    color: "blue",
                    url: url_for( controller: "documenti", action: "new", model: @documento ) %>
        <% end %>

        <%= @documento.causale %>

    <% end %>

    <div class="sm:flex sm:items-center">
      
        <div class="px-4 sm:flex-auto">
            <h1 class="text-xl font-semibold leading-6 text-gray-900">
                <%= @documento.clientable.denominazione %></h1>
            
            <p class="mt-1 text-sm text-gray-500">
                <%= @documento.referente %>
            </p>
            <p class="mt-1 text-sm text-gray-500">
                <%= @documento.note %>
            </p>

            <%= tag.div class: "py-2 flex flex-row gap-2 sm:gap-4" do %>
                <%= render "shared/inline_edit", model: @documento, method: :stato_e_pagamento do %>
                    <%= tag.div @documento.status&.titleize, class: "font-semibold" %>
                    <%= tag.div @documento.tipo_pagamento&.titleize, class: "font-semibold" %>
                    <%= tag.div l(@documento.pagato_il, format: "%d-%m-%y"), class: "font-semibold" if @documento.pagato_il %>					
                <% end %>
            <% end %>

        </div>

    </div>

    <div class="px-0 sm:px-4 mt-8 flow-root">
      <table class="min-w-full">
        <colgroup>
          <col class="w-full sm:w-1/2">
          <col class="sm:w-1/8">
          <col class="sm:w-1/8">
          <col class="sm:w-1/8">
          <col class="sm:w-1/6">
        </colgroup>
        
        <thead class="border-b border-gray-300 text-gray-900">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Titolo</th>
            <th scope="col" class="hidden px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:table-cell">Prezzo</th>
            <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Quantita</th>
            <th scope="col" class="hidden px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:table-cell">Sconto</th>
            <th scope="col" class="py-3.5 pl-3 pr-4 text-right text-sm font-semibold text-gray-900 sm:pr-0">Importo</th>
          </tr>
        </thead>
        
        <tbody>

          <% @documento.documento_righe.order(:posizione).each do |docu_riga| %> 
            <%=  render partial: "righe/riga", locals: { riga: docu_riga.riga } %>    
          <% end %>
        
        </tbody>
        
        <tfoot>
          <tr>
            <th scope="row" colspan="4" class="hidden pl-4 pr-3 pt-4 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">Totale copie</th>
            <th scope="row" colspan="2" class="pl-4 pr-3 pt-4 text-left text-sm font-normal text-gray-500 sm:hidden">Totale copie</th>
            <td class="pl-3 pr-4 pt-4 text-right text-sm text-gray-500 sm:pr-0">
              <%= @documento.righe.sum(&:quantita) %>
            </td>
          </tr>
          <tr>
            <th scope="row" colspan="4" class="hidden pl-4 pr-3 pt-4 text-right text-sm font-semibold text-gray-900 sm:table-cell sm:pl-0">Totale importo</th>
            <th scope="row" colspan="2" class="pl-4 pr-3 pt-4 text-left text-sm font-semibold text-gray-900 sm:hidden">Totale importo</th>
            <td class="pl-3 pr-4 pt-4 text-right text-sm font-semibold text-gray-900 sm:pr-0">
              <%= number_to_currency @documento.righe.sum(&:importo), locale: :it %>
            </td>
          </tr>
        </tfoot>
      </table>



    </div>
  <% end %>

</div>

