<% @page_title = "#{@editing ? 'Modifica ' : ''}#{@documento.causale || 'Documento'} ##{@documento.numero_documento || 'BOZZA'}" %>
<% turbo_refreshes_with method: :morph, scroll: :preserve %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <% info = referrer_back_info || { label: "Documenti", path: documenti_path } %>
    <%= back_link_to info[:label], info[:path] %>
  </div>

  <% if @editing %>
    <h1 class="header__title divider divider--fade full-width">
      <span class="overflow-ellipsis"><%= @is_new ? 'Nuovo' : 'Modifica' %> <%= @documento.causale || "Documento" %></span>
      <span class="txt-small txt-subtle">nr <%= @documento.numero_documento || 'BOZZA' %></span>
    </h1>
  <% end %>

  <div class="header__actions header__actions--end">
  </div>
<% end %>

<%= turbo_stream_from @documento.entry if @documento.entry %>
<%= tag.meta name: "entry-id", content: @documento.entry&.id if @documento.entry %>

<div class="full-width card-grid pad group show-navigator">
  <%= render "documenti/container",
             documento: @documento,
             editing: @editing || false,
             is_new: @is_new || false,
             documento_json: @documento_json,
             righe_json: @righe_json %>
</div>
