<h2>Invia istruzioni Scagnozz CLI</h2>
<p class="txt-subtle margin-block-end-double">
  Seleziona gli utenti a cui inviare le istruzioni per installare e configurare Scagnozz CLI
</p>

<%= form_with url: admin_cli_mails_path, method: :post do |f| %>
  <table class="table table--compact admin-table--narrow margin-block-end">
    <thead>
      <tr>
        <th>
          <input type="checkbox" id="select-all" onchange="document.querySelectorAll('input[name=\'user_ids[]\']').forEach(cb => cb.checked = this.checked)">
        </th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ruolo</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= check_box_tag "user_ids[]", user.id, false, id: "user_#{user.id}" %>
          </td>
          <td><%= user.name %></td>
          <td class="txt-subtle"><%= user.email %></td>
          <td><%= user.role %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.submit "Invia istruzioni CLI", class: "btn btn--primary" %>
<% end %>
