<%= turbo_frame_tag :mandati_form do %>
    <div class="flex flex-column gap-half margin-block-start">

        <%= render partial: "mandati/mandati_select", locals: { gruppi: @gruppi, editori: @editori } %>

        <%= form_with url: mandati_path, method: :post, class: "flex justify-end margin-block-start-half" do |f| %>
            <%= hidden_field_tag "hgruppo" %>
            <%= hidden_field_tag "heditore" %>

            <%= f.button type: "submit", class: "btn btn--circle btn--link", aria: { label: "Aggiungi editore" } do %>
                <%= icon_tag "plus" %>
            <% end %>
        <% end %>
    </div>
<% end %>
