<div id="mandati-form">
    <div class="flex flex-wrap gap-half align-center justify-center margin-block-start-double">

        <%= render partial: "mandati/mandati_select", locals: { gruppi: gruppi, editori: editori } %>

        <div data-controller="dialog" data-dialog-modal-value="true" data-action="keydown.esc->dialog#close:stop">
            <button type="button" class="btn btn--circle btn--link" data-action="dialog#open" aria-label="Aggiungi editore">
                <%= icon_tag "add" %>
            </button>
            <dialog class="dialog panel fill-white shadow gap flex-column" style="width: min(90vw, 20rem);" data-dialog-target="dialog">
                <%= form_with url: mandati_path, method: :post do |f| %>
                    <h3 class="txt-large txt-bold">Conferma editore</h3>
                    <p class="txt-small txt-subtle">Aggiungere il gruppo selezionato a tutte le zone attive?</p>

                    <%= hidden_field_tag "hgruppo", nil, id: "hgruppo" %>
                    <%= hidden_field_tag "heditore", nil, id: "heditore" %>

                    <div class="flex gap-half justify-end margin-block-start">
                        <button type="button" class="btn" data-action="dialog#close">Annulla</button>
                        <%= f.button type: "submit", class: "btn btn--link" do %>
                            Aggiungi
                        <% end %>
                    </div>
                <% end %>
            </dialog>
        </div>

    </div>
</div>
