<%= turbo_frame_tag dom_id(@documento) do %>

    <%= tag.div class: "w-full mx-auto sm:max-w-4xl gap-4" do %>

        <% content_for :step_summary do %>
            <%= render partial: "steps_controllers/documento_steps/documento_summary", locals: { resource: @documento } %>
        <% end %>

        <%= render partial: "steps_controllers/common/steps_header", locals: { resource: @documento } %>   

        <%= tag.div class: "hidden sm:flex justify-between items-center" do %>
            <%= form_for @import, url: documenti_importer_index_path, method: :post, multipart: :true do |f| %>
                
                <%= f.hidden_field :import_method, value: @import.import_method %>
                <%= f.hidden_field :documento_id, value: @documento.id %>
                
                <%= tag.div class: "flex flex-col sm:flex-row items-center px-4 py-2.5" do %>
                    <%= f.file_field :file, accept: 'text/csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel',
                            class: "block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" %>
                    <%= component('button', busy_content_css: 'flex py-1 [[disabled]_&]:opacity-0') do |button| %>
                        <% button.with_busy_content(css: "absolute inset-0 w-full justify-center items-center") do %>
                            <svg stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="size-4"><style>.spinner{transform-origin:center; animation:spinner_outside 2s linear infinite}.spinner circle{stroke-linecap:round;animation:spinner_inside 1.5s ease-in-out infinite}@keyframes spinner_outside{100%{transform:rotate(360deg)}}@keyframes spinner_inside{0%{stroke-dasharray:0 150;stroke-dashoffset:0}47.5%{stroke-dasharray:42 150;stroke-dashoffset:-16}95%,100%{stroke-dasharray:42 150;stroke-dashoffset:-59}}</style><g class="spinner"><circle cx="12" cy="12" r="9.5" fill="none" stroke-width="2"></circle></g></svg>
                        <% end %>
                        Importa                 
                    <% end %>
                <% end %>
            <% end %>

            <% if @documento_righe.size > 20 %>
                <%= tag.div id: "top", class: "align-right" do %>
                    <%= component "tax_button", 
                            svg_file: "icon-chevron-double-down",
                            color: "transparent",
                            url: "#bottom",
                            data_attr: { controller: "scroll-to",  scroll_to_offset_value: "300", scroll_to_behavior_value: "smooth" } %>
                <% end  %>
            <% end %>
        <% end %>

        <%= form_with model: @documento, url: wizard_path, method: :put, data: { turbo_action: "advance", controller: "unload" }, class: "px-2 py-5"  do |f| %>
            
            <%= tag.section id: "documento_righe", class: "col-span-4",
                            data: { controller: "sortable",
                                    sortable_animation_value: "150",
                                    sortable_resource_name_value: "documento_riga",
                                    sortable_handle_value: ".handle",
                                    clientable_id: @documento.clientable_id,
                                    clientable_type: @documento.clientable_type } do %>
                <%= render partial: "documento_righe/documento_riga", collection: @documento_righe %>
            <% end %>

            <div class="py-4 flex justify-between  mb-6">
                <%= render TaxButtonComponent.new(
                            caption: "",
                            svg_file: "icon-plus.svg",
                            color: "gray",
                            url: url_for( controller: "/documento_righe", action: "new", model: @documento ),
                            data_attr: { turbo_stream: true }
                ) %>

                <% if @documento_righe.size > 20 %>
                    <%= tag.div id: "bottom" do %>
                        <%= component "tax_button", 
                                svg_file: "icon-chevron-double-up",
                                color: "transparent",
                                url: "#top",
                                data_attr: { controller: "scroll-to",  scroll_to_offset_value: "300", scroll_to_behavior_value: "smooth" } %>
                    <% end  %>
                <% end %>
            </div>
          
            <%= tag.div(id: "bottom", class: "mt-10 w-full inline-flex gap-2 items-center justify-end mb-7") do %>
                <%#= link_to "Indietro", previous_wizard_path, data: { turbo_action: "advance" }, class: "px-4 rounded-md py-2 bg-gray-500 hover:bg-gray-400 focus:bg-gray-400 text-white"  %>
                
                <%= component "tax_button",
                        caption: "Indietro",
                        color: "gray",
                        url: previous_wizard_path,
                        data_attr: { turbo_action: "advance" } %>
                
                <%= f.submit 'Avanti', name: "next", class: "px-4 py-2 rounded-md bg-gray-500 hover:bg-gray-400 focus:bg-gray-400 text-white" %>
            <% end %>

        <% end %>

        <%= render partial: "sfascicolator/form", locals: { documento: @documento } %>
        <%= render partial: "steps_controllers/common/steps_footer", locals: { resource: @documento } %>  

    <% end %>
<% end %>