<%# locals: (documento:, entry: nil, draggable: false) -%>

<% entry ||= documento.entry rescue nil %>

<% card_data = {
  navigable_list_target: "item",
  action: "click->navigable-list#hoverSelect mouseenter->navigable-list#hoverSelect contextmenu->navigable-list#toggleSelection"
} %>

<% if entry && draggable %>
  <% card_data[:id] = entry.id %>
  <% card_data[:drag_and_drop_target] = "item" %>
  <% card_data[:css_variable_counter_target] = "item" %>
<% end %>

<%= tag.article id: (entry ? dom_id(entry) : dom_id(documento)),
    class: class_names("card", documento_causale_modifier(documento), documento_golden_class(documento), "card--selected": @documento == documento),
    style: "--card-color: #{documento_color(documento)};",
    tabindex: 0,
    draggable: (draggable && entry.present?),
    data: card_data do %>
  <label class="card__checkbox">
    <%= check_box_tag "ids[]", documento.id, false, data: { action: "change->bulk-actions#count" } %>
  </label>

  <header class="card__header">
    <%= render "documenti/display/preview/board", documento: documento %>
  </header>

  <div class="card__body">
    <div class="card__content">
      <%= link_to documento_path(documento), draggable: false, class: "card__link", data: { turbo_frame: "_top" } do %>
        <span class="for-screen-reader"><%= documento.causale&.causale %> #<%= documento.numero_documento %></span>
      <% end %>
      <% if documento.clientable.present? %>
        <%= clientable_label_tag documento.clientable %>
      <% else %>
        <h3 class="card__title overflow-line-clamp">
          <%= documento.causale&.causale %>
          nr. <%= documento.numero_documento %>
        </h3>
      <% end %>
      <% if documento.referente.present? || documento.note.present? %>
        <div class="margin-block-start-half margin-inline-start">
          <%= tag.span documento.referente if documento.referente.present? %>
        </div>
      <% end %>
    </div>

    <%# questo è display: none in index %>
    <%= render "documenti/display/preview/columns", documento: documento %>
  </div>

  <footer class="card__footer flex gap-half">
    <%= render "documenti/display/preview/meta", documento: documento %>
  </footer>
<% end %>
