<% @page_title = "Bolle visione" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
  </div>
  <h1 class="header__title"><%= @page_title %></h1>
  <div class="header__actions header__actions--end">
  </div>
<% end %>

<section class="panel panel--wide shadow center">
  <% if @bolle_visione.any? %>
    <ul class="flex flex-column gap-half unpad margin-none">
      <% @bolle_visione.each do |bolla| %>
        <li class="list-style-none margin-none" style="border-block-end: 1px solid var(--color-ink-lighter);">
          <%= link_to bolla_visione_path(bolla), class: "txt-ink flex justify-space-between align-center gap pad-block" do %>
            <div class="flex flex-column min-width">
              <strong>BV-<%= bolla.numero %></strong>
              <span class="txt-small"><%= bolla.scuola.denominazione %></span>
              <span class="txt-x-small txt-subtle"><%= bolla.collana.nome %></span>
            </div>
            <span class="txt-small txt-subtle flex-item-no-shrink"><%= l(bolla.data_bolla, format: :short) %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="txt-subtle txt-small">Nessuna bolla emessa</p>
  <% end %>
</section>
