<%# locals: (cliente:, presenter:, sconti:) -%>

<section id="<%= dom_id(cliente, :container) %>" class="card-perma" style="--card-color: <%= cliente_color(cliente) %>;">
  <div class="card-perma__actions card-perma__actions--left">
    <%= render "tappe/pianifica", source: cliente %>
  </div>
  
  
  <div class="card-perma__bg">
    <article class="card">
      <header class="card__header">
        <%= render "clienti/display/perma/board", cliente: cliente %>
      </header>

      <div class="card__body justify-space-between">
        <div class="card__content">
          <%= turbo_frame_tag cliente, :edit do %>
            <% if @edit_mode %>
              <%= render "clienti/edit_form", cliente: cliente %>
            <% else %>
              <%= render "clienti/container/content_display", cliente: cliente %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="card__riepilogo full-width margin-block-end">
        <%= render "clienti/container/riepilogo", presenter: presenter, sconti: sconti %>
      </div>

      <footer class="card__footer full-width flex align-start gap">
        <%= render "clienti/display/perma/meta", cliente: cliente %>
      </footer>
    </article>
  </div>

  <div class="card-perma__actions card-perma__actions--right">
    <%= link_to new_documento_path(clientable_id: cliente.id, clientable_type: "Cliente"), class: "btn btn--primary", data: { controller: "tooltip", tooltip_content_value: "Nuovo documento" } do %>
      <%= icon_tag "add" %>
      <span class="for-screen-reader">Nuovo documento</span>
    <% end %>
  </div>

  <div class="card-perma__notch card-perma__notch--bottom">
    <%= turbo_frame_tag cliente, :footer do %>
      <% if @edit_mode %>
        <%= render "clienti/edit_footer", cliente: cliente %>
      <% else %>
        <%= render "clienti/container/footer/display", cliente: cliente %>
      <% end %>
    <% end %>
  </div>
</section>
