<%# locals: (cliente:, documenti:, sconti:) -%>

<section id="<%= dom_id(cliente, :container) %>" class="card-perma" style="--card-color: <%= cliente_color(cliente) %>;">
  <div class="card-perma__actions card-perma__actions--left">
    <%= link_to edit_cliente_path(cliente), class: "btn", data: { controller: "tooltip hotkey", action: "keydown.e@document->hotkey#click", tooltip_content_value: "Modifica" } do %>
      <%= icon_tag "pencil" %>
      <span class="for-screen-reader">Modifica</span>
    <% end %>
  </div>

  <div class="card-perma__bg">
    <article class="card">
      <header class="card__header">
        <%= render "clienti/display/perma/board", cliente: cliente %>
      </header>

      <div class="card__body justify-space-between">
        <div class="card__content">
          <%= render "clienti/container/content", cliente: cliente %>
        </div>
      </div>

      <footer class="card__footer full-width flex align-start gap">
        <%= render "clienti/display/perma/meta", cliente: cliente %>
      </footer>
    </article>
  </div>

  <div class="card-perma__actions card-perma__actions--right">
    <%= link_to mappe_path("cliente-#{cliente.id}"),
        class: "btn", data: { controller: "tooltip", tooltip_content_value: "Posizione" } do %>
      <%= icon_tag "marker" %>
      <span class="for-screen-reader">Posizione</span>
    <% end %>
    <%= link_to go_to_tappable_path(cliente, current_user.effective_navigator),
        target: "_blank",
        class: "btn", data: { controller: "tooltip", tooltip_content_value: "Naviga" } do %>
      <%= icon_tag "globe" %>
      <span class="for-screen-reader">Naviga</span>
    <% end %>
    <%= link_to new_documento_path(clientable_id: cliente.id, clientable_type: "Cliente"), class: "btn", data: { controller: "tooltip", tooltip_content_value: "Nuovo documento" } do %>
      <%= icon_tag "plus" %>
      <span class="for-screen-reader">Nuovo documento</span>
    <% end %>
  </div>

  <div class="card-perma__notch card-perma__notch--bottom">
    <%= render "clienti/container/footer", cliente: cliente, documenti: documenti, sconti: sconti %>
  </div>
</section>
