<%# locals: (tappe_per_area:) -%>

<% if tappe_per_area.empty? %>
  <div class="blank-slate blank-slate--empty margin-block-end">Nessuna tappa da programmare</div>
<% else %>
  <% tappe_per_area.each do |area, direzioni| %>
    <div class="agenda-planner__area-label">
      <span><%= area.upcase %></span>
    </div>

    <% direzioni.each do |direzione, tappe| %>
      <div class="agenda-planner__direzione">
        <div class="agenda-planner__direzione-header"
             draggable="true"
             data-action="dragstart->agenda-planner#direzioneStart dragend->agenda-planner#dragEnd">
          <span class="txt-xx-small txt-subtle txt-bold"><%= direzione.respond_to?(:denominazione) ? direzione.denominazione : "Senza direzione" %></span>
        </div>
        <div class="agenda-planner__direzione-body">
          <% tappe.sort_by { |t| t.tappable.denominazione }.each do |tappa| %>
            <% giro_color = tappa.giri.first&.color || "var(--color-card-default)" %>
            <div class="agenda-planner__tappa"
                 style="--giro-color: <%= giro_color %>"
                 draggable="true"
                 data-tappa-id="<%= tappa.id %>"
                 data-school-id="<%= tappa.tappable_id %>"
                 data-action="dragstart->agenda-planner#dragStart dragend->agenda-planner#dragEnd">
              <span class="txt-x-small"><%= tappa.tappable.denominazione %></span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
