<%# locals: (tappe_per_area:, giri:, total_count:) -%>

<%= turbo_frame_tag "agenda-planner" do %>
  <div class="agenda-planner" data-controller="agenda-planner">
    <div class="agenda-planner__header">
      <span class="agenda-planner__title">
        Da programmare
        <span class="badge"><%= total_count %></span>
      </span>

      <% if giri.any? %>
        <select data-action="change->agenda-planner#filterGiro"
                data-agenda-planner-target="giroFilter"
                class="input input--small">
          <option value="">Tutti i giri</option>
          <% giri.each do |giro| %>
            <option value="<%= giro.id %>"><%= giro.titolo %></option>
          <% end %>
        </select>
      <% end %>

      <div class="agenda-planner__trash" data-agenda-planner-target="trash"
           data-action="dragover->agenda-planner#trashOver drop->agenda-planner#trashDrop dragleave->agenda-planner#trashLeave">
        <%= icon_tag "trash", class: "icon--small" %>
      </div>
    </div>

    <div class="agenda-planner__body" data-agenda-planner-target="body"
         data-action="dragover->agenda-planner#dropzoneOver drop->agenda-planner#dropzoneDrop dragleave->agenda-planner#dropzoneLeave">
      <% if tappe_per_area.empty? %>
        <p class="txt-small txt-subtle pad-block txt-center">Nessuna tappa da programmare</p>
      <% else %>
        <% tappe_per_area.each do |area, direzioni| %>
          <div class="agenda-planner__area-label">
            <span><%= area.upcase %></span>
          </div>

          <% direzioni.each do |direzione, tappe| %>
            <div class="agenda-planner__direzione">
              <div class="agenda-planner__direzione-header">
                <span class="txt-xx-small txt-subtle txt-bold"><%= direzione.respond_to?(:denominazione) ? direzione.denominazione : "Senza direzione" %></span>
              </div>
              <div class="agenda-planner__direzione-body">
                <% tappe.sort_by { |t| t.tappable.denominazione }.each do |tappa| %>
                  <% giro_color = tappa.giri.first&.color || "var(--color-card-default)" %>
                  <div class="agenda-planner__tappa"
                       style="--giro-color: <%= giro_color %>"
                       draggable="true"
                       data-tappa-id="<%= tappa.id %>"
                       data-school-id="<%= tappa.tappable_id %>"
                       data-action="dragstart->agenda-planner#dragStart dragend->agenda-planner#dragEnd">
                    <span class="txt-x-small"><%= tappa.tappable.denominazione %></span>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
