<div class="">
	<%= render Heading::WithActionsComponent.new(level: 'h2') do |heading| %>
		
        <% heading.with_action do %>   
            <%= tag.div class: "flex items-center -ml-3" do %>  
                <%= component 'tax_button',
                    svg_file: "icon-arrow-left.svg",
                    color: "transparent",
                    url: agenda_path(giorno: (@giorno - 1.month).to_s),
                    data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>
                
                <%= tag.p I18n.l(@settimana.first, format: :month_calendar, locale: :it), class: "mx-4" %>
                
                <%= component 'tax_button',
                    svg_file: "icon-arrow-right.svg",
                    color: "transparent",
                    url: agenda_path(giorno: (@giorno + 1.month).to_s),
                    data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>
            <% end %>
        <% end %>

		<% heading.with_action do %>
			<%= component 'tax_button',
				caption: "prec",
				svg_file: "icon-arrow-left.svg",
				color: "white",
				url: agenda_path(giorno: (@giorno - 7.days).to_s),
                data_attr: { controller: "link-modifier", link_modifier_target: "link"} %>
		<% end %>

		<% heading.with_action do %>
			<%= component 'tax_button',
				caption: "succ",
				svg_file: "icon-arrow-right.svg",
				color: "white",
				url: agenda_path(giorno: (@giorno + 7.days).to_s),
                data_attr: { controller: "link-modifier", link_modifier_target: "link"} %>
		<% end %>

		<% heading.with_action do %>	
			<%= component 'tax_button',
				caption: "oggi",
				svg_file: "icon-calendar.svg",
				color: "blue",
				url: agenda_path(giorno:  Date.today.to_s),
                data_attr: { controller: "link-modifier", link_modifier_target: "link"} %>
		<% end %>

		<% heading.with_action do %>
			<%#= component 'tax_button',
				caption: "Modifica",
				svg_file: "icon-pencil.svg",
				color: "yellow",
				url: url_for( controller: "libri", action: "edit", model: @libro ),
				data_attr: { turbo_frame: :modal, action: "click->dialog#open" } %>
		<% end %>

		<%= "Agenda" %>

	<% end %>
</div>


<%= turbo_frame_tag "agenda", 
		class: "flex w-full overflow-x-auto p-1.5",
		data: {
			controller: "scroll-to-day",
			"scroll-to-day-giorno-value": params[:giorno],
			turbo_cache: false
		} do %>
	
	<div class="flex gap-2 px-4 sm:px-0">
		<% @settimana.each do |giorno| %>      
			<%= tag.div class: "flex-shrink-0 w-[300px] bg-white p-4 border border-gray-200 rounded", "data-giorno": giorno.to_s do %>
				
				<%= link_to I18n.l(giorno, format: :day_calendar, locale: :it), giorno_path(giorno.to_s), 
						data: { turbo_frame: :_top },
						class: "hover:font-semibold" %>

				<%= tag.div id: "giorno_#{giorno.to_s}", 
							class: "min-h-72 w-full bg-transparent mt-4",
							data: {
							controller: "tax-sortable",
							tax_sortable_group_value: "calendar",
							tax_sortable_data_tappa: "#{giorno}",
							} do %>        
					
					<% @tappe_per_giorno.select { |t| giorno == t }.values.each do |tappe| %>
						
						<% tappe.sort_by(&:position).each do |tappa| %>
							<%= render tappa, with_checkbox: false %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
<% end %>
