<% content_for :title, "Agenda" %>

<div class="">
	<%= render Heading::WithActionsComponent.new(level: 'h1') do |heading| %>
		
		<% heading.with_action do %>
			<div class="flex gap-1">
				<%= component 'tax_button',
					svg_file: "icon-arrow-left.svg",
					color: "white",
					url: agenda_path(giorno: (@giorno - 7.days).to_s),
					data_attr: { controller: "link-modifier", link_modifier_target: "link"} %>

				<%= component 'tax_button',
					caption: "Oggi",
					color: "white",
					url: agenda_path(giorno:  Date.today.to_s),
					data_attr: { controller: "link-modifier", link_modifier_target: "link"} %>

				<%= component 'tax_button',
					svg_file: "icon-arrow-right.svg",
					color: "white",
					url: agenda_path(giorno: (@giorno + 7.days).to_s),
					data_attr: { controller: "link-modifier", link_modifier_target: "link"} %>
			</div>
		<% end %>

		<%= I18n.l(@settimana.first, format: :month_calendar, locale: :it).titleize %>

	<% end %>
</div>

<%= turbo_frame_tag "agenda", class: "w-full flex", 
				data: { controller: "scroll-to-day xxxagenda-scroll",
				"scroll-to-day-giorno-value": params[:giorno],
				xxturbo_cache: "false" } do %>
		
	<div id="week-container" 
        class="flex gap-2 overflow-x-auto scroll-smooth scroll-snap-x-mandatory xx-ml-[300px] xxpl-[300px]" 
        data-agenda-scroll-target="weekContainer"
		data-controller="bulk-actions">
	
    	<%= render partial: "agenda/week", locals: { settimana: @settimana, tappe_per_giorno: @tappe_per_giorno } %>

		<%= render "tappe/bulk_actions/form" %>
    </div>

<% end %>
