<% content_for :hide_footer, true %>

<% content_for :title, "Agenda" %>

<div class="">
	<%= render Heading::WithActionsComponent.new(level: 'h1') do |heading| %>


        <% heading.with_description do %>
            <div class="flex items-center gap-1 mt-2">
				<%= component 'tax_button',
					caption: "Oggi",
					color: "green",
					url: agenda_path(giorno:  Date.today.to_s),
					data_attr: { controller: "link-modifier", link_modifier_target: "link"} %>
                
				<%= component 'tax_button',
					svg_file: "icon-arrow-left.svg",
					color: "transparent",
					url: agenda_path(giorno: (@giorno - 7.days).to_s),
					data_attr: { controller: "link-modifier", link_modifier_target: "link"} %>
                                            
                <div data-controller="date-selector" class="relative">
                    <%= date_field_tag :giorno, 
                        @giorno, 
                        class: "rounded-md border-0 py-1.5 px-3 text-gray-900 [&::-webkit-calendar-picker-indicator]:bg-transparent [&::-webkit-calendar-picker-indicator]:w-full [&::-webkit-calendar-picker-indicator]:h-full [&::-webkit-calendar-picker-indicator]:cursor-pointer [&::-webkit-calendar-picker-indicator]:absolute [&::-webkit-calendar-picker-indicator]:opacity-0",
                        style: "width: 2.5rem; color: transparent;",
                        data: {
                            action: "change->date-selector#change",
                            date_selector_target: "select",
                            current_date: @giorno
                        } %>
                    <%= icon "calendar", class: "w-5 h-5 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none text-gray-500" %>
                </div>

				<%= component 'tax_button',
					svg_file: "icon-arrow-right.svg",
					color: "transparent",
					url: agenda_path(giorno: (@giorno + 7.days).to_s),
					data_attr: { controller: "link-modifier", link_modifier_target: "link"} %>
            </div>
        <% end %>

		<% heading.with_action do %>
			<div class="flex gap-1">


				<%= component 'tax_button',
					caption: "Oggi",
					color: "white",
					url: agenda_path(giorno:  Date.today.to_s),
					data_attr: { controller: "link-modifier", link_modifier_target: "link"} %>


			</div>
		<% end %>

		<%= I18n.l(@settimana.first, format: :month_calendar, locale: :it).titleize %>

	<% end %>
</div>

<%= turbo_frame_tag "agenda", class: "w-full flex h-[calc(100vh-230px)]", 
				data: { controller: "scroll-to-day xxxagenda-scroll",
				"scroll-to-day-giorno-value": params[:giorno],
				xxturbo_cache: "false" } do %>
		
	<div id="week-container" 
        class="flex gap-2 overflow-x-auto scroll-smooth scroll-snap-x-mandatory xx-ml-[300px] xxpl-[300px] h-full" 
        data-agenda-scroll-target="weekContainer"
		data-controller="bulk-actions">
	
    	<%= render partial: "agenda/week", locals: { settimana: @settimana, tappe_per_giorno: @tappe_per_giorno } %>

		<%= render "tappe/bulk_actions/form" %>
    </div>

<% end %>
