<%= turbo_frame_tag :mappa do %>
    <div
      data-controller="mappa-directions"
      data-mappa-directions-mapbox-token-value="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
      data-mappa-directions-waypoints-value="<%= @waypoints %>"    
      data-mappa-directions-coordinates="<%= @tappe.map { |tappa| { lng: tappa.longitude, lat: tappa.latitude, name: tappa.denominazione } }.to_json %>">
      
        <div class="flex justify-between items-center p-4">
            <h2 class="text-xl font-bold">Mappa:</h2>
            
            <div>
              <p><strong>Distanza totale:</strong> <span data-mappa-directions-target="totaleKm"></span> km</p>
              <p><strong>Durata totale:</strong> <span data-mappa-directions-target="totaleTempo"></span></p>
            </div>

            <%= component 'tax_button',
                caption: "Google Maps!",
                svg_file: "icon-truck.svg",
                color: "transparent",
                url: create_google_maps_link(@indirizzi),
                data_attr: { controller: "link-modifier", link_modifier_target: "link" },
                target: "_blank" %>
        </div>
      
        <div id="map" data-mappa-directions-target="map" style="height: 500px;" class="mt-4"></div>
    </div>
<% end %>