<% @page_title = I18n.l(@giorno.to_date, format: :long_with_day, locale: :it) %>

<% content_for :head do %>
    <%= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js" %>
    <%= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.2.0/mapbox-gl-directions.js" %>

    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css" %>
    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.2.0/mapbox-gl-directions.css" %>
<% end %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to agenda_path(giorno: @giorno),
        class: "btn btn--cricle",
        data: { controller: "link-modifier", link_modifier_target: "link" } do %>
      Week
    <% end %>
    <div data-controller="date-selector" class="relative">
      <%= date_field_tag :giorno,
          @giorno,
          class: "rounded-md border-0 py-1.5 px-3 text-gray-900 [&::-webkit-calendar-picker-indicator]:bg-transparent [&::-webkit-calendar-picker-indicator]:w-full [&::-webkit-calendar-picker-indicator]:h-full [&::-webkit-calendar-picker-indicator]:cursor-pointer [&::-webkit-calendar-picker-indicator]:absolute [&::-webkit-calendar-picker-indicator]:opacity-0",
          style: "width: 2.5rem; color: transparent;",
          data: {
              action: "change->date-selector#change",
              date_selector_target: "select",
              current_date: @giorno
          } %>
      <%= icon_tag "calendar", class: "w-5 h-5 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none text-gray-500" %>
    </div>

  </div>

  <div class="header__title divider divider--fade full-width">
    <%= link_to giorno_path(giorno: (@giorno - 1.day).to_s),
        class: "btn txt-x-small",
        data: { controller: "link-modifier tooltip hotkey", link_modifier_target: "link", action: "keydown.left@document->hotkey#click" } do %>
      <%= icon_tag "arrow-left", size: "small" %>
      <span class="for-screen-reader">Giorno precedente <kbd class="kbd">&larr;</kbd></span>
    <% end %>

    <span class="overflow-ellipsis"><%= I18n.l(@giorno.to_date, format: :long_with_day, locale: :it) %></span>
  
    <%= link_to giorno_path(giorno: (@giorno + 1.day).to_s),
        class: "btn txt-x-small",
        data: { controller: "link-modifier tooltip hotkey", link_modifier_target: "link", action: "keydown.right@document->hotkey#click" } do %>
      <%= icon_tag "arrow-right", size: "small" %>
      <span class="for-screen-reader">Giorno successivo <kbd class="kbd">&rarr;</kbd></span>
    <% end %>
  
  </div>

  <div class="header__actions header__actions--end">

    <% if @tappe.size > 1 %>
      <%= link_to url_for(controller: "mappe", action: "calcola_percorso_ottimale", method: :get, params: { giorno: @giorno.to_s }),
          class: "btn btn--ghost" do %>
        Ricalcola
      <% end %>
    <% end %>
    <% if @tappe.any? %>
      <%= render DropdownComponent.new() do |dropdown| %>
        <%= dropdown.with_button do %>
          <div class="btn" style="background: var(--color-notice-lighter); color: var(--color-notice-dark);">
            <%= icon_tag "printer", size: "small" %>
          </div>
        <% end %>

        <%= dropdown.with_item do %>
          <%= link_to tappe_giorno_pdf_path(giorno: @giorno),
              class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900",
              data: { controller: "link-modifier", link_modifier_target: "link" } do %>
            Elenco tappe del giorno
          <% end %>
        <% end %>

        <%= dropdown.with_item do %>
          <%= link_to adozioni_tappe_pdf_path(giorno: @giorno),
              class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900",
              data: { controller: "link-modifier", link_modifier_target: "link" } do %>
            Kit adozioni nel baule
          <% end %>
        <% end %>

        <%= dropdown.with_item do %>
          <%= link_to dettaglio_appunti_documenti_pdf_path(giorno: @giorno),
              class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900",
              data: { controller: "link-modifier", link_modifier_target: "link" } do %>
            Dettaglio appunti e documenti
          <% end %>
        <% end %>

        <%= dropdown.with_item do %>
          <%= link_to fogli_scuola_tappe_pdf_path(giorno: @giorno, tipo_stampa: 'mie_adozioni'),
              class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900",
              data: { controller: "link-modifier", link_modifier_target: "link" } do %>
            Fogli scuola
          <% end %>
        <% end %>

        <%= dropdown.with_item do %>
          <%= link_to fogli_scuola_tappe_pdf_path(giorno: @giorno, tipo_stampa: 'mie_adozioni', con_sovrapacchi: true),
              class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900",
              data: { controller: "link-modifier", link_modifier_target: "link" } do %>
            Fogli scuola + sovrapacchi
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>


<div data-controller="bulk-actions swipe"
     data-swipe-left-value="<%= giorno_path(giorno: (@giorno - 1.day).to_s) %>"
     data-swipe-right-value="<%= giorno_path(giorno: (@giorno + 1.day).to_s) %>">
    <section class="cards is-expanded" style="--card-color: oklch(var(--lch-blue-medium)); --cards-gap: 0.6rem; inline-size: 100%; max-inline-size: var(--column-width-expanded, 450px); margin-inline: auto; container-type: inline-size;">
      <div class="board-tools card" style="flex-wrap: wrap;">
        <%= link_to new_documento_path, class: "btn btn--link", data: { turbo_frame: "_top" } do %>
          <%= icon_tag "document" %>
          <span>Documento</span>
          <kbd class="hide-on-touch">D</kbd>
        <% end %>

        <%= link_to new_appunto_path, class: "btn btn--link", data: { turbo_frame: "_top" } do %>
          <%= icon_tag "note" %>
          <span>Appunto</span>
          <kbd class="hide-on-touch">A</kbd>
        <% end %>

        <div style="flex-basis: 100%; text-align: center;">
          <%= link_to new_tappa_path(data_tappa: @giorno), class: "btn btn--link", data: { turbo_frame: "_top" } do %>
            <%= icon_tag "add", size: "small" %>
            <span>Tappa</span>
          <% end %>
        </div>
      </div>

      <div class="cards__transition-container">
        <div id="giorno-<%= @giorno %>"
            class="cards__list"
            data-controller="tax-sortable"
            data-tax-sortable-group-value="calendar"
            data-tax-sortable-param-name-value="position"
            data-tax-sortable-data-tappa="<%= @giorno.to_s %>">

            <% if @tappe.empty? %>
                <div class="no-tappe text-center py-16 px-4 hidden only:block">
                    <h2 class="text-xl font-bold"> Ops! Nessuna tappa in programma per oggi! 🗺️</h2>
                    <p> Aggiungi una nuova tappa per iniziare: sono i posti dove devi andare. 🚶‍♂️</p>
                </div>
            <% else %>
                <%= render partial: "tappe/tappa", collection: @tappe, as: :tappa %>
            <% end %>
        </div>
      </div>
    </section>
    <%= render "tappe/bulk_bar/bar" %>
</div>

<div class="margin-block-start-double"></div>

<% if @entries_per_tappa&.any? %>
  <div class="full-width pad group">
    <% @entries_per_tappa.each do |tappa, entries| %>
      <h3 class="divider divider--fade txt-medium font-weight-black">
        <%= tappa.tappable.denominazione %> (<%= entries.count %>)
      </h3>
      <div class="cards cards--grid">
        <div class="cards__list">
          <% entries.each do |entry| %>
            <%= render "entries/entry", entry: entry, draggable: false %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @tappe.any? %>
  <%= turbo_frame_tag :mappa, src: mappa_del_giorno_path(@giorno), data: { turbo_cache: false }, loading: :lazy %>
<% end %>
