<% content_for :head do %>
    <%= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js" %>
    <%= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.2.0/mapbox-gl-directions.js" %>

    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css" %>
    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.2.0/mapbox-gl-directions.css" %>
<% end %>

<div>
    <%= render Heading::WithActionsComponent.new(level: 'h1') do |heading| %>

        <% if @tappe.size > 1 %>
            <% heading.with_action do %>
                <%= component 'tax_button',
                    caption: 'Ricalcola percorso',
                    color: "transparent",
                    url: url_for( controller: "mappe", action: "calcola_percorso_ottimale", method: :get, params: { giorno: @giorno.to_s }) %>
            <% end %>
        <% end %>

        <% heading.with_description do %>
            <div class="flex items-center gap-1 mt-2">
                <%= component 'tax_button',
                    caption: "Settimana",
                    color: "yellow",
                    url: agenda_path(giorno: @giorno),
                    data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>

                <%= component 'tax_button',
                    svg_file: "icon-arrow-left.svg",
                    color: "transparent",
                    url: giorno_path(giorno: (@giorno - 1.day).to_s),
                    data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>

                <div data-controller="date-selector" class="relative">
                    <%= date_field_tag :giorno,
                        @giorno,
                        class: "rounded-md border-0 py-1.5 px-3 text-gray-900 [&::-webkit-calendar-picker-indicator]:bg-transparent [&::-webkit-calendar-picker-indicator]:w-full [&::-webkit-calendar-picker-indicator]:h-full [&::-webkit-calendar-picker-indicator]:cursor-pointer [&::-webkit-calendar-picker-indicator]:absolute [&::-webkit-calendar-picker-indicator]:opacity-0",
                        style: "width: 2.5rem; color: transparent;",
                        data: {
                            action: "change->date-selector#change",
                            date_selector_target: "select",
                            current_date: @giorno
                        } %>
                    <%= icon "calendar", class: "w-5 h-5 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none text-gray-500" %>
                </div>

                <%= component 'tax_button',
                    svg_file: "icon-arrow-right.svg",
                    color: "transparent",
                    url: giorno_path(giorno: (@giorno + 1.day).to_s),
                    data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>
            </div>
        <% end %>

        <% heading.with_action do %>
            <%= component 'tax_button',
                svg_file: "icon-plus.svg",
                color: "blue",
                url: slideover_path,
                data_attr: { controller: "link-modifier", link_modifier_target: "link", turbo_frame: "slide-over" } %>
        <% end %>

        <%= I18n.l( @giorno.to_date, format: :long_with_day, locale: :it ) %>

    <% end %>
</div>


<div data-controller="bulk-actions">
    <div id="giorno-<%= @giorno %>"
        class="group show-navigator pt-2 pb-4"
        data-controller="tax-sortable"
        data-tax-sortable-group-value="calendar"
        data-tax-sortable-param-name-value="position"
        data-tax-sortable-data-tappa="<%= @giorno.to_s %>">

        <%# non riordina bene position col css che nasconde quindi lo devo eliminare nel turbo stream %>
        <% if @tappe.empty? %>
            <div class="no-tappe text-center py-16 px-4 hidden only:block">
                <h2 class="text-xl font-bold"> Ops! Nessuna tappa in programma per oggi! 🗺️</h2>
                <p> Aggiungi una nuova tappa per iniziare: sono i posti dove devi andare. 🚶‍♂️</p>
            </div>
        <% else %>
            <%= render partial: "tappe/tappa", collection: @tappe, as: :tappa, locals: { with_checkbox: false } %>
        <% end %>
    </div>
    <%= render "tappe/bulk_actions/form" %>
</div>


<%# <div class="flex justify-center gap-4 m-4">

        <%= link_to new_tappa_path(tappable_type: 'ImportScuola', data_tappa: @giorno),
            class: "w-full py-4 bg-amber-500 hover:bg-amber-600 text-white font-bold rounded-xl shadow-lg hover:shadow-xl transition-all flex items-center justify-center gap-2",
            data: hotwire_native_app? ? {} : { turbo_frame: :modal, action: "click->dialog#open", turbo_prefetch: false } do %>
            <%# <%= icon "academic-cap", variant: :solid, class: "w-6 h-6" %>
            <%# <span>Aggiungi scuola</span> %>
        <%# <% end %>

        <%#= link_to new_tappa_path(tappable_type: 'Cliente', data_tappa: @giorno),
            class: "w-full py-4 bg-sky-500 hover:bg-sky-600 text-white font-bold rounded-xl shadow-lg hover:shadow-xl transition-all flex items-center justify-center gap-2",
            data: hotwire_native_app? ? {} : { turbo_frame: :modal, action: "click->dialog#open", turbo_prefetch: false } do %>

            <%#= icon "currency-euro", variant: :solid, class: "w-6 h-6" %>
            <%# <span>Aggiungi cliente</span> %>
        <%# <% end %>

<%# </div> %>

<% if @tappe.any? %>


    <div class="mt-4", data-controller="bulk-actions" >
        <%= render Heading::WithActionsComponent.new(level: 'h1') do |heading| %>
            <%= "Appunti" %>
        <% end %>

        <%= turbo_frame_tag :appunti,
            src: appunti_path(del_giorno: @giorno),
            loading: :lazy,
            class: "pb-5 grid grid-cols-1 gap-x-4 gap-y-4 md:grid-cols-2 4xl:grid-cols-3 xl:gap-x-8" %>

        <%= render "appunti/bulk_actions/form" %>
    </div>

    <div class="mt-4", data-controller="bulk-actions" >
        <%= render Heading::WithActionsComponent.new(level: 'h1') do |heading| %>
            <%= "Ordini" %>
        <% end %>

        <%= turbo_frame_tag :documenti,
            src: documenti_path(status: "ordine", tappe_del_giorno: @giorno),
            loading: :lazy,
            class: "pb-5 grid grid-cols-1 gap-x-4 gap-y-4 md:grid-cols-2 4xl:grid-cols-3 xl:gap-x-8" %>

        <%= render Heading::WithActionsComponent.new(level: 'h1') do |heading| %>
            <%= "In consegna" %>
        <% end %>

        <%= turbo_frame_tag :documenti,
            src: documenti_path(consegnato_il: @giorno),
            loading: :lazy,
            class: "pb-5 grid grid-cols-1 gap-x-4 gap-y-4 md:grid-cols-2 4xl:grid-cols-3 xl:gap-x-8" %>

        <%= render "documenti/bulk_actions/form" %>
    </div>

    <%= turbo_frame_tag :mappa, src: mappa_del_giorno_path(@giorno), data: { turbo_cache: false }, loading: :lazy %>

<% end %>



