<% content_for :head do %>
    <%= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js" %>  
    <%= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.2.0/mapbox-gl-directions.js" %>  
    
    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css" %>
    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.2.0/mapbox-gl-directions.css" %>
<% end %>

<div class="">
	<%= render Heading::WithActionsComponent.new(level: 'h1') do |heading| %>
		
        <% if @tappe.size > 1 %>
            <% heading.with_action do %>	
                <%= component 'tax_button',
                    caption: 'Ricalcola percorso', 
                    color: "transparent",
                    url: url_for( controller: "mappe", action: "calcola_percorso_ottimale", method: :get, params: { giorno: @giorno.to_s }) %>
            <% end %>
        <% end %>
                    
        <% heading.with_description do %>
            <div class="flex items-center -ml-3">
                <%= component 'tax_button',
                    svg_file: "icon-arrow-left.svg",
                    color: "transparent",
                    url: giorno_path(giorno: (@giorno - 1.day).to_s),
                    data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>
                                            
                <div data-controller="date-selector" class="relative">
                    <%= date_field_tag :giorno, 
                        @giorno, 
                        class: "rounded-md border-0 py-1.5 px-3 text-gray-900 [&::-webkit-calendar-picker-indicator]:bg-transparent [&::-webkit-calendar-picker-indicator]:w-full [&::-webkit-calendar-picker-indicator]:h-full [&::-webkit-calendar-picker-indicator]:cursor-pointer [&::-webkit-calendar-picker-indicator]:absolute [&::-webkit-calendar-picker-indicator]:opacity-0",
                        style: "width: 2.5rem; color: transparent;",
                        data: {
                            action: "change->date-selector#change",
                            date_selector_target: "select",
                            current_date: @giorno
                        } %>
                    <%= icon "calendar", class: "w-5 h-5 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none text-gray-500" %>
                </div>

                <%= component 'tax_button',
                    svg_file: "icon-arrow-right.svg",
                    color: "transparent",
                    url: giorno_path(giorno: (@giorno + 1.day).to_s),
                    data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>
            </div>
        
        <% end %>

        <% heading.with_action do %>
			<%#= component 'tax_button',
                    caption: "Oggi",
                    color: "white",
                    url: giorno_path(giorno: Date.today.to_s),
                    data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>

            <%= component 'tax_button',
				caption: "Agenda",
				color: "yellow",
				url: agenda_path(giorno: (@giorno).to_s),
                data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>
		<% end %>

		<%= I18n.l( @giorno.to_date, format: :long_with_day, locale: :it ) %>

	<% end %>
</div>


<div id="giorno-<%= @giorno %>"
    class="group show-navigator"
    data-controller="tax-sortable"
    data-tax-sortable-group-value="calendar"
    data-tax-sortable-param-name-value="position"
    data-tax-sortable-data-tappa="<%= @giorno.to_s %>">

    <%# non riordina bene position col css che nasconde quindi lo devo eliminare nel turbo stream %>
    <% if @tappe.empty? %>
        <div class="no-tappe text-center py-16 hidden only:block">
            <h2 class="text-xl font-bold"> Ops! Nessuna tappa in programma per oggi! 🗺️</h2>
            <p> Aggiungi una nuova tappa per iniziare: sono i posti dove devi andare. 🚶‍♂️</p>
        </div>
    <% else %>
        <%= render partial: "tappe/tappa", collection: @tappe, as: :tappa, locals: { with_checkbox: false } %>
    <% end %>
</div>



<div class="flex justify-center gap-4 m-4">

        <%= link_to new_tappa_path(tappable_type: 'ImportScuola', data_tappa: @giorno),
            class: "w-full py-4 bg-amber-500 hover:bg-amber-600 text-white font-bold rounded-xl shadow-lg hover:shadow-xl transition-all flex items-center justify-center gap-2",
            data: hotwire_native_app? ? {} : { turbo_frame: :modal, action: "click->dialog#open", turbo_prefetch: false } do %>
            <%= icon "academic-cap", variant: :solid, class: "w-6 h-6" %>
            <span>Aggiungi scuola</span>
        <% end %>

        <%= link_to new_tappa_path(tappable_type: 'Cliente', data_tappa: @giorno),
            class: "w-full py-4 bg-sky-500 hover:bg-sky-600 text-white font-bold rounded-xl shadow-lg hover:shadow-xl transition-all flex items-center justify-center gap-2",
            data: hotwire_native_app? ? {} : { turbo_frame: :modal, action: "click->dialog#open", turbo_prefetch: false } do %>

            <%= icon "currency-euro", variant: :solid, class: "w-6 h-6" %>
            <span>Aggiungi cliente</span>
        <% end %>

</div>

<% if @tappe.any? %>
    
    <%= turbo_frame_tag :mappa, src: mappa_del_giorno_path(@giorno), data: { turbo_cache: false }, loading: :lazy %>

    <div class="mt-4">
        <%= render Heading::WithActionsComponent.new(level: 'h1') do |heading| %>
            <%= "Appunti" %>
        <% end %>
            
        <%= turbo_frame_tag :search_results, src: appunti_path(del_giorno: @giorno), loading: :lazy %>
    </div>
<% end %>

<%= render SlideOverComponent.new(slide_over_max_width: "max-w-sm") do |slide| %>
    <% slide.with_close_button(css: "absolute top-6 right-6 text-black transition ease-in-out duration-200 hover:scale-105 hover:text-white active:scale-100") %>
    <% slide.with_leader do %>
        <div class="px-4 py-5 bg-gray-50">
            <h2 class="pr-6 text-lg font-semibold text-gray-800">
                Aggiungi Tappe
            </h2>
            <p class="mt-1.5 text-sm text-gray-500">
                Imposta i filtri che vuoi e premi Filtra o Reset per azzerare la ricerca.
            </p>
        </div>
    <% end %>
  
    <%= tag.div class: "px-4" do %>
        <%= form_with(url: add_tappa_giorno_import_scuole_bulk_actions_path, method: :patch, class: "space-y-4", builder: RailsDesigner::FormBuilder) do |f| %>
            <div class="space-y-1">
                <label class="block text-sm font-medium text-gray-700">Seleziona Tipo</label>

                <%= f.select :tappable_type, class: "w-full" do %>
                    <option value="Cliente">Cliente</option>
                    <option value="ImportScuola">Scuola</option>
                <% end %>
            </div>

            <div class="space-y-1">
                <label class="block text-sm font-medium text-gray-700">Cerca</label>
                <div data-controller="clientable-search">
                    <%= f.search_field :search, 
                        placeholder: "Inizia a digitare...", 
                        data: { clientable_search_target: "input", 
                        action: "input->clientable-search#search" } %>
                    <div data-clientable-search-target="results" class="mt-2"></div>
                </div>
            </div>

            <%= f.submit "Aggiungi", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>

        <% end %>
    <% end %>

    <% slide.with_trailer do %>
        <div class="fixed bottom-0 flex items-center justify-end w-full max-w-sm px-4 py-4 mt-4 border-t border-gray-100 bg-white/70 backdrop-blur-sm gap-4">
            <%# When using a "submit" type/method, the Slide Over hides using `turbo:submit-end->dialog#hideOnSubmit` %>
            <%= button_tag "Chiudi", type: :button, method: :get, data: { action: "dialog#hide" }, class: "px-3 py-1 text-sm leading-6 font-medium text-gray-700 bg-white border border-gray-200 rounded-md hover:border-gray-300" %>
        </div>
   <% end %>
<% end %>

