<% content_for :head do %>
    <%= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js" %>  
    <%= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.2.0/mapbox-gl-directions.js" %>  
    
    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css" %>
    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.2.0/mapbox-gl-directions.css" %>
<% end %>

<div class="">
	<%= render Heading::WithActionsComponent.new(level: 'h1') do |heading| %>
		
        <% heading.with_description do %>
           
            <%= tag.div class: "flex items-center -ml-3" do %>  
                <%= component 'tax_button',
                    svg_file: "icon-arrow-left.svg",
                    color: "transparent",
                    url: giorno_path(giorno: (@giorno - 1.day).to_s),
                    data_attr: { controller: "link-modifier", link_modifier_target: "link", turbo_cache: false } %>
                
            

                <%= component 'tax_button',
                    svg_file: "icon-arrow-right.svg",
                    color: "transparent",
                    url: giorno_path(giorno: (@giorno + 1.day).to_s),
                    data_attr: { controller: "link-modifier", link_modifier_target: "link", turbo_cache: false } %>
            <% end %>
        
        <% end %>

		<% heading.with_action do %>	
	        <%= component 'tax_button',
				caption: 'Percorso', 
				svg_file: 'icon-path-rounded-square.svg',
				color: "transparent",
				url: url_for( controller: "mappe", action: "calcola_percorso_ottimale", method: :get, params: { giorno: @giorno.to_s }) %>
		<% end %>
        
		<% heading.with_action do %>
			<%= component 'tax_button',
				caption: "Agenda",
				svg_file: "icon-calendar.svg",
				color: "yellow",
				url: agenda_path(giorno: (@giorno).to_s),
                data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>
		<% end %>


		<%= I18n.l( @giorno.to_date, format: :long, locale: :it ) %>

	<% end %>
</div>


<div id="giorno-<%= @giorno %>"
    class="group show-navigator"
    data-controller="tax-sortable"
    data-tax-sortable-group-value="calendar"
    data-tax-sortable-param-name-value="position"
    data-tax-sortable-data-tappa="<%= @giorno.to_s %>">

    <%# non riordina bene position col css che nasconde quindi lo devo eliminare nel turbo stream %>
    <% if @tappe.empty? %>
        <div class="no-tappe text-center p-4 hidden only:block">
            <h2 class="text-xl font-bold"> Ops! Nessuna tappa in programma per oggi! 🗺️</h2>
            <p> Aggiungi una nuova tappa per iniziare: sono i posti dove devi andare. 🚶‍♂️</p>
        </div>
    <% else %>
        <%= render partial: "tappe/tappa", collection: @tappe, as: :tappa, locals: { with_checkbox: false } %>
    <% end %>
</div>


<div class="flex justify-center gap-4 mt-4">
    <%= link_to new_tappa_path(tappable_type: 'ImportScuola', data_tappa: @giorno), 
    data: { turbo_frame: :modal, action: "click->dialog#open", turbo_prefetch: false },
    class: 'btn btn-primary' do %>
    <%= inline_svg_tag('icon-building-library.svg') %> Vai in una scuola
    <% end %>
    <%= link_to new_tappa_path(tappable_type: 'Cliente', data_tappa: @giorno), class: 'btn btn-primary',
        data: { turbo_frame: :modal, action: "click->dialog#open", turbo_prefetch: false } do %>
    <%= inline_svg_tag('icon-cash.svg') %> Vai da un cliente
    <% end %>
</div>

<% if @tappe.any? %>
    <div
      data-controller="mappa-directions"
      data-mappa-directions-mapbox-token-value="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
      data-mappa-directions-waypoints-value="<%= @waypoints %>"    
      data-mappa-directions-coordinates="<%= @tappe.map { |tappa| { lng: tappa.longitude, lat: tappa.latitude, name: tappa.denominazione } }.to_json %>">
      
        <div class="flex justify-between items-center p-4">
            <h2 class="text-xl font-bold">Mappa:</h2>
            
            <div>
              <p><strong>Distanza totale:</strong> <span data-mappa-directions-target="totaleKm"></span> km</p>
              <p><strong>Durata totale:</strong> <span data-mappa-directions-target="totaleTempo"></span></p>
            </div>

            <%= component 'tax_button',
                caption: "Google Maps!",
                svg_file: "icon-truck.svg",
                color: "transparent",
                url: create_google_maps_link(@indirizzi),
                data_attr: { controller: "link-modifier", link_modifier_target: "link" },
                target: "_blank" %>
        </div>
      
        <div id="map" data-mappa-directions-target="map" style="height: 500px;" class="mt-4"></div>
    </div>
<% end %>


<% unless @appunti_del_giorno.empty? %>
    <div>
        <h2 class="text-xl font-bold p-4">Appunti del <%= I18n.l(@giorno, format: :short, lang: :it) %></h2>
        <div id="appunti-lista" role="list" class="py-5 grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 2xl:grid-cols-3 xl:gap-x-8">
            <% @appunti_del_giorno.each do |appunto| %>
                <%= render partial: "appunti/appunto", locals: { appunto: appunto } %>
            <% end %>
        </div>
    </div>
<% end %>
