<%= render SlideOverComponent.new(slide_over_max_width: "max-w-sm") do |slide| %>

    <% slide.with_close_button(css: "absolute top-6 right-6 text-black transition ease-in-out duration-200 hover:scale-105 hover:text-white active:scale-100") %>
    
    <% slide.with_leader do %>
        <div class="px-4 py-5 bg-gray-50">
            <h2 class="pr-6 text-lg font-semibold text-gray-800">
                Aggiungi Tappe
            </h2>
            <p class="mt-1.5 text-sm text-gray-500">
                Scegli le scuole ed i clienti da cui vuoi andare.
            </p>
        </div>
    <% end %>

    <%= tag.div class: "px-4", data: { controller: "clientable-search" } do %>
        <%= form_with(url: tappe_bulk_actions_path, method: :post, id: "tappe-form", class: "space-y-4", builder: RailsDesigner::FormBuilder) do |form| %>
            <div class="flex flex-col space-y-4">
                <%= tag.fieldset   do %>
                    <%= form.label  :data_tappa, "Data tappa", class: "block text-sm font-medium text-gray-700" %>
                    <%= form.date_field :data_tappa, value: @giorno, placeholder: "data tappa..." %>
                <% end %>
                
                <%= tag.div class: "cb-tax-fancy flex flex-col" do %>

                        <%= form.label  :giro_ids, "Giro", class: "block text-sm font-medium text-gray-700" %>
                        <%= form.select :giro_ids, current_user.giri.order(created_at: :desc).collect { |giro| [giro.titolo, giro.id] }, { include_blank: true },
                            data: { action: "change->clientable-search#search" } %>

                <% end %>
            </div> 

                
            <div class="space-y-1">
                <label class="block text-sm font-medium text-gray-700">Seleziona Tipo</label>

                <%= form.select :tappable_type, [["tutte le scuole", "ImportScuola"], ["tutti i clienti", "Cliente"]], {},
                    data: { 
                        action: "change->clientable-search#updateType",
                        clientable_search_target: "select"
                    } %>
            </div>

            <div class="space-y-1">
                <label class="block text-sm font-medium text-gray-700">Cerca</label>
                <div>
                    <%= form.search_field :search, 
                        placeholder: "Inizia a digitare...", 
                        data: { 
                            clientable_search_target: "input", 
                            action: "input->clientable-search#search"
                        } %>
                    <div data-clientable-search-target="results" class="mt-2"></div>
                </div>
            </div>

        <% end %>
    <% end %>

    <% slide.with_trailer do %>
        <div class="fixed bottom-0 flex items-center justify-between w-full max-w-sm px-4 py-4 mt-4 border-t border-gray-100 bg-white/70 backdrop-blur-sm gap-4">
            
            <%= button_tag "Aggiungi", type: "submit", form: "tappe-form", class: "px-3 py-1 text-sm leading-6 font-medium text-white bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-700" %>
            
            <span class="text-sm text-gray-600" id="results-counter">
                0 scuole trovate
            </span>

            <%= button_tag "Chiudi", type: :button, method: :get, data: { action: "dialog#hide" }, class: "px-3 py-1 text-sm leading-6 font-medium text-gray-700 bg-white border border-gray-200 rounded-md hover:border-gray-300" %>
        </div>
    <% end %>
<% end %>



