<tr id="<%= dom_id editore %>">
  <td class="font-weight-bold">
    <%= link_to editore.editore, editore_path(editore), class: "txt-link" %>
  </td>
  <td class="txt-subtle"><%= editore.gruppo %></td>
  <td>
    <div class="table__actions">
      <%= link_to editore_sconti_path(editore), class: "btn btn--circle btn--small borderless" do %>
        <%= icon_tag "tag", size: "small" %>
        <span class="for-screen-reader">Sconti di <%= editore.editore %></span>
      <% end %>
      <%= link_to edit_editore_path(editore), class: "btn btn--circle btn--small borderless" do %>
        <%= icon_tag "pencil", size: "small" %>
        <span class="for-screen-reader">Modifica</span>
      <% end %>
      <%= button_to editore_path(editore), method: :delete,
          class: "btn btn--circle btn--small borderless txt-negative",
          data: { turbo_confirm: "Sei sicuro di voler eliminare questo editore?" } do %>
        <%= icon_tag "trash", size: "small" %>
        <span class="for-screen-reader">Elimina</span>
      <% end %>
    </div>
  </td>
</tr>
