<%# locals: (editore:) -%>

<%= form_with(model: editore) do |form| %>
  <div class="flex flex-column gap">
    <% if editore.errors.any? %>
      <div class="form-errors txt-small">
        <% editore.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class="form-field">
      <%= form.label :editore, class: "form-label" %>
      <%= form.text_field :editore, class: "input full-width", required: true %>
    </div>

    <div class="form-field">
      <%= form.label :gruppo, class: "form-label" %>
      <%= form.text_field :gruppo, class: "input full-width" %>
    </div>

    <div class="flex gap-half justify-center margin-block-start-half">
      <%= form.submit "Salva", class: "btn btn--primary" %>
      <%= link_to "Annulla", editore.persisted? ? editore_path(editore) : editori_path, class: "btn btn--ghost" %>
    </div>
  </div>
<% end %>
