<% @page_title = @editore.editore %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "Editori", editori_path %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis"><%= @editore.editore %></span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= link_to edit_editore_path(@editore), class: "btn" do %>
      <%= icon_tag "pencil", size: "small" %>
      <span class="for-screen-reader">Modifica</span>
    <% end %>
    <%= button_to editore_path(@editore), method: :delete,
        class: "btn btn--negative",
        data: { turbo_confirm: "Sei sicuro di voler eliminare questo editore?" } do %>
      <%= icon_tag "trash", size: "small" %>
      <span class="for-screen-reader">Elimina</span>
    <% end %>
  </div>
<% end %>

<section class="panel panel--small shadow center">
  <dl class="dl-grid pad">
    <dt>Editore</dt>
    <dd><%= @editore.editore %></dd>

    <% if @editore.gruppo.present? %>
      <dt>Gruppo</dt>
      <dd><%= @editore.gruppo %></dd>
    <% end %>
  </dl>

  <div class="pad-inline margin-block-end">
    <%= link_to editore_sconti_path(@editore), class: "btn" do %>
      <%= icon_tag "tag", size: "small" %>
      <span>Sconti editore</span>
    <% end %>
  </div>
</section>
