<%# locals: (scuola:) -%>

<article class="card"
         style="--card-color: <%= scuola_color(scuola) %>"
         draggable="true"
         data-drag-and-drop-target="item"
         data-id="<%= scuola.id %>"
         data-scuole-count="<%= [scuola.plessi.size, 1].max %>">
  <div class="flex flex-column flex-item-grow max-inline-size">
    <header class="card__header">
      <div class="card__board">
        <span class="card__id"><%= scuola.tipo_scuola&.titleize.presence || "SCUOLA" %></span>
        <span class="card__board-name"><%= scuola.comune %></span>
      </div>
    </header>
    <div class="card__body">
      <div class="card__content">
        <h3 class="card__title overflow-line-clamp" style="--lines: 2;">
          <%= scuola.denominazione %>
        </h3>
      </div>
    </div>
    <% if scuola.plessi.any? %>
      <footer class="card__footer full-width">
        <span class="txt-small txt-subtle"><%= scuola.plessi.size %> plessi</span>
      </footer>
    <% end %>
  </div>
</article>
