<%# locals: (tappa:, entry: nil, draggable: false) -%>

<% if tappa.present? && tappa.persisted? %>
  <% entry ||= tappa.entry rescue nil %>

  <% card_data = {
    navigable_list_target: "item",
    action: "click->navigable-list#hoverSelect mouseenter->navigable-list#hoverSelect"
  } %>

  <% if entry && draggable %>
    <% card_data[:id] = entry.id %>
    <% card_data[:drag_and_drop_target] = "item" %>
    <% card_data[:css_variable_counter_target] = "item" %>
  <% end %>

  <% card_data[:tax_sortable_update_url] = sort_tappa_path(tappa) %>

  <%= tag.article id: (entry ? dom_id(entry) : dom_id(tappa)),
      class: class_names("card", tappa_type_modifier(tappa)),
      style: "--card-color: #{tappa_color(tappa)};",
      tabindex: 0,
      draggable: (draggable && entry.present?),
      data: card_data do %>
    <div class="flex flex-column flex-item-grow max-inline-size">
      <%= link_to tappa_path(tappa), draggable: false, class: "card__link", data: { turbo_frame: "_top" } do %>
        <span class="for-screen-reader"><%= tappa.tappable.denominazione %></span>
      <% end %>

      <header class="card__header">
        <%= render "tappe/display/preview/board", tappa: tappa %>
        <%= render "tappe/display/perma/tags", tappa: tappa %>
      </header>

      <div class="card__body justify-space-between">
        <div class="card__content">
          <h3 class="card__title overflow-line-clamp"><%= tappa.tappable.denominazione %></h3>
          <% if tappa.tappable.respond_to?(:comune) && tappa.tappable.comune.present? %>
            <span class="card__subtitle"><%= tappa.tappable.comune&.upcase %></span>
          <% end %>

          <% if tappa.titolo.present? %>
            <div class="card__stages">
              <%= tag.span tappa.titolo, class: "overflow-line-clamp" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <footer class="card__footer flex gap-half">
    </footer>
  <% end %>
<% end %>
