<%# locals: (tappa:, prev_tappa_id: nil, next_tappa_id: nil) -%>

<%# prev/next calcolati se non passati come locals (es. da turbo_stream replace) %>
<% prev_tappa_id, next_tappa_id = tappa_adjacent_ids(tappa) if prev_tappa_id.nil? && next_tappa_id.nil? %>

<section id="<%= dom_id(tappa, :container) %>" class="card-perma" style="--card-color: <%= tappa_color(tappa) %>;">
  <div class="card-perma__actions card-perma__actions--left">
    <% if prev_tappa_id %>
      <%= link_to tappa_path(prev_tappa_id), class: "btn",
          data: { controller: "hotkey", action: "keydown.left@document->hotkey#click" } do %>
        <%= icon_tag "arrow-left" %>
        <span class="for-screen-reader">Tappa precedente</span>
      <% end %>
    <% end %>
    <%= render "tappe/container/gild", tappa: tappa if tappa.entry.present? && !tappa.closed? %>
  </div>

  <div class="card-perma__bg">
    <article class="card <%= tappa.golden? ? 'golden-effect' : '' %>" style="view-transition-name: <%= dom_id(tappa) %>;">
      <header class="card__header">
        <%= render "tappe/display/perma/board", tappa: tappa %>
        <%= render "tappe/display/perma/tags", tappa: tappa %>
      </header>

      <div class="card__body justify-space-between">
        <div class="card__content">
          <%= render "tappe/container/content", tappa: tappa %>
        </div>
        <%= render "tappe/container/stages", tappa: tappa %>
      </div>

      <%= render "tappe/container/bolle_visione", tappa: tappa %>

      <footer class="card__footer">
        <%= render "tappe/display/perma/meta", tappa: tappa %>
      </footer>
    </article>
  </div>

  <div class="card-perma__actions card-perma__actions--right">
    <% if next_tappa_id %>
      <%= link_to tappa_path(next_tappa_id), class: "btn",
          data: { controller: "hotkey", action: "keydown.right@document->hotkey#click" } do %>
        <%= icon_tag "arrow-right" %>
        <span class="for-screen-reader">Tappa successiva</span>
      <% end %>
    <% end %>
  </div>

  <div class="card-perma__notch card-perma__notch--bottom">
    <%= turbo_frame_tag tappa, :footer do %>
      <%= render "tappe/container/footer", tappa: tappa %>
    <% end %>
  </div>

</section>
