<%= form_with(model: tappa, builder: RailsDesigner::FormBuilder) do |form| %>

    <%= form.submit data: { controller: "bridge--button", bridge_title: "Salva" },
                class: "hidden" do %>
        salva tappa
    <% end %>

    <% if tappa.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2>Non posso salvare la Tappa. <%= t 'misc.errori', count: tappa.errors.count %></h2>
        </div>
    <% end %>

    <% if params[:action] == "new" %>
        <%= form.hidden_field :tappable_id, value: @tappable_id %>
        <%= form.hidden_field :tappable_type, value: @tappable_type %>
    <% end %>

    <%= tag.div class: "my-5" do %>
            <%= component "tax_select_clientable",
                form: form,
                object_type: "tappable",
                field_name_suffix: "tappa",
                type: tappa.tappable_type,
                id: tappa.tappable_id %>

    <% end %>

    <div class="my-5">
        <%= component "field" do |field| %>
            <% field.with_label { render FormLabelComponent.new(form: form, field: :titolo, label: "Note") } %>
            <% field.with_hint { "Qui puoi segnare le note per la tappa" } %>
            <%= form.text_area :titolo, rows: 3,
                placeholder: "note..." %>
        <% end %>
    </div>

    <div class="my-5 flex-col space-y-4">
        <%= component "field" do |field| %>
            <% field.with_label { render FormLabelComponent.new(form: form, field: :data_tappa, label: "Data tappa") } %>
            <%= form.date_field :data_tappa, placeholder: "data tappa..." %>
        <% end %>

        <%= tag.div class: "cb-tax-fancy" do %>
            <%= component "field" do |field| %>
                <% field.with_label { render FormLabelComponent.new(form: form, field: :giro_id, label: "Giri") } %>
                <% field.with_hint { "Qui puoi segnare i giri per la tappa" } %>
                <%= form.combobox :giro_ids,
                            current_user.giri.order(created_at: :desc),
                            multiselect_chip_src: giro_chips_path, mobile_at: "0px" %>
            <% end %>
        <% end %>
    </div>

    <div class="my-5 flex justify-between">

        <%= button_to  do %>
			<div class="btn btn-indigo hotwire-native:hidden">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
				</svg>
				<span class="">Salva</span>
			</div>
		<% end %>

        <%# <% if action_name != "new" %>
            <%# <div class="ml-6 inline-block">
                <%#= link_to tappa_path(tappa),
                            data: { turbo_method: :delete, turbo_confirm: "Sei sicuro?", action: "dialog#close" },
                            class: "btn btn-red" do %>
                    <%#= inline_svg_tag "icon-trash.svg" %>
                    <%# <span class="">Elimina</span>  %>
                <%# <% end %>
            <%# </div> %>
        <%# <% end %>
	</div>
<% end %>
