<%= form_with(model: tappa, class: "contents") do |form| %>

    <% if params[:action] == "new" %>
        <%= form.hidden_field :tappable_id, value: @tappable&.id %>
        <%= form.hidden_field :tappable_type, value: @tappable&.class&.name %>
    <% end %>

    <% if tappa.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2><%= pluralize(tappa.errors.count, "error") %> prohibited this tappa from being saved:</h2>
            <ul>
                <% tappa.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= tag.div class: "my-4" do %>  
        <%= tag.div class: "cb-tax cb-medium rounded-t-lg bg-gray-100 border px-2 py-1.5 text-medium italic font-semibold text-gray-800" do %>
            <span class="pr-2">giro:</span>
            <%= form.combobox :giro_id, current_user.giri.all,
                name_when_new: "tappa[new_giro]" %>
            
        <% end %>
        <%= tag.div class: "rounded-b-lg bg-white border border-t-0 px-2 py-1.5" do %>
           <%= render partial: "import_scuole/scuola_small", locals: { 
                import_scuola: tappa.tappable, 
                with_navigation: false, 
                with_logo: true, 
                with_link: false,
                with_info: true } %>
        <% end %>
    <% end %>  

    <div class="my-5">
        <%= form.text_area :titolo, rows: 3,
            placeholder: "note...", 
            class: "block w-full resize-none bg-gray-50 border-0 border-b p-3 pb-2 text-gray-900 placeholder:text-gray-400 focus:border-indigo-600 focus:border-b-2 focus:ring-0 sm:text-sm sm:leading-6"
        %>
    </div> 

    <div class="my-5">
        <%= form.date_field :data_tappa,
            placeholder: "data tappa...", 
            class: "block bg-gray-50 border-0 border-b p-3 pb-2 text-gray-900 placeholder:text-gray-400 focus:border-indigo-600 focus:border-b-2 focus:ring-0 sm:text-sm sm:leading-6"
        %>
    </div>  
    
    <div class="my-5 flex justify-between">
        		<%= button_to  do %>
			<div class="btn btn-indigo">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
				</svg>
				<span class="">Salva</span>
			</div>
		<% end %>

        <% if action_name != "new" %>
            <div class="ml-6 inline-block">
                <%= link_to tappa_path(tappa), 
                            data: { turbo_method: :delete, turbo_confirm: "Sei sicuro?", action: "dialog#close" },
                            class: "btn btn-red" do %> 
                    <%= inline_svg_tag "icon-trash.svg" %>
                    <span class="">Elimina</span> 
                <% end %>
            </div>
        <% end %>
	</div>
<% end %>
