<%= tag.div id: "tappa-menu-#{dom_id tappa}", class: "mx-auto relative flex items-center justify-center",
            data: { controller: "dropdown", action: "click->dropdown#toggle click@window->dropdown#hide" } do %>
     
    <% unless tappa.data_tappa.nil? %>
        <%= render partial: "tappe/tappa_data", locals: { tappa: tappa }%>
    <% else %>
        <%= tag.div class: "h-8 w-8 rounded-full bg-gray-50 text-gray-400 hover:bg-gray-300 flex items-center justify-center",
                    type: "button",
                    id: "tappa-menu-button_#{dom_id tappa}",
                    aria: { expanded: false, haspopup: true},
                    data: { dropdown_target: "button" } do %>
            <span class="sr-only">Apri menu tappa</span>
            <%= inline_svg_tag  "icon-pencil.svg", class: "p-0.5" %>
        <% end %>
    <% end %>

    <%= tag.div class: "hidden absolute right-0 top-5 mt-2.5 w-32 z-10 rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none",
        data: { dropdown_target: "menu",
                transition_enter: "transition ease-out duration-200",
                transition_enter_from: "opacity-0",
                transition_enter_to: "opacity-95",
                transition_leave: "transition ease-in duration-150",
                transition_leave_from: "opacity-95",
                transition_leave_to: "opacity-0"
              } do %>

        <!-- Active: "bg-gray-50", Not Active: "" -->
        <% unless tappa.attuale? %>
            <%= link_to tappe_path( giorno: tappa.data_tappa.to_date),
                    class: "block px-3 py-1 text-sm leading-6 text-gray-900",
                    data: {turbo_action: "replace"}, 
                    role: "menuitem", tabindex: "-1", id: "user-menu-item-0" do %>
                Filtra giorno
            <% end %>
            <hr/>
        <% end %>
        <%= link_to edit_tappa_path( tappa ),
                class: "block px-3 py-1 text-sm leading-6 text-gray-900",
                data: { turbo_frame: :modal, action: "click->dialog#open"}, 
                role: "menuitem", tabindex: "-1", id: "user-menu-item-0" do %>
            Modifica
        <% end %>
        
        <% ["oggi", "domani", "la prossima"].each do |item| %>

            <%= form_with model: tappa,
                        class: "flex" do |f| %>
                <%= f.hidden_field :data_tappa, value: Time.now if item == "oggi" %>
                <%= f.hidden_field :data_tappa, value: Time.now + 1.day if item == "domani"  %>
                <%= f.hidden_field :data_tappa, value: Time.now + 1.week if item == "la prossima"  %>
                
                <%= f.submit item, class: [
                    "block px-3 py-1 text-sm leading-6 text-gray-900": true,
                    "bg-green-500 hover:bg-green-600": item == "oggi",
                    "bg-yellow-300 hover:bg-yellow-500": item == "domani",
                    "bg-pink-500 hover:bg-pink-600": item == "la prossima"
                ] %>


            <% end %>

        <% end %>
        
        <%#= button_to duplica_tappa_path( tappa, new: true ),
                class: "block px-3 py-1 text-sm leading-6 text-gray-900",
                role: "menuitem", tabindex: "-1", id: "user-menu-item-2" do %>
            <%# Nuova %>
        <%# end %>
        <%#= button_to duplica_tappa_path( tappa ),
                class: "block px-3 py-1 text-sm leading-6 text-gray-900",
                role: "menuitem", tabindex: "-1", id: "user-menu-item-1" do %>
            <%# Duplica %>
        <%# end %>
        <hr/>
        <% if tappa.vuota? %>

            <%= link_to tappa_path(tappa), 
                        class: "block px-3 py-1 text-sm leading-6 text-red-500",
                        data: { turbo_method: :delete },
                        role: "menuitem", tabindex: "-1", id: "user-menu-item-2"  do %> 
                <span class="">Elimina</span> 
            <% end %>

        <% else %>

            <%= link_to tappa_path(tappa), 
                        class: "block px-3 py-1 text-sm leading-6 text-red-500",
                        data: { turbo_method: :delete, turbo_confirm: "Sei sicuro?" },
                        role: "menuitem", tabindex: "-1", id: "user-menu-item-2"  do %> 
                <span class="">Elimina</span> 
            <% end %>

        <% end %>
                            
    <% end %>

    
<% end %>