<% @grouped_records.each do |k, v| %>
    
    <%# header direzione %>
    <%= tag.div class: "flex justify-between items-center space-x-2 text-base font-semibold px-4 py-2 mt-8 text-sky-500" do  %>

        <% if k.class == ImportScuola %>

                <%= tag.div k.tipo_nome %>
                <%= tag.div k.citta %>

        <% elsif k.class == Date %>
            <%= tag.div l(k, format: "%A, %-d %B %Y").titleize, class: "text-base font-semibold px-4 py-2 mt-8 text-sky-500" %>
        <% else %>
            <%= tag.div "<privata>" %>
        <% end %>
    <% end %>    

    <%# list scuole %>
    <% v.group_by{|t| t.tappable }.each do |s, tappe| %>
        
        <%= tag.div class: "group" do %>
        
            <%# header scuola %>
            <%= tag.div class: "px-2 py-2 mt-4 w-full border rounded-t-xl bg-gray-100" do %>  
                <%= render partial: "import_scuole/scuola_small", 
                        locals: { 
                                    import_scuola: s, 
                                    with_navigation: true, 
                                    with_logo: false, 
                                    with_link: true,
                                    with_info: true
                                } 
                %>
            <% end %>  

            <%# list of tappe %>
            <%= tag.div class: "grid grid-cols-2 bg-white border-x rounded-b-xl shadow-md " do %>
                
                <%# tappe attuali %>
                <%= tag.div id: "tappe-attuali-#{s.id}", class: "col-span-1" do %>
                    
                    <%= tag.div class: "hidden only:block" do %>
                        <div class="hidden group-hover:flex justify-center items-center space-x-1 p-1.5 " >
                            <%= button_to duplica_tappa_path( tappe.first, new: 'true' ),
                                    class: "mx-auto pl-0.5 h-8 pr-2 rounded-full bg-gray-50 text-gray-500 text-xs hover:bg-gray-300 hover:text-gray-700 flex items-center justify-center" do %>
                                <%= inline_svg_tag "icon-plus.svg", class: "p-1" %>
                                aggiungi tappa
                            <% end %>
                            <%= button_to duplica_tappa_path( tappe.first, new: 'oggi' ),
                                    class: "w-8 h-8 rounded-full bg-green-500 text-white hover:bg-green-600 flex items-center justify-center" do %>
                                <%= inline_svg_tag "icon-plus.svg", class: "p-1" %>
                            <% end %>
                            <%= button_to duplica_tappa_path( tappe.first, new: 'domani' ),
                                    class: "w-8 h-8 rounded-full bg-yellow-300 text-white hover:bg-yellow-500 flex items-center justify-center" do %>
                                <%= inline_svg_tag "icon-plus.svg", class: "p-1" %>
                            <% end %>
                        </div>
                    <% end %>

                    <% tappe.select {|d| d.data_tappa.nil? || d.data_tappa > Time.now.beginning_of_day }.each do |t| %>
                        <%= render partial: "tappe/tappa_small", locals: {tappa: t} %>
                    <% end %>
                <% end %>

                <%# tappe completate %>
                <%= tag.div id: "tappe-completate-#{s.id}", class: "col-span-1" do %>
                    
                    <% tappe.select {|d| d.data_tappa < Time.now.beginning_of_day unless d.data_tappa.nil?}.each do |t| %>
                        <%= render partial: "tappe/tappa_small", locals: {tappa: t} %>
                    <% end %>
                
                <% end %>
                
            <% end%>
        <% end %>
    
    <% end %>

<% end %>