<%# locals: (tappa:) -%>

<% if tappa.present? && tappa.persisted? %>
  <div class="tappa-compact <%= tappa_type_modifier(tappa) %>"
       id="<%= dom_id(tappa) %>"
       draggable="true"
       data-tappa-id="<%= tappa.id %>"
       data-action="dragstart->tappa-date#dragStart dragend->tappa-date#dragEnd">

    <div class="tappa-compact__content">
      <span class="tappa-compact__name"><%= tappa.tappable.denominazione %></span>
      <% if tappa.tappable.respond_to?(:comune) && tappa.tappable.comune.present? %>
        <span class="tappa-compact__city"><%= tappa.tappable.comune %></span>
      <% end %>
    </div>

    <% if tappa.giri.any? %>
      <div class="tappa-compact__giro">
        <span><%= tappa.giri.first.titolo.truncate(8) %></span>
      </div>
    <% end %>
  </div>
<% end %>
