<%= tag.div class: "hhidden honly:block" do %>
    <div class="hidden group-hover:flex justify-center items-center space-x-1 " >
        
            <%= form_with model: current_user.tappe.build,
                        class: "" do |f| %>
                <%= f.hidden_field :tappable_id, value: scuola.id %>
                <%= f.hidden_field :tappable_type, value: "ImportScuola" %>
                <%= f.hidden_field :giro_id, value: giro_id %>
                
                <%= tag.button class: [
                    "w-8 h-8 rounded-full  text-gray-400  flex items-center justify-center": true,
                ] do %>
                    <%= inline_svg_tag "icon-plus.svg", class: "p-1" %>
                <% end %>

        <% end %>
    </div>
<% end %>