<%# locals: (tappa:) -%>

<% if tappa.present? && tappa.persisted? %>
  <% giro_color = tappa.giri.first&.color %>
  <div class="tappa-compact <%= tappa_type_modifier(tappa) %>"
       id="<%= dom_id(tappa) %>"
       data-tappa-id="<%= tappa.id %>"
       data-tax-sortable-update-url="<%= sort_tappa_path(tappa) %>"
       <%= "style=--tappa-color:#{giro_color}".html_safe if giro_color %>>

    <div class="tappa-compact__content">
      <span class="tappa-compact__name"><%= tappa.tappable.denominazione %></span>
      <% if tappa.tappable.respond_to?(:comune) && tappa.tappable.comune.present? %>
        <span class="tappa-compact__city"><%= tappa.tappable.comune %></span>
      <% end %>
    </div>
  </div>
<% end %>
