<% if tappa.giro.nil? %>
    <%- giro_previous = current_user.giri.last&.id %>
    <%- giro_next = nil %>
<% else %>
    <%- giro_previous = tappa&.giro&.previous&.id %>
    <% if tappa.giro == current_user.giri.last %>
        <%- giro_next = "" %>
    <% else %>
        <%- giro_next = tappa&.giro&.next&.id %>
    <% end %>
<% end %>

<%= tag.div id: "tappa-menu-#{dom_id tappa}", class: "mx-auto relative flex items-center justify-center" do %>
    
    <%= render DropdownComponent.new do |dropdown| %>
        
        <%= dropdown.with_button do %>
            <% unless tappa.data_tappa.nil? %>
                <%= render partial: "tappe/tappa_data", locals: { tappa: tappa }%>
            <% else %>
                <%= tag.div class: "h-8 w-8 rounded-full bg-gray-50 text-gray-400 hover:bg-gray-300 flex items-center justify-center",
                            type: "button",
                            id: "tappa-menu-button_#{dom_id tappa}",
                            aria: { expanded: false, haspopup: true},
                            data: { dropdown_target: "button" } do %>
                    <span class="sr-only">Apri menu tappa</span>
                    <%= inline_svg_tag  "icon-pencil.svg", class: "p-0.5" %>
                <% end %>
            <% end %>
        <% end %>
        
        <% dropdown.with_item do %>
            <%= link_to edit_tappa_path( tappa ),
                    class: "block px-3 py-1 text-sm leading-6 text-gray-900",
                    data: { turbo_frame: :modal, action: "click->dialog#open"}, 
                    role: "menuitem", tabindex: "-1", id: "user-menu-item-0" do %>
                Modifica
            <% end %>
        <% end %>
        
        <% dropdown.with_item do %>
            <%= tag.div class: "flex justify-between" do %>

                <% if giro_previous %>
                    <%= form_with(model: tappa) do |form| %>
                        <%= form.hidden_field :giro_id, value: giro_previous %>
                        <%= form.submit "<-", class: "block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-200 " %>
                    <% end %>
                <% else %>
                    <%= tag.div  %>
                <% end %>

                <% if giro_next %>
                    <%= form_with(model: tappa) do |form| %>
                        <%= form.hidden_field :giro_id, value: giro_next %>
                        <%= form.submit "->", class: "block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-200" %>
                    <% end %>
                <% end %>
        
            <% end %>
        <% end %>

        <% dropdown.with_item do %>
            <%= tag.div class: "flex justify-between px-2 py-2" do %>        
                <% ["oggi", "domani", "la prossima"].each do |item| %>
                    <%= form_with model: tappa,
                                class: "flex justify-between" do |f| %>
                        <%= f.hidden_field :data_tappa, value: Time.now if item == "oggi" %>
                        <%= f.hidden_field :data_tappa, value: Time.now + 1.day if item == "domani"  %>
                        <%= f.hidden_field :data_tappa, value: Time.now + 1.week if item == "la prossima"  %>
                        
                        <%= f.submit item, class: [
                            "w-8 h-8 rounded-full text-xs text-white": true,
                            "bg-green-500 hover:bg-green-600": item == "oggi",
                            "bg-yellow-300 hover:bg-yellow-500": item == "domani",
                            "bg-pink-500 hover:bg-pink-600": item == "la prossima"
                        ] %>
                    <% end %>
                <% end %>        
            <% end %>
        <% end %>

        <% dropdown.with_item do %>
            <%= tag.div class: "flex justify-between px-2 py-2" do %>        
                <% ["lu", "ma", "me"].each do |item| %>
                    <%= form_with model: tappa,
                                class: "flex justify-between" do |f| %>
                        <%= f.hidden_field :data_tappa, value: Date.today.next_occurring(:monday) if item == "lu" %>                    
                        <%= f.hidden_field :data_tappa, value: Date.today.next_occurring(:tuesday) if item == "ma" %>                    
                        <%= f.hidden_field :data_tappa, value: Date.today.next_occurring(:wednesday) if item == "me" %>                    

                        <%= f.submit item, class: [
                            "w-8 h-8 rounded-full text-xs text-gray-900 hover:bg-gray-700 hover:text-white border": true
                        ] %>
                    <% end %>
                <% end %>
            <% end %>   
        <% end %>


        <% dropdown.with_item do %>
            <%= tag.div class: "flex justify-between px-2 pb-2" do %>  
                <% ["gi", "ve", "sa"].each do |item| %>
                    <%= form_with model: tappa,
                                class: "flex justify-between" do |f| %>
                        <%= f.hidden_field :data_tappa, value: Date.today.next_occurring(:thursday) if item == "gi" %>                    
                        <%= f.hidden_field :data_tappa, value: Date.today.next_occurring(:friday) if item == "ve" %>                    
                        <%= f.hidden_field :data_tappa, value: Date.today.next_occurring(:saturday) if item == "sa" %>                    
                        <%= f.submit item, class: [
                            "w-8 h-8 rounded-full text-xs text-gray-900 hover:bg-gray-700 hover:text-white border": true
                        ] %>
                    <% end %>
                <% end %>       
            <% end %>
        <% end %>


            <!-- filtra giorno  da correggere apre Tappe deve aprire Giri -->
        <% unless tappa.data_tappa.nil? %>
            <% dropdown.with_item do %>
                <%= link_to tappe_path( giorno: tappa.data_tappa.to_date),
                        class: "block px-3 py-1 text-sm leading-6 text-gray-900",
                        data: {turbo_action: "replace", turbo_frame: "_top"}, 
                        role: "menuitem", tabindex: "-1", id: "tappa-menu-item-0" do %>
                    Filtra giorno
                <% end %>
            <% end %>
        <% end %>



                
        <% dropdown.with_trailer do %>
            <% if tappa.vuota? %>
                
                <%= link_to tappa_path(tappa), 
                            class: "block px-3 py-1 text-sm leading-6 text-red-500",
                            data: { turbo_method: :delete } do %> 
                    <span class="">Elimina</span> 
                <% end %>
        
            <% else %>
                
                <%= link_to tappa_path(tappa), 
                            class: "block px-3 py-1 text-sm leading-6 text-red-500",
                            data: { turbo_method: :delete, turbo_confirm: "Sei sicuro?" } do %> 
                    <span class="">Elimina</span> 
                <% end %>
            <% end %>
        <% end %>

    <% end %>

<% end %>