<div id="<%= dom_id tappa %>" class= "group px-2 py-1.5  grid grid-cols-6 sm:grid-cols-9 space-x-2 bg-white border-b">

    <%= check_box_tag "tappa_ids[]", tappa.id, nil, {
                      multiple: true,
                      form: :bulk_update_tappe_form,
                      checked: false
                    } %>
    
    <%= tag.div class: "col-span-3" do %>    
        <%= render partial: "import_scuole/scuola_small", locals: { import_scuola: tappa.tappable, with_navigation: false } %>
    <% end %>    
    
    <%= tag.div tappa.titolo, class: "hidden sm:block col-span-3 text-sm font-semibold text-gray-600" %> 
          
    <%= tag.div class: "col-span-1 my-auto text-center" do %>
        <%= tag.div(tappa.data_tappa.strftime("%d"), 
            class: ["ml-auto h-8 w-8 rounded-full font-semibold": true,
                    "text-white bg-pink-500":  tappa.data_tappa.day > Time.now.day + 1,
                    "text-white bg-gray-400":  tappa.data_tappa.day < Time.now.day,
                    "text-white bg-green-500": tappa.data_tappa.day == Time.now.day,
                    "text-white bg-yellow-500": tappa.data_tappa.day == Time.now.day + 1]) unless tappa.data_tappa.nil? %> 
    <% end %>
        


</div>
