<%= heading do %>	
	<%= h1 {"Tappe"} %>

	<%= tag.div class: "flex flex-col space-y-2 sm:flex-row space-x-2 sm:space-y-0" do %>
        <% current_user.giri.each do |giro| %>
            <%= link_to giro.titolo, giro_path(giro), class: "btn btn-white" %> 
        <% end %>
    <% end %>

<% end %>

<div class="w-full">
  <div id="tappe" class="min-w-full">

    <%= turbo_frame_tag :search_results, data: { controller: 'tax-checkbox-select-all' } do %>
        <%# lista delle tappe %>
        <%= tag.div id: "tappe-list", class: "sm:px-2" do %>
            <p class="only:block hidden py-32 px-4 text-center xl:col-span-2">Whoops! Non ci sono tappe </p>
            
            <%= render @page.records %>

            <% unless @page.last? %>
                <% if @giro %>
                    <%= turbo_frame_tag "load_more", src: giro_tappe_path(@giro, request.query_parameters.merge(page: @page.next_param, format: :turbo_stream)), loading: :lazy do %>   
                        <%= render 'shared/lazy_loading' %>
                    <% end %>
                <% else %>
                    <%= turbo_frame_tag "load_more", src: tappe_path( request.query_parameters.merge(page: @page.next_param, format: :turbo_stream)), loading: :lazy do %>
                        <%= render 'shared/lazy_loading' %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>

  </div>
</div>
