<% @page_title = @tappa.tappable.denominazione %>
<% @header_class = "header--card" %>
<% content_for :head, tag.meta(name: "turbo-cache-control", content: "no-cache") %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <% if @tappa.data_tappa.present? %>
      <%= back_link_to l(@tappa.data_tappa, format: :short), giorno_path(giorno: @tappa.data_tappa) %>
    <% elsif (info = referrer_back_info) %>
      <%= back_link_to info[:label], info[:path] %>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Tappa</span>
  </h1>
<% end %>

<%= turbo_stream_from @tappa.entry if @tappa.entry %>
<%= tag.meta name: "entry-id", content: @tappa.entry&.id if @tappa.entry %>

<div class="full-width pad group"
     data-controller="swipe"
     <%= "data-swipe-left-value=#{tappa_path(@prev_tappa_id)}" if @prev_tappa_id %>
     <%= "data-swipe-right-value=#{tappa_path(@next_tappa_id)}" if @next_tappa_id %>>
  <%= render "tappe/container", tappa: @tappa, prev_tappa_id: @prev_tappa_id, next_tappa_id: @next_tappa_id %>
</div>

<% if @entries&.any? %>
  <div class="full-width pad group">
    <%= render "entries/open_list", entries: @entries %>
  </div>
<% end %>


<footer class="txt-align-center full-width flex flex-column margin-block-start-double">
  <hr class="separator--horizontal full-width margin-block" style="--border-color: var(--color-ink-lighter)">
  <%= render "shared/container/delete", record: @tappa, path: tappa_path(@tappa), label: "questa tappa" %>
</footer>
