<% @page_title = @tappa.tappable.denominazione %>
<% @header_class = "header--card" %>
<% turbo_refreshes_with method: :morph, scroll: :preserve %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to_url I18n.l(@tappa.data_tappa, format: :short, locale: :it), giorno_path(giorno: @tappa.data_tappa) %>
  </div>
<% end %>

<%= turbo_stream_from @tappa.entry if @tappa.entry %>
<%= tag.meta name: "entry-id", content: @tappa.entry&.id if @tappa.entry %>

<div class="full-width pad group">
  <%= render "tappe/container", tappa: @tappa %>
</div>

<footer class="txt-align-center full-width flex flex-column margin-block-start-double">
  <hr class="separator--horizontal full-width margin-block" style="--border-color: var(--color-ink-lighter)">
  <%= render "tappe/container/delete", tappa: @tappa %>
</footer>
