<% @page_title = @tappa.tappable.denominazione %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <% info = referrer_back_info || { label: "Tappe", path: tappe_path } %>
    <%= back_link_to info[:label], info[:path], "keydown.left@document->hotkey#click keydown.esc@document->hotkey#click" %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis"><%= @tappa.tappable.denominazione %></span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= link_to edit_tappa_path(@tappa), class: "btn" do %>
      <%= icon_tag "pencil" %>
      <span class="for-screen-reader">Modifica tappa</span>
    <% end %>
  </div>
<% end %>

<div class="full-width card-grid pad group show-navigator">
  <%= render @tappa %>
</div>
