<% @page_title = "Configurazione" %>

<%= turbo_stream_from Current.account, "configurazione" %>

<section class="settings">
  <div class="settings__panel panel shadow center">
    <strong class="divider divider--fade txt-large">Le mie Zone</strong>

    <%= render partial: "accounts/zone/zone_list", locals: { account_zone: @account_zone } %>

    <%= render partial: "accounts/zone/form", locals: { regioni: @regioni } %>

    <%= button_to accounts_importazione_path, class: "btn margin-block-start-double", style: "--btn-background: oklch(var(--lch-yellow-dark)); --btn-border-color: oklch(var(--lch-yellow-dark));" do %>
      <%= icon_tag "refresh" %>
      <span>Aggiorna zone</span>
    <% end %>
  </div>

  <div class="settings__panel panel shadow center">
    <strong class="divider divider--fade txt-large">I miei Editori</strong>

    <%= render partial: "accounts/mandati/mandati_list", locals: { mandati: @mandati } %>

    <%= render partial: "accounts/mandati/form", locals: { gruppi: @gruppi, editori: @editori } %>

    <%= button_to accounts_mandati_sincronizzazione_adozioni_path, class: "btn margin-block-start-double", style: "--btn-background: oklch(var(--lch-yellow-dark)); --btn-border-color: oklch(var(--lch-yellow-dark));" do %>
      <%= icon_tag "refresh" %>
      <span>Aggiorna adozioni</span>
    <% end %>
  </div>

  <div class="settings__panel settings__panel--users panel shadow center">
    <strong class="divider divider--fade txt-large">Utenti</strong>
    <%= render "accounts/members/members_list", members: @members %>
    <%= render "accounts/members/invite_form" %>

    <%= link_to accounts_distribuzione_path, class: "btn btn--link full-width margin-block-start-double" do %>
      <%= icon_tag "users" %>
      <span>Distribuzione scuole</span>
    <% end %>
  </div>

</section>
