<article class="panel shadow flex flex-column">
  <div class="flex align-center gap-half margin-block-end-half">
    <h3 class="txt-small font-weight-bold overflow-ellipsis flex-item-grow">
      <%= link_to cliente.denominazione, cliente_path(cliente), data: { turbo_frame: "_top" } %>
    </h3>
  </div>

  <p class="txt-small txt-subtle mono margin-block-end-quarter"><%= cliente.partita_iva %></p>
  <p class="txt-small txt-subtle mono"><%= cliente.codice_fiscale %></p>

  <div class="card-actions margin-block-start-auto">
    <%= link_to cliente_path(cliente), class: "card-action", data: { turbo_frame: "_top" } do %>
      <%= icon_tag "eye", size: "small" %>
      <span class="txt-small">Apri</span>
    <% end %>
    <%= link_to edit_cliente_path(cliente), class: "card-action", data: { turbo_frame: "_top" } do %>
      <%= icon_tag "pencil", size: "small" %>
      <span class="txt-small">Modifica</span>
    <% end %>
  </div>
</article>
