<% @page_title = "Clienti" %>
<% @body_class = "contained-scrolling" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to clienti_path(format: :xlsx, params: request.query_parameters), class: "btn",
        data: { controller: "link-modifier tooltip", link_modifier_target: "link" } do %>
      <%= icon_tag "document" %>
      <span class="for-screen-reader">Esporta in excel</span>
    <% end %>
    <%= link_to new_import_path(type: :clienti), class: "btn", data: { controller: "tooltip" } do %>
      <%= icon_tag "arrow-down-tray" %>
      <span class="for-screen-reader">Importa Clienti</span>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Clienti</span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= link_to new_cliente_path, class: "btn", data: { controller: "tooltip" } do %>
      <%= icon_tag "add" %>
      <span class="for-screen-reader">Nuovo cliente</span>
    <% end %>
  </div>
<% end %>

<%= render "filters/settings",
      filter_url: clienti_path,
      filter_type: "cliente_filter",
      user_filtering: @user_filtering,
      no_filtering_url: clienti_path %>

<%= turbo_frame_tag :search_results do %>
  <% if @page.used? %>
    <p class="txt-small txt-subtle margin-block-end-half">
      <%= @total_count %> <%= @total_count == 1 ? "cliente trovato" : "clienti trovati" %>
    </p>

    <div class="cards cards--grid" data-controller="bulk-actions">
      <%= with_automatic_pagination :clienti, @page,
          class: "cards__list",
          data: { controller: "navigable-list",
              navigable_list_auto_select_value: false,
              navigable_list_actionable_items_value: true,
              navigable_list_prevent_handled_keys_value: true,
              action: "keydown->navigable-list#navigate keydown.space->navigable-list#toggleCurrentItem:prevent" } do %>
        <%= render @page.records %>
      <% end %>
      <%= render "clienti/bulk_bar/bar" %>
    </div>
  <% else %>
    <div class="blank-slate blank-slate--empty">
      <h3 class="txt-large font-weight-bold">Nessun cliente trovato</h3>
      <p class="txt-small txt-subtle margin-block-end">
        <% if @user_filtering.filters_active? %>
          Prova a modificare i filtri di ricerca.
        <% else %>
          Inizia aggiungendo il primo cliente al tuo account.
        <% end %>
      </p>
      <% unless @user_filtering.filters_active? %>
        <%= link_to new_cliente_path, class: "btn btn--primary" do %>
          <%= icon_tag "plus", size: "small" %>
          Aggiungi Cliente
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
