<% content_for :title, "Clienti" %>

<div class="sticky top-header z-10">
  <%= render Heading::WithActionsComponent.new do |heading| %>

    <% heading.with_action do %>
      <%= component 'tax_button',
          caption: "Importa",
          svg_file: "icon-folder-arrow-down.svg",
          color: "blue",
          url: new_clienti_importer_path %>
    <% end %>

    <% heading.with_action do %>
      <%= component 'tax_button',
          caption: "Excel",
          svg_file: "icon-excel-bis.svg",
          color: "green",
          url: url_for( controller: "clienti", action: "index", format: :xlsx, params: request.query_parameters ),
          data_attr: { controller: "link-modifier", link_modifier_target: "link" } %>
    <% end %>

    <% heading.with_action do %>
      <%= component 'tax_button',
          caption: "Nuovo",
          svg_file: "icon-plus.svg",
          color: "blue",
          url: url_for( controller: "clienti", action: "new", model: @cliente ) %>
    <% end %>

    <% heading.with_action do %>
      <div class="hide-on-desktop">
        <%= component 'tax_button',
            caption: "Filtra",
            svg_file: "icon-funnel.svg",
            color: "white",
            url: filtra_clienti_path( params: request.query_parameters ),
            data_attr: { turbo_frame: "slide-over", controller: "link-modifier", link_modifier_target: "link" } %>
      </div>
    <% end %>

    <%= h1 {"Clienti"} %>

  <% end %>
</div>

<%= turbo_frame_tag "search_results" do %>

  <div class="flex gap" style="padding-inline-end: 18rem;">

    <div role="list" class="card-grid full-width">
      <% @clienti.each do |cliente| %>
        <%= render partial: "clienti/cliente", locals: { cliente: cliente } %>
      <% end %>
    </div>

  </div>

  <aside class="sidebar-right hide-on-mobile">
    <%= render partial: "filter_form", locals: { reload: true } %>
  </aside>

<% end %>
