<% @page_title = @cliente.denominazione %>
<% @header_class = "header--card" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <% info = referrer_back_info || { label: "Clienti", path: clienti_path } %>
    <%= back_link_to info[:label], info[:path] %>
  </div>

  <div class="header__actions header__actions--end">
  </div>
<% end %>

<div class="full-width card-grid pad group show-navigator">
  <%= render "clienti/container/container", cliente: @cliente, presenter: @presenter, sconti: @sconti_unici %>

  <div class="comments">
    <%= render "clienti/container/entries_list", entries: @active_entries %>

    <%= turbo_frame_tag "closed_entries", src: cliente_closed_entries_path(@cliente), loading: :lazy, style: "display: block; min-height: 1px;" do %>
      <p class="txt-small txt-subtle margin-none">Mostra completati...</p>
    <% end %>

    <% if @cliente.can_delete? %>
      <div class="margin-block-start">
        <%= render "shared/container/delete", record: @cliente, path: cliente_path(@cliente), label: "questo cliente" %>
      </div>
    <% end %>
  </div>
</div>
