<div class="sticky top-20 z-10 mb-4">
	<%= render Heading::WithActionsComponent.new(level: 'h2') do |heading| %>
		
		<% heading.with_leader do %>
			<%#= render AvatarComponent.new(user: OpenStruct.new(name: "Cam"), size: "xl") %>
		<% end %>
		
		<% heading.with_description do %>
			<%= tag.div @cliente.indirizzo, class: "text-sm font-semibold text-gray-400" %>
			<%= tag.div @cliente.comune, class: "text-sm font-semibold text-gray-400"  %>
		<% end %>

		<% if @cliente.can_delete? %>
			<% heading.with_action do %>
				<%= component 'tax_button',
					caption: "Elimina",
					svg_file: "icon-trash-real.svg",
					color: "red",
					url: url_for( controller: "clienti", action: "destroy", model: @cliente, method: :delete ),
					data_attr: {
						turbo_method: "delete",
						turbo_confirm: "Vuoi veramente eliminare questo Cliente?",
						turbo_confirm_theme: "",
						turbo_confirm_confirm_label: "Si, eliminalo!",
						turbo_confirm_cancel_label: "Oops, no annulla…",
					} %>
			<% end %>
		<% end %>

		<% heading.with_action do %>
			<%= component 'tax_button', 
					caption: "Vai...",
					svg_file: "icon-map-pin.svg",
					color: "pink",
					url:  go_to_tappable_path(@cliente, current_user.navigator),
					target: "_blank"
			%>
		<% end %>

		<% heading.with_action do %>
			<%= component 'tax_button',
				caption: "Modifica",
				svg_file: "icon-pencil.svg",
				color: "yellow",
				url: url_for( controller: "clienti", action: "edit", model: @cliente ) %>
		<% end %>

		<% heading.with_action do %>
			<%= tag.div class: "flex flex-row gap-1" do %>
				<%= component 'tax_button',
					caption: "prec",
					svg_file: "icon-arrow-left.svg",
					color: "white",
					url: "/clienti/#{@cliente&.previous&.id}"  %>

				<%= component 'tax_button',
					caption: "succ",
					svg_file: "icon-arrow-right.svg",
					color: "white",
					url: "/clienti/#{@cliente&.next&.id}"  %>
			<% end %>
		<% end %>

		<% heading.with_action do %>	
			<%= component 'tax_button',
				caption: "Indietro",
				svg_file: "icon-arrow-long-left.svg",
				color: "white",
				url: 'javascript:history.back()' %>
		<% end %>

		<% heading.with_action do %>
				<%= render DropdownComponent.new() do |dropdown| %>
					<%= dropdown.with_button do %>
						<%= component 'tax_button', 
								caption: "Nuovo",
								svg_file: "icon-plus.svg",
								color: "blue",
								style: :dropdown
						%>
					<% end %>

					<% dropdown.with_item do %>
						<%#= link_to "nuovo appunto", new_appunto_path( import_scuola_id: @import_scuola.id ), 
								class: "px-3 py-3 block hover:text-blue-500 focus-visible:outline-none focus-visible:bg-gray-50",
								data: { turbo_frame: :modal, action: "click->dialog#open", turbo_prefetch: false },
								role: "menuitem", tabindex: "-1", id: "titolo-menu-item-2" %>
					<% end %>
					
					<% dropdown.with_item do %>
						<%= link_to "nuovo ordine", 
								new_documento_path( clientable_type: "Cliente", clientable_id: @cliente.id, causale: "Ordine Scuola" ),
								data: { turbo_prefetch: false }, 
								class: "px-3 py-2 block hover:text-blue-500 focus-visible:outline-none focus-visible:bg-gray-50",
								role: "menuitem", tabindex: "-1", id: "titolo-menu-item-2" %>
					<% end %>

					<% dropdown.with_item do %>
						<%= link_to "nuova tappa", new_tappa_path( tappable_type: "Cliente", tappable_id: @cliente.id, data_tappa: Date.today ), 
								class: "px-3 py-3 block hover:text-blue-500 focus-visible:outline-none focus-visible:bg-gray-50",
								data: { turbo_frame: :modal, action: "click->dialog#open", turbo_prefetch: false },
								role: "menuitem", tabindex: "-1", id: "titolo-menu-item-2" %>
					
					<% end %>
				<% end %>
		<% end %>

		<%= @cliente.denominazione %>
	
	<% end %>

	<%= render StatComponent.new(title: "Fatturato", width: "w-full", theme: "dark", 
						current_value: @cliente.importo_entrate - @cliente.importo_uscite) do |stat| %>
		<% stat.with_current_value_leader { "€ " } %>
	<% end %>

</div>


<div class="group show-cliente flex flex-row gap-4">

	<div class="w-1/2">
		<%= render partial: "documenti/documento", 
				collection: @documenti.select{|d| d.registrato? == false} %>
	</div>

	<div class="w-1/2">
		<%= render partial: "documenti/documento", 
				collection: @documenti.select{|d| d.registrato? == true} %>
	</div>

</div>


<%= tag.ul  do %>
	<% @situazio.group_by{ |l| l.categoria}.each do |categoria, libri| %>
		<%= tag.li class: "grid grid-cols-10" do %>
			<%= tag.p categoria, class: "col-start-1 text-red-500 font-bold text-right" %>
		<% end %>
		<% libri.each do |libro| %>
			<%= tag.li class: "grid grid-cols-10" do %>
				<%= tag.p libro.codice_isbn, class: "col-span-2" %>
				<%= tag.p libro.titolo, class: "col-span-4 truncate" %>
				<%= tag.p libro.uscite&.to_i, class: "col-span- text-right" %>
				<%= tag.p libro.entrate&.to_i, class: "col-span-1 text-right" %>
				<%= tag.p (libro.uscite&.to_i || 0) + (libro.entrate&.to_i || 0), class: "col-span-1 text-red-500 font-bold text-right" %>
				<%= tag.p number_to_currency(libro.valore&.to_f), class: "col-span-1 text-red-500 font-bold text-right" %>
			<% end %>
		<% end %>
		<%= tag.li class: "grid grid-cols-10" do %>
			<%= tag.p number_to_currency(libri.sum{|s| s.valore}), class: "col-span-2 col-start-9 text-red-500 font-bold text-right" %>
		<% end %>
	<% end %>
	<%= tag.li class: "grid grid-cols-10" do %>
		<%= tag.p number_to_currency(@situazio.sum{|s| s.valore}), class: "col-span-2 col-start-9 text-red-500 font-bold text-right" %>
	<% end %>
<% end %>


