<% @page_title = @collana.nome %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "Collane", collane_path %>
  </div>
    
  <div class="header__actions header__actions--end">
    <%= link_to edit_collana_path(@collana), class: "btn", data: { controller: "tooltip" } do %>
      <%= icon_tag "pencil" %>
      <span class="for-screen-reader">Modifica collana</span>
    <% end %>
  </div>
<% end %>

<section class="panel shadow center collana-panel">
  <h3 class="divider divider--fade margin-block-end"><%= @page_title %></h3>

  <datalist id="gruppo_list_<%= @collana.id %>">
    <% CollanaLibro.where(account_id: Current.account.id).where.not(gruppo: [nil, ""]).distinct.pluck(:gruppo).sort.each do |g| %>
      <option value="<%= g %>">
    <% end %>
  </datalist>

  <datalist id="classi_target_list_<%= @collana.id %>">
    <% CollanaLibro.where(account_id: Current.account.id).where.not(classi_target: [nil, ""]).distinct.pluck(:classi_target).sort.each do |ct| %>
      <option value="<%= ct %>">
    <% end %>
  </datalist>

  <div id="collana_libri_list">
    <ul class="flex flex-column unpad margin-none"
        data-controller="tax-sortable"
        data-tax-sortable-group-value="collana_<%= @collana.id %>"
        data-action="dragstart->tax-sortable#dragStart dragover->tax-sortable#dragOver dragenter->tax-sortable#dragEnter dragleave->tax-sortable#dragLeave drop->tax-sortable#drop dragend->tax-sortable#dragEnd">
      <% @collana.collana_libri.includes(libro: :editore).ordered.each do |cl| %>
        <%= render "collana_libri/collana_libro", collana_libro: cl %>
      <% end %>
    </ul>
  </div>

  <%= render "collana_libri/form", collana: @collana %>
</section>
