<% @page_title = @collana.nome %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "Collane", collane_path %>
  </div>
  <h1 class="header__title"><%= @page_title %></h1>
  <div class="header__actions header__actions--end">
    <%= link_to edit_collana_path(@collana), class: "btn" do %>
      <%= icon_tag "pencil", size: "small" %>
    <% end %>
  </div>
<% end %>

<section class="panel shadow center" style="max-inline-size: 60rem;">
  <h3 class="divider divider--fade txt-medium font-weight-black">Libri nella collana</h3>

  <datalist id="gruppo_list_<%= @collana.id %>">
    <% CollanaLibro.where(account_id: Current.account.id).where.not(gruppo: [nil, ""]).distinct.pluck(:gruppo).sort.each do |g| %>
      <option value="<%= g %>">
    <% end %>
  </datalist>

  <datalist id="classi_target_list_<%= @collana.id %>">
    <% CollanaLibro.where(account_id: Current.account.id).where.not(classi_target: [nil, ""]).distinct.pluck(:classi_target).sort.each do |ct| %>
      <option value="<%= ct %>">
    <% end %>
  </datalist>

  <div id="collana_libri_list">
    <ul class="flex flex-column gap-half unpad margin-none">
      <% @collana.collana_libri.includes(:libro).each do |cl| %>
        <%= render "collana_libri/collana_libro", collana_libro: cl %>
      <% end %>
    </ul>
  </div>

  <%= render "collana_libri/form", collana: @collana %>
</section>
