<% content_for :title, "Classi - #{@scuola.denominazione}" %>

<div class="sticky top-header z-10">
  <%= render Heading::WithActionsComponent.new do |heading| %>

    <% if @scuola.codice_ministeriale.present? %>
      <% heading.with_action do %>
        <%= button_to scuola_classi_path(@scuola),
            method: :post,
            class: "btn btn--primary" do %>
          <%= icon_tag "download", size: "small" %>
          Importa Classi
        <% end %>
      <% end %>
    <% end %>

    <% heading.with_action do %>
      <%= link_to scuola_path(@scuola), class: "btn" do %>
        <%= icon_tag "arrow-left", size: "small" %>
        Indietro
      <% end %>
    <% end %>

    <%= h1 {"Classi di #{@scuola.denominazione}"} %>

  <% end %>
</div>

<!-- Breadcrumb -->
<nav class="flex align-center gap-half txt-small txt-subtle margin-block-end">
  <%= link_to scuole_path, class: "txt-link" do %>
    Scuole
  <% end %>
  <%= icon_tag "chevron-right", size: "small" %>
  <%= link_to @scuola.denominazione, scuola_path(@scuola), class: "txt-link overflow-ellipsis" %>
  <%= icon_tag "chevron-right", size: "small" %>
  <span class="font-weight-bold">Classi</span>
</nav>

<!-- Lista classi -->
<section class="panel shadow">
  <div class="pad flex align-center justify-space-between" style="border-bottom: 1px solid var(--color-ink-lighter);">
    <h3 class="txt-medium font-weight-bold">Tutte le classi</h3>
    <span class="badge txt-xx-small"><%= @classi.count %></span>
  </div>

  <% if @classi.any? %>
    <div class="pad flex flex-column gap-half">
      <% @classi.each do |classe| %>
        <%= render "scuole/classi/classe_card", classe: classe, scuola: @scuola %>
      <% end %>
    </div>
  <% else %>
    <div class="pad txt-center">
      <%= icon_tag "users", size: "large", class: "txt-subtle margin-block-end-half" %>
      <h3 class="txt-medium font-weight-bold">Nessuna classe</h3>
      <p class="txt-small txt-subtle margin-block-end">Questa scuola non ha ancora classi registrate.</p>
      <% if @scuola.codice_ministeriale.present? %>
        <%= button_to scuola_classi_path(@scuola),
            method: :post,
            class: "btn btn--primary" do %>
          <%= icon_tag "download", size: "small" %>
          Importa Classi
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
