<%= form_with(model: voice_note, class: "relative", id: :voice_note_form) do |form| %>
	
	<% if voice_note.errors.any? %>
		<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
			<h2><%= pluralize(voice_note.errors.count, "error") %> prohibited this voice_note from being saved:</h2>
			<ul>
				<% voice_note.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%# oggetto anziche nome %>	
	<div class="mt-5">		
		<%= render "shared/inline_fields", form: form, method: :title do %>
			<div class="relative w-full">
				<%= form.text_field :title, 
						class: "peer block w-full border-0 bg-gray-50 py-1.5 text-gray-900 focus:ring-0", 
						placeholder: "titolo",
						autofocus: :true  %>
				<div class="absolute inset-x-0 bottom-0 border-t border-gray-300 peer-focus:border-t-2 peer-focus:border-indigo-600" aria-hidden="true"></div>
			</div>
    	<% end %>    
	</div>

	<%# text area o trix  %>
	<div class="mt-5">
		<%= render "shared/inline_fields", form: form, method: :transcription do %>
			<div class="relative w-full">
					<%= form.text_area :transcription, rows: 5, 
							placeholder: "scrivi...", class: "w-full" %>
			</div>
		<% end %>
	</div>  
<% end %>

			