<div id="<%= dom_id(voice_note) %>" class="border p-4 rounded-lg shadow-sm space-y-2 flex flex-col justify-between gap-4">
	
	<%= turbo_stream_from "voice_note_#{voice_note.id}" if voice_note %>


	<div class="flex flex-col justify-between w-full">
		

		<div id="voice_note_transcription_<%= voice_note.id %>" class="w-full pb-2 text-gray-700">
			<%= render "shared/inline_edit", model: voice_note, method: :transcription do %>
				<div class="relative w-full">
					<% if voice_note.transcription.present? %>
						<%= simple_format(voice_note.transcription, class: "italic") %>
					<% else %>
						<span class="italic">In attesa della trascrizione...</span>
					<% end %>
				</div>
			<% end %>
		</div>
		

		<div class="flex items-center justify-between gap-2">
			<div class="text-sm text-gray-700"><%= voice_note.title %></div> 
			<audio controls class="max-w-28">
				<source src="<%= url_for(voice_note.audio_file) %>" type="<%= voice_note.audio_file.content_type %>">
				Il tuo browser non supporta l'elemento audio.
			</audio>
		</div>
	</div>

	<div class="w-full flex gap-2 justify-end">
		<%= button_to "Elimina",
					voice_note_path(voice_note),
					method: :delete,					
					class: "px-4 py-2 bg-red-500 text-white font-bold rounded-lg shadow-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-2 transition" %>
	</div>

	<%= turbo_frame_tag dom_id(voice_note, "appunti") do %>
		<%= render partial: "appunti/appunto", collection: voice_note.appunti, as: :appunto %>
	<% end %>


</div>