<%# locals: (scuola:, entries:, appunti: [], documenti: []) -%>
<%= turbo_frame_tag "scuola_entries" do %>
  <% has_content = entries.any? || appunti.any? || documenti.any? %>
  <% if has_content %>
    <% count = entries.any? ? entries.count : (appunti.count + documenti.count) %>
    <h3 class="divider divider--fade txt-medium font-weight-black">Aperti (<%= count %>)</h3>

    <div class="cards cards--grid">
      <div class="cards__list">
        <% if entries.any? %>
          <% entries.each do |entry| %>
            <%= render "entries/entry", entry: entry, draggable: false %>
          <% end %>
        <% else %>
          <% appunti.each do |appunto| %>
            <%= render "appunti/appunto", appunto: appunto, draggable: false %>
          <% end %>
          <% documenti.each do |documento| %>
            <%= render "documenti/documento", documento: documento, draggable: false %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
