<%# locals: (record:, created_label: "CREATO", created_at: nil, items: []) -%>
<%# Preview meta - compact read-only display %>
<%# items is an array of hashes: { icon: "icon-name", text: "Text", class: "optional-class" } %>

<div class="card__meta" id="<%= dom_id(record, :meta) %>">
  <div class="card__meta-avatars card__meta-avatars--author">
    <span class="txt-x-small txt-uppercase"><%= created_label %></span>
  </div>

  <% if created_at.present? %>
    <span class="card__meta-text card__meta-text--added">
      <strong><%= created_at.strftime("%d/%m/%Y") %></strong>
    </span>
  <% end %>

  <% items.each_with_index do |item, index| %>
    <span class="card__meta-text <%= item[:class] || "card__meta-text--author" %> overflow-ellipsis">
      <% if item[:icon].present? %>
        <%= icon_tag item[:icon] %>
      <% end %>
      <% if item[:html].present? %>
        <%= item[:html].html_safe %>
      <% else %>
        <%= item[:text] %>
      <% end %>
    </span>
  <% end %>

  <div class="card__meta-avatars card__meta-avatars--assignees">
    <%= yield if block_given? %>
  </div>
</div>
