<% filter = user_filtering.filter %>

<%= tag.div class: "quick-filter",
      data: {
        controller: "dialog filter multi-selection-combobox",
        action: "keydown.esc->dialog#close click@document->dialog#closeOnClickOutside dialog:close@document->filter#clearInput dialog:close->multi-selection-combobox#restore",
        filter_show: user_filtering.show_classi?,
        multi_selection_combobox_no_selection_label_value: "Classe..." } do %>
  <button type="button" class="btn input input--select flex-inline txt-x-small" data-action="click->dialog#toggle:stop">
    <span class="overflow-ellipsis" data-multi-selection-combobox-target="label"></span>
  </button>

  <template data-multi-selection-combobox-target="hiddenFieldTemplate">
    <%= hidden_field_tag "classi[]", nil, data: { filter_settings_target: "field" } %>
  </template>

  <%= filter_dialog "Classe...", apply_button: true do %>
    <strong class="popup__title">Filtra per classe...</strong>

    <ul class="popup__list" data-filter-target="list" role="listbox">
      <% user_filtering.classi_disponibili.each do |classe| %>
        <%= content_tag(:li, class: "popup__item", data: {
              filter_target: "item", navigable_list_target: "item", multi_selection_combobox_target: "item", multi_selection_combobox_value: classe, multi_selection_combobox_label: classe },
              role: "checkbox", aria: { checked: filter.classi.include?(classe) }) do %>
          <button type="button" class="btn popup__btn" data-action="multi-selection-combobox#change">
            <span class="overflow-ellipsis flex-item-grow"><%= classe %></span>
            <%= icon_tag "check", class: "checked flex-item-justify-end" %>
          </button>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
