<% filter = user_filtering.filter %>

<%= tag.div class: class_names("quick-filter", { "quick-filter--with-default": filter.default_sorted_by? }),
      data: {
        controller: "dialog filter combobox",
        action: "keydown.esc->dialog#close click@document->dialog#closeOnClickOutside dialog:close@document->filter#clearInput",
        combobox_default_value_value: filter.default_sorted_by,
        combobox_with_default_class: "quick-filter--with-default" } do %>
  <button type="button" class="btn input input--select flex-inline txt-x-small" data-action="click->dialog#toggle:stop">
    <span class="overflow-ellipsis" data-combobox-target="label">
      <%= ordinamento_label(filter.sorted_by) %>
    </span>
  </button>

  <template data-combobox-target="hiddenFieldTemplate">
    <%= hidden_field_tag :sorted_by, nil, data: { filter_settings_target: "field" } %>
  </template>

  <%= filter_dialog "Ordina per" do %>
    <strong class="popup__title">Ordina per</strong>

    <ul class="popup__list" data-filter-target="list" role="listbox">
      <% filter.class::Fields::SORTED_BY.each do |option| %>
        <%= tag.li class: "popup__item", data: {
              navigable_list_target: "item", combobox_target: "item", combobox_value: option, combobox_label: ordinamento_label(option) },
              role: "checkbox", aria: { checked: filter.sorted_by == option } do %>
          <button type="button" class="btn popup__btn" data-action="dialog#close combobox#change filter-settings#change form#submit">
            <span class="overflow-ellipsis flex-item-grow"><%= ordinamento_label(option) %></span>
            <%= icon_tag "check", class: "checked flex-item-justify-end" %>
          </button>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
