<% filter = user_filtering.filter %>

<%= tag.div class: "quick-filter",
      data: {
        controller: "dialog filter combobox",
        action: "keydown.esc->dialog#close click@document->dialog#closeOnClickOutside dialog:close@document->filter#clearInput",
        filter_show: user_filtering.show_states?,
        combobox_default_label_value: "Stato..." } do %>
  <button type="button" class="btn input input--select flex-inline txt-x-small" data-action="click->dialog#toggle:stop">
    <span class="overflow-ellipsis" data-combobox-target="label">
      <%= filter.state.present? ? user_filtering.states_disponibili[filter.state] : "Stato..." %>
    </span>
  </button>

  <template data-combobox-target="hiddenFieldTemplate">
    <%= hidden_field_tag :state, nil, data: { filter_settings_target: "field" } %>
  </template>

  <%= filter_dialog "Stato..." do %>
    <strong class="popup__title">Filtra per stato...</strong>

    <ul class="popup__list" data-filter-target="list" role="listbox">
      <% user_filtering.states_disponibili.each do |state_key, state_label| %>
        <%= tag.li class: "popup__item", data: {
              navigable_list_target: "item", combobox_target: "item", combobox_value: state_key, combobox_label: state_label },
              role: "checkbox", aria: { checked: filter.state == state_key } do %>
          <button type="button" class="btn popup__btn" data-action="dialog#close combobox#change filter-settings#change form#submit">
            <span class="overflow-ellipsis flex-item-grow"><%= state_label %></span>
            <%= icon_tag "check", class: "checked flex-item-justify-end" %>
          </button>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
