<% if personal_info.present? %>
  <div class="panel pad border-radius shadow">
    <div class="margin-block-end">
      <div class="avatar avatar--large">
        <%= image_tag user_avatar_path(Current.user, v: Current.user.updated_at.to_i), alt: "Profile avatar for #{Current.user.name}", class: "avatar", size: 128 %>
      </div>
    </div>

    <dl class="dl-grid">
      <div>
        <dt class="txt-small txt-subtle">Nome</dt>
        <dd class="txt-small"><%= personal_info.nome %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Cognome</dt>
        <dd class="txt-small"><%= personal_info.cognome %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Cellulare</dt>
        <dd class="txt-small mono"><%= personal_info.cellulare || "-" %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Email personale</dt>
        <dd class="txt-small"><%= personal_info.email_personale || "-" %></dd>
      </div>

      <div>
        <dt class="txt-small txt-subtle">Navigatore preferito</dt>
        <dd class="txt-small"><%= personal_info.navigator&.humanize || "-" %></dd>
      </div>
    </dl>
  </div>
<% else %>
  <div class="panel pad fill-highlight border-radius txt-align-center">
    <%= icon_tag "user", class: "txt-subtle" %>
    <h3 class="txt-medium font-weight-bold margin-block-start-half">Nessuna informazione personale</h3>
    <p class="txt-small txt-subtle margin-block-start-half">Inizia aggiungendo le tue informazioni personali.</p>
    <div class="margin-block-start">
      <%= link_to "Aggiungi informazioni", new_personal_info_path, class: "btn btn--primary" %>
    </div>
  </div>
<% end %>
