<% content_for :title, "Fornitori" %>

<div class="panel margin-block-end">
  <h1 class="txt-large">Fornitori</h1>

  <%= form_with url: fornitori_path, method: :get, class: "flex gap" do %>
    <%= text_field_tag :search, params[:search], class: "input", placeholder: "Cerca fornitore..." %>
    <%= submit_tag "Cerca", class: "btn" %>
  <% end %>
</div>

<%= turbo_frame_tag "search_results" do %>
  <ul class="flex flex-column gap-half">
    <% @fornitori.each do |fornitore| %>
      <%= render "fornitori/fornitore", fornitore: fornitore %>
    <% end %>
  </ul>
<% end %>
