<% content_for :title, @fornitore.denominazione %>

<div class="panel margin-block-end">
  <div class="flex justify-space-between align-center">
    <div>
      <h1 class="txt-large"><%= @fornitore.denominazione %></h1>
      <span class="txt-subtle txt-small"><%= @fornitore.partita_iva %></span>
    </div>
    <%= link_to "< indietro", fornitori_path, class: "btn" %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Causale</th>
      <th>Numero</th>
      <th>Data</th>
      <th class="txt-align-end">Copie</th>
      <th class="txt-align-end">Importo</th>
    </tr>
  </thead>
  <tbody>
    <% @documenti.each do |documento| %>
      <tr>
        <td><%= link_to documento.causale&.causale, documento_path(documento) %></td>
        <td><%= documento.numero_documento %></td>
        <td><%= documento.data_documento&.strftime("%d/%m/%Y") %></td>
        <td class="txt-align-end"><%= documento.totale_copie %></td>
        <td class="txt-align-end"><%= number_to_currency documento.totale_importo, locale: :it %></td>
      </tr>
    <% end %>
  </tbody>
</table>
