<% @page_title = "Configurazione" %>

<%= turbo_stream_from Current.account, "configurazione" %>

<section class="settings">

  <div class="settings__panel panel shadow center">
    <strong class="divider divider--fade txt-large">Le mie Zone</strong>

    <%= render partial: "zone/zone_list", locals: { account_zone: @account_zone } %>

    <%= render partial: "zone/form", locals: { regioni: @regioni } %>
  </div>

  <div class="settings__panel panel shadow center">
    <strong class="divider divider--fade txt-large">I miei Editori</strong>

    <%= render partial: "mandati/mandati_list", locals: { mandati: @mandati } %>

    <%= render partial: "mandati/form", locals: { gruppi: @gruppi, editori: @editori } %>
  </div>

  <div class="settings__panel panel shadow center">
    <div class="flex flex-justify-between flex-align-center">
      <strong class="divider divider--fade txt-large">Utenti</strong>
      <%= link_to distribuzione_path, class: "btn btn--small" do %>
        Distribuzione scuole
      <% end %>
    </div>
    <%= render "account_members/members_list", members: @members %>
    <%= render "account_members/invite_form" %>
  </div>

</section>
