<% @page_title = "Configurazione" %>

<%= turbo_stream_from Current.account, "configurazione" %>

<section class="settings">

  <div class="settings__panel panel shadow center">
    <strong class="divider divider--fade txt-large">Utenti</strong>
    <%= render "account_members/members_list", members: @members %>
    <%= render "account_members/invite_form" %>
  </div>

  <div class="settings__panel panel shadow center">
    <strong class="divider divider--fade txt-large">Le mie Zone</strong>

    <%= render partial: "zone/zone_list", locals: { account_zone: @account_zone } %>

    <%= render partial: "zone/form", locals: { regioni: @regioni, province: @province, gradi: @gradi, tipi: @tipi } %>
  </div>

  <div class="settings__panel panel shadow center">
    <strong class="divider divider--fade txt-large">I miei Editori</strong>

    <%= render partial: "mandati/mandati_list", locals: { mandati: @mandati } %>

    <%= render partial: "mandati/form", locals: { gruppi: @gruppi, editori: @editori, zone_attive: @zone_attive } %>
  </div>

  <div class="settings__panel panel shadow center">
    <strong class="divider divider--fade txt-large">API</strong>
    <p class="txt-small txt-tertiary">Gestisci <%= link_to "token di accesso", access_tokens_path, class: "btn btn--plain txt-link" %> per collegare servizi esterni come l'estensione WhatsApp.</p>
  </div>

</section>
