<% @page_title = "Import MIUR" %>

<% content_for :header do %>
  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Rettifiche import MIUR</span>
  </h1>
<% end %>

<div class="ca-page">
  <p class="txt-subtle">Import che toccano le tue scuole (diff MIUR-vs-MIUR per import).</p>

  <% if @runs.empty? %>
    <p class="notice">Nessun import ha toccato le tue scuole.</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Data</th>
          <th>Anno</th>
          <th class="txt-align-end">Tue scuole</th>
          <th class="txt-align-end">+ righe</th>
          <th class="txt-align-end">− righe</th>
        </tr>
      </thead>
      <tbody>
        <% @runs.each do |run| %>
          <tr>
            <td>
              <%= link_to l(run.completed_at, format: :short),
                    miur_import_run_path(run, account_id: params[:account_id]) %>
            </td>
            <td><%= anno_scolastico_label(run.anno_scolastico) %></td>
            <td class="txt-align-end"><%= @scuole_per_run[run.id].to_i %></td>
            <td class="txt-align-end"><%= @aggiunte_per_run[run.id].to_i %></td>
            <td class="txt-align-end"><%= @rimosse_per_run[run.id].to_i %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
