<%# locals: (libro:) -%>

<div class="card__meta" id="<%= dom_id(libro, :meta) %>">
  <div class="card__meta-avatars card__meta-avatars--author">
  </div>

  <span class="card__meta-text card__meta-text--added">
    <span>
      Editore
      <strong><%= libro.editore&.editore || "—" %></strong>
    </span>
  </span>

  <span class="card__meta-text card__meta-text--author">
    <span>
      <% if libro.classe.present? %>Cl. <strong><%= libro.classe %></strong><% end %>
      <% if libro.classe.present? && libro.disciplina.present? %> · <% end %>
      <% if libro.disciplina.present? %><%= truncate(libro.disciplina, length: 25) %><% end %>
      <% if libro.classe.blank? && libro.disciplina.blank? %>&nbsp;<% end %>
    </span>
  </span>

  <span class="card__meta-text card__meta-text--updated overflow-ellipsis">
    <% if libro.cm.present? %>
      CM <strong><%= libro.cm %></strong>
    <% else %>
      &nbsp;
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--assignees overflow-ellipsis">
    <% if libro.fascicoli_count.positive? %>
      <%= libro.fascicoli_count %> fasc
    <% end %>
    <% if libro.confezioni_count.positive? %>
      · <%= libro.confezioni_count %> conf
    <% end %>
    <% if libro.fascicoli_count.zero? && libro.confezioni_count.zero? %>
      &nbsp;
    <% end %>
  </span>

  <div class="card__meta-avatars card__meta-avatars--assignees">
  </div>
</div>
