<%# locals: (persona:) -%>

<% scuola = persona.scuola %>
<% email_source = scuola&.then { |s| s.email_pattern.present? ? s : s.direzione } %>
<%= form_with model: persona, url: persona_path(persona),
      id: dom_id(persona, :edit_form),
      data: { controller: "form email-suggest",
              action: "keydown.esc->form#cancel:stop",
              email_suggest_pattern_value: email_source&.email_pattern,
              email_suggest_dominio_value: email_source&.email_dominio } do |form| %>

  <div class="flex gap">
    <div class="form-field" style="flex: 1;">
      <%= form.label :cognome, class: "label txt-small" %>
      <%= form.text_field :cognome, class: "input",
    data: { email_suggest_target: "cognome", action: "input->email-suggest#clearManual" } %>
    </div>
    <div class="form-field" style="flex: 1;">
      <%= form.label :nome, class: "label txt-small" %>
      <%= form.text_field :nome, class: "input",
    data: { email_suggest_target: "nome", action: "input->email-suggest#clearManual" } %>
    </div>
  </div>

  <div class="flex gap">
    <div class="form-field" style="flex: 1;">
      <%= form.label :ruolo, class: "label txt-small" %>
      <%= form.select :ruolo, Persona.defined_enums["ruolo"].keys.map { |r| [r.titleize, r] }, {}, class: "input input--select" %>
    </div>
    <div class="form-field cb-tax" style="flex: 2;">
      <label class="label txt-small">Scuola</label>
      <%= combobox_tag "persona[scuola_id]",
          hw_combobox_options(Current.account.scuole.order(:denominazione), display: :denominazione),
          value: persona.scuola_id,
          placeholder: "Cerca scuola...",
          mobile_at: "0px" %>
    </div>
  </div>

  <div class="flex gap">
    <div class="form-field" style="flex: 1;">
      <%= form.label :cellulare, class: "label txt-small" %>
      <%= form.text_field :cellulare, class: "input", type: "tel" %>
    </div>
    <div class="form-field" style="flex: 1;">
      <%= form.label :telefono, class: "label txt-small" %>
      <%= form.text_field :telefono, class: "input", type: "tel" %>
    </div>
  </div>

  <div class="form-field">
    <%= form.label :email, class: "label txt-small" %>
    <%= form.email_field :email, class: "input",
    data: { email_suggest_target: "email", action: "input->email-suggest#markManual" } %>
  </div>

  <% materie_esistenti = scuola ? scuola.persone.joins(:persona_classi).where.not(persona_classi: { materia: nil }).distinct.pluck("persona_classi.materia").compact_blank : [] %>
  <% cattedra_attuale = persona.persona_classi.where.not(materia: nil).pick(:materia) %>
  <div class="form-field">
    <label class="label txt-small">Disciplina</label>
    <%= text_field_tag :materia, cattedra_attuale, placeholder: "Disciplina", class: "input", list: "materie_edit_#{persona.id}" %>
    <datalist id="materie_edit_<%= persona.id %>">
      <% materie_esistenti.each do |m| %>
        <option value="<%= m %>">
      <% end %>
    </datalist>
  </div>

  <div class="form-field cb-tax">
    <label class="label txt-small">Classi</label>
    <%= combobox_tag "persona[classe_ids]",
        hw_combobox_options(scuola ? scuola.classi.order(:anno_corso, :sezione) : Classe.none, display: :nome_breve),
        value: persona.classe_ids.join(","),
        multiselect_chip_src: persona_classe_chips_path(persona),
        placeholder: "Aggiungi classe...",
        mobile_at: "0px" %>
  </div>

  <div class="form-field">
    <%= form.label :note, class: "label txt-small" %>
    <%= form.text_area :note, class: "input", rows: 3 %>
  </div>
<% end %>
