<%# locals: (scuola:, form_url: nil, select_url: nil, assign_url: nil, ruolo: nil) -%>

<% form_url ||= scuola_persone_path(scuola) %>
<% select_url ||= scuola_persona_path(scuola, '__PERSONA_ID__') %>

<div data-controller="dialog persona-search"
    data-dialog-modal-value="true"
    data-persona-search-scuola-url-value="<%= select_url %>"
    <%= "data-persona-search-assign-url-value=#{assign_url}" if assign_url.present? %>
    data-action="keydown.esc->dialog#close:stop">
  <button type="button" class="btn btn--circle btn--small"
      data-action="dialog#open"
      data-controller="tooltip"
      data-tooltip-content-value="Cerca o aggiungi insegnante">
    <%= icon_tag "person-add", size: "small" %>
  </button>

  <dialog class="dialog panel fill-white shadow gap flex-column"
      style="--panel-size: min(90vw, 24rem);"
      data-dialog-target="dialog"
      data-action="turbo:submit-end->dialog#close">

    <h3 class="txt-medium font-weight-black margin-none">Cerca insegnante</h3>

    <%# Combobox ricerca persona %>
    <div class="form-field cb-tax full-width">
      <%= combobox_tag "persona_search",
          scuola_persone_search_index_path(scuola),
          placeholder: "Cerca per nome o cognome...",
          mobile_at: "0px",
          data: { action: "hw-combobox:selection->persona-search#select" } %>
    </div>

    <div class="divider divider--fade full-width txt-xx-small txt-subtle txt-align-center"
        data-persona-search-target="divider">oppure aggiungi nuovo</div>

    <%# Form nuovo/aggiorna persona %>
    <% materie_esistenti = scuola.persone.joins(:persona_classi).where.not(persona_classi: { materia: nil }).distinct.pluck("persona_classi.materia").compact_blank %>
    <% email_source = scuola.email_pattern.present? ? scuola : scuola.direzione %>
    <%= form_with url: form_url, method: :post, scope: :persona,
        class: "flex flex-column gap-quarter full-width",
        data: { persona_search_target: "form",
                controller: "email-suggest",
                email_suggest_pattern_value: email_source&.email_pattern,
                email_suggest_dominio_value: email_source&.email_dominio } do |f| %>
      <% if ruolo.present? %>
        <%= f.hidden_field :ruolo, value: ruolo %>
      <% end %>
      <input type="hidden" name="_method" value="post" data-persona-search-target="method">
      <input type="hidden" name="return_to" value="scuola">
      <div class="flex gap-quarter">
        <%= f.text_field :cognome, placeholder: "Cognome", class: "input txt-small",
            data: { persona_search_target: "cognome",
                    email_suggest_target: "cognome", action: "input->email-suggest#clearManual" } %>
        <%= f.text_field :nome, placeholder: "Nome", class: "input txt-small",
            data: { persona_search_target: "nome",
                    email_suggest_target: "nome", action: "input->email-suggest#clearManual" } %>
      </div>
      <%= f.text_field :materia, placeholder: "Disciplina", class: "input txt-small",
          list: "materie_list_#{scuola.id}",
          data: { persona_search_target: "materia" } %>
      <%= f.email_field :email, placeholder: "Email", class: "input txt-small",
          data: { persona_search_target: "email",
                  email_suggest_target: "email", action: "input->email-suggest#markManual" } %>
      <%= f.telephone_field :cellulare, placeholder: "Cellulare", class: "input txt-small",
          data: { persona_search_target: "cellulare" } %>
      <div class="form-field cb-tax full-width txt-small" style="--hw-combobox-width--multiple: 100%; --hw-listbox-height: calc(var(--hw-line-height) * 6);">
        <%= combobox_tag "classe_ids",
            hw_combobox_options(scuola.classi.attive.order(:anno_corso, :sezione), display: :nome_breve),
            multiselect_chip_src: scuola_classe_chips_path(scuola),
            placeholder: "Classi...",
            mobile_at: "0px" %>
      </div>
      <div class="flex gap-half justify-center margin-block-start-half">
        <button type="button" class="btn" data-action="dialog#close">Annulla</button>
        <button type="submit" class="btn" data-persona-search-target="submitBtn">
          <%= icon_tag "add" %>
          <span data-persona-search-target="submitLabel">Aggiungi</span>
        </button>
      </div>
    <% end %>

    <datalist id="materie_list_<%= scuola.id %>">
      <% materie_esistenti.each do |m| %>
        <option value="<%= m %>">
      <% end %>
    </datalist>
  </dialog>
</div>
