<% @page_title = @persona.nome_completo %>
<% @header_class = "header--card" %>
<% content_for :head, tag.meta(name: "turbo-cache-control", content: "no-cache") %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <% if @persona.scuola.present? %>
      <%= back_link_to @persona.scuola.denominazione.capitalize, scuola_path(@persona.scuola) %>
    <% else %>
      <%= back_link_to "Persone", persone_path %>
    <% end %>
  </div>
<% end %>

<%= tag.meta name: "back-refresh-url", content: persona_path(@persona, card: true) %>
<%= tag.meta name: "back-refresh-target", content: dom_id(@persona) %>

<div class="full-width pad group">
  <%= render "persone/container", persona: @persona, appunti: @appunti,
      prev_persona_id: @prev_persona_id, next_persona_id: @next_persona_id, scuola_scope: @scuola_scope %>
</div>
