<%= form_with(model: stat, id: "stat_form", class: "contents") do |form| %>
  <% if stat.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(stat.errors.count, "error") %> prohibited this stat from being saved:</h2>

      <ul>
        <% stat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <div>
      <%= form.label :titolo, "Titolo", class: "label" %>
      <%= form.text_field :titolo, class: "field" %>
    </div>

    <div>
      <%= form.label :categoria, "Categoria", class: "label" %>
      <%= form.select :categoria,
          options_for_select([
            ['Utenti', 'utenti'],
            ['Titoli', 'titoli'],
            ['Editori', 'editori'],
            ['Province', 'province'],
            ['Altre', 'altre']
          ], stat.categoria),
          { include_blank: true },
          class: "field" %>
    </div>

    <div>
      <%= form.label :descrizione, "Descrizione", class: "label" %>
      <%= form.text_field :descrizione, class: "field" %>
    </div>
    
    <div>
      <%= form.label :anno, "Anno", class: "label" %>
      <%= form.text_field :anno, class: "field" %>
    </div>

    <div class="flex items-center space-x-2">
      <%= form.check_box :visible, class: "h-4 w-4 rounded border-gray-300" %>
      <%= form.label :visible, "Visibile agli utenti non admin", class: "label" %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :testo, "SQL", class: "label" %>
    <div data-controller="codemirror">
      <%= form.text_area :testo,
          rows: 7,
          class: "field",
          data: {
            codemirror_target: "input"
          } %>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <div>
      <%= form.label :raggruppa_per, class: "label" %>
      <%= form.text_field :raggruppa_per, class: "field" %>
    </div>

    <div>
      <%= form.label :seleziona_campi, class: "label" %>
      <%= form.text_field :seleziona_campi, class: "field" %>
    </div>

    <div>
      <%= form.label :ordina_per, class: "label" %>
      <%= form.text_field :ordina_per, class: "field" %>
    </div>

    <div>
      <%= form.label :condizioni, class: "label" %>
      <%= form.text_field :condizioni, class: "field" %>
    </div>
  </div>
<% end %>

