<tr id="<%= dom_id stat %>">
  <td class="my-5">
    <%= stat.descrizione %>
  </td>

  <td class="my-5">
    <%= stat.seleziona_campi %>
  </td>

  <td class="my-5">
    <%= stat.raggruppa_per %>
  </td>

  <td class="my-5">
    <%= stat.ordina_per %>
  </td>

  <td>
    <% if action_name != "show" %>

      <%= link_to "modifica", edit_stat_path(stat), data: { turbo_frame: "_top" }, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "ESEGUI", execute_stat_path(stat), data: { turbo_frame: "_top" }, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      
      <hr class="mt-6">
    <% end %>
  </td>
</tr>
