<tr id="<%= dom_id stat %>" class="bg-white" data-tax-sortable-target="item" data-id="<%= stat.id %>" data-tax-sortable-update-url="<%= sort_stat_path(stat) %>">

	<td class="my-5 flex align-center">
		<div class="handle ml-2 mr-4">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-gray-400">
				<path d="M7 2a2 2 0 1 0 0 4h6a2 2 0 1 0 0-4H7ZM5 8a2 2 0 1 0 0 4h10a2 2 0 1 0 0-4H5ZM3 14a2 2 0 1 0 0 4h14a2 2 0 1 0 0-4H3Z" />
			</svg>
		</div>
		<%= link_to stat_path(stat), data: { turbo_frame: "_top" }, class: "rounded-full py-2 px-2 bg-yellow-200 text-yellow-500 border border-yellow-500 inline-block font-sm" do %>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
					<path d="M11.983 1.907a.75.75 0 0 0-1.292-.657l-8.5 9.5A.75.75 0 0 0 2.75 12h6.572l-1.305 6.093a.75.75 0 0 0 1.292.657l8.5-9.5A.75.75 0 0 0 17.25 8h-6.572l1.305-6.093Z" />
			</svg>
		<% end %>
	</td>

	<td class="font-semibold text-sm px-2">
		<%= stat.categoria %>
	</td>

	<td class="font-semibold text-sm px-2">
		<%= stat.titolo %>
		<br>
		<%= stat.descrizione %>
	</td>

	<td class="font-semibold text-sm px-2">
		<%= stat.anno %>
	</td>

	<td class="hidden md:table-cell my-5">
		<%= stat.raggruppa_per %>
	</td>

	<% if current_user.admin? == true %>
		<td class="text-center">
			<%= link_to edit_stat_path(stat), data: { turbo_frame: "_top" },
					class: "rounded-full py-2 px-2 mr-2 bg-gray-200 inline-block text-gray-300" do %>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
					<path d="m2.695 14.762-1.262 3.155a.5.5 0 0 0 .65.65l3.155-1.262a4 4 0 0 0 1.343-.886L17.5 5.501a2.121 2.121 0 0 0-3-3L3.58 13.419a4 4 0 0 0-.885 1.343Z" />
				</svg>
			<% end %>
		</td>
	<% end %>
</tr>
