<%# locals: (stat:) -%>

<tr id="<%= dom_id stat %>"
    class="stats-table__row"
    data-tax-sortable-target="item"
    data-id="<%= stat.id %>"
    data-tax-sortable-update-url="<%= stat_position_path(stat) %>">

  <td class="stats-table__td stats-table__td--actions">
    <%= link_to stat_path(stat), class: "stats-table__execute", data: { turbo_frame: "_top", controller: "tooltip", tooltip_content_value: "Esegui" } do %>
      <%= icon_tag "bolt", class: "icon--small" %>
    <% end %>
  </td>

  <td class="stats-table__td">
    <span class="txt-small font-weight-bold"><%= stat.categoria&.capitalize %></span>
  </td>

  <td class="stats-table__td">
    <div class="flex flex-column gap-quarter">
      <span class="font-weight-bold"><%= stat.titolo %></span>
      <% if stat.descrizione.present? %>
        <span class="txt-small txt-subtle"><%= stat.descrizione %></span>
      <% end %>
    </div>
  </td>

  <td class="stats-table__td stats-table__td--hidden-mobile">
    <span class="txt-small"><%= stat.anno %></span>
  </td>

  <td class="stats-table__td stats-table__td--hidden-mobile">
    <span class="txt-small txt-subtle"><%= stat.raggruppa_per %></span>
  </td>

  <% if policy(stat).update? %>
    <td class="stats-table__td stats-table__td--actions">
      <%= link_to edit_stat_path(stat), class: "btn btn--small", data: { turbo_frame: "_top", controller: "tooltip", tooltip_content_value: "Modifica SQL" } do %>
        <%= icon_tag "pencil", class: "icon--small" %>
      <% end %>
    </td>

    <td class="stats-table__td stats-table__td--actions">
      <div class="handle" style="cursor: move;">
        <%= icon_tag "bars-3", class: "icon--small txt-subtle" %>
      </div>
    </td>
  <% end %>
</tr>
