<% @page_title = "Modifica: #{@stat.titolo}" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to @stat.titolo, stat_path(@stat), "keydown.esc@document->hotkey#click" %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Modifica statistica</span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= button_tag type: "submit", form: "stat_form", class: "btn btn--primary", data: { controller: "tooltip", tooltip_content_value: "Salva" } do %>
      <%= icon_tag "check", size: "small" %>
      <span class="for-screen-reader">Salva</span>
    <% end %>

    <% if policy(@stat).destroy? %>
      <%= link_to stat_path(@stat), class: "btn btn--negative", data: { turbo_method: :delete, turbo_confirm: "Eliminare questa statistica?", controller: "tooltip", tooltip_content_value: "Elimina" } do %>
        <%= icon_tag "trash", size: "small" %>
        <span class="for-screen-reader">Elimina</span>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="stats-container">
  <div class="panel shadow">
    <%= render "form", stat: @stat %>
  </div>
</div>
