<% @page_title = "Modifica statistica" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to stats_path, class: "btn" do %>
      <%= icon_tag "arrow-left", size: "small" %>
      <span class="for-screen-reader">Indietro</span>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Modifica statistica</span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= button_tag type: 'submit', form: "stat_form", class: "btn btn--primary" do %>
      <%= icon_tag "check", size: "small" %>
      <span class="for-screen-reader">Salva</span>
    <% end %>
    <%= link_to url_for(controller: "stats", action: "destroy", model: @stat),
        class: "btn btn--negative",
        data: { turbo_method: :delete, turbo_confirm: "Sei sicuro?" } do %>
      <%= icon_tag "trash", size: "small" %>
      <span class="for-screen-reader">Elimina</span>
    <% end %>
  </div>
<% end %>

<div class="mx-auto w-full">
  <%= render "form", stat: @stat %>
</div>
