<%= turbo_frame_tag "stat_results", loading: :lazy do %>
    
    <div class="w-full h-full overflow-scroll">        
        <table class="divide-y divide-gray-300">
            <tbody>                            
                
                <% @result.group_by do |c| 
                        fields = @stat.raggruppa
                        fields.map { |f| c[f] }
                    end.each do |group, group_result| %>  
                    
                    <tr class="bg-gray-900 text-2xl font-bold text-white ">
                        <td class="px-4 py-3"colspan=<%= @result.first.keys.size - @stat.raggruppa.size %>>
                            <%= group.join(" <-> ") %>
                        </td>
                    </tr>                              

                    <% group_result.first.keys.each do |header| %>
                        <% unless @stat.raggruppa.include? header %>
                            <th class="px-4 py-2 bg-gray-800 text-white text-sm font-semibold"><%= header.humanize %></th>
                        <% end %> 
                    <% end %>   
                    
                    <% group_result.each do |r| %>
                        <%= tag.tr class: [
                                "p-3": true,
                                "bg-white":   !@miei_editori.include?(r["editore"]),
                                "bg-yellow-200": @miei_editori.include?(r["editore"])
                            ] do
                        %>
                            <% r.values.each_with_index do |value, index| %>
                                <% unless @stat.raggruppa.include? r.keys[index] %>                 
                                    <td class="cell-<%= r.keys[index]%> border px-4 py-2"><%= value %></td>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            
            </tbody>
        </table>
    </div>   
<% end %>