<%= render Heading::WithActionsComponent.new do |heading| %>
	<% if current_user.admin? %>
		<% heading.with_action do %>
			<%= component 'tax_button',
					caption: "Nuovo",
					svg_file: "icon-plus.svg",
					color: "blue",
					url: url_for( controller: "stats", action: "new" ) %>
		<% end %>
	<% end %>

	<%= h1 { "Statistiche" } %>
<% end %>

<div class="flex justify-center my-4">
	<div class="flex flex-wrap md:flex-nowrap gap-4 justify-center">
		<%= link_to stats_path,
				class: "rounded-xl bg-teal-600 hover:bg-teal-700 text-white font-bold p-4 shadow-lg hover:shadow-xl transition-all flex items-center justify-center" do %>
			<div class="text-center">
				<%= icon "list-bullet", class: "w-8 h-8 mx-auto mb-2" %>
				<span>Tutte</span>
			</div>
		<% end %>

		<%= link_to stats_path(categoria: "utenti"),
				class: "rounded-xl bg-sky-500 hover:bg-sky-600 text-white font-bold p-4 shadow-lg hover:shadow-xl transition-all flex items-center justify-center" do %>
			<div class="text-center">
				<%= icon "user", class: "w-8 h-8 mx-auto mb-2" %>
				<span>Utente</span>
			</div>
		<% end %>

		<%= link_to stats_path(categoria: "titoli"),
				class: "rounded-xl bg-rose-600 hover:bg-rose-700 text-white font-bold p-4 shadow-lg hover:shadow-xl transition-all flex items-center justify-center" do %>
			<div class="text-center">
				<%= icon "book-open", class: "w-8 h-8 mx-auto mb-2" %>
				<span>Titoli</span>
			</div>
		<% end %>

		<%= link_to stats_path(categoria: "editori"),
				class: "rounded-xl bg-pink-500 hover:bg-pink-600 text-white font-bold p-4 shadow-lg hover:shadow-xl transition-all flex items-center justify-center" do %>
			<div class="text-center">
				<%= icon "building-office", class: "w-8 h-8 mx-auto mb-2" %>
				<span>Editori</span>
			</div>
		<% end %>

		<%= link_to stats_path(categoria: "province"),
				class: "rounded-xl bg-lime-500 hover:bg-lime-600 text-white font-bold p-4 shadow-lg hover:shadow-xl transition-all flex items-center justify-center" do %>
			<div class="text-center">
				<%= icon "map", class: "w-8 h-8 mx-auto mb-2" %>
				<span>Province</span>
			</div>
		<% end %>

		<%= link_to stats_path(categoria: "altre"),
				class: "rounded-xl bg-amber-500 hover:bg-amber-600 text-white font-bold p-4 shadow-lg hover:shadow-xl transition-all flex items-center justify-center" do %>
			<div class="text-center">
				<%= icon "chart-bar", class: "w-8 h-8 mx-auto mb-2" %>
				<span>Altre</span>
			</div>
		<% end %>
	</div>
</div>

<%= turbo_frame_tag "search_results" do %>
	<div class="mt-8 flow-root sm:mx-0">
		<table class="min-w-full overflow-x-auto divide-y divide-gray-300">
			<thead class="border-b border-gray-300 text-gray-900 text-left">
				<tr>
					<th scope="col" class=""></th>
					<th scope="col" class="">Titolo</th>
					<th scope="col" class="">Anno</th>
					<th scope="col" class="">Descrizione</th>
					<th scope="col" class="hidden md:table-cell">Raggruppa per...</th>
					<% if current_user.admin? %>
						<th scope="col" class="text-center"></th>
					<% end %>
				</tr>
			</thead>

			<tbody>
				<%= render @stats %>
			</tbody>
		</table>
	</div>
<% end %>

