<% @page_title = "Statistiche" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start"></div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Statistiche</span>
  </h1>

  <div class="header__actions header__actions--end">
    <% if policy(Stat).create? %>
      <%= link_to new_stat_path, class: "btn btn--primary", data: { controller: "tooltip", tooltip_content_value: "Nuova statistica" } do %>
        <%= icon_tag "add", size: "small" %>
        <span class="for-screen-reader">Nuova statistica</span>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="stats-container">

<nav class="stats-nav" aria-label="Categorie statistiche">
  <%= link_to stats_path, class: "stats-nav__link #{'is-active' if params[:categoria].blank?}" do %>
    <%= icon_tag "list-bullet", class: "icon--small" %>
    <span>Tutte</span>
  <% end %>

  <%= link_to stats_path(categoria: "utenti"), class: "stats-nav__link #{'is-active' if params[:categoria] == 'utenti'}" do %>
    <%= icon_tag "user", class: "icon--small" %>
    <span>Utente</span>
  <% end %>

  <%= link_to stats_path(categoria: "titoli"), class: "stats-nav__link #{'is-active' if params[:categoria] == 'titoli'}" do %>
    <%= icon_tag "book-open", class: "icon--small" %>
    <span>Titoli</span>
  <% end %>

  <%= link_to stats_path(categoria: "editori"), class: "stats-nav__link #{'is-active' if params[:categoria] == 'editori'}" do %>
    <%= icon_tag "building-office", class: "icon--small" %>
    <span>Editori</span>
  <% end %>

  <%= link_to stats_path(categoria: "province"), class: "stats-nav__link #{'is-active' if params[:categoria] == 'province'}" do %>
    <%= icon_tag "map", class: "icon--small" %>
    <span>Province</span>
  <% end %>

  <%= link_to stats_path(categoria: "altre"), class: "stats-nav__link #{'is-active' if params[:categoria] == 'altre'}" do %>
    <%= icon_tag "chart-bar", class: "icon--small" %>
    <span>Altre</span>
  <% end %>
</nav>

<%= turbo_frame_tag "search_results" do %>
  <% if @stats.any? %>
    <div class="stats-table">
      <table class="stats-table__table">
        <thead class="stats-table__header">
          <tr>
            <th class="stats-table__th"></th>
            <th class="stats-table__th">Categoria</th>
            <th class="stats-table__th">Descrizione</th>
            <th class="stats-table__th stats-table__td--hidden-mobile">Anno</th>
            <th class="stats-table__th stats-table__td--hidden-mobile">Raggruppa per</th>
            <% if policy(Stat).update? %>
              <th class="stats-table__th"></th>
              <th class="stats-table__th"></th>
            <% end %>
          </tr>
        </thead>

        <tbody data-controller="tax-sortable" data-tax-sortable-group-value="stats">
          <%= render @stats %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="blank-slate blank-slate--empty">
      <h3 class="txt-large font-weight-bold">Nessuna statistica trovata</h3>
      <p class="txt-small txt-subtle margin-block-end">
        <% if params[:categoria].present? %>
          Non ci sono statistiche in questa categoria.
        <% else %>
          Inizia creando la prima statistica.
        <% end %>
      </p>
      <% if policy(Stat).create? && params[:categoria].blank? %>
        <%= link_to new_stat_path, class: "btn btn--primary" do %>
          <%= icon_tag "plus", size: "small" %>
          Crea Statistica
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

</div>

