<% @page_title = "Nuova statistica" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to stats_path, class: "btn" do %>
      <%= icon_tag "arrow-left", size: "small" %>
      <span class="for-screen-reader">Indietro</span>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Nuova statistica</span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= button_tag type: 'submit', form: "stat_form", class: "btn btn--primary" do %>
      <%= icon_tag "check", size: "small" %>
      <span class="for-screen-reader">Salva</span>
    <% end %>
  </div>
<% end %>

<div class="mx-auto w-full">
  <%= render "form", stat: @stat %>
</div>
