<div class="print">
    <%= render Heading::WithActionsComponent.new(level: 'h2') do |heading| %>
        <% if current_user.admin? %>
            <% heading.with_action do %>
                <div class="print-hidden">
                    <%= link_to url_for(controller: "stats", action: "destroy", model: @stat),
                        class: "btn btn--negative",
                        data: { turbo_method: :delete, turbo_confirm: "Sei sicuro?" } do %>
                        <%= icon_tag "trash", size: "small" %>
                        Elimina
                    <% end %>
                </div>
            <% end %>
        <% end %>

        <% if current_user.admin? %>
            <% heading.with_action do %>
                <div class="print-hidden">
                    <%= link_to url_for(controller: "stats", action: "edit", model: @stat), class: "btn btn--warning" do %>
                        <%= icon_tag "pencil", size: "small" %>
                        SQL
                    <% end %>
                </div>
            <% end %>
        <% end %>

        <% heading.with_action do %>
            <div class="print-hidden">
                <%= link_to url_for(controller: "stats", action: "execute", format: :xlsx, params: request.query_parameters),
                    class: "btn btn--positive" do %>
                    <%= icon_tag "document", size: "small" %>
                    Excel
                <% end %>
            </div>
        <% end %>

        <% heading.with_action do %>
            <div class="print-hidden">
                <%= link_to "javascript:window.print()",
                    class: "btn",
                    style: "background: var(--color-notice-lighter); color: var(--color-notice-dark);" do %>
                    <%= icon_tag "printer", size: "small" %>
                    Stampa
                <% end %>
            </div>
        <% end %>

        <% heading.with_action do %>
            <div class="print-hidden">
                <%= link_to "javascript:history.back()", class: "btn" do %>
                    <%= icon_tag "chart-pie", size: "small" %>
                    Stats...
                <% end %>
            </div>
        <% end %>

        <% heading.with_description do %>
            <%= @stat.descrizione %>
        <% end %>

        <%= @stat.titolo %>
    <% end %>

    <%= turbo_frame_tag :stat_results, src: execute_stat_path(@stat), loading: :lazy do %>
        <%= render 'shared/lazy_loading' %>
    <% end %>

</div>