<% scuola_card_color = tipo_scuola_color(scuola.tipo_scuola) %>

<section class="card-perma" style="--card-color: <%= scuola_card_color %>;">
	<div class="card-perma__actions card-perma__actions--right">
		<%= link_to scuola_foglio_scuola_path(scuola, format: :pdf),
				target: "_blank", class: "btn", data: { controller: "tooltip", turbo: false } do %>
			<%= icon_tag "printer" %>
			<span class="for-screen-reader">Foglio scuola PDF</span>
		<% end %>
		<%= link_to scuola_foglio_scuola_path(scuola, format: :pdf, solo_sovrapacchi: true),
				target: "_blank", class: "btn", data: { controller: "tooltip", turbo: false } do %>
			<%= icon_tag "tag" %>
			<span class="for-screen-reader">Sovrapacchi PDF</span>
		<% end %>
	</div>

	<div class="card-perma__bg">
		<article class="card">
			<header class="card__header">
        <%= render "scuole/display/perma/board", scuola: scuola %>
        <%= render "scuole/display/perma/tags", scuola: scuola %>
      </header>
			
			<div class="card__body">
				<div class="card__content">
					<%= turbo_frame_tag @scuola, :edit do %>
						<% if @edit_mode %>
							<%= render "scuole/container/edit_form", scuola: @scuola %>
						<% else %>
							<%= render "scuole/container/content_display", scuola: @scuola %>
						<% end %>
					<% end %>
				</div>
			</div>

			<%= render "scuole/container/classi", scuola: @scuola %>
		
			<footer>
				<%= render "scuole/display/perma/meta", scuola: @scuola %>
			</footer>
		</article>
	</div>

	<div class="card-perma__actions card-perma__actions--left">
		<%= link_to go_to_tappable_path(@scuola, current_user.effective_navigator),
				target: "_blank", class: "btn", data: { controller: "tooltip" } do %>
			<%= icon_tag "marker" %>
			<span class="for-screen-reader">Naviga verso...</span>
		<% end %>

		<%= link_to mappe_path("scuola-#{@scuola.id}"),
				class: "btn", data: { controller: "tooltip" } do %>
			<%= icon_tag "mappa" %>
			<span class="for-screen-reader">Posizione nella mappa</span>
		<% end %>
	</div>

	<div class="card-perma__notch card-perma__notch--bottom">
		<%= turbo_frame_tag @scuola, :footer do %>
			<% if @edit_mode %>
				<%= render "scuole/container/edit_footer", scuola: @scuola %>
			<% else %>
				<%= render "scuole/container/footer", scuola: @scuola %>
			<% end %>
		<% end %>
	</div>
</section>

<div class="scuola-show" style="--card-color: <%= scuola_card_color %>;">

	<%= turbo_frame_tag "scuola_entries", src: scuola_entries_path(@scuola) do %>
		<div class="group-header">
			<h3 class="group-header__title divider divider--fade txt-medium font-weight-black margin-none">Aperti</h3>
		</div>
		<p class="txt-small txt-subtle margin-none">Caricamento...</p>
	<% end %>

	<%= render "scuole/container/prossime_visite", scuola: @scuola %>

	<%= render "scuole/container/disponibilita", scuola: @scuola %>

	<%= render "scuole/container/adozioni", scuola: @scuola %>

	<%= render "scuole/container/insegnanti", scuola: @scuola %>

	<%#= render "scuole/container/saggi", scuola: @scuola %>

	<%= turbo_frame_tag "scuola_closed_entries", src: scuola_closed_entries_path(@scuola), loading: :lazy, style: "display: block; min-height: 1px;" do %>
	<% end %>
</div>