<% @page_title = "Scuole" %>
<% @body_class = "contained-scrolling" %>
<% turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_stream_from Current.membership, "scuole" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to scuole_path(format: :xlsx, params: request.query_parameters), class: "btn",
        data: { controller: "link-modifier tooltip", link_modifier_target: "link" } do %>
      <%= icon_tag "document" %>
      <span class="for-screen-reader">Esporta in excel</span>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Scuole</span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= link_to new_scuola_path, class: "btn", data: { controller: "tooltip" } do %>
      <%= icon_tag "add" %>
      <span class="for-screen-reader">Nuova scuola</span>
    <% end %>
  </div>
<% end %>

<%= render "filters/settings",
      filter_url: scuole_path,
      filter_type: "scuola_filter",
      user_filtering: @user_filtering,
      no_filtering_url: scuole_path %>

<%= turbo_frame_tag :search_results do %>
  <% if @per_direzione %>
    <% if @gruppi_direzione.any? %>
      <p class="txt-small txt-subtle margin-block-end-half">
        <%= @total_count %> <%= @total_count == 1 ? "scuola trovata" : "scuole trovate" %>
        &middot; <%= @gruppi_direzione.count { |g| g[:direzione].present? } %> direzioni
      </p>

      <div class="cards cards--grid">
        <div class="cards__list">
          <% provincia_corrente = nil %>
          <% @gruppi_direzione.each do |gruppo| %>
            <% provincia = (gruppo[:direzione] || gruppo[:plessi].first)&.provincia %>
            <% if provincia != provincia_corrente %>
              <% provincia_corrente = provincia %>
              <h2 class="divider divider--fade txt-large full-width margin-block-start"><%= provincia %></h2>
            <% end %>
            <%= render "scuole/direzione_group", gruppo: gruppo %>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= blank_slate_for(:scuole, filtering: @user_filtering) %>
    <% end %>
  <% elsif @page.used? %>
    <p class="txt-small txt-subtle margin-block-end-half">
      <%= @total_count %> <%= @total_count == 1 ? "scuola trovata" : "scuole trovate" %>
    </p>

    <%= tag.div class: "flex flex-column", data: { controller: "bulk-actions" } do %>
      <%= render "scuole/bulk_bar/bar" %>

      <div class="cards cards--grid">
        <%= with_automatic_pagination :scuole, @page,
            class: "cards__list",
            data: { controller: "navigable-list",
                navigable_list_auto_select_value: false,
                navigable_list_actionable_items_value: true,
                navigable_list_prevent_handled_keys_value: true,
                action: "keydown->navigable-list#navigate" } do %>
          <%= render @page.records %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= blank_slate_for(:scuole, filtering: @user_filtering) %>
  <% end %>
<% end %>
