<% @page_title = "Scuole" %>
<% @body_class = "contained-scrolling" %>
<% turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_stream_from Current.account, "scuole" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to scuole_path(format: :xlsx, params: request.query_parameters), class: "btn",
        data: { controller: "link-modifier tooltip", link_modifier_target: "link" } do %>
      <%= icon_tag "document" %>
      <span class="for-screen-reader">Esporta in excel</span>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Scuole</span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= link_to new_scuola_path, class: "btn", data: { controller: "tooltip" } do %>
      <%= icon_tag "add" %>
      <span class="for-screen-reader">Nuova scuola</span>
    <% end %>
  </div>
<% end %>

<%= render "filters/settings",
      filter_url: scuole_path,
      filter_type: "scuola_filter",
      user_filtering: @user_filtering,
      no_filtering_url: scuole_path %>

<%= turbo_frame_tag :search_results do %>
  <% if @page.used? %>
    <p class="txt-small txt-subtle margin-block-end-half">
      <% if @per_direzione && @direzioni_count > 0 %>
        <% scuole_solo = @total_count - @direzioni_count %>
        <%= scuole_solo %> <%= scuole_solo == 1 ? "scuola" : "scuole" %>
        &middot; <%= @direzioni_count %> <%= @direzioni_count == 1 ? "direzione" : "direzioni" %>
      <% else %>
        <%= @total_count %> <%= @total_count == 1 ? "scuola trovata" : "scuole trovate" %>
      <% end %>
    </p>

    <% if @per_direzione %>
      <div class="cards cards--grid">
        <%= with_automatic_pagination :scuole, @page, class: "cards__list" do %>
          <% provincia_corrente = nil %>
          <% area_corrente = nil %>
          <% @gruppi_direzione.each do |gruppo| %>
            <% ref = gruppo[:direzione] || gruppo[:plessi].first %>
            <% provincia = ref&.provincia %>
            <% area = ref&.area %>
            <% if provincia != provincia_corrente %>
              <% provincia_corrente = provincia %>
              <% area_corrente = nil %>
              <h2 class="divider divider--fade txt-large full-width margin-block-start"><%= provincia %></h2>
            <% end %>
            <% if area.present? && area != area_corrente && !area.start_with?("__") %>
              <% area_corrente = area %>
              <h3 class="divider divider--fade txt-small full-width"><%= area %></h3>
            <% end %>
            <%= render "scuole/direzione_group", gruppo: gruppo %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <%= tag.div class: "flex flex-column", data: { controller: "bulk-actions" } do %>
        <%= render "scuole/bulk_bar/bar" %>

        <div class="cards cards--grid">
          <%= with_automatic_pagination :scuole, @page,
              class: "cards__list",
              data: { controller: "navigable-list",
                  navigable_list_auto_select_value: false,
                  navigable_list_actionable_items_value: true,
                  navigable_list_prevent_handled_keys_value: true,
                  action: "keydown->navigable-list#navigate" } do %>
            <% show_dividers = @filter.sorted_by.solo_scuole? %>
            <% provincia_corrente = nil %>
            <% area_corrente = nil %>
            <% @page.records.each do |scuola| %>
              <% if show_dividers && scuola.provincia != provincia_corrente %>
                <% provincia_corrente = scuola.provincia %>
                <% area_corrente = nil %>
                <h2 class="divider divider--fade txt-large full-width margin-block-start"><%= scuola.provincia %></h2>
              <% end %>
              <% if show_dividers && scuola.area.present? && scuola.area != area_corrente && !scuola.area.start_with?("__") %>
                <% area_corrente = scuola.area %>
                <h3 class="divider divider--fade txt-small full-width"><%= scuola.area %></h3>
              <% end %>
              <%= render scuola %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <%= blank_slate_for(:scuole, filtering: @user_filtering) %>
  <% end %>
<% end %>
