<% @page_title = @scuola.denominazione %>
<% @header_class = "header--card" %>
<% @body_class = "contained-scrolling" %>

<% turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_stream_from Current.account, "scuole" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "Scuole", scuole_path %>
  </div>
<% end %>

<% if Current.scuole.where(id: @scuola.id).exists? %>
  <div class="full-width pad group">
    <%= render "scuole/container", scuola: @scuola %>
  </div>

  <% if @scuola.deletable? %>
    <footer class="txt-align-center full-width flex flex-column margin-block-start-double">
      <hr class="separator--horizontal full-width margin-block" style="--border-color: var(--color-ink-lighter)">
      <%= render "scuole/container/delete", scuola: @scuola %>
    </footer>
  <% end %>

<% else %>
  <div class="blank-slate blank-slate--empty" style="margin-block-start: 4rem;">
    <h3 class="txt-large font-weight-bold">Scuola non disponibile</h3>
    <p class="txt-small txt-subtle margin-block-end">
      Questa scuola non è più tra quelle a te assegnate.
    </p>
    <%= link_to scuole_path, class: "btn" do %>
      Torna alle scuole
    <% end %>
  </div>
<% end %>
