<div class="flex gap">
  <div class="flex flex-column full-width justify-center gap-half">
    <div class="nav__header">
      <% if Current.user.accounts.many? %>
        <div class="nav__header-title max-width">
          <div class="overflow-ellipsis"><strong><%= Current.account.name %></strong></div>
        </div>
      <% end %>
      <div class="nav__header-actions nav__header-actions--end nav__close">
        <button class="btn txt-xx-small" data-action="dialog#close">
          <%= icon_tag "close" %>
          <span class="for-screen-reader">Chiudi menu</span>
        </button>
      </div>
    </div>
    <%= jump_field_tag %>
  </div>
</div>

<div class="nav__scroll-container">
  <div class="nav__hotkeys margin-block-end-half" role="list">
    <%= filter_hotkey_link "Agenda", agenda_path(Current.account), 1, "calendar" %>
    <%= filter_hotkey_link "Appunti", appunti_path(Current.account), 2, "note" %>
    <%= filter_hotkey_link "Scuole", scuole_path(Current.account), 3, "building-library" %>
  </div>

  <%= yield %>

  <div class="nav__blank-slate blank-slate blank-slate--empty">
    Nessun risultato
  </div>
</div>
