<%# Sezione Impostazioni %>
<%= collapsible_nav_section "Impostazioni" do %>
    <%= filter_place_menu_item user_personal_info_path(Current.user), "Il mio profilo (utente)", "id-card" %>
    <% if Current.account %>
        <%= filter_place_menu_item accounts_azienda_path(Current.account), "I miei dati aziendali", "briefcase" %>
        <% if Current.admin? %>
            <%= filter_place_menu_item accounts_configurazione_path(Current.account), "Zone, Mandati, Colleghi", "settings" %>
        <% end %>
    <% end %>

    <%= filter_place_menu_item "/privacy", "Privacy", "shield" %>
    <%= filter_place_menu_item "/fonti-e-licenze", "Fonti e licenze", "globe" %>
    
    <%= tag.li class: "popup__item", data: { filter_target: "item", navigable_list_target: "item" } do %>
        <%= icon_tag "logout", class: "popup__icon" %>
        <%= button_to logout_path, method: :delete, class: "popup__btn btn", data: { turbo: false } do %>
            <span>Esci</span>
        <% end %>
    <% end %>
<% end %>
