<% @page_title = "Adozioni" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <% if @tab != "editori" %>
      <%= link_to adozioni_analytics_path(format: :xlsx, params: request.query_parameters), class: "btn",
          data: { controller: "link-modifier tooltip", link_modifier_target: "link" } do %>
        <%= icon_tag "table-cells" %>
        <span class="for-screen-reader">Esporta in excel</span>
      <% end %>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Adozioni</span>
  </h1>
<% end %>

<div class="stats-container">
  <nav class="analytics-tabs" data-controller="tab-loading">
    <% query = request.query_parameters %>
    <%= link_to "Mie adozioni", adozioni_analytics_path(query.merge(tab: "mie")),
        class: "analytics-tabs__tab #{'analytics-tabs__tab--active' if @tab == 'mie'}",
        data: { action: "click->tab-loading#loading" } %>
    <%= link_to "Tutte le adozioni", adozioni_analytics_path(query.merge(tab: "tutte")),
        class: "analytics-tabs__tab #{'analytics-tabs__tab--active' if @tab == 'tutte'}",
        data: { action: "click->tab-loading#loading" } %>
    <%= link_to "Editori", adozioni_analytics_path(query.merge(tab: "editori")),
        class: "analytics-tabs__tab #{'analytics-tabs__tab--active' if @tab == 'editori'}",
        data: { action: "click->tab-loading#loading" } %>
  </nav>

  <%= render "adozioni_analytics/filtri" %>
  <% if @tab == "editori" %>
    <%= render "adozioni_analytics/tab_editori" %>
  <% else %>
    <%= render "adozioni_analytics/tab" %>
  <% end %>
</div>
