<%# locals: (documento_righe:) -%>

<table class="txt-small full-width">
  <thead>
    <tr class="txt-subtle txt-x-small txt-uppercase">
      <th class="txt-start">Causale</th>
      <th class="txt-start">Cliente</th>
      <th class="txt-start">Documento</th>
      <th class="txt-end">Copie</th>
      <th class="txt-end">Importo</th>
    </tr>
  </thead>
  <tbody>
    <% documento_righe.each do |dr| %>
      <tr>
        <td class="txt-subtle"><%= dr.documento.causale %></td>
        <td class="overflow-ellipsis" style="max-width: 200px;">
          <% clientable = dr.documento.clientable %>
          <% if clientable.present? && !clientable.is_a?(Domain::NessunCliente) %>
            <%= link_to truncate(clientable.denominazione, length: 30), clientable, class: "txt-link", data: { turbo_frame: "_top" }  %>
          <% end %>
        </td>
        <td>
          <%= link_to documento_path(dr.documento), class: "txt-link", data: { turbo_frame: "_top" }  do %>
            <%= dr.documento.causale %> #<%= dr.documento.numero_documento %>
          <% end %>
        </td>
        <% causale = dr.documento.causale %>
        <% if causale&.vendita? %>
          <% segno = causale.uscita? ? "+" : "-" %>
        <% else %>
          <% segno = causale&.uscita? ? "-" : "+" %>
        <% end %>
        <td class="txt-end font-weight-bold <%= segno == '+' ? 'txt-positive' : 'txt-negative' %>"><%= segno %><%= dr.riga.quantita %></td>
        <td class="txt-end <%= segno == '+' ? 'txt-positive' : 'txt-negative' %>"><%= segno %><%= number_to_currency(dr.riga.importo) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
