<div class="bar" data-controller="dialog"
     data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">

  <div class="bar__placeholder flex justify-center">
    <%= tag.button class: "btn btn--plain", type: "button", data: {
          controller: "hotkey",
          action: "click->dialog#toggle keydown.k@document->hotkey#click" } do %>
      <span class="display-contents">Cerca <kbd class="hide-on-touch">K</kbd></span>
    <% end %>
  </div>

  <%= tag.dialog class: "bar__search popup popup--animated panel", data: {
        dialog_target: "dialog",
        controller: "navigable-list",
        navigable_list_actionable_items_value: true,
        navigable_list_focus_on_selection_value: false,
        action: "turbo:before-cache@document->dialog#close turbo:frame-render->navigable-list#reset dialog:show->navigable-list#reset keydown->navigable-list#navigate" } do %>

    <div class="bar__search-header">
      <%= form_with url: search_path(Current.account), method: :get, data: {
            controller: "form",
            turbo_frame: "global_search_results" } do |f| %>
        <%= hidden_field_tag :context, controller_name %>
        <%= f.search_field :q, placeholder: "Cerca...",
              class: "input input--transparent txt-small",
              autocomplete: "off", autofocus: true,
              data: {
                navigable_list_target: "input",
                action: "input->form#debouncedSubmit" } %>
      <% end %>
    </div>

    <div class="nav__scroll-container">
      <%= turbo_frame_tag "global_search_results" %>

      <div class="nav__blank-slate blank-slate blank-slate--empty">
        Nessun risultato
      </div>
    </div>
  <% end %>
</div>
