<div class="sticky top-0 z-30 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
    
    <div tabindex="-1">
        <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden"
            data-tax-sidebar-target="element"
            data-action="click->slideover#toggle click@window->slideover#hide"
            >
            <span class="sr-only">Apri sidebar</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
	</div>

    <!-- Separator -->
    <div class="h-6 w-px bg-gray-900/10 lg:hidden" aria-hidden="true"></div>

    <div class="flex flex-1 gap-x-4  items-center lg:gap-x-6">

        <% if current_user %>         
 
            <!-- Search form -->
            <%= render partial: "layouts/search_form" %>
            
            <div class="flex items-center gap-x-4 lg:gap-x-6">
                
                <!-- Notification button -->
                <div class="lg:block">
                    <button type="button" class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-500">
                        <span class="sr-only">View notifications</span>
                        <%= link_to oggi_path do %>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
                            </svg>
                        <% end %>
                    </button>
                </div>

                <!-- Separator -->
                <div class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-900/10" aria-hidden="true"></div>



                <!-- User dropdown -->
                <%= render DropdownComponent.new do |dropdown| %>
                    <%= dropdown.with_button do %>
                        <%= render AvatarComponent.new(user: current_user) %>
                    <% end %>
                    <% dropdown.with_item do %>
                        <%= link_to "Il mio profilo", "profiles/personal" %>
                    <% end %>
                    <% dropdown.with_item do %>
                        <%= link_to "La mia Zona", current_user %>
                    <% end %>
                    <%= dropdown.with_trailer do %>
                        <%= link_to "Esci", destroy_user_session_path, data: { turbo_method: :delete }, class: "block hover:text-red-500" %>
                    <% end %>
                <% end %>

            </div>
        <% else %>
            <div class="flex flex-1 justify-between">
                <div></div>
                <%= link_to "Accedi o registrati", new_user_session_path, class: "px-3 py-1 text-sm font-semibold leading-6 text-gray-900 hover:text-gray-500" %>
            </div>
        <% end %>

    </div>
</div>
