<li>
	<!-- Current: "bg-indigo-700 text-white", Default: "text-indigo-200 hover:text-white hover:bg-indigo-700" -->
	<a href="#" class="bg-indigo-700 text-white group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
		<%= embedded_svg('icon-home') %>                     
		didattitax
	</a>
</li>
<li>
	<%= link_to articoli_path, data: { action: "click->sidebar#closeSidebar"}, class:"text-indigo-200 hover:text-white hover:bg-indigo-700 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
		<%= embedded_svg('icon-bookopen') %>
		Articoli                        
	<% end %>
</li>
<li>
	<%= link_to documenti_path, data: { action: "click->sidebar#closeSidebar"}, class:"text-indigo-200 hover:text-white hover:bg-indigo-700 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
		<%= embedded_svg('icon-documenti') %>
		Documenti
	<% end %>  
</li>
<li>
	<%= link_to fornitori_path, data: { action: "click->sidebar#closeSidebar"}, class:"text-indigo-200 hover:text-white hover:bg-indigo-700 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
		<%= embedded_svg('icon-truck') %>
		Fornitori
	<% end %>
</li>
<li>
	<%= link_to clienti_path, data: { action: "click->sidebar#closeSidebar"}, class:"text-indigo-200 hover:text-white hover:bg-indigo-700 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
		<%= embedded_svg('icon-cash') %>                
		Clienti
	<% end %>
</li>
<li>
	<%= link_to import_adozioni_path, data: { action: "click->sidebar#closeSidebar"}, class:"text-indigo-200 hover:text-white hover:bg-indigo-700 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
		<%= embedded_svg('icon-currency-euro') %>                
		Adozioni (beta)
	<% end %>
</li>
<li>
	<%= link_to duplicates_path, data: { action: "click->sidebar#closeSidebar"}, class:"text-indigo-200 hover:text-white hover:bg-indigo-700 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
		<%= embedded_svg('icon-reports') %>                
		Duplicati...
	<% end %>
</li>
