<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>Prova</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>


  <body>

    <div data-controller="sidebar" class="h-full bg-slate-100" >

      <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
      <%= render "layouts/sidebar_mobile" %>
      
      <!-- Static sidebar for desktop -->
      <%= render "layouts/sidebar" %>

      <div class="lg:pl-72">

        <%= render "layouts/main_menu"%>
    
        <main class="py-10">
          <div class="px-4 sm:px-6 lg:px-8">
            <!-- Your content -->
            <%= yield %>
          </div>
        </main>
 
      </div>  
    </div>
  
  </body>

</html>
