<!DOCTYPE html>
<!--  <%= "data-hotwire-native-app" if turbo_native_app? %> -->
<html <%= "data-hotwire-native-app" if turbo_native_app? %>

	<%= render "layouts/shared/head" %>

	<body class="<%= @body_class %>" 
		  data-controller="local-time timezone-cookie turbo-navigation theme" 
		  data-action="turbo:morph@window->local-time#refreshAll turbo:before-visit@document->turbo-navigation#rememberLocation" 
		  data-platform="<%= platform.type %>">
		
		<%= turbo_stream_from current_user, "entries" if Current.user %>

		<div id="global-container">
			<header class="header header--mobile-actions-stack <%= @header_class %>" id="header">
				<a href="#main" class="header__skip-navigation btn" data-turbo="false">Skip to main content</a>
				<%= render "my/menu" if Current.user %>
				<%= yield :header %>
			</header>

			<%= turbo_frame_tag :modal %>
			<%= render partial: "layouts/back_to_top" %>

			<main id="main">
				<%= yield %>
			</main>
		</div>

		<footer id="footer" class="hide-on-native">
			<%= yield :footer %>
			
			<% if Current.user && !@hide_footer_frames %>
				<div id="footer_frames" data-turbo-permanent="true">
					<%= render "layouts/bar" %>
					<%= render "layouts/bozze_tray" %>
					<%= render "layouts/new_appunto_tray" %>
					<%#= render "my/pins/tray" %>
					<%#= render "notifications/tray" %>
				</div>
			<% end %>

		<%= turbo_frame_tag "slide-over" %>
	</body>
</html>
