<!DOCTYPE html>

<html>
	<head>
		<title>Prova</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		
		<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		
		<%= javascript_importmap_tags %>
	</head>


	<body class="antialiased min-h-screen bg-slate-100">
		
		<%#= render partial: "import_scuole/dialog" %>


		<%= turbo_frame_tag :modal %>
  


		<!-- back-to-top di jason... -->
		<%= render partial: "layouts/back_to_top" %>


				
		<%= render "layouts/slide_over" %>

		<div class="hidden lg:fixed lg:inset-y-0 lg:z-40 lg:flex lg:w-72 lg:flex-col">
			<%= render "layouts/sidebar" %>
		</div>

		<div class="lg:pl-72" data-controller="queryopt">

			<%= render "layouts/main_menu" %>
	
			<main class="px-2 py-4 sm:px-6 lg:px-8">		


				<% if notice.present? %>
					<div class="block mx-auto py-2 px-3 text-center bg-green-50 mb-5 text-green-500 font-medium rounded-lg" id="notice"><%= notice %></div>
				<% end %>
				<% if alert.present? %>
					<div class="block mx-auto py-2 px-3 text-center bg-yellow-50 mb-5 text-yellow-500 font-medium rounded-lg" id="notice"><%= alert %></div>
				<% end %>

				<!-- Your content -->
				<%= yield %>
				
			</main>

		</div>  

	
	</body>

	<%#= render "layouts/footer" %>

</html>
