<!DOCTYPE html>

<html class="h-full bg-gray-50 antialiased">
	<head>
		<title>Scagnozz</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%# aggiunto per turbo-8 transition %>
		<meta name="view-transition" content="same-origin" />
		
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
		
		<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
		
		<%= combobox_style_tag "data-turbo-track": "reload" %>
		
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>		
		<%= javascript_importmap_tags %>

		<% turbo_refreshes_with method: :morph, scroll: :reset %>
		<%= yield :head %>
		
	</head>


	<body class="flex h-full flex-col">
		
		<div class="flex min-h-full flex-col">
			<%= turbo_frame_tag :modal %>
	
			<!-- back-to-top di jason... -->
			<%= render partial: "layouts/back_to_top" %>
					
			<%= render "layouts/sidebar_slide_over" %>
			
			<div class="hidden lg:fixed lg:inset-y-0 lg:z-40 lg:flex lg:w-72 lg:flex-col">
				<%= render "layouts/sidebar" %>
			</div>

			<div class="lg:pl-72" data-controller="queryopt">

				<%= render "layouts/main_menu" %>
		
				<main class="py-4 sm:px-6 lg:px-8">		

					<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
						<div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
					</div>

					<%= render partial: "layouts/flash" %>

					<!-- Your content -->
					<%= yield %>
	
					<%= render CommandMenuComponent.new(theme: "dark", collapse_on_open: false) do |menu| %>
						<% menu.with_item(title: "Home", target: "/") %>
						<% menu.with_item(title: "Oggi", target: oggi_path) %>
						<% menu.with_item(title: "Vendite", target: adozioni_path(tipo: "vendite")) %>
						<% menu.with_item(title: "Adozioni", target: adozioni_path) %>
						<% menu.with_item(title: "Scuole", target: import_scuole_path) %>
						<% menu.with_item(title: "Appunti", target: appunti_path) %>
						<% menu.with_item(title: "Giri", target: giri_path) %>
						<% menu.with_item(title: "Riepiloghi", target: riepilogo_adozioni_path) %>
						<%# etc. %>
						<% menu.with_footer do %>
							<ul class="flex items-center gap-4">
							<li class="flex items-center">
								<div class="flex items-center gap-1">
								<%# Heroicons > Micro > arrow-down %>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="p-0.5 w-4 h-4 bg-gray-200/60 rounded">
									<path fill-rule="evenodd" d="M8 2a.75.75 0 0 1 .75.75v8.69l3.22-3.22a.75.75 0 1 1 1.06 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.22 3.22V2.75A.75.75 0 0 1 8 2Z" clip-rule="evenodd" />
								</svg>
								<%# Heroicons > Micro > arrow-up %>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="p-0.5 w-4 h-4 bg-gray-200/60 rounded">
									<path fill-rule="evenodd" d="M8 14a.75.75 0 0 1-.75-.75V4.56L4.03 7.78a.75.75 0 0 1-1.06-1.06l4.5-4.5a.75.75 0 0 1 1.06 0l4.5 4.5a.75.75 0 0 1-1.06 1.06L8.75 4.56v8.69A.75.75 0 0 1 8 14Z" clip-rule="evenodd" />
								</svg>
								</div>
								<span class="ml-1.5">
								Navigate
								</span>
							</li>
							<li class="flex items-center">
								<span class="px-1 py-0.5 text-xs font-mono bg-gray-200/60 rounded">
								Esc
								</span>
								<span class="ml-1.5">
								Close
								</span>
							</li>
							</ul>
						<% end %>
					<% end %>

					<%= render "layouts/footer" %>
					
				</main>

			</div>  

		
		</div>		



	</body>


</html>
