<!DOCTYPE html>

<html>
	<head>
		<title>Prova</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		
		<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		
		<%= javascript_importmap_tags %>
	</head>


	<body>

		<div data-controller="sidebar" class="h-full bg-slate-100" >

			<%= render "layouts/sidebar_mobile" %>
			
			<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
				<%= render "layouts/sidebar" %>
			</div>

			<div class="lg:pl-72"  data-controller="queryopt">

				<%= render "layouts/main_menu" %>
		
				<main class="py-10">
					<div class="px-4 sm:px-6 lg:px-8">
						<!-- Your content -->

						<!--   Back-To-Top di Jason Zimdars -->
						<div 
							class="back-to-top-container back-to-top-container--intersecting" 
							data-controller="viewport-entrance-toggle" 
							data-viewport-entrance-toggle-class="back-to-top-container--intersecting">
  							
							<button class="back-to-top__button block text-center align-middle cursor-pointer bg-white/90 p-4 border-2 border-gray-400 rounded-full shadow-lg"
								onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  									<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
								</svg>
							</button>
						</div>


						<%= yield %>
					</div>
				</main>
 
			</div>  
		</div>
	
	</body>

</html>
