<% @page_title = "I tuoi Account" %>

<div class="panel panel--centered flex flex-column gap-half"
     style="--popup-icon-size: 24px; --popup-item-padding-inline: 0.5rem;">
  <% if @accounts.any? %>
    <h1 class="txt-x-large font-weight-black margin-none">I tuoi Account</h1>
    <div class="flex flex-column gap-half margin-block-start">
      <% @accounts.each do |account| %>
        <%= link_to account_root_path(account), class: "btn btn--secondary full-width txt-medium flex align-center justify-space-between gap" do %>
          <span class="circled-text circled-text--small"><%= account.name.first.upcase %></span>
          <div class="flex flex-column flex-item-grow">
            <span class="font-weight-black"><%= account.name %></span>
            <% membership = current_user.memberships.find_by(account: account) %>
            <span class="txt-small txt-subtle"><%= membership&.role&.humanize || "Membro" %></span>
          </div>
          <%= icon_tag "arrow-right" rescue nil %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h1 class="txt-x-large font-weight-black margin-none">Nessun account</h1>
    <p class="margin-none-block-start">Non hai ancora nessun account.</p>
  <% end %>

</div>
